Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, metrics tox, grafana version changed, metrics version changed, metrics version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, metrics-server docker compose, metrics server image, metrics server image latest, grafana server image, grafana server image latest, e2e request and config validation

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  metrics tox: any of: docker/metrics_server/**/*
  grafana version changed: any of: docker/grafana/**/*
  metrics version changed: any of: docker/metrics_server/**/*
  metrics version check in retina: any of: docker/metrics_server/**/*
  gnb docker compose: (any of: docker/scripts/**/*, docker/Dockerfile) or (any of: docker/docker-compose.yml)
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  metrics-server docker compose: any of: docker/.env, docker/metrics_server/**/*, docker/docker-compose.yml
  metrics server image: any of: docker/metrics_server/**/*
  metrics server image latest: any of: docker/metrics_server/**/*
  grafana server image: any of: docker/grafana/**/*
  grafana server image latest: any of: docker/grafana/**/*
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*

ci: enforce keyword arguments in python functions
  tests/e2e/tests/attach_detach.py
  tests/e2e/tests/handover.py
  tests/e2e/tests/iperf.py
  tests/e2e/tests/iperf_alt.py
  tests/e2e/tests/paging.py
  tests/e2e/tests/ping.py
  tests/e2e/tests/pucch.py
  tests/e2e/tests/reestablishment.py
  tests/e2e/tests/slicing.py
  tests/e2e/tests/steps/configuration.py
  tests/e2e/tests/steps/iperf_helpers.py
  tests/e2e/tests/steps/kpis.py
  tests/e2e/tests/steps/stub.py
  tests/e2e/tests/test_mode.py
  tests/e2e/tests/validate_configuration.py
  tests/e2e/tests/viavi.py
Due: e2e tests tox

ci: apply necessary changes to e2e tests
  tests/e2e/tests/attach_detach.py
  tests/e2e/tests/handover.py
  tests/e2e/tests/paging.py
  tests/e2e/tests/ping.py
  tests/e2e/tests/pucch.py
  tests/e2e/tests/reestablishment.py
  tests/e2e/tests/slicing.py
  tests/e2e/tests/steps/stub.py
Due: e2e tests tox

ci: add support for kpis from multiple dus
  tests/e2e/tests/handover.py
  tests/e2e/tests/reestablishment.py
  tests/e2e/tests/steps/kpis.py
  tests/e2e/tests/viavi.py
Due: e2e tests tox

ci: prepare helper functions for cu/du units
  tests/e2e/tests/attach_detach.py
  tests/e2e/tests/handover.py
  tests/e2e/tests/iperf.py
  tests/e2e/tests/iperf_alt.py
  tests/e2e/tests/paging.py
  tests/e2e/tests/ping.py
  tests/e2e/tests/pucch.py
  tests/e2e/tests/reestablishment.py
  tests/e2e/tests/slicing.py
  tests/e2e/tests/steps/configuration.py
  tests/e2e/tests/steps/kpis.py
  tests/e2e/tests/steps/stub.py
  tests/e2e/tests/test_mode.py
  tests/e2e/tests/validate_configuration.py
  tests/e2e/tests/viavi.py
Due: e2e tests tox

ci: add inter du handover test
  tests/e2e/tests/inter_du_handover.py
Due: e2e tests tox

ci: make inter du ho manual
  .gitlab/ci/e2e.yml
Due: none

e2e: fix post-command for 2 ss1 candidates
  tests/e2e/tests/reestablishment.py
Due: e2e tests tox

ci: allow more warnings in handover test with noise
  tests/e2e/tests/handover.py
Due: e2e tests tox

e2e: update retina version
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

OFH: Add a cfg option to conditionally log lates as warnings
  apps/units/flexible_o_du/split_6/o_du_low/metrics/split6_flexible_o_du_low_metrics_builder.cpp
  apps/units/flexible_o_du/split_6/o_du_low/metrics/split6_flexible_o_du_low_metrics_builder.h
  apps/units/flexible_o_du/split_6/o_du_low/metrics/split6_flexible_o_du_low_metrics_consumers.h
  apps/units/flexible_o_du/split_7_2/helpers/ru_ofh_config.h
  apps/units/flexible_o_du/split_7_2/helpers/ru_ofh_config_cli11_schema.cpp
  apps/units/flexible_o_du/split_7_2/helpers/ru_ofh_config_translator.cpp
  apps/units/flexible_o_du/split_7_2/helpers/ru_ofh_config_yaml_writer.cpp
  apps/units/flexible_o_du/split_helpers/metrics/consumers/ru_metrics_consumers.cpp
  apps/units/flexible_o_du/split_helpers/metrics/consumers/ru_metrics_consumers.h
  apps/units/flexible_o_du/split_helpers/metrics/flexible_o_du_metrics_builder.cpp
  apps/units/flexible_o_du/split_helpers/metrics/flexible_o_du_metrics_builder.h
  apps/units/flexible_o_du/split_helpers/metrics/flexible_o_du_metrics_consumers.h
  include/srsran/ofh/ofh_factories.h
  include/srsran/ofh/ofh_sector_config.h
  include/srsran/ofh/receiver/ofh_receiver_configuration.h
  include/srsran/ofh/transmitter/ofh_transmitter_configuration.h
  lib/ofh/ecpri/ecpri_packet_decoder_impl.cpp
  lib/ofh/ofh_factories.cpp
  lib/ofh/receiver/ofh_closed_rx_window_handler.cpp
  lib/ofh/receiver/ofh_data_flow_uplane_uplink_data_impl.cpp
  lib/ofh/receiver/ofh_message_receiver_impl.cpp
  lib/ofh/receiver/ofh_message_receiver_impl.h
  lib/ofh/receiver/ofh_receiver_impl.cpp
  lib/ofh/support/logger_utils.h
  lib/ofh/timing/realtime_timing_worker.cpp
  lib/ofh/timing/realtime_timing_worker.h
  lib/ofh/transmitter/ofh_downlink_handler_impl.cpp
  lib/ofh/transmitter/ofh_downlink_handler_impl.h
  lib/ofh/transmitter/ofh_transmitter_impl.cpp
  lib/ofh/transmitter/ofh_uplink_request_handler_impl.cpp
  lib/ofh/transmitter/ofh_uplink_request_handler_impl.h
  lib/ru/ofh/ru_ofh_factory.cpp
  tests/unittests/ofh/receiver/ofh_message_receiver_test.cpp
  tests/unittests/ofh/transmitter/ofh_downlink_handler_impl_test.cpp
  tests/unittests/ofh/transmitter/ofh_uplink_request_handler_impl_test.cpp
Due: none

ci: add allowed warning to ho test
  tests/e2e/tests/handover.py
Due: e2e tests tox

ci: fix e2e tests
  tests/e2e/tests/slicing.py
  tests/e2e/tests/steps/stub.py
Due: e2e tests tox

e2e: decrease throughput thresholds for slicing test
  tests/e2e/tests/slicing.py
Due: e2e tests tox

mac: add slot ind time diff to metrics
  apps/units/flexible_o_du/o_du_high/du_high/metrics/consumers/mac_metrics_consumers.cpp
  include/srsran/mac/mac_metrics.h
  lib/mac/mac_dl/mac_dl_metric_handler.cpp
  lib/mac/mac_dl/mac_dl_metric_handler.h
Due: none

ru: enable tracing with define
  include/srsran/instrumentation/traces/ru_traces.h
Due: none

du: do not encode an empty CellGroupConfig in make_empty_ue_config()
  lib/du/du_high/du_manager/procedures/ue_configuration_procedure.cpp
Due: none

du: fix failing unittest
  lib/du/du_high/du_manager/procedures/ue_configuration_procedure.cpp
  lib/du/du_high/du_manager/procedures/ue_configuration_procedure.h
  tests/unittests/du_manager/procedures/ue_configuration_test.cpp
Due: none

du,phy: refactor upper PHY factory
  apps/services/worker_manager/worker_manager.cpp
  apps/services/worker_manager/worker_manager.h
  apps/units/flexible_o_du/o_du_low/du_low_config_translator.cpp
  apps/units/flexible_o_du/o_du_low/o_du_low_unit_factory.cpp
  include/srsran/du/du_low/du_low_config.h
  include/srsran/du/du_low/du_low_executor_mapper.h
  include/srsran/du/du_low/o_du_low_config.h
  include/srsran/du/du_low/o_du_low_factory.h
  include/srsran/phy/upper/channel_processors/pdsch/factories.h
  include/srsran/phy/upper/upper_phy_factories.h
  lib/du/du_low/du_low_executor_mapper.cpp
  lib/du/du_low/du_low_factory.cpp
  lib/du/du_low/o_du_low_factory.cpp
  lib/phy/upper/channel_processors/pusch/factories.cpp
  lib/phy/upper/channel_processors/pusch/pusch_processor_pool.h
  lib/phy/upper/upper_phy_factories.cpp
  lib/phy/upper/upper_phy_impl.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy: concurrent fixes for blocking mode
  apps/services/worker_manager/worker_manager.cpp
  apps/units/flexible_o_du/o_du_low/du_low_config_translator.cpp
  include/srsran/phy/upper/upper_phy_execution_configuration.h
  include/srsran/phy/upper/upper_phy_factories.h
  lib/du/du_low/du_low_executor_mapper.cpp
  lib/phy/upper/upper_phy_factories.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy: fix typo
  apps/units/flexible_o_du/o_du_low/du_low_config_translator.cpp
Due: none

du,phy: refactor DU low executor mapper
  apps/services/worker_manager/worker_manager.cpp
  apps/services/worker_manager/worker_manager_config.h
  apps/units/flexible_o_du/o_du_low/CMakeLists.txt
  apps/units/flexible_o_du/o_du_low/du_low_config.h
  apps/units/flexible_o_du/o_du_low/du_low_config_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_low/du_low_config_cli11_schema.h
  apps/units/flexible_o_du/o_du_low/du_low_config_translator.cpp
  apps/units/flexible_o_du/o_du_low/du_low_config_validator.cpp
  apps/units/flexible_o_du/o_du_low/du_low_config_yaml_writer.cpp
  apps/units/flexible_o_du/split_6/o_du_low/split6_o_du_low_unit_cli11_schema.cpp
  apps/units/flexible_o_du/split_7_2/split_7_2_o_du_unit_cli11_schema.cpp
  apps/units/flexible_o_du/split_8/split_8_o_du_unit_cli11_schema.cpp
  apps/units/flexible_o_du/split_dynamic/dynamic_o_du_unit_cli11_schema.cpp
  include/srsran/du/du_low/du_low_executor_mapper.h
  lib/du/du_low/du_low_executor_mapper.cpp
  lib/phy/support/resource_grid_pool_impl.cpp
  tests/e2e/tests/test_mode/config_ru_10cell_50ue.yml
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, e2e request and config validation

phy: initial OFDM modulator pool
  include/srsran/phy/lower/modulation/modulation_factories.h
  lib/phy/lower/modulation/CMakeLists.txt
  lib/phy/lower/modulation/modulation_factories.cpp
  lib/phy/lower/modulation/ofdm_modulator_pool.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

Fix functions that should have internal linkage
  apps/du/adapters/f1_gateways.h
  apps/examples/phy/radio_ssb.cpp
  apps/units/flexible_o_du/o_du_high/o_du_high_unit_config_translators.h
  include/srsran/adt/byte_buffer.h
  include/srsran/asn1/asn1_utils.h
  include/srsran/ran/csi_rs/csi_rs_types.h
  include/srsran/ran/dmrs.h
  include/srsran/scheduler/config/scheduler_expert_config_validator.h
  lib/asn1/asn1_utils.cpp
  lib/cu_cp/cell_meas_manager/cell_meas_manager_impl.cpp
  lib/cu_cp/routines/mobility/intra_cu_handover_routine.cpp
  lib/cu_cp/routines/pdu_session_resource_modification_routine.cpp
  lib/cu_cp/routines/pdu_session_resource_release_routine.cpp
  lib/cu_cp/routines/pdu_session_resource_setup_routine.cpp
  lib/cu_cp/up_resource_manager/up_resource_manager_helpers.cpp
  lib/cu_cp/up_resource_manager/up_resource_manager_impl.cpp
  lib/du/du_high/du_high_executor_mapper.cpp
  lib/du/du_high/du_manager/converters/asn1_csi_meas_config_helpers.cpp
  lib/du/du_high/du_manager/converters/asn1_rrc_config_helpers.cpp
  lib/du/du_high/du_manager/procedures/cu_configuration_procedure.cpp
  lib/e2/e2sm/e2sm_kpm/e2sm_kpm_report_service_impl.cpp
  lib/fapi_adaptor/mac/mac_fapi_sector_adaptor_impl.cpp
  lib/ngap/ngap_impl.cpp
  lib/phy/support/time_alignment_estimator/time_alignment_estimator_dft_impl.cpp
  lib/phy/upper/channel_coding/polar/polar_code_impl.cpp
  lib/phy/upper/channel_processors/pusch/pusch_decoder_impl.cpp
  lib/rrc/metrics/rrc_du_metrics_aggregator.h
  lib/scheduler/support/pusch/pusch_td_resource_indices.cpp
  lib/security/s3g.cpp
  lib/security/zuc.cpp
  lib/support/byte_buffer.cpp
  lib/support/executors/priority_task_queue.cpp
  lib/support/executors/task_execution_manager.cpp
  lib/support/network/sctp_socket.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ci,release: optimize plugin release
  .gitlab/ci/release.yml
Due: none

ci: create a tag on dst custom repos after release
  .gitlab/ci/release.yml
Due: none

ci: fix typo
  tests/e2e/tests/slicing.py
Due: e2e tests tox

ci: remove inter du ho test from cudu amari 8ue
  .gitlab/ci/e2e.yml
Due: none

ci: update retina version
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

ci: update retina
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

cu_cp: move metrics format functions to layers
  apps/units/o_cu_cp/cu_cp/metrics/consumers/ngap_metrics_consumers.cpp
  apps/units/o_cu_cp/cu_cp/metrics/consumers/rrc_metrics_consumers.cpp
  include/srsran/cu_cp/cu_cp_metrics_notifier.h
  include/srsran/ngap/ngap_metrics.h
Due: none

cu_cp: write ngap metrics to log
  apps/units/o_cu_cp/cu_cp/metrics/CMakeLists.txt
  apps/units/o_cu_cp/cu_cp/metrics/consumers/CMakeLists.txt
  apps/units/o_cu_cp/cu_cp/metrics/consumers/ngap_metrics_consumers.cpp
  apps/units/o_cu_cp/cu_cp/metrics/consumers/ngap_metrics_consumers.h
  apps/units/o_cu_cp/cu_cp/metrics/cu_cp_metrics_consumers.cpp
  apps/units/o_cu_cp/cu_cp/metrics/cu_cp_metrics_consumers.h
  include/srsran/ngap/ngap_metrics.h
Due: none

cu_cp: make metrics configurable per layer
  apps/units/o_cu_cp/cu_cp/cu_cp_config_translators.cpp
  apps/units/o_cu_cp/cu_cp/cu_cp_unit_config.h
  apps/units/o_cu_cp/cu_cp/cu_cp_unit_config_cli11_schema.cpp
  apps/units/o_cu_cp/cu_cp/cu_cp_unit_config_yaml_writer.cpp
  include/srsran/cu_cp/cu_cp_configuration.h
  include/srsran/cu_cp/mobility_manager_config.h
  lib/cu_cp/du_processor/du_processor_repository.cpp
  lib/cu_cp/ngap_repository.cpp
  lib/cu_cp/ue_manager/ue_manager_impl.cpp
  tests/integrationtests/du_high_cu/cu_du_test.cpp
  tests/unittests/cu_cp/cu_cp_test_environment.cpp
Due: none

cu_cp: rename and move metrics to srsran namespace
  apps/units/o_cu_cp/cu_cp/metrics/cu_cp_metrics.h
  apps/units/o_cu_cp/cu_cp/metrics/cu_cp_metrics_consumers.cpp
  apps/units/o_cu_cp/cu_cp/metrics/cu_cp_metrics_producer.cpp
  apps/units/o_cu_cp/cu_cp/metrics/cu_cp_metrics_producer.h
  apps/units/o_cu_cp/o_cu_cp_builder.cpp
  include/srsran/cu_cp/cu_cp_configuration.h
  include/srsran/cu_cp/cu_cp_metrics_handler.h
  include/srsran/cu_cp/cu_cp_metrics_notifier.h
  include/srsran/rrc/rrc_metrics.h
  lib/cu_cp/du_processor/du_metrics_handler.h
  lib/cu_cp/du_processor/du_processor_impl.cpp
  lib/cu_cp/du_processor/du_processor_impl.h
  lib/cu_cp/du_processor/du_processor_repository.cpp
  lib/cu_cp/du_processor/du_processor_repository.h
  lib/cu_cp/metrics_handler/metrics_handler_impl.cpp
  lib/cu_cp/metrics_handler/metrics_handler_impl.h
  lib/cu_cp/ue_manager/ue_manager_impl.cpp
  lib/cu_cp/ue_manager/ue_manager_impl.h
  lib/cu_cp/ue_manager/ue_metrics_handler.h
  tests/unittests/cu_cp/metrics_handler/metrics_handler_test.cpp
Due: none

cu_cp: write rrc metrics to log
  apps/units/o_cu_cp/cu_cp/metrics/consumers/CMakeLists.txt
  apps/units/o_cu_cp/cu_cp/metrics/consumers/rrc_metrics_consumers.cpp
  apps/units/o_cu_cp/cu_cp/metrics/consumers/rrc_metrics_consumers.h
  apps/units/o_cu_cp/cu_cp/metrics/cu_cp_metrics_consumers.cpp
  apps/units/o_cu_cp/cu_cp/metrics/cu_cp_metrics_consumers.h
  include/srsran/rrc/rrc_metrics.h
Due: none

cu_cp: add unit test for metrics formatter
  tests/unittests/cu_cp/metrics_handler/metrics_handler_test.cpp
Due: none

ci: add more allowed warnings to test
  tests/e2e/tests/handover.py
Due: e2e tests tox

phy: fix resource grid zero'ing
  lib/phy/support/resource_grid_writer_impl.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean
