Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, metrics tox, grafana version changed, metrics version changed, metrics version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, metrics-server docker compose, metrics server image, metrics server image latest, grafana server image, grafana server image latest, e2e request and config validation

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  metrics tox: any of: docker/metrics_server/**/*
  grafana version changed: any of: docker/grafana/**/*
  metrics version changed: any of: docker/metrics_server/**/*
  metrics version check in retina: any of: docker/metrics_server/**/*
  gnb docker compose: (any of: docker/scripts/**/*, docker/Dockerfile) or (any of: docker/docker-compose.yml)
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  metrics-server docker compose: any of: docker/.env, docker/metrics_server/**/*, docker/docker-compose.yml
  metrics server image: any of: docker/metrics_server/**/*
  metrics server image latest: any of: docker/metrics_server/**/*
  grafana server image: any of: docker/grafana/**/*
  grafana server image latest: any of: docker/grafana/**/*
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*

testmode: ignore RACHs in test mode
  lib/du/du_high/test_mode/mac_test_mode_adapter.h
Due: none

external: updated nlohmman JSON to v3.12.0
  COPYRIGHT
  external/nlohmann/json.hpp
  external/nlohmann/json_fwd.hpp
Due: none

pdcp,metrics: adjust number of decimals for pdu/sdu latencies
  include/srsran/pdcp/pdcp_rx_metrics.h
  include/srsran/pdcp/pdcp_tx_metrics.h
  tests/unittests/pdcp/pdcp_rx_metrics_test.cpp
  tests/unittests/pdcp/pdcp_tx_metrics_test.cpp
Due: none

ci: add lib to builders
  .gitlab/ci/builders.yml
Due: trigger builder

du_high: set prb-BundlingType according to VRB-to-PRB mapping
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_translators.cpp
  lib/du/du_high/du_manager/converters/asn1_rrc_config_helpers.cpp
Due: none

sched: add ARP priority as a weighting factor in the QoS policy
  include/srsran/ran/qos/arp_prio_level.h
  include/srsran/ran/qos/qos_parameters.h
  include/srsran/scheduler/config/logical_channel_config.h
  include/srsran/scheduler/config/scheduler_expert_config.h
  lib/du/du_high/du_manager/converters/scheduler_configuration_helpers.cpp
  lib/e1ap/cu_cp/e1ap_cu_cp_asn1_helpers.h
  lib/f1ap/asn1_helpers.cpp
  lib/scheduler/policy/scheduler_time_qos.cpp
  tests/unittests/scheduler/scheduler_qos_test.cpp
Due: none

sched: take ARP priority into account in dl_logical_channel_manager
  lib/scheduler/ue_context/dl_logical_channel_manager.cpp
  tests/unittests/scheduler/policy/scheduler_policy_test.cpp
  tests/unittests/scheduler/ue_scheduling/ue_grid_allocator_test.cpp
Due: none

ofh: enable configurable c-plane prach fft size
  apps/units/flexible_o_du/split_7_2/helpers/ru_ofh_config.h
  apps/units/flexible_o_du/split_7_2/helpers/ru_ofh_config_cli11_schema.cpp
  apps/units/flexible_o_du/split_7_2/helpers/ru_ofh_config_translator.cpp
  include/srsran/ofh/ofh_sector_config.h
  include/srsran/ofh/transmitter/ofh_transmitter_configuration.h
  lib/ofh/ofh_factories.cpp
  lib/ofh/transmitter/ofh_data_flow_cplane_scheduling_commands_impl.cpp
  lib/ofh/transmitter/ofh_data_flow_cplane_scheduling_commands_impl.h
  lib/ofh/transmitter/ofh_transmitter_factories.cpp
  lib/ofh/transmitter/ofh_uplink_request_handler_impl.h
  tests/unittests/ofh/transmitter/ofh_data_flow_cplane_scheduling_commands_test.cpp
Due: none

ci: update arch container
  .gitlab/ci/builders/archlinux/Dockerfile
Due: trigger builder

ci,e2e: increase exit timeout in builds with asan tsan for e2e
  .gitlab/ci/build.yml
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

ci: update tools reference
  .gitlab-ci.yml
  .gitlab/ci-shared/template.yml
  .gitlab/ci/builders.yml
  .gitlab/ci/docker.yml
  .gitlab/ci/e2e.yml
  .gitlab/ci/release.yml
  .gitlab/ci/trx.yml
Due: trigger builder, trigger docker

ci: increase storage for release image build
  .gitlab/ci/release.yml
Due: none

ci,e2e: mkl built for plugin scheduled pipelines
  .gitlab/ci/build.yml
  .gitlab/ci/e2e.yml
  .gitlab/run_viavi_pipeline.py
Due: none

ci,build: increase storage in some build jobs
  .gitlab/ci/build.yml
Due: none

mac: dump si msg only if version changed
  lib/mac/mac_dl/mac_cell_processor.cpp
  lib/mac/mac_dl/mac_cell_processor.h
Due: none

du,config: fix comment
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config.h
Due: none

du,validator: add newline to error message
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_validator.cpp
Due: none

mac,si_sched: do not retransmit SI message if was already sent
  lib/scheduler/common_scheduling/si_message_scheduler.cpp
Due: none

du,validator: make sure sib19 is sent alone
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_validator.cpp
Due: none

cu_cp,f1ap: improve test message
  tests/test_doubles/f1ap/f1ap_test_messages.cpp
  tests/test_doubles/f1ap/f1ap_test_messages.h
Due: none

ci: update plugin reference
  .gitlab/ci/plugin_version.txt
Due: none

phy: fix lower PHY threads
  apps/services/worker_manager/worker_manager.cpp
Due: none

e2e: change PF test to use RR instead
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation

du: set QoS-aware scheduler as default
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_translators.cpp
  include/srsran/scheduler/config/scheduler_expert_config.h
  include/srsran/scheduler/config/slice_rrm_policy_config.h
  tests/benchmarks/du_high/du_high_benchmark.cpp
Due: none

ci: increase rhel build jobs storage
  .gitlab/ci/build.yml
Due: none

phy: fix PUSCH decoder concurrent pool
  apps/services/worker_manager/worker_manager.cpp
  apps/units/flexible_o_du/o_du_low/du_low_config_translator.cpp
  include/srsran/du/du_low/du_low_executor_mapper.h
  include/srsran/support/memory_pool/bounded_object_pool.h
  lib/du/du_low/du_low_executor_mapper.cpp
  lib/phy/upper/channel_processors/pusch/factories.cpp
  lib/phy/upper/channel_processors/pusch/pusch_decoder_impl.cpp
  lib/phy/upper/channel_processors/pusch/pusch_decoder_impl.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

temp: increase the number of instances of pusch decoders
  apps/units/flexible_o_du/o_du_low/du_low_config_translator.cpp
  include/srsran/support/executors/task_fork_limiter.h
  lib/du/du_low/du_low_executor_mapper.cpp
Due: none

support: improve policy of task fork limiter when it cannot pop pending task
  include/srsran/support/executors/task_fork_limiter.h
Due: none

support: make task fork limiter only work with moodycamel queue
  include/srsran/support/executors/task_fork_limiter.h
  lib/du/du_low/du_low_executor_mapper.cpp
  tests/unittests/support/executors/fork_limit_executor_test.cpp
Due: none

support: fix task fork limiter race condition
  include/srsran/support/executors/task_fork_limiter.h
  tests/unittests/support/executors/fork_limit_executor_test.cpp
Due: none

app: move PUSCH decoders to non-RT thread pool
  apps/services/worker_manager/worker_manager.cpp
  apps/services/worker_manager/worker_manager_config.h
  include/srsran/du/du_low/du_low_executor_mapper.h
  include/srsran/support/executors/task_fork_limiter.h
  lib/du/du_low/du_low_executor_mapper.cpp
  tests/unittests/support/executors/fork_limit_executor_test.cpp
Due: none

du: move PUSCH decoder executor to medium priority
  apps/services/worker_manager/worker_manager.cpp
  include/srsran/du/du_low/du_low_executor_mapper.h
  lib/du/du_low/du_low_executor_mapper.cpp
Due: none

support: fix task fork limiter
  include/srsran/support/executors/task_fork_limiter.h
Due: none

support: redesign task fork limiter
  include/srsran/support/executors/task_fork_limiter.h
  tests/unittests/support/executors/fork_limit_executor_test.cpp
Due: none

app: remove temporary extra workers
  apps/units/flexible_o_du/o_du_low/du_low_config_translator.cpp
Due: none

phy: normalize srs estimated wb matrix
  include/srsran/phy/upper/signal_processors/srs/srs_estimator_result.h
  lib/phy/upper/signal_processors/srs/srs_estimator_generic_impl.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy: srs estimator now reports rsrp
  include/srsran/phy/upper/signal_processors/srs/formatters.h
  include/srsran/phy/upper/signal_processors/srs/srs_estimator_result.h
  lib/phy/upper/signal_processors/srs/srs_estimator_generic_impl.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy: review srs estimator
  lib/phy/upper/signal_processors/srs/srs_estimator_generic_impl.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

du: fix pusch td resources generation for srs + fdd
  lib/du/du_update_config_helpers.cpp
Due: none
