Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke pretty printers cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, smoke pretty printers clean, tox python in builder, grafana version changed, telegraf version changed, telegraf version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb and telegraf docker compose, telegraf image, telegraf image latest, grafana image, grafana image latest, e2e request and config validation

Path conditions:
  trigger builder: any of: .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*, docker/scripts/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv,py,toml}, docker/**/Dockerfile, .gdbinit
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke pretty printers cached: any of: include/srsran/adt/**/*, tests/utils/gdb/pretty_printers/*, .gdbinit
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke pretty printers clean: any of: include/srsran/adt/**/*, tests/utils/gdb/pretty_printers/*, .gdbinit
  tox python in builder: any of: .gitlab/ci/builders/**/*.py
  grafana version changed: any of: docker/grafana/**/*
  telegraf version changed: any of: docker/telegraf/**/*
  telegraf version check in retina: any of: docker/telegraf/**/*
  gnb docker compose: (any of: docker/scripts/**/*, docker/Dockerfile) or (any of: docker/docker-compose.yml)
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.ui.yml
  influxdb and telegraf docker compose: any of: docker/.env, docker/telegraf/**/*, docker/docker-compose.ui.yml
  telegraf image: any of: docker/telegraf/**/*
  telegraf image latest: any of: docker/telegraf/**/*
  grafana image: any of: docker/grafana/**/*
  grafana image latest: any of: docker/grafana/**/*
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*

pcap: fix ngap unit test not waiting for all tasks to be run
  lib/pcap/pcap_file_writer.h
  tests/unittests/pcap/ngap_pcap_test.cpp
Due: none

pcap: fix remainder calculation
  lib/pcap/backend_pcap_writer.cpp
  lib/pcap/backend_pcap_writer.h
  lib/pcap/dlt_pcap_impl.cpp
  lib/pcap/dlt_pcap_impl.h
  lib/pcap/mac_pcap_impl.cpp
  lib/pcap/pcap_file_writer.cpp
  lib/pcap/rlc_pcap_impl.cpp
Due: none

cu_cp: add unit test for rrc setup request with unknown cause
  tests/unittests/cu_cp/cu_cp_setup_test.cpp
Due: none

cu_cp,rrc: fix establishment cause conversion
  include/srsran/ran/cause/common.h
  lib/rrc/ue/rrc_asn1_converters.cpp
  lib/rrc/ue/rrc_asn1_converters.h
  lib/rrc/ue/rrc_ue_message_handlers.cpp
Due: none

cu_cp,rrc: remove assert from rrc metrics
  include/srsran/rrc/rrc_metrics.h
Due: none

grafana: increase grafana version
  docker/grafana/version.yml
Due: trigger docker, grafana version changed, grafana docker compose, grafana image, grafana image latest

cu_cp,rrc: improve documentation
  tests/unittests/rrc/rrc_ue_test_helpers.h
Due: none

cu_cp: fix metrics handler test
  tests/unittests/cu_cp/metrics_handler/metrics_handler_test.cpp
Due: none

cu_cp,rrc: update rrc dashboard
  docker/grafana/dashboards/rrc.json
Due: trigger docker, grafana version changed, grafana docker compose, grafana image, grafana image latest

cu_cp,ngap: fix establishment cause conversion
  lib/ngap/ngap_asn1_converters.h
  lib/ngap/ngap_asn1_helpers.h
  tests/unittests/ngap/ngap_test_messages.cpp
Due: none

cu_cp: only enable cu-cp metrics if ngap or rrc metrics are enabled
  apps/units/o_cu_cp/cu_cp/metrics/cu_cp_metrics_consumers.cpp
Due: none

adt: support conversion between mutable row_view and immutable row_view
  include/srsran/adt/soa_table.h
Due: smoke pretty printers cached, smoke pretty printers clean

adt: implementation of destructuring of table row
  include/srsran/adt/soa_table.h
  tests/unittests/adt/soa_table_test.cpp
Due: smoke pretty printers cached, smoke pretty printers clean

adt: implementation of soa table::insert and more tests
  include/srsran/adt/soa_table.h
  tests/unittests/adt/soa_table_test.cpp
Due: smoke pretty printers cached, smoke pretty printers clean

adt: implementation of soa table iterator and more tests
  include/srsran/adt/soa_table.h
  tests/unittests/adt/soa_table_test.cpp
Due: smoke pretty printers cached, smoke pretty printers clean

adt: add more tests to the soa table
  tests/unittests/adt/soa_table_test.cpp
Due: none

adt: use strong_type for soa_table row id type
  include/srsran/adt/soa_table.h
  tests/unittests/adt/soa_table_test.cpp
Due: smoke pretty printers cached, smoke pretty printers clean

adt: initial implementation of a soa table
  include/srsran/adt/soa_table.h
  tests/unittests/adt/CMakeLists.txt
  tests/unittests/adt/soa_table_test.cpp
Due: smoke pretty printers cached, smoke pretty printers clean

pcap: use common constant for export_pdu dlt constant
  lib/pcap/dlt_pcap_impl.cpp
  lib/pcap/mac_pcap_impl.cpp
  lib/pcap/pcap_dlts.h
  lib/pcap/rlc_pcap_impl.cpp
Due: none

pcap: switch mac pcaps to use exported PDU
  lib/pcap/backend_pcap_writer.cpp
  lib/pcap/mac_pcap_impl.cpp
  tests/unittests/pcap/mac_pcap_test.cpp
Due: none

pcap: changed rlc pcap to use export_pdu
  lib/pcap/rlc_pcap_impl.cpp
  tests/unittests/pcap/rlc_pcap_test.cpp
Due: none

ci: change builder versioning from hash to calendar
  .gitlab-ci.yml
  .gitlab/ci-shared/build.yml
  .gitlab/ci-shared/plugin.yml
  .gitlab/ci-shared/template.yml
  .gitlab/ci/build.yml
  .gitlab/ci/builders.yml
  .gitlab/ci/builders/archlinux/Dockerfile
  .gitlab/ci/builders/version.yml
  .gitlab/ci/release.yml
Due: trigger builder

adt: implementation of a reference counted objectp pool
  include/srsran/support/memory_pool/bounded_object_pool.h
  tests/unittests/support/bounded_object_pool_test.cpp
Due: none

adt: all bounded object pools support the clear functor when objects are recycled
  include/srsran/support/memory_pool/bounded_object_pool.h
  tests/unittests/support/bounded_object_pool_test.cpp
Due: none

adt: fix compilation of bounded_rc_object_pool
  include/srsran/support/memory_pool/bounded_object_pool.h
Due: none

cu_cp,rrc: reject rrc reestablishment when du cannot serve it
  lib/rrc/ue/procedures/rrc_reestablishment_procedure.cpp
  lib/rrc/ue/procedures/rrc_reestablishment_procedure.h
  lib/rrc/ue/rrc_ue_message_handlers.cpp
Due: none

cu_cp,rrc: add unit tests for initial ul rrc message without du-to-cu-container
  tests/unittests/cu_cp/cu_cp_reestablishment_test.cpp
  tests/unittests/cu_cp/cu_cp_setup_test.cpp
Due: none

ofh,eth: access the TCI field directly
  lib/ofh/ethernet/vlan_ethernet_frame_builder_impl.cpp
  lib/ofh/transmitter/ofh_transmitter_factories.cpp
Due: none

e2e,zmq: apply pdcch threshold in selected tests
  .gitlab/ci/e2e.yml
Due: none

ci: increase expected UL data rate in UL MIMO test
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation

rohc: initial integration of ROHC library
  CMakeLists.txt
  cmake/modules/FindROHC.cmake
  include/srsran/rohc/rohc_engine.h
  include/srsran/rohc/rohc_factory.h
  include/srsran/rohc/rohc_support.h
  lib/CMakeLists.txt
  lib/rohc/CMakeLists.txt
  lib/rohc/rohc_factory.cpp
  lib/rohc/rohc_lib/CMakeLists.txt
  lib/rohc/rohc_lib/rohc_lib_engine.cpp
  lib/rohc/rohc_lib/rohc_lib_engine.h
  lib/rohc/rohc_support.cpp
  tests/unittests/CMakeLists.txt
  tests/unittests/rohc/CMakeLists.txt
  tests/unittests/rohc/rohc_factory_test.cpp
  tests/unittests/rohc/rohc_lib_engine_test.cpp
Due: none

cu_up: configure logger for ROHC and SEC
  apps/units/o_cu_up/cu_up/cu_up_logger_registrator.h
  apps/units/o_cu_up/cu_up/cu_up_unit_config_cli11_schema.cpp
  apps/units/o_cu_up/cu_up/cu_up_unit_config_yaml_writer.cpp
  apps/units/o_cu_up/cu_up/cu_up_unit_logger_config.h
Due: none

phy: fix LDPC encoder segmented output read
  lib/phy/upper/channel_coding/ldpc/ldpc_encoder_avx2.cpp
  lib/phy/upper/channel_coding/ldpc/ldpc_encoder_generic.cpp
  lib/phy/upper/channel_coding/ldpc/ldpc_encoder_neon.cpp
  tests/unittests/phy/upper/channel_coding/ldpc/ldpc_enc_dec_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

f1u,cu_du: allow usage of SO_REUSEADDR from config file
  apps/cu/cu.cpp
  apps/cu_up/cu_up.cpp
  apps/du/du.cpp
  apps/helpers/network/udp_appconfig.h
  apps/helpers/network/udp_cli11_schema.cpp
  apps/helpers/network/udp_config_yaml_writer.cpp
  apps/units/o_cu_up/o_cu_up_builder.cpp
  configs/cu_up_f1u_multiple_sockets.yml
  configs/du_f1u_multiple_sockets.yml
Due: none

udp: fix reuse_addr being applied after the bind
  lib/gateways/udp_network_gateway_impl.cpp
Due: none

XnAP ASN.1 lib
  include/srsran/asn1/xnap/common.h
  include/srsran/asn1/xnap/xnap.h
  include/srsran/asn1/xnap/xnap_ies.h
  include/srsran/asn1/xnap/xnap_pdu_contents.h
  lib/asn1/CMakeLists.txt
  lib/asn1/xnap/common.cpp
  lib/asn1/xnap/xnap.cpp
  lib/asn1/xnap/xnap_ies.cpp
  lib/asn1/xnap/xnap_pdu_contents.cpp
Due: none

du: overwrite pucch cfg for TDD 10 MHz
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_translators.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_validator.cpp
  configs/cell_cfg_pucch_narrow_bw.yml
Due: none

band_helper: use offset to carrier in f_ref to point_a conversion and vise versa
  include/srsran/ran/band_helper.h
  lib/ran/band_helper.cpp
  tests/unittests/ran/band_helper_test.cpp
Due: none

ci: increase retina version
  .gitlab/ci/e2e/.env
Due: e2e request and config validation
