Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, e2e request and config validation

trigger builder:
  stage: ci
  trigger:
    include: .gitlab/ci/builders.yml
    strategy: depend

trigger docker:
  stage: ci
  trigger:
    include: .gitlab/ci/docker.yml
    strategy: depend
  variables:
    PY_DIR: docker/metrics_server

e2e tests tox:
  stage: static
  variables:
    PY_DIR: tests/e2e
  before_script:
  - apk add build-base

smoke avx512 cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm neon cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke avx512 clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm neon clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

gnb docker compose:
  stage: compose
  image: docker:24.0.7
  tags:
  - docker
  timeout: 2h
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  services:
  - name: docker:24.0.7-dind
    alias: docker
    entrypoint:
    - env
    - -u
    - DOCKER_HOST
    command:
    - dockerd-entrypoint.sh
  ...

5gc docker compose:
  stage: compose
  image: docker:24.0.7
  tags:
  - docker
  timeout: 2h
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  services:
  - name: docker:24.0.7-dind
    alias: docker
    entrypoint:
    - env
    - -u
    - DOCKER_HOST
    command:
    - dockerd-entrypoint.sh
  ...

grafana docker compose:
  stage: compose
  image: docker:24.0.7
  tags:
  - docker
  timeout: 2h
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  services:
  - name: docker:24.0.7-dind
    alias: docker
    entrypoint:
    - env
    - -u
    - DOCKER_HOST
    command:
    - dockerd-entrypoint.sh
  ...

influxdb docker compose:
  stage: compose
  image: docker:24.0.7
  tags:
  - docker
  timeout: 2h
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  services:
  - name: docker:24.0.7-dind
    alias: docker
    entrypoint:
    - env
    - -u
    - DOCKER_HOST
    command:
    - dockerd-entrypoint.sh
  ...

f1ap-du: add extra steps in the DU trp measurement procedure
  include/srsran/f1ap/du/f1ap_du_positioning_handler.h
Due: none

du_manager: implementation of request and response of DU positioning measurement procedure
  include/srsran/f1ap/du/f1ap_du_positioning_handler.h
  include/srsran/mac/mac_cell_manager.h
  include/srsran/ran/srs/srs_configuration.h
  lib/du/CMakeLists.txt
  lib/du/du_high/du_manager/du_cell_manager.cpp
  lib/du/du_high/du_manager/du_cell_manager.h
  lib/du/du_high/du_manager/du_manager_impl.cpp
  lib/du/du_high/du_manager/du_positioning_handler_factory.cpp
  lib/du/du_high/du_manager/du_positioning_handler_factory.h
  lib/du/du_high/du_manager/du_ue/du_ue_manager.h
  lib/du/du_high/du_manager/procedures/du_param_config_procedure.cpp
  lib/du/du_high/du_manager/procedures/du_param_config_procedure.h
  lib/du/du_high/du_manager/ran_resource_management/du_srs_resource_manager.cpp
  lib/mac/mac_dl/mac_cell_processor.cpp
  lib/mac/mac_dl/mac_cell_processor.h
  tests/integrationtests/du_high/mac_test_mode_adapter_test.cpp
  tests/unittests/du_manager/du_manager_test_helpers.h
  tests/unittests/mac/mac_ctrl_test_dummies.h
Due: none

ci: use dynamic cpu/ram in extra jobs that also run in build runners
  .gitlab-ci.yml
  .gitlab/ci/build.yml
  .gitlab/ci/builders.yml
  .gitlab/ci/docker.yml
  .gitlab/ci/trx.yml
Due: trigger builder, trigger docker

sched: add extra checks to spot possible bug
  lib/mac/mac_sched/uci_cell_decoder.h
  lib/scheduler/pucch_scheduling/pucch_allocator_impl.cpp
  lib/scheduler/ue_scheduling/ue_fallback_scheduler.cpp
  lib/scheduler/ue_scheduling/ue_fallback_scheduler.h
Due: none

du: remove setting of dc_offset with 256qam
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_translators.cpp
Due: none

du: force dc_offset for ul QAM256
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_translators.cpp
Due: none

sched: fix mcs when olla is disabled
  lib/scheduler/ue_context/ue_link_adaptation_controller.cpp
Due: none

du,sched: enable QAM64LowSe
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_schema.cpp
  lib/du/du_cell_config_validation.cpp
  lib/scheduler/support/mcs_calculator.cpp
Due: none

du,sched: add pusch validator for uci-on-pusch
  include/srsran/scheduler/config/serving_cell_config_validator.h
  lib/du/du_high/du_manager/ran_resource_management/ue_capability_manager.cpp
  lib/scheduler/config/scheduler_ue_config_validator.cpp
  lib/scheduler/config/serving_cell_config_validator.cpp
Due: none

ci,e2e: fix test mode ru config
  .gitlab/ci/e2e/.env
  tests/e2e/tests/test_mode.py
Due: e2e tests tox, e2e request and config validation

ci,e2e: add warnings to ignore list in viavi tests
  tests/e2e/tests/viavi/test_declaration.yml
  tests/e2e/tests/viavi/test_declaration_debug.yml
Due: e2e tests tox, e2e request and config validation

ci: add ubsan
  .gitlab/ci-shared/build.yml
  .gitlab/ci/build.yml
Due: none

services: renamed application command to cmdline command. Created folder in serviced for it.
  apps/cu/cu.cpp
  apps/du/du.cpp
  apps/gnb/gnb.cpp
  apps/services/CMakeLists.txt
  apps/services/cmdline/CMakeLists.txt
  apps/services/cmdline/cmdline_command.h
  apps/services/cmdline/cmdline_command_dispatcher.cpp
  apps/services/cmdline/cmdline_command_dispatcher.h
  apps/services/cmdline/cmdline_command_dispatcher_utils.h
  apps/services/stdin_command_dispatcher.h
  apps/units/application_unit_commands.h
  apps/units/flexible_o_du/flexible_o_du_commands.h
  apps/units/flexible_o_du/o_du_high/du_high/CMakeLists.txt
  apps/units/flexible_o_du/o_du_high/du_high/commands/du_high_cmdline_commands.h
  apps/units/flexible_o_du/o_du_high/du_high/commands/du_high_remote_commands.cpp
  apps/units/flexible_o_du/o_du_high/du_high/commands/du_high_remote_commands.h
  apps/units/flexible_o_du/o_du_high/o_du_high_unit_factory.cpp
  apps/units/flexible_o_du/o_du_high/o_du_high_unit_factory.h
  apps/units/flexible_o_du/o_du_unit.h
  apps/units/flexible_o_du/split_6/split6_o_du_factory.cpp
  apps/units/flexible_o_du/split_helpers/flexible_o_du_factory.cpp
  apps/units/o_cu_cp/cu_cp/cu_cp_cmdline_commands.h
  apps/units/o_cu_cp/o_cu_cp_builder.cpp
  apps/units/o_cu_cp/o_cu_cp_builder.h
Due: none

fix build with NUMA_SUPPORT
  lib/support/cpu_architecture_info.cpp
Due: none

fapi: added the SRS positioning report
  include/srsran/fapi/message_builders.h
  include/srsran/fapi/messages.h
  lib/fapi/validators/message_validators.cpp
  tests/unittests/fapi/builders/srs_indication_test.cpp
  tests/unittests/fapi/message_builder_helpers.cpp
  tests/unittests/fapi/validators/srs_indication_test.cpp
Due: none

ci,e2e: improve gnb extra config
  tests/e2e/tests/viavi.py
  tests/e2e/tests/viavi/test_declaration.yml
  tests/e2e/tests/viavi/test_declaration_debug.yml
  tests/e2e/tests/viavi/test_declaration_schema.json
Due: e2e tests tox, e2e request and config validation

ci: improve run_viavi script
  .gitlab/run_viavi_pipeline.py
  tests/e2e/conftest.py
  tests/e2e/tests/viavi.py
Due: e2e tests tox

Fix DU configuration upddate procedure and implement in the CUCP the gNB-DU Configuration Update handling
  lib/du/du_high/du_manager/procedures/du_param_config_procedure.cpp
  lib/f1ap/cu_cp/f1ap_cu_impl.cpp
  lib/f1ap/cu_cp/f1ap_cu_impl.h
  lib/f1ap/du/procedures/f1ap_du_gnbdu_config_update_procedure.h
Due: none

du: add 64qamlowse ue capability
  lib/du/du_high/du_manager/ran_resource_management/ue_capability_manager.cpp
  lib/du/du_high/du_manager/ran_resource_management/ue_capability_manager.h
Due: none

ci: add 32ue ideal udp PF Scheduler test
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation

test: add helper macro to flush logs before gtest asserts
  include/srsran/support/test_utils.h
  tests/unittests/pdcp/pdcp_tx_reestablish_test.cpp
Due: none

ci: add viavi ul mimo tests
  .gitlab/ci/e2e.yml
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation

mac: improve positioning handler management of ongoing measurements. Pos Meas Id was deprecated in favour of just using RNTI
  include/srsran/mac/mac_cell_control_information_handler.h
  include/srsran/mac/mac_cell_manager.h
  include/srsran/scheduler/scheduler_positioning_handler.h
  lib/scheduler/scheduler_impl.cpp
  lib/scheduler/scheduler_impl.h
  tests/unittests/mac/mac_test_helpers.h
Due: none

mac: add positioning handler class to MAC
  include/srsran/mac/mac_cell_manager.h
  lib/mac/CMakeLists.txt
  lib/mac/mac_dl/mac_cell_processor.cpp
  lib/mac/mac_dl/mac_scheduler_cell_info_handler.h
  lib/mac/mac_sched/positioning_handler.cpp
  lib/mac/mac_sched/positioning_handler.h
  lib/mac/mac_sched/srsran_scheduler_adapter.cpp
  lib/mac/mac_sched/srsran_scheduler_adapter.h
  tests/unittests/mac/mac_test_helpers.h
Due: none

asn1: fix SRSResourceSetList and SRSResourceSet-List ambiguity
  include/srsran/asn1/f1ap/f1ap_ies.h
Due: none

mac: add srs report types to mac srs interface
  include/srsran/mac/mac_cell_control_information_handler.h
  include/srsran/scheduler/result/srs_info.h
  lib/mac/mac_sched/positioning_handler.cpp
  lib/mac/mac_sched/positioning_handler.h
  lib/mac/mac_sched/srsran_scheduler_adapter.cpp
Due: none

du_manager: avoid seq ids above 30
  lib/du/du_high/du_manager/ran_resource_management/srs_resource_generator.cpp
Due: none

mac: implementation of positioning handler to interface with scheduler and handle SRS indications
  include/srsran/mac/mac_cell_control_information_handler.h
  include/srsran/mac/mac_cell_manager.h
  include/srsran/scheduler/mac_scheduler.h
  include/srsran/scheduler/scheduler_positioning_handler.h
  lib/du/du_high/du_manager/ran_resource_management/srs_resource_generator.cpp
  lib/mac/mac_sched/positioning_handler.cpp
  lib/mac/mac_sched/positioning_handler.h
  lib/mac/mac_sched/srsran_scheduler_adapter.cpp
  lib/scheduler/scheduler_impl.cpp
  lib/scheduler/scheduler_impl.h
  tests/unittests/mac/mac_test_helpers.h
Due: none

unit: added SRS section to DU high cell YAML writer
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_yaml_writer.cpp
Due: none

fapi_adaptor: added the report type information for normalized channel IQ matrix and positioning. Adjusted MAC and PHY FAPI adaptors in downlink and uplink paths
  include/srsran/fapi/message_builders.h
  include/srsran/fapi/messages.h
  include/srsran/phy/upper/uplink_processor_context.h
  lib/fapi/loggers/logging_slot_data_notifier_decorator.cpp
  lib/fapi/loggers/message_loggers.cpp
  lib/fapi/loggers/message_loggers.h
  lib/fapi_adaptor/mac/fapi_to_mac_data_msg_translator.cpp
  lib/fapi_adaptor/mac/messages/srs.cpp
  lib/fapi_adaptor/phy/messages/srs.cpp
  lib/fapi_adaptor/phy/phy_to_fapi_results_event_translator.cpp
  tests/unittests/fapi/builders/srs_indication_test.cpp
  tests/unittests/fapi/builders/ul_srs_pdu_test.cpp
  tests/unittests/fapi/message_builder_helpers.cpp
  tests/unittests/fapi_adaptor/mac/messages/helpers.cpp
  tests/unittests/fapi_adaptor/mac/messages/ul_srs_pdu_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ws: restored PLMN config for the remote SSB power command
  apps/units/flexible_o_du/o_du_high/du_high/commands/du_high_remote_commands.cpp
Due: none

all: update copyright year
  apps/services/f1u/CMakeLists.txt
  apps/services/f1u/f1u_cli11_schema.cpp
  apps/services/f1u/f1u_cli11_schema.h
  apps/services/f1u/f1u_config_yaml_writer.cpp
  apps/services/f1u/f1u_config_yaml_writer.h
  external/uWebSockets/CMakeLists.txt
  external/uWebSockets/uSockets/CMakeLists.txt
  lib/cu_cp/routines/mobility/intra_cu_handover_target_routine.cpp
  lib/cu_cp/routines/mobility/intra_cu_handover_target_routine.h
Due: none

sched: add SRS positioning handling to scheduler
  include/srsran/scheduler/scheduler_positioning_handler.h
  lib/mac/mac_sched/positioning_handler.cpp
  lib/mac/mac_sched/positioning_handler.h
  lib/mac/mac_sched/srsran_scheduler_adapter.cpp
  lib/scheduler/CMakeLists.txt
  lib/scheduler/scheduler_impl.cpp
  lib/scheduler/scheduler_impl.h
  lib/scheduler/srs/srs_scheduler.h
  lib/scheduler/srs/srs_scheduler_impl.cpp
  lib/scheduler/srs/srs_scheduler_impl.h
  lib/scheduler/ue_scheduling/ue_event_manager.cpp
  lib/scheduler/ue_scheduling/ue_event_manager.h
  lib/scheduler/ue_scheduling/ue_scheduler.h
  lib/scheduler/ue_scheduling/ue_scheduler_impl.h
  tests/unittests/mac/mac_test_helpers.h
Due: none

sched: comment improvement
  lib/scheduler/srs/srs_scheduler.h
  lib/scheduler/srs/srs_scheduler_impl.cpp
Due: none

mac: moved the channel matrix inside the normalized channel IQ matrix for the MAC SRS PDU struct. Adjusted FAPI adaptor to add this matrix when the report type matches the channel IQ matrix
  include/srsran/mac/mac_cell_control_information_handler.h
  lib/fapi_adaptor/mac/fapi_to_mac_data_msg_translator.cpp
  lib/mac/mac_sched/srsran_scheduler_adapter.cpp
Due: none

du: add pucch sinr targets for pw control
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_schema.cpp
Due: none

sched: avoid assert when max pusch limit is reached
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.cpp
Due: none

phy review metric decorators
  apps/units/flexible_o_du/o_du_low/metrics/channel_modulation_metrics_producer.h
  apps/units/flexible_o_du/o_du_low/metrics/crc_calculator_metrics_producer.h
  apps/units/flexible_o_du/o_du_low/metrics/du_low_metric_producer_impl.h
  apps/units/flexible_o_du/o_du_low/metrics/pusch_processor_metrics_producer.h
  include/srsran/phy/metrics/phy_metrics_factories.h
  include/srsran/phy/metrics/phy_metrics_notifiers.h
  include/srsran/phy/metrics/phy_metrics_reports.h
  lib/phy/metrics/phy_metrics_demodulation_mapper_decorator.h
  lib/phy/metrics/phy_metrics_evm_calculator_decorator.h
  lib/phy/metrics/phy_metrics_factories.cpp
  lib/phy/metrics/phy_metrics_modulation_mapper_decorator.h
  tests/integrationtests/phy/upper/channel_processors/pxsch_bler_test_factories.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  gnb docker compose: any of: .gitlab/ci/builders/install_dependencies.sh, .gitlab/ci/builders/builder.sh, docker/Dockerfile, docker/docker-compose.yml
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*
