Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, metrics tox, grafana version changed, metrics version changed, metrics version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, metrics-server docker compose, metrics server image, metrics server image latest, grafana server image, grafana server image latest, e2e request and config validation

trigger builder:
  stage: ci
  trigger:
    include: .gitlab/ci/builders.yml
    strategy: depend

trigger docker:
  stage: ci
  trigger:
    include: .gitlab/ci/docker.yml
    strategy: depend
  variables:
    PY_DIR: docker/metrics_server

e2e tests tox:
  stage: static
  variables:
    PY_DIR: tests/e2e
  before_script:
  - apk add build-base

smoke avx512 cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm neon cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke avx512 clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm neon clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

metrics tox:
  stage: static
  variables:
    GIT_LFS_SKIP_SMUDGE: 1

grafana version changed:
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
  stage: static
  script:
  - NEW_VERSION=$(cat docker/grafana/version.yml | grep SRS_GRAFANA_VERSION | cut -d'"' -f2)
  - export NEW_VERSION
  - "git checkout $CI_MERGE_REQUEST_DIFF_BASE_SHA\nif [ ! -e \"docker/grafana/version.yml\" ]; then\n    exit 0\nfi\n"
  ...

metrics version changed:
  stage: static
  variables:
    GIT_LFS_SKIP_SMUDGE: 1

metrics version check in retina:
  stage: static
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
  script:
  - 'VERSION_IN_PYPROJECT=$(cat docker/metrics_server/pyproject.toml | grep ''^version'' | cut -d''"'' -f2)
  
    VERSION_IN_RETINA=$(cat .gitlab/ci/e2e/.env | grep METRICS_SERVER_VERSION | cut -d''='' -f2)
  
  ...

gnb docker compose:
  stage: compose
  image: docker:24.0.7-dind
  tags:
  - amd64-avx2
  timeout: 2h
  retry: 2
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
    KUBERNETES_CPU_REQUEST: ${SRS_CPU_LIMIT}
    KUBERNETES_CPU_LIMIT: ${SRS_CPU_LIMIT}
    KUBERNETES_MEMORY_REQUEST: ${SRS_MEMORY_LIMIT}
    KUBERNETES_MEMORY_LIMIT: ${SRS_MEMORY_LIMIT}
  ...

metrics server image:
  stage: publish
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
    REGISTRY_URI: $GITLAB_REGISTRY_URI
    NAME: metrics_server
    CONTEXT: ${CI_PROJECT_DIR}/docker/metrics_server
    MODE: publish
  before_script:
  - 'export VERSION=$(cat ${CONTEXT}/pyproject.toml | grep ''^version'' | cut -d''"'' -f2)
  
    '

rlc: add RTSAN_NONBLOCKING for further functions running on the cell executor
  lib/rlc/rlc_tx_am_entity.cpp
  lib/rlc/rlc_tx_am_entity.h
  lib/rlc/rlc_tx_entity.h
  lib/rlc/rlc_tx_tm_entity.cpp
  lib/rlc/rlc_tx_tm_entity.h
  lib/rlc/rlc_tx_um_entity.cpp
  lib/rlc/rlc_tx_um_entity.h
Due: none

testmode: fix mallocs in hot path
  lib/du/du_high/test_mode/mac_test_mode_adapter.h
  lib/du/du_high/test_mode/mac_test_mode_ue_repository.cpp
  lib/du/du_high/test_mode/mac_test_mode_ue_repository.h
Due: none

sched: fix prbs calculation for small-payloads high-capacity
  lib/scheduler/support/prbs_calculator.cpp
  tests/unittests/scheduler/support/prbs_calculator_test.cpp
Due: none

ci: update retina
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

ci,e2e: add all metrics to test mode
  tests/e2e/tests/test_mode/config_ru.yml
  tests/e2e/tests/test_mode/config_ru_16cell_50ue.yml
  tests/e2e/tests/test_mode/config_ru_acc100.yml
  tests/e2e/tests/test_mode/config_ue.yml
Due: e2e tests tox

ci,e2e: disable rlc metrics in viavi tests
  tests/e2e/tests/viavi/test_declaration.yml
  tests/e2e/tests/viavi/test_declaration_debug.yml
Due: e2e tests tox, e2e request and config validation

ngap: add interface to translate ue-index to/from amf-ue-ngap-id
  include/srsran/ngap/ngap.h
  lib/ngap/ngap_impl.cpp
  lib/ngap/ngap_impl.h
Due: none

cu_cp: remove get_mobility_notifier func cu_configurator interface
  include/srsran/cu_cp/cu_configurator.h
  lib/cu_cp/cu_configurator_impl.h
  tests/unittests/e2/common/e2_test_helpers.h
Due: none

test,cu_cp: add tests for manually triggered HO
  tests/unittests/cu_cp/cu_cp_inter_du_handover_test.cpp
Due: none

cu_cp: add cu-configurator interface and implementation
  include/srsran/cu_cp/cu_configurator.h
  lib/cu_cp/CMakeLists.txt
  lib/cu_cp/cu_configurator_impl.cpp
  lib/cu_cp/cu_configurator_impl.h
  lib/cu_cp/cu_cp_impl.cpp
  lib/cu_cp/cu_cp_impl.h
  tests/unittests/e2/common/e2_test_helpers.h
Due: none

e2: remove gnb_du_id from the default e2ap_configuration
  include/srsran/e2/e2ap_configuration_helpers.h
Due: none

e2: update e2sm-rc Handover Control executor
  lib/e2/e2sm/e2sm_rc/e2sm_rc_control_action_cu_executor.cpp
  tests/unittests/e2/e2_ric_control_procedure_test.cpp
Due: none

rlc_tx,metrics: malloc-free fwd lower metrics through triple buffer.
  lib/rlc/rlc_bearer_metrics_collector.cpp
  lib/rlc/rlc_bearer_metrics_collector.h
Due: none

rlc,metrics: fix docstrings
  lib/rlc/rlc_bearer_metrics_collector.h
Due: none

ci: update retina to avoid ignoring <3 ofh warnings
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

ci,scripts: update run_viavi_pipeline with multiple gnb build modes
  .gitlab/run_viavi_pipeline.py
Due: none

sched: fix derivation of max number of allocations in ra_scheduler
  lib/scheduler/common_scheduling/ra_scheduler.cpp
Due: none

Revert "ci,e2e: disable rlc metrics in viavi tests"
  tests/e2e/tests/viavi/test_declaration.yml
  tests/e2e/tests/viavi/test_declaration_debug.yml
Due: e2e tests tox, e2e request and config validation

worker_manager: reduced PRACH worker priority
  apps/services/worker_manager/worker_manager.cpp
Due: none

ci,e2e: use rtsan build in most viavi jobs
  .gitlab/ci/e2e.yml
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation

ci,viavi: disable executor metrics
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation

pdcp,metrics: adjust metrics format
  include/srsran/pdcp/pdcp_rx_metrics.h
  include/srsran/pdcp/pdcp_tx_metrics.h
  tests/unittests/pdcp/pdcp_rx_metrics_test.cpp
  tests/unittests/pdcp/pdcp_tx_metrics_test.cpp
Due: none

Revert "ci,viavi: disable executor metrics"
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation

Support: Increase maximum task pool size to account for the non rt pool
  include/srsran/support/executors/sequential_metrics_executor.h
Due: none

Support: Improve metrics decorator to avoid mallocing on every executed task
  include/srsran/support/executors/sequential_metrics_executor.h
Due: none

sched: fix malloc in dl_logical_channel_manager
  lib/scheduler/ue_context/dl_logical_channel_manager.cpp
  lib/scheduler/ue_context/dl_logical_channel_manager.h
  lib/scheduler/ue_context/ta_manager.cpp
  lib/scheduler/ue_context/ue.h
  tests/unittests/scheduler/ue_scheduling/dl_logical_channel_test.cpp
Due: none

du: add du_manager_time_mapper_accessor interface to access MAC slot-time mappers
  include/srsran/du/du_high/du_high.h
  include/srsran/du/du_high/du_manager/du_manager.h
  lib/du/du_high/du_high_impl.cpp
  lib/du/du_high/du_high_impl.h
Due: none

ntn: add feeder_link_info and geodetic_coordinates_t structs
  include/srsran/ran/ntn.h
Due: none

du: add ntn config update remote command factory
  apps/units/flexible_o_du/split_helpers/CMakeLists.txt
  apps/units/flexible_o_du/split_helpers/commands/ntn_config_update_remote_command_factory.cpp
  apps/units/flexible_o_du/split_helpers/commands/ntn_config_update_remote_command_factory.h
  apps/units/flexible_o_du/split_helpers/flexible_o_du_factory.cpp
Due: none

du,ntn: add SIB19 sched info to ntn config
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_schema.cpp
  include/srsran/ran/ntn.h
Due: none

support: add json utils to simplify json validation and parsing
  include/srsran/support/json_utils.h
Due: none

ntn: change types for more accuracy, and add docs
  include/srsran/ran/ntn.h
  lib/du/du_high/du_manager/converters/asn1_sys_info_packer.cpp
Due: none

du: add functions to update SI PDUs
  include/srsran/du/du_high/du_manager/du_configurator.h
  include/srsran/mac/mac_cell_manager.h
  lib/du/du_high/du_manager/du_manager_impl.cpp
  lib/du/du_high/du_manager/du_manager_impl.h
  lib/du/du_high/du_manager/procedures/CMakeLists.txt
  lib/du/du_high/du_manager/procedures/du_mac_si_pdu_update_procedure.cpp
  lib/du/du_high/du_manager/procedures/du_mac_si_pdu_update_procedure.h
  lib/mac/mac_dl/mac_cell_processor.cpp
  lib/mac/mac_dl/sib_pdu_assembler.cpp
  lib/mac/mac_dl/sib_pdu_assembler.h
  tests/unittests/e2/common/e2_test_helpers.h
Due: none

ci: run short viavi jobs with rtsan in weekly
  .gitlab/ci/build.yml
Due: none

Increase metrics executor decorator queue size
  include/srsran/support/executors/sequential_metrics_executor.h
Due: none

docker: fix Rank Indicator graphs
  docker/grafana/dashboards/home.json
Due: trigger docker, grafana version changed, grafana docker compose, grafana server image, grafana server image latest

Update file version.yml
  docker/grafana/version.yml
Due: trigger docker, grafana version changed, grafana docker compose, grafana server image, grafana server image latest

docker: metrics server exit when error or no data
  .gitlab/ci/e2e/.env
  docker/metrics_server/pyproject.toml
  docker/metrics_server/src/metrics_server/__main__.py
Due: trigger docker, metrics tox, metrics version changed, metrics version check in retina, metrics-server docker compose, metrics server image, metrics server image latest, e2e request and config validation

cu_cp,ngap,e1ap: add enum type for pdu session type
  include/srsran/cu_cp/cu_cp_types.h
  include/srsran/e1ap/common/e1ap_types.h
  include/srsran/ran/cu_types.h
  lib/e1ap/common/e1ap_asn1_converters.h
  lib/e1ap/cu_cp/e1ap_cu_cp_asn1_helpers.h
  lib/e1ap/cu_up/e1ap_cu_up_asn1_helpers.h
  lib/e1ap/cu_up/e1ap_cu_up_impl.cpp
  lib/e1ap/cu_up/procedures/bearer_context_modification_procedure.cpp
  lib/ngap/ngap_asn1_converters.h
  lib/ngap/ngap_asn1_helpers.h
  lib/ngap/ngap_validators/ngap_validators.cpp
  tests/unittests/cu_cp/cu_cp_pdu_session_resource_release_test.cpp
  tests/unittests/cu_cp/cu_cp_pdu_session_resource_setup_test.cpp
  tests/unittests/cu_cp/cu_cp_reestablishment_test.cpp
  tests/unittests/cu_cp/cu_cp_test_environment.cpp
  tests/unittests/cu_cp/cu_cp_test_messages.cpp
  tests/unittests/cu_cp/cu_cp_ue_context_release_test.cpp
  tests/unittests/cu_up/pdu_session_manager_test.h
  tests/unittests/e1ap/common/e1ap_cu_cp_test_messages.cpp
  tests/unittests/ngap/ngap_pdu_session_resource_setup_procedure_test.cpp
  tests/unittests/ngap/ngap_test_helpers.cpp
  tests/unittests/ngap/ngap_test_messages.cpp
  tests/unittests/ngap/ngap_test_messages.h
  tests/unittests/ngap/ngap_validators_test.cpp
Due: none

cu_cp,ngap: improve documentation
  lib/ngap/ngap_asn1_converters.h
Due: none

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  metrics tox: any of: docker/metrics_server/**/*
  grafana version changed: any of: docker/grafana/**/*
  metrics version changed: any of: docker/metrics_server/**/*
  metrics version check in retina: any of: docker/metrics_server/**/*
  gnb docker compose: (any of: docker/scripts/**/*, docker/Dockerfile) or (any of: docker/docker-compose.yml)
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  metrics-server docker compose: any of: docker/.env, docker/metrics_server/**/*, docker/docker-compose.yml
  metrics server image: any of: docker/metrics_server/**/*
  metrics server image latest: any of: docker/metrics_server/**/*
  grafana server image: any of: docker/grafana/**/*
  grafana server image latest: any of: docker/grafana/**/*
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*
