Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, tox python in builder, metrics tox, grafana version changed, metrics version changed, metrics version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, metrics-server docker compose, metrics server image, metrics server image latest, grafana server image, grafana server image latest, e2e request and config validation

Path conditions:
  trigger builder: any of: .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*, docker/scripts/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv,py,toml}, docker/**/Dockerfile, .gdbinit
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  tox python in builder: any of: .gitlab/ci/builders/**/*.py
  metrics tox: any of: docker/metrics_server/**/*
  grafana version changed: any of: docker/grafana/**/*
  metrics version changed: any of: docker/metrics_server/**/*
  metrics version check in retina: any of: docker/metrics_server/**/*
  gnb docker compose: (any of: docker/scripts/**/*, docker/Dockerfile) or (any of: docker/docker-compose.yml)
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  metrics-server docker compose: any of: docker/.env, docker/metrics_server/**/*, docker/docker-compose.yml
  metrics server image: any of: docker/metrics_server/**/*
  metrics server image latest: any of: docker/metrics_server/**/*
  grafana server image: any of: docker/grafana/**/*
  grafana server image latest: any of: docker/grafana/**/*
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*

support: add return; to fix cppcheck false alarm
  include/srsran/support/async/coroutine.h
Due: none

remove DCI config dependency to vrb_to_prb mapping
  include/srsran/ran/pdcch/dci_packing.h
  lib/ran/pdcch/dci_packing.cpp
  lib/scheduler/support/dci_builder.cpp
  lib/scheduler/support/sch_pdu_builder.cpp
  tests/unittests/fapi_adaptor/mac/messages/helpers.cpp
  tests/unittests/ran/pdcch/dci_packing_test.cpp
Due: none

rlc_tx_am: Remove extra poll in first ReTx segment after expired poll retransmit timer
  lib/rlc/rlc_tx_am_entity.cpp
  lib/rlc/rlc_tx_am_entity.h
  tests/unittests/rlc/rlc_tx_am_test.cpp
Due: none

support: add `return` to `expected` to fix false alarm of CodeChecker
  external/TartanLlama/expected.hpp
Due: none

sched: pass msg3 rx slot to ue_creation
  lib/scheduler/config/sched_config_manager.cpp
  lib/scheduler/config/sched_config_manager.h
  lib/scheduler/ue_context/ue.cpp
  lib/scheduler/ue_scheduling/ue_fallback_scheduler.cpp
  tests/benchmarks/du_high/du_high_benchmark.cpp
  tests/unittests/scheduler/ue_scheduling/fallback_scheduler_test.cpp
Due: none

ci,e2e: adjust viavi new cluster
  .gitlab/ci/e2e.yml
  .gitlab/ci/e2e/viavi.yml
  .gitlab/run_viavi_pipeline.py
Due: e2e request and config validation

fapi: added vendor specific parameters to the CONFIG.request and cell_config
  apps/units/flexible_o_du/split_6/o_du_low/split6_o_du_low_application_unit_impl.cpp
  apps/units/flexible_o_du/split_6/o_du_low/split6_o_du_low_plugin_dummy.cpp
  include/srsran/fapi/cell_config.h
  include/srsran/fapi/messages/config_messages.h
  include/srsran/fapi_adaptor/fapi_slot_messages_adaptor_factory.h
  lib/fapi/config_message_gateway_impl.cpp
Due: none

app: reduce min number of workers of the app
  apps/services/worker_manager/worker_manager.cpp
Due: none

test: fix test to check that the DU rejects new UEs when out of resources
  tests/integrationtests/du_high/du_high_many_ues_test.cpp
  tests/integrationtests/du_high/test_utils/du_high_env_simulator.cpp
  tests/integrationtests/du_high/test_utils/du_high_env_simulator.h
Due: none

test: synchronize du-high ctrl executor in du_high_test
  lib/scheduler/ue_scheduling/ue_fallback_scheduler.cpp
  tests/integrationtests/du_high/test_utils/du_high_env_simulator.cpp
  tests/integrationtests/du_high/test_utils/du_high_worker_manager.cpp
  tests/integrationtests/du_high/test_utils/du_high_worker_manager.h
Due: none

test: remove phy test dummy duplicate definition
  tests/integrationtests/du_high/test_utils/du_high_env_simulator.cpp
  tests/test_doubles/mac/dummy_mac_result_notifier.cpp
Due: none

sched: cleanup check for conres timer expiry
  lib/scheduler/cell/cell_harq_manager.cpp
  lib/scheduler/cell/cell_harq_manager.h
  lib/scheduler/ue_scheduling/ue_fallback_scheduler.cpp
  tests/integrationtests/du_high/test_utils/du_high_env_simulator.cpp
Due: none

test: add async events to du-high event simulator
  tests/integrationtests/du_high/du_high_many_ues_test.cpp
  tests/integrationtests/du_high/test_utils/du_high_env_simulator.cpp
  tests/integrationtests/du_high/test_utils/du_high_env_simulator.h
Due: none

du-high: removal of redundant last_f1ap_msgs member
  lib/scheduler/cell/cell_harq_manager.h
  tests/integrationtests/du_high/CMakeLists.txt
  tests/integrationtests/du_high/du_high_many_cells_test.cpp
  tests/integrationtests/du_high/du_high_many_ues_test.cpp
  tests/integrationtests/du_high/du_high_test.cpp
  tests/integrationtests/du_high/paging_test.cpp
  tests/integrationtests/du_high/test_utils/du_high_env_simulator.cpp
  tests/integrationtests/du_high/test_utils/du_high_env_simulator.h
  tests/integrationtests/du_high/test_utils/du_high_sim_dependencies.cpp
  tests/integrationtests/du_high/test_utils/du_high_sim_dependencies.h
Due: none

du-high: include rrc setup in du-high many ue concurrent creation test
  include/srsran/support/async/async_then.h
  tests/integrationtests/du_high/du_high_many_ues_test.cpp
  tests/integrationtests/du_high/du_high_test.cpp
  tests/integrationtests/du_high/test_utils/du_high_env_simulator.cpp
  tests/integrationtests/du_high/test_utils/du_high_env_simulator.h
  tests/integrationtests/du_high/test_utils/du_high_sim_dependencies.h
Due: none

ci: update plugin reference
  .gitlab/ci/plugin_version.txt
Due: none

pdcp_tx: fix condition to check existence of PDU in tx_window
  lib/pdcp/pdcp_entity_tx.cpp
Due: none

sched: improve conres expiry handling in ue fallback scheduler
  lib/scheduler/ue_scheduling/ue_fallback_scheduler.cpp
Due: none

sched: improve fallback scheduler test for conRes timer expiration
  lib/scheduler/ue_scheduling/ue_fallback_scheduler.cpp
  tests/unittests/scheduler/scheduler_ue_fallback_mode_test.cpp
  tests/unittests/scheduler/test_utils/indication_generators.cpp
  tests/unittests/scheduler/test_utils/indication_generators.h
Due: none

sched: fix cleanup of conres state
  lib/scheduler/ue_context/ue_cell.cpp
  lib/scheduler/ue_scheduling/ue_event_manager.cpp
  lib/scheduler/ue_scheduling/ue_fallback_scheduler.cpp
  lib/scheduler/ue_scheduling/ue_fallback_scheduler.h
Due: none

sched: handle differently failed to schedule conres and conres scheduled but not acked
  lib/scheduler/ue_scheduling/ue_fallback_scheduler.cpp
Due: none

ci: make build script to fail on pipefails
  .gitlab/ci/builders/archlinux/Dockerfile
  docker/scripts/builder.sh
Due: trigger builder, trigger docker, gnb docker compose

ci,e2e: restore viavi old cluster
  .gitlab/ci/e2e.yml
  .gitlab/ci/e2e/viavi.yml
  .gitlab/run_viavi_pipeline.py
Due: e2e request and config validation

sched: prevent msg3_candidates overflow on ra_scheduler
  include/srsran/ran/slot_pdu_capacity_constants.h
  lib/scheduler/common_scheduling/ra_scheduler.cpp
Due: none

app_units: added a jitter property to the split 6 O-DU low and an algorithm to calculate the start time of a session based on the jitter and the current time
  apps/units/flexible_o_du/split_6/o_du_low/split6_flexible_o_du_low_session_factory.cpp
  apps/units/flexible_o_du/split_6/o_du_low/split6_flexible_o_du_low_session_factory.h
  apps/units/flexible_o_du/split_6/o_du_low/split6_o_du_low_unit_cli11_schema.cpp
  apps/units/flexible_o_du/split_6/o_du_low/split6_o_du_low_unit_config.h
  apps/units/flexible_o_du/split_8/helpers/ru_sdr_factories.cpp
  apps/units/flexible_o_du/split_8/helpers/ru_sdr_factories.h
Due: none

phy: parallelize ports in dmrs_pusch_estimator
  lib/phy/upper/signal_processors/dmrs_pusch_estimator_impl.cpp
  tests/unittests/phy/upper/signal_processors/dmrs_pusch_estimator_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy, dmrs_pusch_estimator: fix typo in variable name
  lib/phy/upper/signal_processors/dmrs_pusch_estimator_impl.cpp
  lib/phy/upper/signal_processors/dmrs_pusch_estimator_impl.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy: manage executors for the pusch channel estimator
  include/srsran/phy/upper/signal_processors/signal_processor_factories.h
  include/srsran/phy/upper/upper_phy_execution_configuration.h
  lib/du/du_low/du_low_executor_mapper.cpp
  lib/phy/metrics/phy_metrics_pusch_channel_estimator_decorator.h
  lib/phy/upper/signal_processors/dmrs_pusch_estimator_impl.cpp
  lib/phy/upper/signal_processors/dmrs_pusch_estimator_impl.h
  lib/phy/upper/signal_processors/signal_processor_factories.cpp
  lib/phy/upper/upper_phy_factories.cpp
  tests/benchmarks/phy/upper/channel_processors/pusch/pusch_processor_benchmark.cpp
  tests/integrationtests/phy/upper/channel_processors/pxsch_bler_test_factories.cpp
  tests/unittests/phy/upper/channel_processors/pusch/pusch_processor_validator_test.cpp
  tests/unittests/phy/upper/channel_processors/pusch/pusch_processor_vectortest.cpp
  tests/unittests/phy/upper/signal_processors/dmrs_pusch_estimator_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy: minor refactor of pusch_processor_impl
  lib/phy/upper/channel_processors/pusch/pusch_processor_impl.cpp
  lib/phy/upper/channel_processors/pusch/pusch_processor_impl.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy: refactor of pusch_processor_impl
  include/srsran/phy/upper/channel_processors/pusch/pusch_processor.h
  include/srsran/phy/upper/signal_processors/dmrs_pusch_estimator.h
  lib/phy/metrics/phy_metrics_pusch_channel_estimator_decorator.h
  lib/phy/upper/channel_processors/pusch/pusch_processor_impl.cpp
  lib/phy/upper/channel_processors/pusch/pusch_processor_impl.h
  lib/phy/upper/signal_processors/dmrs_pusch_estimator_impl.cpp
  lib/phy/upper/signal_processors/dmrs_pusch_estimator_impl.h
  tests/unittests/phy/upper/signal_processors/dmrs_pusch_estimator_test.cpp
  tests/unittests/phy/upper/signal_processors/dmrs_pusch_estimator_test_doubles.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy: minor refactor pusch processor
  lib/phy/upper/channel_processors/pusch/factories.cpp
  lib/phy/upper/channel_processors/pusch/pusch_processor_impl.cpp
  lib/phy/upper/channel_processors/pusch/pusch_processor_impl.h
  lib/phy/upper/upper_phy_factories.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

sched: improve UL collision detection on unittests
  include/srsran/adt/interval.h
  lib/du/du_cell_config_validation.cpp
  tests/unittests/scheduler/test_utils/scheduler_output_test_helpers.cpp
  tests/unittests/scheduler/test_utils/scheduler_output_test_helpers.h
  tests/unittests/scheduler/test_utils/scheduler_test_suite.cpp
  tests/unittests/scheduler/test_utils/scheduler_test_suite.h
Due: none

sched: fix collisions between common and ded PUCCH grants
  lib/scheduler/cell/resource_grid.h
  lib/scheduler/pucch_scheduling/pucch_allocator_impl.cpp
  lib/scheduler/pucch_scheduling/pucch_allocator_impl.h
  tests/unittests/scheduler/multiple_ue_sched_test.cpp
  tests/unittests/scheduler/uci_and_pucch/pucch_alloc_ded_resources_test.cpp
  tests/unittests/scheduler/uci_and_pucch/pucch_alloc_harq_sr_csi_test.cpp
  tests/unittests/scheduler/uci_and_pucch/uci_scheduling_test.cpp
  tests/unittests/scheduler/uci_and_pucch/uci_test_utils.h
Due: none

cu_cp,ngap: add inter du handover unit test that checks correct ngap connection of ues
  tests/test_doubles/ngap/ngap_test_message_validators.cpp
  tests/test_doubles/ngap/ngap_test_message_validators.h
  tests/unittests/cu_cp/cu_cp_inter_du_handover_test.cpp
Due: none

cu_cp,ngap: simplify function return value
  include/srsran/ngap/ngap.h
  lib/cu_cp/adapters/ngap_adapters.h
  lib/cu_cp/cu_cp_impl.cpp
  lib/cu_cp/cu_cp_impl.h
  lib/cu_cp/cu_cp_impl_interface.h
  lib/ngap/ngap_impl.cpp
  lib/ngap/ngap_impl.h
  tests/unittests/ngap/test_helpers.h
Due: none

cu_cp,f1ap,rrc: improve test messages
  tests/test_doubles/f1ap/f1ap_test_messages.cpp
  tests/test_doubles/rrc/rrc_test_messages.cpp
  tests/test_doubles/rrc/rrc_test_messages.h
Due: none

cu_cp,du_processor,rrc: remove unused adapter
  include/srsran/rrc/rrc_du.h
  include/srsran/rrc/rrc_du_factory.h
  lib/cu_cp/adapters/rrc_du_adapters.h
  lib/cu_cp/cu_cp_impl.cpp
  lib/cu_cp/cu_cp_impl.h
  lib/cu_cp/du_processor/du_processor_factory.cpp
  lib/cu_cp/du_processor/du_processor_factory.h
  lib/cu_cp/du_processor/du_processor_impl.cpp
  lib/cu_cp/du_processor/du_processor_impl.h
  lib/cu_cp/du_processor/du_processor_repository.cpp
  lib/cu_cp/du_processor/du_processor_repository.h
  lib/rrc/rrc_du_factory.cpp
  lib/rrc/rrc_du_impl.cpp
  lib/rrc/rrc_du_impl.h
  tests/unittests/cu_cp/du_processor/du_processor_test_helpers.cpp
  tests/unittests/cu_cp/du_processor/du_processor_test_helpers.h
  tests/unittests/rrc/test_helpers.h
Due: none

cu_cp: remove unneccesary optional
  lib/cu_cp/cu_cp_impl.cpp
  lib/cu_cp/cu_cp_impl.h
  lib/cu_cp/cu_cp_impl_interface.h
Due: none

cu_cp,rrc: fix iteration over sib1 plmn id info list
  lib/rrc/rrc_du_impl.cpp
Due: none
