Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, metrics tox, grafana version changed, metrics version changed, metrics version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, metrics-server docker compose, metrics server image, metrics server image latest, grafana server image, grafana server image latest, e2e request and config validation

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  metrics tox: any of: docker/metrics_server/**/*
  grafana version changed: any of: docker/grafana/**/*
  metrics version changed: any of: docker/metrics_server/**/*
  metrics version check in retina: any of: docker/metrics_server/**/*
  gnb docker compose: (any of: docker/scripts/**/*, docker/Dockerfile) or (any of: docker/docker-compose.yml)
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  metrics-server docker compose: any of: docker/.env, docker/metrics_server/**/*, docker/docker-compose.yml
  metrics server image: any of: docker/metrics_server/**/*
  metrics server image latest: any of: docker/metrics_server/**/*
  grafana server image: any of: docker/grafana/**/*
  grafana server image latest: any of: docker/grafana/**/*
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*

ci: fix viavi 24h parameters
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation

Simplify e2e test declaration. Set common expert_execution settings for all tests
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation

sched,harq: wrap log of DL/UL into string view to avoid malloc in logger
  lib/scheduler/cell/cell_harq_manager.cpp
Due: none

cu_up: reduce GTP-U default queue size
  apps/units/o_cu_up/cu_up/cu_up_unit_config.h
Due: none

configs: update standalone cu/du configs
  configs/cu.yml
  configs/du_rf_b200_tdd_n78_20mhz.yml
Due: none

FMT: Implement a short string pool to avoid mallocs when passing short strings to the backend.
  external/fmt/include/fmt/args.h
  include/srsran/support/executors/concurrent_metrics_executor.h
  include/srsran/support/executors/sequential_metrics_executor.h
Due: none

gnb: fix tas autoderivation
  apps/gnb/gnb_appconfig_cli11_schema.cpp
Due: none

ci,e2e: increase rrc procedure timeout
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation

ci,e2e: increase rrc procedure timeout
  tests/e2e/tests/viavi/test_declaration.yml
  tests/e2e/tests/viavi/test_declaration_debug.yml
Due: e2e tests tox, e2e request and config validation

cmake: support custom install destdir in sbom generation
  external/cmake-sbom/sbom.cmake
Due: none

ci: enable building tests in github actions
  .github/workflows/ccpp.yml
Due: none

phy: remove UL resource grid pool and integrate grid in uplink processor
  include/srsran/fapi_adaptor/phy/phy_fapi_adaptor_config.h
  include/srsran/phy/upper/uplink_pdu_slot_repository.h
  include/srsran/phy/upper/uplink_processor.h
  include/srsran/phy/upper/uplink_slot_processor.h
  include/srsran/phy/upper/upper_phy.h
  include/srsran/phy/upper/upper_phy_factories.h
  lib/du/du_low/o_du_low_factory.cpp
  lib/fapi_adaptor/phy/fapi_to_phy_translator.cpp
  lib/fapi_adaptor/phy/fapi_to_phy_translator.h
  lib/fapi_adaptor/phy/phy_fapi_sector_adaptor_impl.cpp
  lib/phy/upper/uplink_pdu_slot_repository_impl.h
  lib/phy/upper/uplink_processor_impl.cpp
  lib/phy/upper/uplink_processor_impl.h
  lib/phy/upper/upper_phy_factories.cpp
  lib/phy/upper/upper_phy_impl.cpp
  lib/phy/upper/upper_phy_impl.h
  lib/phy/upper/upper_phy_rx_symbol_handler_impl.cpp
  tests/unittests/fapi_adaptor/phy/fapi_to_phy_translator_test.cpp
  tests/unittests/phy/support/resource_grid_test_doubles.h
  tests/unittests/phy/upper/uplink_processor_test.cpp
  tests/unittests/phy/upper/uplink_processor_test_doubles.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

test: reduce number of UL threads in viavi test declaration
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation

e2e tests: fix specific configuration for viavi ul-heavy tests
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation

support: fix concurrent metric executor
  include/srsran/support/executors/concurrent_metrics_executor.h
Due: none

ci,e2e: decrease RRC procedure timeout...
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation

doc: review dependencies
  README.md
Due: none

ntn: set correct limits for the ntn config parameters
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_validator.cpp
Due: none

ntn: add two config parameters: epoch_sfn_offset and use_state_vector
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_validator.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_yaml_writer.cpp
  include/srsran/ran/ntn.h
Due: none

ntn: add nr_cgi to ntn config
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_schema.cpp
  include/srsran/ran/ntn.h
Due: none

phy: extent generic DFT to transform precoding sizes
  lib/phy/generic_functions/CMakeLists.txt
  lib/phy/generic_functions/dft_processor_generic_impl.cpp
  lib/phy/generic_functions/generic_functions_factories.cpp
  lib/phy/lower/CMakeLists.txt
  lib/phy/upper/CMakeLists.txt
  lib/phy/upper/signal_processors/CMakeLists.txt
  tests/benchmarks/phy/generic_functions/CMakeLists.txt
  tests/unittests/phy/generic_functions/CMakeLists.txt
  tests/unittests/phy/generic_functions/dft_processor_test.cpp
  tests/unittests/phy/generic_functions/transform_precoding/CMakeLists.txt
  tests/unittests/phy/lower/modulation/CMakeLists.txt
  tests/unittests/phy/upper/channel_processors/CMakeLists.txt
  tests/unittests/phy/upper/channel_processors/pucch/CMakeLists.txt
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

sched: fix max_puschs_to_alloc
  lib/scheduler/ue_scheduling/intra_slice_scheduler.cpp
Due: none

sched: delay msg4 scheduling until conres is acked
  lib/scheduler/ue_context/ue.cpp
  lib/scheduler/ue_context/ue.h
  lib/scheduler/ue_context/ue_cell.cpp
  lib/scheduler/ue_context/ue_cell.h
  lib/scheduler/ue_scheduling/ue_event_manager.cpp
  lib/scheduler/ue_scheduling/ue_fallback_scheduler.cpp
  tests/unittests/scheduler/multiple_ue_sched_test.cpp
  tests/unittests/scheduler/scheduler_ue_fallback_mode_test.cpp
  tests/unittests/scheduler/test_utils/scheduler_test_simulator.cpp
  tests/unittests/scheduler/test_utils/scheduler_test_simulator.h
  tests/unittests/scheduler/ue_scheduling/fallback_scheduler_test.cpp
  tests/unittests/scheduler/ue_scheduling/ue_cell_test.cpp
Due: none

sched: consider pdsch to be acked for fallbck warning
  lib/scheduler/ue_context/ue_cell.cpp
  lib/scheduler/ue_context/ue_cell.h
  lib/scheduler/ue_scheduling/ue_event_manager.cpp
  lib/scheduler/ue_scheduling/ue_fallback_scheduler.cpp
  tests/unittests/scheduler/scheduler_ue_fallback_mode_test.cpp
  tests/unittests/scheduler/ue_scheduling/fallback_scheduler_test.cpp
Due: none

sched: add unittet for msg4 scheduled after conres
  tests/unittests/scheduler/ue_scheduling/fallback_scheduler_test.cpp
Due: none

sched: start conres proc only when conres received
  lib/scheduler/ue_context/ue_cell.cpp
  lib/scheduler/ue_context/ue_cell.h
  lib/scheduler/ue_scheduling/ue_event_manager.cpp
  lib/scheduler/ue_scheduling/ue_fallback_scheduler.cpp
  tests/unittests/scheduler/ue_scheduling/fallback_scheduler_test.cpp
Due: none

cmake: add headers from external libs to helper target all_srsran_headers
  CMakeLists.txt
Due: none

cmake: also include *.hpp files into all_srsran_headers helper target
  CMakeLists.txt
Due: none

ran: change CSI report size on PUCCH to support part-2 and initial subband configuration
  include/srsran/ran/csi_report/csi_report_configuration.h
  include/srsran/ran/csi_report/csi_report_formatters.h
  include/srsran/ran/csi_report/csi_report_on_pucch_helpers.h
  include/srsran/ran/csi_report/csi_report_on_pusch_helpers.h
  include/srsran/ran/csi_report/csi_report_size.h
  lib/du/du_high/du_manager/ran_resource_management/du_pucch_resource_manager.cpp
  lib/ran/csi_report/csi_report_on_pucch_helpers.cpp
  lib/ran/csi_report/csi_report_on_pusch_helpers.cpp
  lib/scheduler/config/serving_cell_config_validator.cpp
  lib/scheduler/support/sch_pdu_builder.cpp
  lib/scheduler/uci_scheduling/uci_allocator_impl.cpp
  tests/integrationtests/du_high/mac_test_mode_adapter_test.cpp
  tests/unittests/ran/csi_report/csi_report_on_pucch_helpers_test.cpp
  tests/unittests/ran/csi_report/csi_report_on_pucch_validator_test.cpp
  tests/unittests/ran/csi_report/csi_report_on_pusch_helpers_test.cpp
  tests/unittests/scheduler/uci_and_pucch/pucch_alloc_ded_resources_test.cpp
Due: none

ofh: extend compression test
  tests/unittests/ofh/compression/ofh_compression_test.cpp
Due: none

ofh: review compression test comments
  tests/unittests/ofh/compression/ofh_compression_test.cpp
Due: none

du: add comment to TDD cfg validator
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_validator.cpp
Due: none

sched: change dci_packing type for vrb_to_prb map
  include/srsran/ran/pdcch/dci_packing.h
  include/srsran/scheduler/config/serving_cell_config.h
  lib/du/du_high/du_manager/ran_resource_management/ue_capability_manager.cpp
  lib/du/du_high/du_manager/ran_resource_management/ue_capability_summary.h
  lib/ran/pdcch/dci_packing.cpp
  lib/scheduler/config/ue_configuration.cpp
  lib/scheduler/logging/scheduler_result_logger.cpp
  lib/scheduler/support/dci_builder.cpp
  lib/scheduler/support/sch_pdu_builder.cpp
  tests/unittests/ran/pdcch/dci_packing_test.cpp
Due: none

du,sched: reuse existing vrb_to_prb mapping type
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_translators.cpp
  include/srsran/scheduler/config/serving_cell_config.h
  lib/du/du_high/du_manager/converters/asn1_rrc_config_helpers.cpp
  lib/scheduler/config/serving_cell_config_factory.cpp
  lib/scheduler/config/ue_configuration.cpp
  lib/scheduler/support/dci_builder.cpp
  tests/unittests/scheduler/multiple_ue_sched_test.cpp
Due: none

du: handle vrb-prb interleaving UE capabilities
  lib/du/du_high/du_manager/ran_resource_management/ue_capability_manager.cpp
  lib/du/du_high/du_manager/ran_resource_management/ue_capability_manager.h
  lib/du/du_high/du_manager/ran_resource_management/ue_capability_summary.h
Due: none

phy: refactor resource grid mapper and update test vectors to include interleaved mapping
  include/srsran/phy/support/rb_allocation.h
  include/srsran/phy/support/resource_grid_mapper.h
  include/srsran/phy/upper/channel_processors/pdsch/pdsch_modulator.h
  include/srsran/phy/upper/channel_processors/pdsch/pdsch_processor.h
  include/srsran/phy/upper/channel_processors/pusch/pusch_demodulator.h
  include/srsran/phy/upper/channel_processors/pusch/pusch_processor.h
  include/srsran/ran/resource_allocation/vrb_to_prb.h
  lib/phy/support/CMakeLists.txt
  lib/phy/support/rb_allocation.cpp
  lib/phy/support/resource_grid_mapper_impl.cpp
  lib/phy/support/resource_grid_mapper_impl.h
  lib/phy/upper/CMakeLists.txt
  lib/phy/upper/channel_processors/pdsch/pdsch_modulator_impl.cpp
  lib/phy/upper/channel_processors/pdsch/pdsch_processor_flexible_impl.cpp
  lib/phy/upper/channel_processors/pdsch/pdsch_processor_flexible_impl.h
  lib/phy/upper/channel_processors/pdsch/pdsch_processor_impl.cpp
  lib/ran/resource_allocation/vrb_to_prb.cpp
  tests/unittests/phy/support/resource_grid_test_doubles.h
  tests/unittests/phy/upper/channel_processors/pdsch/CMakeLists.txt
  tests/unittests/phy/upper/channel_processors/pdsch/pdsch_modulator_test.cpp
  tests/unittests/phy/upper/channel_processors/pdsch/pdsch_modulator_test_data.h
  tests/unittests/phy/upper/channel_processors/pdsch/pdsch_modulator_test_data.tar.gz
  tests/unittests/phy/upper/channel_processors/pdsch/pdsch_processor_unittest.cpp
  tests/unittests/phy/upper/channel_processors/pdsch/pdsch_processor_validator_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy: fix coding style
  include/srsran/phy/upper/pucch_formats3_4_helpers.h
  lib/phy/upper/signal_processors/pucch/dmrs_pucch_estimator_formats3_4.h
  lib/phy/upper/signal_processors/signal_processor_factories.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy, pucch: remove format1 dmrs estimator
  include/srsran/phy/upper/signal_processors/dmrs_pucch_estimator.h
  lib/phy/upper/signal_processors/CMakeLists.txt
  lib/phy/upper/signal_processors/pucch/dmrs_pucch_estimator_format1.cpp
  lib/phy/upper/signal_processors/pucch/dmrs_pucch_estimator_format1.h
  lib/phy/upper/signal_processors/pucch/dmrs_pucch_estimator_impl.h
  lib/phy/upper/signal_processors/signal_processor_factories.cpp
  tests/unittests/phy/upper/signal_processors/dmrs_pucch_estimator_test.cpp
  tests/unittests/phy/upper/signal_processors/dmrs_pucch_estimator_test_data.h
  tests/unittests/phy/upper/signal_processors/dmrs_pucch_estimator_test_data.tar.gz
  tests/unittests/phy/upper/signal_processors/dmrs_pucch_estimator_test_doubles.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy, tests: update ch. estimator-related test vectors
  tests/unittests/phy/upper/signal_processors/port_channel_estimator_test_data.h
  tests/unittests/phy/upper/signal_processors/port_channel_estimator_test_data.tar.gz
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy, ch est: fix minor bug
  lib/phy/upper/signal_processors/port_channel_estimator_helpers.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean
