Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, e2e request validation

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  gnb docker compose: any of: .gitlab/ci/builders/install_dependencies.sh, .gitlab/ci/builders/builder.sh, docker/Dockerfile, docker/docker-compose.yml
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  e2e request validation: any of: .gitlab/ci/e2e/**/*

mac: make time advance offset optional in MAC CRC PDU
  include/srsran/mac/mac_cell_control_information_handler.h
Due: none

ci,e2e: change in rf b200 setup
  .gitlab/ci/e2e/retina_request_rf_b200.yml
Due: e2e request validation

phy: increase channel equalizer tolerance and fix NEON SIMD
  lib/srsvec/simd.h
  tests/unittests/phy/upper/equalization/channel_equalizer_test.cpp
Due: none

ci,e2e: use 1 ue in handover zmq e2e tests
  tests/e2e/tests/handover.py
Due: e2e tests tox

phy: avoid abuse of span<>::operator[]
  lib/phy/upper/channel_coding/ldpc/ldpc_rate_matcher_impl.cpp
  lib/phy/upper/channel_modulation/modulation_mapper_impl.cpp
  lib/phy/upper/channel_processors/pusch/pusch_demodulator_impl.cpp
  lib/phy/upper/equalization/equalize_zf_1xn.h
  lib/srsvec/bit.cpp
Due: none

cu-cp: refactor command handler interface
  apps/gnb/gnb.cpp
  apps/services/console_helper.cpp
  apps/services/console_helper.h
  include/srsran/cu_cp/cu_cp.h
  include/srsran/cu_cp/cu_cp_mobility_handler.h
  lib/cu_cp/cu_cp_impl.h
  lib/cu_cp/mobility_manager/mobility_manager_impl.h
Due: none

cu-cp: rename cu-cp command handler file
  include/srsran/cu_cp/cu_cp.h
  include/srsran/cu_cp/cu_cp_command_handler.h
  lib/cu_cp/mobility_manager/mobility_manager_impl.h
Due: none

cu-cp: renamed du processor getter methods
  lib/cu_cp/du_processor/du_processor_impl.cpp
  lib/cu_cp/du_processor/du_processor_impl.h
  lib/cu_cp/du_processor/du_processor_impl_interface.h
  lib/cu_cp/du_processor/du_processor_repository.cpp
  tests/unittests/cu_cp/du_processor/du_processor_test.cpp
  tests/unittests/cu_cp/du_processor/du_processor_test_helpers.cpp
Due: none

cu-cp: refactor cu-cp f1c du handler interface
  include/srsran/cu_cp/cu_cp_f1c_handler.h
  lib/cu_cp/cu_cp_impl.cpp
  lib/cu_cp/du_processor/du_processor_impl_interface.h
  lib/cu_cp/du_processor/du_processor_repository.cpp
  lib/cu_cp/du_processor/du_processor_repository.h
  lib/cu_cp/mobility_manager/mobility_manager_impl.cpp
  lib/cu_cp/mobility_manager/mobility_manager_impl.h
  tests/unittests/cu_cp/cu_cp_test.cpp
  tests/unittests/cu_cp/cu_cp_test_helpers.cpp
  tests/unittests/cu_cp/mobility/inter_cu_handover_routine_test.cpp
  tests/unittests/cu_cp/mobility/inter_du_handover_routine_test.cpp
Due: none

phy: review PUSCH buffer pool log messages
  lib/phy/upper/rx_buffer_pool_impl.cpp
Due: none

phy: notify MAC discarded PDUs due to failure to reserve buffer
  lib/phy/upper/upper_phy_rx_symbol_handler_impl.cpp
Due: none

gnb: review PUSCH buffer pool dimensioning
  apps/gnb/gnb_appconfig_translators.cpp
Due: none

cu_cp: improve mobility config validator to detect duplicate report config ids
  apps/units/cu_cp/cu_cp_unit_config_validator.cpp
Due: none

gnb: fix default mobility configuration
  configs/mobility.yml
Due: none

cu_cp: remove indirections and unused routine
  include/srsran/cu_cp/cu_cp_types.h
  lib/cu_cp/CMakeLists.txt
  lib/cu_cp/cu_cp_impl.cpp
  lib/cu_cp/du_processor/du_processor_impl.cpp
  lib/cu_cp/du_processor/du_processor_impl.h
  lib/cu_cp/du_processor/du_processor_impl_interface.h
  lib/cu_cp/mobility_manager/mobility_manager_impl.cpp
  lib/cu_cp/mobility_manager/mobility_manager_impl.h
  lib/cu_cp/routine_managers/du_processor_routine_manager.cpp
  lib/cu_cp/routine_managers/du_processor_routine_manager.h
  lib/cu_cp/routines/mobility/inter_ngran_node_n2_handover_routine.cpp
  lib/cu_cp/routines/mobility/inter_ngran_node_n2_handover_routine.h
  tests/unittests/cu_cp/du_processor/CMakeLists.txt
  tests/unittests/cu_cp/du_processor/inter_ngran_node_n2_handover_routine_test.cpp
  tests/unittests/cu_cp/du_processor/inter_ngran_node_n2_handover_routine_test_helpers.h
Due: none

radio: fix power analyzer
  apps/examples/radio/rx_power_analyzer.cpp
Due: none

cu-cp: remove e1ap public method to change ue_index
  include/srsran/cu_cp/cu_cp_e1_handler.h
  lib/cu_cp/cu_cp_impl.cpp
  lib/cu_cp/cu_up_processor/cu_up_processor_repository.cpp
  lib/cu_cp/cu_up_processor/cu_up_processor_repository.h
  tests/unittests/cu_cp/cu_cp_test.cpp
  tests/unittests/cu_cp/cu_cp_test_helpers.cpp
  tests/unittests/cu_cp/mobility/inter_du_handover_routine_test.cpp
Due: none

cu-cp: rename du_processor class
  include/srsran/f1ap/common/f1ap_common.h
  lib/cu_cp/adapters/du_processor_adapters.h
  lib/cu_cp/adapters/e1ap_adapters.h
  lib/cu_cp/adapters/f1ap_adapters.h
  lib/cu_cp/adapters/ngap_adapters.h
  lib/cu_cp/adapters/rrc_ue_adapters.h
  lib/cu_cp/cu_cp_impl.h
  lib/cu_cp/cu_cp_impl_interface.h
  lib/cu_cp/du_processor/du_processor.h
  lib/cu_cp/du_processor/du_processor_factory.cpp
  lib/cu_cp/du_processor/du_processor_factory.h
  lib/cu_cp/du_processor/du_processor_impl.cpp
  lib/cu_cp/du_processor/du_processor_impl.h
  lib/cu_cp/du_processor/du_processor_repository.cpp
  lib/cu_cp/du_processor/du_processor_repository.h
  lib/cu_cp/routine_managers/du_processor_routine_manager.h
  lib/cu_cp/routines/mobility/handover_reconfiguration_routine.cpp
  lib/cu_cp/routines/mobility/inter_cu_handover_target_routine.h
  lib/cu_cp/routines/mobility/inter_du_handover_routine.h
  lib/cu_cp/routines/pdu_session_resource_modification_routine.h
  lib/cu_cp/routines/pdu_session_resource_release_routine.h
  lib/cu_cp/routines/pdu_session_resource_setup_routine.h
  lib/cu_cp/routines/reestablishment_context_modification_routine.h
  lib/cu_cp/routines/ue_context_release_routine.h
  lib/f1ap/cu_cp/f1ap_cu_impl.cpp
  lib/f1ap/cu_cp/f1ap_cu_impl.h
  tests/unittests/cu_cp/du_processor/du_processor_test.cpp
  tests/unittests/cu_cp/du_processor/du_processor_test_helpers.cpp
  tests/unittests/cu_cp/du_processor/du_processor_test_helpers.h
  tests/unittests/cu_cp/du_processor_test_messages.h
  tests/unittests/cu_cp/test_helpers.h
Due: none

ci: update tag
  .gitlab/ci/docker.yml
Due: trigger docker

ci,e2e: viavi request updated
  .gitlab/ci/e2e/retina_request_viavi.yml
Due: e2e request validation

ci: fix release job
  .gitlab/ci/release.yml
Due: none

ci,e2e: ho and reest improvements
  .gitlab/ci/e2e.yml
  .gitlab/ci/e2e/.env
  tests/e2e/tests/handover.py
  tests/e2e/tests/reestablishment.py
  tests/e2e/tests/steps/stub.py
Due: e2e tests tox, e2e request validation

cu_cp,du_processor: request sib1 for target cell from cu-cp
  include/srsran/cu_cp/cu_cp_types.h
  lib/cu_cp/adapters/du_processor_adapters.h
  lib/cu_cp/cu_cp_impl.cpp
  lib/cu_cp/cu_cp_impl.h
  lib/cu_cp/cu_cp_impl_interface.h
  lib/cu_cp/du_processor/du_processor.h
  lib/cu_cp/du_processor/du_processor_impl.cpp
  lib/cu_cp/du_processor/du_processor_impl.h
  lib/cu_cp/mobility_manager/mobility_manager_impl.cpp
  lib/cu_cp/routines/mobility/inter_du_handover_routine.cpp
  lib/cu_cp/routines/pdu_session_routine_helpers.cpp
  lib/cu_cp/routines/pdu_session_routine_helpers.h
  tests/unittests/cu_cp/test_helpers.h
Due: none

cu_cp,du_processor: small improvements
  lib/cu_cp/du_processor/du_processor_impl.cpp
  lib/cu_cp/du_processor/du_processor_impl.h
Due: none

cu_cp: provide SIB1 for target cell in Inter DU handover
  include/srsran/cu_cp/cu_cp_types.h
  lib/cu_cp/du_processor/du_processor.h
  lib/cu_cp/du_processor/du_processor_impl.cpp
  lib/cu_cp/du_processor/du_processor_impl.h
  lib/cu_cp/mobility_manager/mobility_manager_impl.cpp
  lib/cu_cp/routines/mobility/inter_cu_handover_target_routine.cpp
  lib/cu_cp/routines/mobility/inter_du_handover_routine.cpp
  lib/cu_cp/routines/pdu_session_resource_modification_routine.cpp
  lib/cu_cp/routines/pdu_session_resource_release_routine.cpp
  lib/cu_cp/routines/pdu_session_resource_setup_routine.cpp
  lib/cu_cp/routines/pdu_session_routine_helpers.cpp
  lib/cu_cp/routines/pdu_session_routine_helpers.h
  lib/cu_cp/routines/reestablishment_context_modification_routine.cpp
Due: none

PHY: remove srs symbol handlers and callbacks from interfaces as they are not needed
  apps/examples/phy/rx_symbol_handler_example.h
  include/srsran/phy/adapters/phy_rx_symbol_adapter.h
  include/srsran/phy/lower/lower_phy_rx_symbol_notifier.h
  include/srsran/phy/upper/upper_phy_rx_symbol_handler.h
  include/srsran/ru/ru_adapters.h
  include/srsran/ru/ru_uplink_plane.h
  lib/phy/upper/upper_phy_rx_symbol_handler_impl.cpp
  lib/phy/upper/upper_phy_rx_symbol_handler_impl.h
  lib/phy/upper/upper_phy_rx_symbol_handler_printer_decorator.h
  lib/ru/generic/rx_symbol_adapter.h
  tests/integrationtests/ofh/ofh_integration_test.cpp
  tests/unittests/phy/lower/lower_phy_test_doubles.h
Due: none

PHY: process PUxCH PDUs eagerly in the uplink processor instead of waiting for all symbols in a slot to arrive
  include/srsran/phy/upper/uplink_slot_pdu_repository.h
  lib/phy/upper/upper_phy_impl.cpp
  lib/phy/upper/upper_phy_rx_symbol_handler_impl.cpp
  lib/phy/upper/upper_phy_rx_symbol_handler_impl.h
  tests/unittests/phy/upper/upper_phy_rx_symbol_handler_test.cpp
Due: none

ru_dummy: adjust UL symbol notification
  include/srsran/phy/upper/uplink_slot_pdu_repository.h
  lib/ru/dummy/ru_dummy_sector.h
Due: none

ci: update retina
  .gitlab/ci/e2e/.env
Due: e2e request validation

ci,e2e: enable noisy reest tests and disable noisy ho tests
  .gitlab/ci/e2e/.env
  tests/e2e/tests/handover.py
  tests/e2e/tests/reestablishment.py
  tests/e2e/tests/steps/configuration.py
Due: e2e tests tox, e2e request validation

docker: increase minimal py version of metrics-server
  .gitlab/ci/docker.yml
  .gitlab/ci/e2e/.env
  docker/metrics_server/pyproject.toml
Due: trigger docker, e2e request validation

gnb: fix warning messages
  apps/gnb/gnb_appconfig_validators.cpp
Due: none

hal: fixes benchmark for accelerated pusch decoder
  tests/benchmarks/phy/upper/channel_processors/pusch/pusch_decoder_hwacc_benchmark.cpp
Due: none

support: fix comments in the io_broker_epoll
  lib/support/network/io_broker_epoll.cpp
Due: none

support: io broker with no mutex
  include/srsran/support/io/io_broker.h
  lib/support/network/io_broker_epoll.cpp
  lib/support/network/io_broker_epoll.h
  tests/unittests/support/network/io_broker_epoll_test.cpp
Due: none

support: fix memory issue during fd self-unregister from io_broker
  tests/unittests/support/network/io_broker_epoll_test.cpp
Due: none

sched: fix ssb_positions_in_burst for rrc-reconf
  include/srsran/ran/band_helper.h
  lib/du_manager/converters/asn1_rrc_config_helpers.cpp
  lib/ran/band_helper.cpp
  tests/unittests/ran/band_helper_test.cpp
Due: none

ran: replace assert with report_fatal_error
  lib/ran/band_helper.cpp
Due: none

sched: refactor selection of PDCCH aggregation level
  lib/scheduler/policy/scheduler_time_rr.cpp
  lib/scheduler/support/pdcch_aggregation_level_calculator.cpp
  lib/scheduler/support/pdcch_aggregation_level_calculator.h
  lib/scheduler/ue_scheduling/ue_cell.cpp
  lib/scheduler/ue_scheduling/ue_cell.h
  lib/scheduler/ue_scheduling/ue_link_adaptation_controller.h
  lib/scheduler/ue_scheduling/ue_pdsch_param_candidate_searcher.h
  tests/unittests/scheduler/support/pdcch_aggregation_level_calculator_test.cpp
Due: none
