Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, metrics tox, grafana version changed, metrics version changed, metrics version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, metrics-server docker compose, metrics server image, metrics server image latest, grafana server image, grafana server image latest, e2e request and config validation

trigger builder:
  stage: ci
  trigger:
    include: .gitlab/ci/builders.yml
    strategy: depend

trigger docker:
  stage: ci
  trigger:
    include: .gitlab/ci/docker.yml
    strategy: depend
  variables:
    PY_DIR: docker/metrics_server

e2e tests tox:
  stage: static
  variables:
    PY_DIR: tests/e2e
  before_script:
  - apk add build-base

smoke avx512 cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm neon cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke avx512 clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm neon clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

metrics tox:
  stage: static
  variables:
    GIT_LFS_SKIP_SMUDGE: 1

grafana version changed:
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
  stage: static
  script:
  - NEW_VERSION=$(cat docker/grafana/version.yml | grep SRS_GRAFANA_VERSION | cut -d'"' -f2)
  - export NEW_VERSION
  - "git checkout $CI_MERGE_REQUEST_DIFF_BASE_SHA\nif [ ! -e \"docker/grafana/version.yml\" ]; then\n    exit 0\nfi\n"
  ...

metrics version changed:
  stage: static
  variables:
    GIT_LFS_SKIP_SMUDGE: 1

metrics version check in retina:
  stage: static
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
  script:
  - 'VERSION_IN_PYPROJECT=$(cat docker/metrics_server/pyproject.toml | grep ''^version'' | cut -d''"'' -f2)
  
    VERSION_IN_RETINA=$(cat .gitlab/ci/e2e/.env | grep METRICS_SERVER_VERSION | cut -d''='' -f2)
  
  ...

gnb docker compose:
  stage: compose
  image: docker:24.0.7-dind
  tags:
  - amd64-avx2
  timeout: 2h
  retry: 2
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
    KUBERNETES_CPU_REQUEST: ${SRS_CPU_LIMIT}
    KUBERNETES_CPU_LIMIT: ${SRS_CPU_LIMIT}
    KUBERNETES_MEMORY_REQUEST: ${SRS_MEMORY_LIMIT}
    KUBERNETES_MEMORY_LIMIT: ${SRS_MEMORY_LIMIT}
  ...

metrics server image:
  stage: publish
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
    REGISTRY_URI: $GITLAB_REGISTRY_URI
    NAME: metrics_server
    CONTEXT: ${CI_PROJECT_DIR}/docker/metrics_server
    MODE: publish
  before_script:
  - 'export VERSION=$(cat ${CONTEXT}/pyproject.toml | grep ''^version'' | cut -d''"'' -f2)
  
    '

phy, pucch: change ch. estimator for pucch f3
  lib/phy/upper/signal_processors/signal_processor_factories.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ci: update plugin reference
  .gitlab/ci/plugin_version.txt
Due: none

e2e: add slicing test
  .gitlab/ci/e2e.yml
  .gitlab/ci/e2e/.env
  tests/e2e/tests/slicing.py
  tests/e2e/tests/steps/configuration.py
Due: e2e tests tox, e2e request and config validation

ci,e2e: change core node in rf testbed
  .gitlab/ci/e2e/rf_b200.yml
Due: e2e request and config validation

phy: move RX buffer pool spy to a different header
  tests/unittests/phy/upper/rx_buffer_pool_test_doubles.h
  tests/unittests/phy/upper/uplink_processor_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

radio: review frequency Hz suffix
  apps/examples/phy/radio_ssb.cpp
  apps/examples/radio/radio_util_sample.cpp
  apps/examples/radio/rx_power_analyzer.cpp
  apps/units/flexible_o_du/split_8/helpers/ru_sdr_config_translator.cpp
  include/srsran/radio/radio_configuration.h
  lib/phy/upper/channel_processors/prach_detector_generic_impl.cpp
  lib/radio/uhd/radio_config_uhd_validator.cpp
  lib/radio/uhd/radio_uhd_device.h
  lib/radio/uhd/radio_uhd_impl.cpp
  lib/radio/zmq/radio_config_zmq_validator.cpp
  tests/unittests/radio/zmq/radio_zmq_loopback_test.cpp
  tests/unittests/radio/zmq/radio_zmq_validator_test.cpp
  utils/trx_srsran/trx_srsran.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

du,f1ap: improve unit tests
  tests/test_doubles/f1ap/f1ap_test_message_validators.h
  tests/test_doubles/f1ap/f1ap_test_messages.h
  tests/unittests/f1ap/du/f1ap_du_test_helpers.h
Due: none

du,f1ap: improve unit tests
  tests/test_doubles/f1ap/f1ap_test_message_validators.h
  tests/test_doubles/f1ap/f1ap_test_messages.h
Due: none

f1ap,asn1: fix trp id minimum value
  include/srsran/asn1/f1ap/f1ap_ies.h
  lib/asn1/f1ap/f1ap_ies.cpp
Due: none

f1ap: improve test message
  tests/test_doubles/f1ap/f1ap_test_messages.h
Due: none

du: use trp id type to avoid invalid trp id
  include/srsran/f1ap/du/f1ap_du_positioning_handler.h
  tests/unittests/f1ap/du/f1ap_du_test_helpers.h
Due: none

apps,du: improve iq scaling configuration
  apps/units/flexible_o_du/split_7_2/helpers/ru_ofh_config.h
  apps/units/flexible_o_du/split_7_2/helpers/ru_ofh_config_cli11_schema.cpp
  apps/units/flexible_o_du/split_7_2/helpers/ru_ofh_config_translator.cpp
  apps/units/flexible_o_du/split_7_2/helpers/ru_ofh_config_validator.cpp
  apps/units/flexible_o_du/split_7_2/helpers/ru_ofh_config_yaml_writer.cpp
  lib/ofh/transmitter/ofh_transmitter_factories.cpp
Due: none

sched: take PRB limits into account when PDSCH interleaving is enabled
  lib/scheduler/ue_scheduling/grant_params_selector.cpp
  lib/scheduler/ue_scheduling/grant_params_selector.h
  lib/scheduler/ue_scheduling/intra_slice_scheduler.cpp
  tests/unittests/scheduler/ue_scheduling/ue_grid_allocator_test.cpp
Due: none

sched: review PRB limits when PDSCH interleaving
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_validator.cpp
  lib/scheduler/ue_scheduling/grant_params_selector.cpp
Due: none

e2e: remove Amari interleaving tests
  tests/e2e/tests/attach_detach.py
  tests/e2e/tests/iperf.py
Due: e2e tests tox

apps: initial DU low executor mapper
  apps/services/worker_manager/CMakeLists.txt
  apps/services/worker_manager/worker_manager.cpp
  apps/services/worker_manager/worker_manager.h
  apps/units/flexible_o_du/o_du_low/o_du_low_unit_factory.cpp
  apps/units/flexible_o_du/o_du_low/o_du_low_unit_factory_config.h
  apps/units/flexible_o_du/split_helpers/flexible_o_du_factory.cpp
  include/srsran/du/du_low/du_low_executor_mapper.h
  include/srsran/support/executors/concurrent_metrics_executor.h
  lib/du/du_low/CMakeLists.txt
  lib/du/du_low/du_low_executor_mapper.cpp
Due: none

fr2: propagate frequency range in multiple places
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_translators.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_validator.cpp
  apps/units/flexible_o_du/o_du_high/o_du_high_unit_factory.cpp
  apps/units/flexible_o_du/split_7_2/split_7_2_o_du_unit_config_validator.cpp
  apps/units/flexible_o_du/split_8/helpers/ru_sdr_config_translator.cpp
  apps/units/flexible_o_du/split_8/split_8_o_du_unit_config_validator.cpp
  apps/units/flexible_o_du/split_dynamic/dynamic_o_du_translators.cpp
  apps/units/flexible_o_du/split_dynamic/dynamic_o_du_unit_config_validator.cpp
  include/srsran/ran/prach/prach_helper.h
  lib/du/du_cell_config_validation.cpp
  lib/du/du_high/du_manager/converters/asn1_sys_info_packer.cpp
  lib/du/du_high/o_du_high_factory.cpp
  lib/f1ap/du/f1ap_asn1_converters.cpp
  lib/ofh/receiver/ofh_receiver_factories.cpp
  lib/ofh/transmitter/ofh_transmitter_factories.cpp
  lib/ran/band_helper.cpp
  lib/ran/prach/prach_helper.cpp
  lib/ran/prach/prach_preamble_information.cpp
  lib/scheduler/common_scheduling/prach_scheduler.cpp
  lib/scheduler/config/cell_configuration.cpp
  lib/scheduler/config/scheduler_cell_config_validator.cpp
Due: none

ci: update test ru multiple cells test
  .gitlab/ci/e2e/.env
  tests/e2e/tests/test_mode.py
  tests/e2e/tests/test_mode/config_ru_10cell_50ue.yml
Due: e2e tests tox, e2e request and config validation

support: add max batch variable to task fork limiter to yield back control
  include/srsran/support/executors/task_fork_limiter.h
Due: none

test: fix data race in test
  tests/unittests/support/executors/fork_limit_executor_test.cpp
Due: none

support: implementation of a task fork limiter executor
  include/srsran/support/executors/task_fork_limiter.h
  tests/unittests/support/executors/CMakeLists.txt
  tests/unittests/support/executors/fork_limit_executor_test.cpp
Due: none

cu-cp: add metrics reporting to CU-CP executor
  apps/services/worker_manager/worker_manager.cpp
  apps/services/worker_manager/worker_manager_config.h
  apps/units/o_cu_cp/cu_cp/cu_cp_config_translators.cpp
  apps/units/o_cu_cp/cu_cp/cu_cp_unit_config.h
  include/srsran/cu_cp/cu_cp_executor_mapper.h
  lib/cu_cp/cu_cp_executor_mapper.cpp
Due: none

app: implementation of cu-cp executor mapper
  apps/cu/cu.cpp
  apps/gnb/gnb.cpp
  apps/services/worker_manager/CMakeLists.txt
  apps/services/worker_manager/worker_manager.cpp
  apps/services/worker_manager/worker_manager.h
  apps/units/o_cu_cp/o_cu_cp_builder.cpp
  apps/units/o_cu_cp/o_cu_cp_builder.h
  apps/units/o_cu_up/o_cu_up_builder.cpp
  apps/units/o_cu_up/o_cu_up_builder.h
  include/srsran/cu_cp/cu_cp_executor_mapper.h
  lib/cu_cp/CMakeLists.txt
  lib/cu_cp/cu_cp_executor_mapper.cpp
Due: none

app: add cu-cp executor configuration to worker manager config
  apps/services/worker_manager/worker_manager.cpp
  apps/services/worker_manager/worker_manager.h
  apps/services/worker_manager/worker_manager_config.h
  apps/units/o_cu_cp/cu_cp/cu_cp_config_translators.cpp
Due: none

f1ap: add test messages and validators
  tests/test_doubles/f1ap/f1ap_test_message_validators.cpp
  tests/test_doubles/f1ap/f1ap_test_message_validators.h
  tests/test_doubles/f1ap/f1ap_test_messages.cpp
  tests/test_doubles/f1ap/f1ap_test_messages.h
Due: none

support: set default strand batch size
  include/srsran/support/executors/strand_executor.h
Due: none

support: fix error message of strand when it fails to dispatch task to executor
  include/srsran/support/executors/strand_executor.h
Due: none

udp_gw: fix sockaddr to string conversion even when debug logs are not enabled
  lib/gateways/udp_network_gateway_impl.cpp
Due: none

phy: move PRACH strand to DU low executor mapper
  apps/services/worker_manager/worker_manager.cpp
  include/srsran/du/du_low/du_low_executor_mapper.h
  lib/du/du_low/du_low_executor_mapper.cpp
Due: none

app: separate pcap executor mappers for different units
  apps/cu/cu.cpp
  apps/gnb/gnb.cpp
  apps/services/worker_manager/pcap_executor_mapper.h
  apps/services/worker_manager/worker_manager.cpp
  apps/services/worker_manager/worker_manager.h
  apps/units/flexible_o_du/o_du_high/o_du_high_unit_pcap_factory.h
  apps/units/o_cu_cp/pcap_factory.h
  apps/units/o_cu_up/pcap_factory.h
Due: none

app: move pcap executor instantiation to respective executor mapper
  apps/cu/cu.cpp
  apps/gnb/gnb.cpp
  apps/services/worker_manager/pcap_executor_mapper.h
  apps/services/worker_manager/worker_manager.cpp
  apps/services/worker_manager/worker_manager.h
  apps/services/worker_manager/worker_manager_worker_getter.h
  apps/units/flexible_o_du/o_du_high/o_du_high_unit_pcap_factory.h
  apps/units/o_cu_cp/pcap_factory.h
  apps/units/o_cu_up/pcap_factory.h
Due: none

e2,kpm: fix RACH.PreambleDedCell metric reporting
  lib/e2/e2sm/e2sm_kpm/e2sm_kpm_du_meas_provider_impl.cpp
Due: none

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  metrics tox: any of: docker/metrics_server/**/*
  grafana version changed: any of: docker/grafana/**/*
  metrics version changed: any of: docker/metrics_server/**/*
  metrics version check in retina: any of: docker/metrics_server/**/*
  gnb docker compose: (any of: docker/scripts/**/*, docker/Dockerfile) or (any of: docker/docker-compose.yml)
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  metrics-server docker compose: any of: docker/.env, docker/metrics_server/**/*, docker/docker-compose.yml
  metrics server image: any of: docker/metrics_server/**/*
  metrics server image latest: any of: docker/metrics_server/**/*
  grafana server image: any of: docker/grafana/**/*
  grafana server image latest: any of: docker/grafana/**/*
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*
