Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, metrics tox, grafana version changed, metrics version changed, metrics version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, metrics-server docker compose, metrics server image, metrics server image latest, grafana server image, grafana server image latest, e2e request and config validation

trigger builder:
  stage: ci
  trigger:
    include: .gitlab/ci/builders.yml
    strategy: depend

trigger docker:
  stage: ci
  trigger:
    include: .gitlab/ci/docker.yml
    strategy: depend
  variables:
    PY_DIR: docker/metrics_server

e2e tests tox:
  stage: static
  variables:
    PY_DIR: tests/e2e
  before_script:
  - apk add build-base

smoke avx512 cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm neon cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke avx512 clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm neon clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

metrics tox:
  stage: static
  variables:
    GIT_LFS_SKIP_SMUDGE: 1

grafana version changed:
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
  stage: static
  script:
  - NEW_VERSION=$(cat docker/grafana/version.yml | grep SRS_GRAFANA_VERSION | cut -d'"' -f2)
  - export NEW_VERSION
  - "git checkout $CI_MERGE_REQUEST_DIFF_BASE_SHA\nif [ ! -e \"docker/grafana/version.yml\" ]; then\n    exit 0\nfi\n"
  ...

metrics version changed:
  stage: static
  variables:
    GIT_LFS_SKIP_SMUDGE: 1

metrics version check in retina:
  stage: static
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
  script:
  - 'VERSION_IN_PYPROJECT=$(cat docker/metrics_server/pyproject.toml | grep ''^version'' | cut -d''"'' -f2)
  
    VERSION_IN_RETINA=$(cat .gitlab/ci/e2e/.env | grep METRICS_SERVER_VERSION | cut -d''='' -f2)
  
  ...

gnb docker compose:
  stage: compose
  image: docker:24.0.7-dind
  tags:
  - amd64-avx2
  timeout: 2h
  retry: 2
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
    KUBERNETES_CPU_REQUEST: ${SRS_CPU_LIMIT}
    KUBERNETES_CPU_LIMIT: ${SRS_CPU_LIMIT}
    KUBERNETES_MEMORY_REQUEST: ${SRS_MEMORY_LIMIT}
    KUBERNETES_MEMORY_LIMIT: ${SRS_MEMORY_LIMIT}
  ...

metrics server image:
  stage: publish
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
    REGISTRY_URI: $GITLAB_REGISTRY_URI
    NAME: metrics_server
    CONTEXT: ${CI_PROJECT_DIR}/docker/metrics_server
    MODE: publish
  before_script:
  - 'export VERSION=$(cat ${CONTEXT}/pyproject.toml | grep ''^version'' | cut -d''"'' -f2)
  
    '

udp_gw: fix inicialization of batched queue
  apps/helpers/network/udp_appconfig.h
  apps/helpers/network/udp_cli11_schema.cpp
  apps/units/o_cu_up/o_cu_up_builder.cpp
  include/srsran/gateways/udp_network_gateway.h
  lib/gateways/udp_network_gateway_impl.cpp
  lib/gtpu/gtpu_tunnel_ngu_tx_impl.h
  lib/gtpu/gtpu_tunnel_nru_tx_impl.h
Due: none

udp_gw: add configuration options to tx_mmsgs and max segments
  apps/helpers/network/udp_appconfig.h
  apps/helpers/network/udp_cli11_schema.cpp
  apps/units/o_cu_up/o_cu_up_builder.cpp
  include/srsran/gateways/udp_network_gateway.h
  lib/gateways/udp_network_gateway_impl.cpp
  lib/gateways/udp_network_gateway_impl.h
Due: none

udp_gw: starting to use sendmmsg
  lib/gateways/udp_network_gateway_impl.cpp
  lib/gateways/udp_network_gateway_impl.h
  tests/benchmarks/gateways/udp_network_gateway_benchmark.cpp
  tests/benchmarks/gateways/udp_network_gateway_tx_benchmark.cpp
  tests/unittests/f1u/common/f1u_cu_split_connector_test.cpp
  tests/unittests/f1u/common/f1u_du_split_connector_test.cpp
  tests/unittests/gateways/udp_network_gateway_test.cpp
Due: none

fapi: moved FAPI buffered decorator to the DU split 6
  apps/units/flexible_o_du/o_du_high/fapi/fapi_config_cli11_schema.cpp
  apps/units/flexible_o_du/split_6/o_du_high/split6_o_du_unit_cli11_schema.cpp
Due: none

fapi,mac: cleanup assertions triggered on optionals
  lib/fapi_adaptor/mac/fapi_to_mac_data_msg_translator.cpp
Due: none

du,ru,radio: full integration of transmit time offset in runtime
  apps/units/flexible_o_du/flexible_o_du_commands.h
  apps/units/flexible_o_du/split_helpers/flexible_o_du_factory.cpp
  include/srsran/phy/lower/lower_phy.h
  include/srsran/phy/lower/processors/downlink/downlink_processor.h
  include/srsran/phy/lower/processors/lower_phy_tx_time_offset_controller.h
  include/srsran/ran/phy_time_unit.h
  include/srsran/ru/ru_controller.h
  lib/phy/lower/lower_phy_impl.cpp
  lib/phy/lower/lower_phy_impl.h
  lib/phy/lower/processors/downlink/downlink_processor_baseband_impl.cpp
  lib/phy/lower/processors/downlink/downlink_processor_baseband_impl.h
  lib/phy/lower/processors/downlink/downlink_processor_impl.cpp
  lib/phy/lower/processors/downlink/downlink_processor_impl.h
  lib/ru/dummy/ru_dummy_impl.h
  lib/ru/generic/lower_phy/lower_phy_sector.cpp
  lib/ru/generic/lower_phy/lower_phy_sector.h
  lib/ru/generic/ru_controller_generic_impl.cpp
  lib/ru/generic/ru_controller_generic_impl.h
  lib/ru/ofh/ru_ofh_controller_impl.h
  tests/unittests/phy/lower/processors/downlink/downlink_processor_test_doubles.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

apps: rm lib_level from all level
  apps/helpers/logger/logger_appconfig_cli11_schema.cpp
Due: none

app_unit: added metrics to the split 6 O-DU low application unit
  apps/du_low/du_low.cpp
  apps/units/flexible_o_du/split_6/o_du_low/CMakeLists.txt
  apps/units/flexible_o_du/split_6/o_du_low/cell_operation_request_impl.h
  apps/units/flexible_o_du/split_6/o_du_low/metrics/CMakeLists.txt
  apps/units/flexible_o_du/split_6/o_du_low/metrics/split6_flexible_o_du_low_app_service_metrics.h
  apps/units/flexible_o_du/split_6/o_du_low/metrics/split6_flexible_o_du_low_metrics.h
  apps/units/flexible_o_du/split_6/o_du_low/metrics/split6_flexible_o_du_low_metrics_builder.cpp
  apps/units/flexible_o_du/split_6/o_du_low/metrics/split6_flexible_o_du_low_metrics_builder.h
  apps/units/flexible_o_du/split_6/o_du_low/metrics/split6_flexible_o_du_low_metrics_consumers.cpp
  apps/units/flexible_o_du/split_6/o_du_low/metrics/split6_flexible_o_du_low_metrics_consumers.h
  apps/units/flexible_o_du/split_6/o_du_low/metrics/split6_flexible_o_du_low_metrics_notifier.h
  apps/units/flexible_o_du/split_6/o_du_low/metrics/split6_flexible_o_du_low_metrics_producer.cpp
  apps/units/flexible_o_du/split_6/o_du_low/metrics/split6_flexible_o_du_low_metrics_producer.h
  apps/units/flexible_o_du/split_6/o_du_low/split6_flexible_o_du_low_factory.cpp
  apps/units/flexible_o_du/split_6/o_du_low/split6_flexible_o_du_low_factory.h
  apps/units/flexible_o_du/split_6/o_du_low/split6_flexible_o_du_low_impl.cpp
  apps/units/flexible_o_du/split_6/o_du_low/split6_flexible_o_du_low_impl.h
  apps/units/flexible_o_du/split_6/o_du_low/split6_o_du_low_application_unit_impl.cpp
  apps/units/flexible_o_du/split_6/o_du_low/split6_o_du_low_application_unit_impl.h
  apps/units/flexible_o_du/split_6/o_du_low/split6_o_du_low_metrics_collector.h
  apps/units/flexible_o_du/split_6/o_du_low/split6_o_du_low_metrics_collector_impl.cpp
  apps/units/flexible_o_du/split_6/o_du_low/split6_o_du_low_metrics_collector_impl.h
  apps/units/flexible_o_du/split_6/o_du_low/split6_o_du_low_unit_cli11_schema.cpp
  apps/units/flexible_o_du/split_6/o_du_low/split6_o_du_low_unit_config.h
  apps/units/flexible_o_du/split_helpers/metrics/CMakeLists.txt
  apps/units/flexible_o_du/split_helpers/metrics/consumers/CMakeLists.txt
Due: none

ci: use updated rules for debian packaging
  .gitlab/ci/build.yml
Due: none

ci,e2e: make the "test mode ru with sanitizers" manual
  .gitlab/ci/e2e.yml
Due: none

e2e: fix parsing of gnb_extra_config of VIAVI tests
  tests/e2e/tests/viavi.py
Due: e2e tests tox

phy: remove dependency of concurent thread local
  include/srsran/phy/upper/channel_processors/pucch/pucch_processor.h
  include/srsran/support/memory_pool/bounded_object_pool.h
  include/srsran/support/memory_pool/concurrent_thread_local_object_pool.h
  lib/phy/support/resource_grid_mapper_impl.h
  lib/phy/upper/channel_processors/channel_processor_factories.cpp
  lib/phy/upper/channel_processors/pdcch/factories.cpp
  lib/phy/upper/channel_processors/pdcch/pdcch_processor_pool.h
  lib/phy/upper/channel_processors/pdsch/factories.cpp
  lib/phy/upper/channel_processors/pdsch/pdsch_processor_flexible_impl.cpp
  lib/phy/upper/channel_processors/pdsch/pdsch_processor_flexible_impl.h
  lib/phy/upper/channel_processors/pdsch/pdsch_processor_pool.h
  lib/phy/upper/channel_processors/prach_detector_pool.h
  lib/phy/upper/channel_processors/pucch/factories.cpp
  lib/phy/upper/channel_processors/pucch/logging_pucch_processor_decorator.h
  lib/phy/upper/channel_processors/pucch/pucch_processor_impl.cpp
  lib/phy/upper/channel_processors/pucch/pucch_processor_impl.h
  lib/phy/upper/channel_processors/pucch/pucch_processor_pool.h
  lib/phy/upper/channel_processors/pusch/factories.cpp
  lib/phy/upper/channel_processors/pusch/pusch_decoder_hw_impl.cpp
  lib/phy/upper/channel_processors/pusch/pusch_decoder_hw_impl.h
  lib/phy/upper/channel_processors/pusch/pusch_processor_impl.cpp
  lib/phy/upper/channel_processors/pusch/pusch_processor_impl.h
  lib/phy/upper/channel_processors/pusch/pusch_processor_pool.h
  lib/phy/upper/channel_processors/ssb/factories.cpp
  lib/phy/upper/channel_processors/ssb/ssb_processor_pool.h
  lib/phy/upper/downlink_processor_single_executor_state.h
  lib/phy/upper/signal_processors/nzp_csi_rs_generator_pool.h
  lib/phy/upper/signal_processors/prs/prs_generator_pool.h
  lib/phy/upper/signal_processors/prs/prs_generator_pool_factory.h
  lib/phy/upper/signal_processors/signal_processor_factories.cpp
  lib/phy/upper/signal_processors/srs/srs_estimator_factory.cpp
  lib/phy/upper/signal_processors/srs/srs_estimator_pool.h
  tests/integrationtests/phy/upper/channel_processors/pxsch_bler_test.cpp
  tests/integrationtests/phy/upper/channel_processors/pxsch_bler_test_channel_emulator.cpp
  tests/integrationtests/phy/upper/channel_processors/pxsch_bler_test_channel_emulator.h
  tests/unittests/phy/upper/channel_processors/pucch/pucch_processor_test_doubles.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

mac: pass result in positioning coro
  include/srsran/f1ap/du/f1ap_du_positioning_handler.h
  include/srsran/mac/mac_cell_control_information_handler.h
  include/srsran/mac/mac_cell_manager.h
  lib/mac/mac_dl/mac_cell_processor.cpp
  lib/scheduler/logging/scheduler_result_logger.cpp
  lib/scheduler/srs/srs_scheduler_impl.cpp
  tests/integrationtests/du_high/du_high_many_cells_test.cpp
  tests/integrationtests/du_high/test_utils/du_high_env_simulator.cpp
  tests/integrationtests/du_high/test_utils/du_high_env_simulator.h
  tests/test_doubles/f1ap/f1ap_test_messages.cpp
  tests/test_doubles/f1ap/f1ap_test_messages.h
  tests/test_doubles/mac/mac_test_messages.cpp
  tests/test_doubles/mac/mac_test_messages.h
Due: none

ci: update plugin reference
  .gitlab/ci/plugin_version.txt
Due: none

ran: add == operator to common type srs configuration struct
  include/srsran/ran/positioning/common.h
  include/srsran/ran/scs_specific_carrier.h
Due: none

du,mac: missing pieces for pos multicell unittest
  tests/test_doubles/f1ap/f1ap_test_messages.cpp
  tests/test_doubles/f1ap/f1ap_test_messages.h
Due: none

docker: upgrade to influxdb3 and telegraf
  .github/workflows/docker.yml
  .gitlab/ci/docker.yml
  .gitlab/ci/e2e/.env
  .gitlab/ci/e2e/viavi.yml
  docker/.env
  docker/README.md
  docker/docker-compose.yml
  docker/grafana/Dockerfile
  docker/grafana/dashboards/home.json
  docker/grafana/dashboards/ofh.json
  docker/grafana/dashboards/performance.json
  docker/grafana/provisioning/datasources/InfluxDB.yml
  docker/metrics_server/Dockerfile
  docker/metrics_server/README.md
  docker/metrics_server/pyproject.toml
  docker/metrics_server/src/metrics_server/__init__.py
  docker/metrics_server/src/metrics_server/__main__.py
  docker/telegraf/Dockerfile
  docker/telegraf/dump_metrics.conf
  docker/telegraf/entrypoint.sh
  docker/telegraf/load_metrics.conf
  docker/telegraf/telegraf.conf
  docker/telegraf/version.yml
Due: trigger docker, metrics tox, grafana version changed, metrics version changed, metrics version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, metrics-server docker compose, metrics server image, metrics server image latest, grafana server image, grafana server image latest, e2e request and config validation

docker: increase default maxseries in grafana
  docker/grafana/provisioning/datasources/InfluxDB.yml
Due: trigger docker, grafana version changed, grafana docker compose, grafana server image, grafana server image latest

docker: optimize grafana home dashboard
  docker/.env
  docker/grafana/dashboards/home.json
  docker/grafana/version.yml
Due: trigger docker, grafana version changed, grafana docker compose, influxdb docker compose, metrics-server docker compose, grafana server image, grafana server image latest

ci,e2e: add metrics dashboard link
  .gitlab/ci-shared/e2e.yml
Due: none

ci,e2e: fix metrics-server configuration
  tests/e2e/tests/steps/configuration.py
  tests/e2e/tests/viavi.py
Due: e2e tests tox

docker: log health check return
  .gitlab/ci/e2e/.env
  docker/telegraf/entrypoint.sh
  docker/telegraf/version.yml
Due: trigger docker, e2e request and config validation

support: fix bounded object pool
  include/srsran/support/memory_pool/bounded_object_pool.h
Due: none

support: do not skip timer ticks with io_timer_source
  lib/support/network/io_timer_source.cpp
Due: none

support: make io_timer_source stop blocking to avoid use after free
  include/srsran/support/io/io_timer_source.h
  lib/support/network/io_timer_source.cpp
Due: none

support: add a timeout to io_timer_source dtor
  lib/support/network/io_timer_source.cpp
Due: none

du-high: readd metrics to du-high benchmark
  tests/benchmarks/du_high/du_high_benchmark.cpp
Due: none

fapi: add support for power profile SSS in PDSCH PDU
  include/srsran/fapi/message_builders.h
  include/srsran/fapi/messages/config_request_tlvs.h
  include/srsran/fapi/messages/dl_tti_request.h
  lib/fapi/validators/dl_pdsch_pdu.cpp
  lib/fapi_adaptor/mac/messages/pdsch.cpp
  lib/fapi_adaptor/phy/messages/pdsch.cpp
  tests/unittests/fapi/builders/dl_pdsch_pdu_test.cpp
  tests/unittests/fapi/message_builder_helpers.cpp
  tests/unittests/fapi/validators/dl_pdsch_pdu_test.cpp
  tests/unittests/fapi_adaptor/phy/messages/dl_pdsch_pdu_test.cpp
Due: none

unit: fix constructor for DU low split 6
  apps/units/flexible_o_du/split_6/o_du_low/split6_flexible_o_du_low_factory.cpp
  apps/units/flexible_o_du/split_6/o_du_low/split6_flexible_o_du_low_factory.h
Due: none

support: implementation of a worker pool benchmark
  tests/benchmarks/CMakeLists.txt
  tests/benchmarks/support/CMakeLists.txt
  tests/benchmarks/support/worker_pool_benchmark.cpp
Due: none

du-high: use busy wait in the worker pool benchmark
  include/srsran/support/benchmark_utils.h
  tests/benchmarks/support/worker_pool_benchmark.cpp
Due: none

support: add number of threads as parameter to worker_pool_benchmark
  tests/benchmarks/support/worker_pool_benchmark.cpp
Due: none

test: ensure benchmark does not fail due to push concurrency
  tests/benchmarks/support/worker_pool_benchmark.cpp
Due: none

sched: use flat_map for rnti_to_ue_lookup
  include/srsran/adt/flat_map.h
  lib/scheduler/ue_scheduling/ue_repository.cpp
  lib/scheduler/ue_scheduling/ue_repository.h
  tests/unittests/scheduler/policy/scheduler_policy_test.cpp
  tests/unittests/scheduler/ue_scheduling/ue_grid_allocator_test.cpp
Due: none

sched: clear cell removal when UEs are still present
  lib/scheduler/cell_scheduler.cpp
  lib/scheduler/cell_scheduler.h
  lib/scheduler/scheduler_impl.cpp
  lib/scheduler/ue_scheduling/ue_repository.cpp
  lib/scheduler/ue_scheduling/ue_repository.h
  lib/scheduler/ue_scheduling/ue_scheduler.h
  lib/scheduler/ue_scheduling/ue_scheduler_impl.cpp
  lib/scheduler/ue_scheduling/ue_scheduler_impl.h
Due: none

sched: make fallback scheduler less spammy when it detects skipped slots
  lib/scheduler/ue_scheduling/ue_fallback_scheduler.cpp
Due: none

sched: move error indication handling to ue_cell_scheduler
  lib/scheduler/cell_scheduler.cpp
  lib/scheduler/cell_scheduler.h
  lib/scheduler/scheduler_impl.cpp
  lib/scheduler/ue_scheduling/ue_scheduler.h
  lib/scheduler/ue_scheduling/ue_scheduler_impl.cpp
  lib/scheduler/ue_scheduling/ue_scheduler_impl.h
Due: none

FAPI: Simplify handling of timing bits encoding for SSB payload
  include/srsran/fapi_adaptor/mac/messages/ssb.h
  include/srsran/ran/ssb/pbch_mib_pack.h
  lib/fapi_adaptor/mac/mac_to_fapi_translator.cpp
  lib/fapi_adaptor/mac/messages/ssb.cpp
  lib/fapi_adaptor/phy/messages/ssb.cpp
  lib/ran/ssb/pbch_mib_pack.cpp
  tests/unittests/fapi/message_builder_helpers.cpp
  tests/unittests/fapi_adaptor/CMakeLists.txt
  tests/unittests/fapi_adaptor/adaptor_performance_dl_tti_request.cpp
  tests/unittests/fapi_adaptor/mac/messages/dl_ssb_pdu_test.cpp
  tests/unittests/fapi_adaptor/phy/fapi_to_phy_translator_test.cpp
  tests/unittests/fapi_adaptor/phy/messages/dl_ssb_pdu_test.cpp
Due: none

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  metrics tox: any of: docker/metrics_server/**/*
  grafana version changed: any of: docker/grafana/**/*
  metrics version changed: any of: docker/metrics_server/**/*
  metrics version check in retina: any of: docker/metrics_server/**/*
  gnb docker compose: (any of: docker/scripts/**/*, docker/Dockerfile) or (any of: docker/docker-compose.yml)
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  metrics-server docker compose: any of: docker/.env, docker/metrics_server/**/*, docker/docker-compose.yml
  metrics server image: any of: docker/metrics_server/**/*
  metrics server image latest: any of: docker/metrics_server/**/*
  grafana server image: any of: docker/grafana/**/*
  grafana server image latest: any of: docker/grafana/**/*
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*
