Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, metrics tox, grafana version changed, metrics version changed, metrics version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, metrics-server docker compose, metrics server image, metrics server image latest, grafana server image, grafana server image latest, e2e request and config validation

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  metrics tox: any of: docker/metrics_server/**/*
  grafana version changed: any of: docker/grafana/**/*
  metrics version changed: any of: docker/metrics_server/**/*
  metrics version check in retina: any of: docker/metrics_server/**/*
  gnb docker compose: (any of: docker/scripts/**/*, docker/Dockerfile) or (any of: docker/docker-compose.yml)
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  metrics-server docker compose: any of: docker/.env, docker/metrics_server/**/*, docker/docker-compose.yml
  metrics server image: any of: docker/metrics_server/**/*
  metrics server image latest: any of: docker/metrics_server/**/*
  grafana server image: any of: docker/grafana/**/*
  grafana server image latest: any of: docker/grafana/**/*
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*

sched: add metrics to count missed PXSCH grants because of late HARQs
  apps/units/flexible_o_du/o_du_high/du_high/metrics/consumers/scheduler_metrics_consumers.cpp
  include/srsran/scheduler/scheduler_metrics.h
  lib/scheduler/logging/scheduler_metrics_handler.cpp
  lib/scheduler/logging/scheduler_metrics_handler.h
  lib/scheduler/ue_scheduling/intra_slice_scheduler.cpp
  lib/scheduler/ue_scheduling/intra_slice_scheduler.h
  lib/scheduler/ue_scheduling/ue_scheduler_impl.cpp
  tests/unittests/scheduler/policy/scheduler_policy_test.cpp
Due: none

app_unit: added DPDK_FOUND definition to cli11 schema
  apps/units/flexible_o_du/o_du_low/CMakeLists.txt
Due: none

phy: review resource grid pool to detect where are the outliving resource grids
  include/srsran/phy/support/shared_resource_grid.h
  lib/phy/support/resource_grid_pool_impl.cpp
  lib/phy/support/resource_grid_pool_impl.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ofh: fix YAML writer for RU ports
  apps/units/flexible_o_du/split_7_2/helpers/ru_ofh_config_yaml_writer.cpp
Due: none

app_unit: added basic classes for the O-DU low split 6
  apps/units/application_unit.h
  apps/units/flexible_o_du/flexible_o_du_application_unit.h
  apps/units/flexible_o_du/split_6/o_du_low/CMakeLists.txt
  apps/units/flexible_o_du/split_6/o_du_low/split6_o_du_low_application_unit_impl.cpp
  apps/units/flexible_o_du/split_6/o_du_low/split6_o_du_low_application_unit_impl.h
  apps/units/flexible_o_du/split_6/o_du_low/split6_o_du_low_plugin.h
  apps/units/flexible_o_du/split_6/o_du_low/split6_o_du_low_plugin_dummy.cpp
  apps/units/flexible_o_du/split_6/o_du_low/split6_o_du_low_plugin_dummy.h
  apps/units/flexible_o_du/split_6/o_du_low/split6_o_du_low_unit_cli11_schema.cpp
  apps/units/flexible_o_du/split_6/o_du_low/split6_o_du_low_unit_cli11_schema.h
  apps/units/flexible_o_du/split_6/o_du_low/split6_o_du_low_unit_config.h
  apps/units/flexible_o_du/split_6/o_du_low/split6_o_du_low_unit_config_validator.cpp
  apps/units/flexible_o_du/split_6/o_du_low/split6_o_du_low_unit_config_validator.h
  apps/units/flexible_o_du/split_6/o_du_low/split6_o_du_low_unit_logger_registrator.h
  apps/units/flexible_o_du/split_dynamic/dynamic_o_du_translators.cpp
  apps/units/flexible_o_du/split_dynamic/dynamic_o_du_unit_logger_registrator.h
  apps/units/o_cu_cp/o_cu_cp_application_unit.h
  apps/units/o_cu_up/o_cu_up_application_unit.h
Due: none

ofh: add lock-free ethernet frame pool
  include/srsran/ofh/ethernet/ethernet_frame_pool.h
  include/srsran/ofh/ethernet/ethernet_properties.h
  lib/ofh/transmitter/ofh_data_flow_cplane_scheduling_commands_impl.cpp
  lib/ofh/transmitter/ofh_data_flow_uplane_downlink_data_impl.cpp
  lib/ofh/transmitter/ofh_downlink_handler_impl.cpp
  lib/ofh/transmitter/ofh_message_transmitter_impl.cpp
  lib/ofh/transmitter/ofh_message_transmitter_impl.h
  lib/ofh/transmitter/ofh_transmitter_factories.cpp
  lib/ofh/transmitter/ofh_uplink_request_handler_impl.cpp
  lib/ofh/transmitter/scoped_frame_buffer.h
  tests/unittests/ofh/ethernet/ethernet_frame_pool_test.cpp
  tests/unittests/ofh/transmitter/ofh_data_flow_cplane_scheduling_commands_test.cpp
  tests/unittests/ofh/transmitter/ofh_data_flow_uplane_downlink_data_impl_test.cpp
  tests/unittests/ofh/transmitter/ofh_downlink_handler_impl_test.cpp
  tests/unittests/ofh/transmitter/ofh_uplink_request_handler_impl_test.cpp
Due: none

mac: fix race condition in setting up of the clock ticking for the DU
  apps/examples/ofh/ru_emulator_timing_notifier.cpp
  apps/examples/ofh/ru_emulator_timing_notifier.h
  apps/units/flexible_o_du/o_du_low/du_low_config_translator.cpp
  include/srsran/ran/slot_point.h
  include/srsran/ran/slot_point_extended.h
  include/srsran/scheduler/resource_grid_util.h
  include/srsran/scheduler/scheduler_metrics.h
  lib/mac/mac_ctrl/du_time_controller.cpp
  lib/mac/mac_ctrl/du_time_controller.h
  lib/mac/mac_ctrl/mac_metrics_aggregator.cpp
  lib/mac/mac_ctrl/mac_metrics_aggregator.h
  lib/mac/mac_dl/mac_cell_processor.cpp
  lib/mac/mac_dl/mac_dl_configurator.h
  lib/mac/mac_dl/mac_dl_metric_handler.cpp
  lib/mac/mac_dl/mac_dl_metric_handler.h
  lib/ru/dummy/ru_dummy_impl.cpp
  lib/scheduler/cell/cell_harq_manager.cpp
  lib/scheduler/cell_scheduler.cpp
  lib/scheduler/cell_scheduler.h
  lib/scheduler/logging/scheduler_metrics_handler.cpp
  lib/scheduler/logging/scheduler_metrics_handler.h
  tests/integrationtests/du_high/du_high_many_cells_test.cpp
  tests/integrationtests/du_high/du_high_many_ues_test.cpp
  tests/test_doubles/mac/dummy_scheduler_ue_metric_notifier.h
  tests/unittests/mac/mac_dl_cfg_test.cpp
  tests/unittests/mac/mac_metrics_test.cpp
  tests/unittests/ofh/ethernet/ethernet_frame_pool_test.cpp
  tests/unittests/phy/upper/channel_processors/pucch/pucch_processor_format1_unittest.cpp
  tests/unittests/scheduler/scheduler_metrics_handler_test.cpp
  tests/unittests/scheduler/ue_scheduling/ue_grid_allocator_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

gnb: fix zmq mode deadlock due to sync time executor
  lib/du/du_high/du_high_executor_mapper.cpp
  lib/mac/mac_ctrl/mac_metrics_aggregator.cpp
Due: none

sched: rename slot_point nof_slots_per_hyper_frame method
  apps/examples/ofh/ru_emulator_timing_notifier.cpp
  include/srsran/mac/mac_metrics.h
  include/srsran/ran/slot_point.h
  include/srsran/ran/slot_point_extended.h
  lib/mac/mac_ctrl/du_time_controller.cpp
  lib/mac/mac_ctrl/mac_controller.h
  lib/mac/mac_ctrl/mac_metrics_aggregator.cpp
  lib/mac/mac_dl/mac_dl_configurator.h
  lib/mac/mac_dl/mac_dl_metric_handler.h
  lib/mac/mac_sched/srsran_scheduler_adapter.cpp
  lib/mac/mac_sched/srsran_scheduler_adapter.h
  lib/ru/dummy/ru_dummy_impl.cpp
  lib/scheduler/cell/cell_harq_manager.cpp
  tests/unittests/mac/mac_dl_cfg_test.cpp
  tests/unittests/ofh/ethernet/ethernet_frame_pool_test.cpp
  tests/unittests/phy/upper/channel_processors/pucch/pucch_processor_format1_unittest.cpp
  tests/unittests/scheduler/ue_scheduling/ue_grid_allocator_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

mac: remove slot_point_extended from the mac_dl_metric_handler public interface
  lib/mac/mac_ctrl/du_time_controller.cpp
  lib/mac/mac_ctrl/mac_controller.cpp
  lib/mac/mac_ctrl/mac_metrics_aggregator.cpp
  lib/mac/mac_ctrl/mac_metrics_aggregator.h
  lib/mac/mac_dl/mac_cell_processor.cpp
  lib/mac/mac_dl/mac_dl_configurator.h
  lib/mac/mac_dl/mac_dl_metric_handler.cpp
  lib/mac/mac_dl/mac_dl_metric_handler.h
  tests/unittests/mac/mac_metrics_test.cpp
Due: none

sched: allow metric periods to be above 10.24 seconds
  lib/mac/mac_dl/mac_dl_metric_handler.cpp
  lib/mac/mac_dl/mac_dl_metric_handler.h
  lib/scheduler/logging/scheduler_metrics_handler.cpp
  lib/scheduler/logging/scheduler_metrics_handler.h
Due: none

mac: implementation of common time source for all DU cells
  include/srsran/support/timers.h
  lib/du/du_high/du_high_impl.cpp
  lib/mac/CMakeLists.txt
  lib/mac/mac_ctrl/mac_controller.cpp
  lib/mac/mac_dl/du_time_controller.cpp
  lib/mac/mac_dl/du_time_controller.h
  lib/mac/mac_dl/mac_cell_processor.cpp
  lib/mac/mac_dl/mac_cell_processor.h
  lib/mac/mac_dl/mac_dl_configurator.h
  lib/mac/mac_dl/mac_dl_metric_handler.cpp
  lib/mac/mac_dl/mac_dl_metric_handler.h
  lib/mac/mac_dl/mac_dl_processor.cpp
  lib/mac/mac_dl/mac_dl_processor.h
  lib/support/timers.cpp
  tests/unittests/mac/mac_cell_processor_test.cpp
  tests/unittests/mac/mac_ctrl_test_dummies.h
  tests/unittests/mac/mac_metrics_test.cpp
Due: none

mac: redesign aggregation of MAC metrics from different cells
  include/srsran/mac/mac_metrics.h
  lib/mac/mac_ctrl/mac_metrics_aggregator.cpp
  lib/mac/mac_ctrl/mac_metrics_aggregator.h
  lib/mac/mac_dl/mac_dl_configurator.h
  lib/mac/mac_dl/mac_dl_metric_handler.cpp
  lib/mac/mac_dl/mac_dl_metric_handler.h
  tests/unittests/mac/mac_metrics_test.cpp
Due: none

mac: simplify cell activation state
  lib/mac/mac_dl/mac_cell_processor.cpp
  lib/mac/mac_dl/mac_cell_processor.h
  tests/unittests/mac/mac_metrics_test.cpp
Due: none

mac: remove unnecessary methods for metrics handler
  lib/mac/mac_ctrl/du_time_controller.cpp
  lib/mac/mac_dl/mac_cell_processor.cpp
  lib/mac/mac_dl/mac_dl_configurator.h
  lib/mac/mac_dl/mac_dl_metric_handler.cpp
  lib/mac/mac_dl/mac_dl_metric_handler.h
  tests/unittests/mac/mac_metrics_test.cpp
Due: none

sched: change interface to determine whether it is time for the scheduler to produce a scheduler metric report
  include/srsran/scheduler/scheduler_configurator.h
  include/srsran/scheduler/scheduler_metrics.h
  lib/mac/mac_ctrl/mac_metrics_aggregator.cpp
  lib/mac/mac_ctrl/mac_scheduler_configurator.h
  lib/mac/mac_dl/mac_cell_processor.cpp
  lib/mac/mac_dl/mac_dl_metric_handler.cpp
  lib/mac/mac_dl/mac_dl_metric_handler.h
  lib/mac/mac_dl/mac_scheduler_cell_info_handler.h
  lib/mac/mac_sched/srsran_scheduler_adapter.h
  lib/scheduler/cell_scheduler.cpp
  lib/scheduler/cell_scheduler.h
  lib/scheduler/logging/scheduler_metrics_handler.cpp
  lib/scheduler/logging/scheduler_metrics_handler.h
  lib/scheduler/scheduler_impl.cpp
  lib/scheduler/scheduler_impl.h
  tests/test_doubles/mac/dummy_scheduler_ue_metric_notifier.h
  tests/unittests/mac/mac_test_helpers.h
  tests/unittests/scheduler/scheduler_metrics_handler_test.cpp
Due: none

sched: fix CCE to CRB mapping for common search spaces
  lib/scheduler/pdcch_scheduling/pdcch_resource_allocator_impl.cpp
  tests/unittests/scheduler/test_utils/scheduler_test_suite.cpp
Due: none

du-high: extend integration test for cell deferred activation
  tests/integrationtests/du_high/du_high_many_cells_test.cpp
Due: none

du-high: fix cell activation test check
  tests/integrationtests/du_high/du_high_many_cells_test.cpp
Due: none

du-high: new integration test for cell deferred activation
  tests/integrationtests/du_high/du_high_many_cells_test.cpp
  tests/integrationtests/du_high/test_utils/du_high_env_simulator.cpp
  tests/integrationtests/du_high/test_utils/du_high_env_simulator.h
  tests/test_doubles/f1ap/f1ap_test_messages.cpp
  tests/test_doubles/f1ap/f1ap_test_messages.h
Due: none

phy: review PUSCH antenna port mapping
  include/srsran/ran/pusch/pusch_antenna_ports_mapping.h
  lib/ran/pusch/pusch_antenna_port_mapping.cpp
  lib/scheduler/support/dci_builder.cpp
  tests/unittests/ran/CMakeLists.txt
  tests/unittests/ran/pusch/pusch_precoding_info_test.cpp
Due: none

ci: update plugin reference
  .gitlab/ci/plugin_version.txt
Due: none

ci: avoid new valgrind logs cleanup to fail
  .gitlab/ci-shared/build.yml
Due: none

ci,builders: update containers
  .gitlab/ci/builders/archlinux/Dockerfile
Due: trigger builder

sched: skip rar alloc on slots with csi-rs
  lib/scheduler/common_scheduling/ra_scheduler.cpp
  lib/scheduler/common_scheduling/ra_scheduler.h
Due: none

sched: use existing helper fnc instead of new method
  lib/scheduler/common_scheduling/ra_scheduler.cpp
  lib/scheduler/common_scheduling/ra_scheduler.h
  tests/unittests/scheduler/common_scheduling/ra_scheduler_test.cpp
Due: none

sched: disable rar_sched_tests for k0 != 0
  lib/scheduler/common_scheduling/ra_scheduler.cpp
  tests/unittests/scheduler/common_scheduling/ra_scheduler_test.cpp
Due: none

fix failing scheduler test
  tests/unittests/scheduler/scheduler_ue_fallback_mode_test.cpp
Due: none

sched: fix ra scheduler test
  tests/unittests/scheduler/common_scheduling/ra_scheduler_test.cpp
Due: none

ofh: add a queue to not use mutex in the context reporsitories
  lib/ofh/receiver/ofh_closed_rx_window_handler.cpp
  lib/ofh/support/prach_context_repository.h
  lib/ofh/support/uplink_context_repository.h
  lib/ofh/transmitter/ofh_uplink_request_handler_impl.cpp
  tests/unittests/ofh/receiver/ofh_data_flow_uplane_uplink_data_impl_test.cpp
  tests/unittests/ofh/receiver/ofh_data_flow_uplane_uplink_prach_impl_test.cpp
  tests/unittests/ofh/receiver/ofh_uplane_prach_data_flow_notifier_test.cpp
  tests/unittests/ofh/receiver/ofh_uplane_prach_symbol_data_flow_writer_test.cpp
  tests/unittests/ofh/receiver/ofh_uplane_rx_symbol_data_flow_notifier_test.cpp
  tests/unittests/ofh/receiver/ofh_uplane_rx_symbol_data_flow_writer_test.cpp
  tests/unittests/ofh/transmitter/ofh_uplink_request_handler_impl_test.cpp
Due: none

sched: fix failing ra scheduler test due to presence of CSI-RS
  tests/unittests/scheduler/common_scheduling/ra_scheduler_test.cpp
Due: none

asn1: fix repetitions in schedulingInfoList
  lib/du/du_high/du_manager/converters/asn1_sys_info_packer.cpp
  lib/phy/upper/channel_processors/ssb/logging_ssb_processor_decorator.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

docker: bump open5gs version to 2.7.5
  docker/open5gs/Dockerfile
  docker/open5gs/open5gs-5gc.yml
  docker/open5gs/open5gs_entrypoint.sh
Due: trigger docker, 5gc docker compose

e2e: add max late HARQs condition to VIAVI tests
  .gitlab/ci/e2e/.env
  tests/e2e/tests/steps/configuration.py
  tests/e2e/tests/steps/kpis.py
  tests/e2e/tests/viavi.py
  tests/e2e/tests/viavi/test_declaration.yml
  tests/e2e/tests/viavi/test_declaration_debug.yml
  tests/e2e/tests/viavi/test_declaration_schema.json
Due: e2e tests tox, e2e request and config validation

ci: add helper script to print help for all subcommands recursively
  .gitlab/ci/builders/print_help_recursively.py
Due: trigger builder

sched: fix debug slot decision logging
  lib/scheduler/logging/scheduler_result_logger.cpp
Due: none

mac: fix wrap-around on report slots
  lib/mac/mac_ctrl/mac_metrics_aggregator.cpp
  tests/integrationtests/du_high/du_high_many_cells_test.cpp
Due: none

app_unit: added the interfaces for the plugin to manage config and slot FAPI messages. added skeleton implementation for the application unit and the flexible O-DU low manager.
  apps/units/flexible_o_du/split_6/o_du_low/cell_operation_request_impl.cpp
  apps/units/flexible_o_du/split_6/o_du_low/cell_operation_request_impl.h
  apps/units/flexible_o_du/split_6/o_du_low/split6_cell_configurator_plugin.h
  apps/units/flexible_o_du/split_6/o_du_low/split6_cell_configurator_plugin_dummy.cpp
  apps/units/flexible_o_du/split_6/o_du_low/split6_cell_configurator_plugin_dummy.h
  apps/units/flexible_o_du/split_6/o_du_low/split6_flexible_o_du_low_factory.cpp
  apps/units/flexible_o_du/split_6/o_du_low/split6_flexible_o_du_low_factory.h
  apps/units/flexible_o_du/split_6/o_du_low/split6_flexible_o_du_low_impl.cpp
  apps/units/flexible_o_du/split_6/o_du_low/split6_flexible_o_du_low_impl.h
  apps/units/flexible_o_du/split_6/o_du_low/split6_flexible_o_du_low_manager.cpp
  apps/units/flexible_o_du/split_6/o_du_low/split6_flexible_o_du_low_manager.h
  apps/units/flexible_o_du/split_6/o_du_low/split6_slot_configurator_plugin.h
  apps/units/flexible_o_du/split_6/o_du_low/split6_slot_configurator_plugin_dummy.cpp
  apps/units/flexible_o_du/split_6/o_du_low/split6_slot_configurator_plugin_dummy.h
Due: none

mac: fix aggregation of mac reports
  lib/mac/mac_ctrl/mac_metrics_aggregator.cpp
Due: none
