Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, e2e request validation

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  gnb docker compose: any of: .gitlab/ci/builders/install_dependencies.sh, .gitlab/ci/builders/builder.sh, docker/Dockerfile, docker/docker-compose.yml
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  e2e request validation: any of: .gitlab/ci/e2e/**/*

f1ap-du: make DU stop procedure call F1 removal
  lib/du_manager/du_manager_impl.cpp
  lib/du_manager/procedures/du_stop_procedure.cpp
  lib/du_manager/procedures/du_stop_procedure.h
  lib/f1ap/du/f1ap_du_connection_handler.cpp
  tests/integrationtests/du_high/test_utils/du_high_env_simulator.cpp
  tests/test_doubles/f1ap/f1ap_test_messages.cpp
  tests/test_doubles/f1ap/f1ap_test_messages.h
Due: none

f1ap-du: avoid f1 removal request when the f1c connection is already down
  lib/du_manager/du_manager_impl.cpp
  lib/f1ap/du/f1ap_du_connection_handler.cpp
  lib/f1ap/du/f1ap_du_connection_handler.h
  lib/f1ap/du/f1ap_du_impl.cpp
  lib/f1ap/du/procedures/f1ap_du_removal_procedure.cpp
Due: none

asn1: avoid copying unecessary copies in asn1 dyn_array resize
  include/srsran/asn1/asn1_utils.h
Due: none

treewide: fix invalid formatting argument for rnti types
  lib/mac/mac_ul/mac_ul_sch_pdu.h
  lib/scheduler/common_scheduling/ra_scheduler.cpp
  tests/unittests/scheduler/multiple_ue_sched_test.cpp
Due: none

ci,e2e: viavi performance metrics
  .gitlab/ci/e2e.yml
  tests/e2e/pyproject.toml
  tests/e2e/tests/viavi.py
Due: e2e tests tox

ci: increase viavi test log
  tests/e2e/tests/viavi.py
Due: e2e tests tox

ci: use new package script
  .gitlab/ci/build.yml
Due: none

phy: create channel state information test and fix
  include/srsran/phy/upper/channel_processors/channel_processor_formatters.h
  include/srsran/phy/upper/channel_processors/pusch/formatters.h
  include/srsran/phy/upper/channel_state_information_formatters.h
  tests/unittests/phy/upper/CMakeLists.txt
  tests/unittests/phy/upper/channel_state_information_test.cpp
Due: none

cu_cp: fix handover for um
  lib/cu_cp/routines/mobility/inter_du_handover_routine.cpp
  lib/cu_cp/routines/mobility/mobility_helpers.cpp
  lib/cu_cp/routines/mobility/mobility_helpers.h
Due: none

ci: fix criteria
  tests/e2e/tests/viavi.py
Due: e2e tests tox

ci: enable enable_integrity_protection in zmq tests
  .gitlab/ci/e2e.yml
  .gitlab/ci/e2e/.env
Due: e2e request validation

gtpu,nru,test: set PCAP output dir via command line
  tests/unittests/gtpu/gtpu_tunnel_nru_test.cpp
Due: none

gtpu,nru: append _impl suffix to implementation classes
  lib/gtpu/gtpu_tunnel_impl_nru.h
  lib/gtpu/gtpu_tunnel_nru_rx_impl.h
  lib/gtpu/gtpu_tunnel_nru_tx_impl.h
  tests/unittests/gtpu/gtpu_tunnel_nru_rx_test.cpp
Due: none

gtpu: add tunnels for NR-U (F1-U)
  include/srsran/gtpu/gtpu_tunnel_nru.h
  include/srsran/gtpu/gtpu_tunnel_nru_factory.h
  include/srsran/gtpu/gtpu_tunnel_nru_rx.h
  include/srsran/gtpu/gtpu_tunnel_nru_tx.h
  lib/gtpu/CMakeLists.txt
  lib/gtpu/gtpu_pdu.cpp
  lib/gtpu/gtpu_tunnel_impl_nru.h
  lib/gtpu/gtpu_tunnel_nru_factory.cpp
  lib/gtpu/gtpu_tunnel_nru_rx.h
  lib/gtpu/gtpu_tunnel_nru_tx.h
  tests/unittests/gtpu/CMakeLists.txt
  tests/unittests/gtpu/gtpu_tunnel_nru_rx_test.cpp
  tests/unittests/gtpu/gtpu_tunnel_nru_test.cpp
Due: none

phy: make arrays static constexpr
  lib/phy/upper/channel_coding/ldpc/ldpc_rate_dematcher_avx512_impl.cpp
Due: none

phy: optimize AVX512 rate dematcher
  lib/phy/upper/channel_coding/channel_coding_factories.cpp
  lib/phy/upper/channel_coding/ldpc/CMakeLists.txt
  lib/phy/upper/channel_coding/ldpc/ldpc_rate_dematcher_avx512_impl.cpp
  lib/phy/upper/channel_coding/ldpc/ldpc_rate_dematcher_avx512_impl.h
  tests/unittests/phy/upper/channel_coding/ldpc/ldpc_rm_test.cpp
Due: none

open5gs: allow run docker on a separate PC
  docker/docker-compose.yml
  docker/open5gs/open5gs-5gc.yml
  docker/open5gs/open5gs.env
Due: trigger docker, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose

gtpu,nru: remove redundant reordering based on GTP-U SN
  include/srsran/gtpu/gtpu_config.h
  include/srsran/gtpu/gtpu_tunnel_ngu_factory.h
  include/srsran/gtpu/gtpu_tunnel_nru_factory.h
  lib/gtpu/gtpu_tunnel_impl_ngu.h
  lib/gtpu/gtpu_tunnel_impl_nru.h
  lib/gtpu/gtpu_tunnel_ngu_rx_impl.h
  lib/gtpu/gtpu_tunnel_ngu_tx_impl.h
  lib/gtpu/gtpu_tunnel_nru_factory.cpp
  lib/gtpu/gtpu_tunnel_nru_rx_impl.h
  lib/gtpu/gtpu_tunnel_nru_tx_impl.h
  tests/unittests/gtpu/gtpu_tunnel_ngu_rx_test.cpp
  tests/unittests/gtpu/gtpu_tunnel_nru_rx_test.cpp
  tests/unittests/gtpu/gtpu_tunnel_nru_test.cpp
Due: none

ci,e2e: reest with ipef
  .gitlab/ci/e2e/.env
  tests/e2e/tests/handover.py
  tests/e2e/tests/reestablishment.py
  tests/e2e/tests/steps/stub.py
Due: e2e tests tox, e2e request validation

cu_cp,e1ap: fix missing reestablish field in PDCP config
  lib/cu_cp/routines/reestablishment_context_modification_routine.cpp
  lib/cu_cp/routines/reestablishment_context_modification_routine.h
  lib/pdcp/pdcp_entity_tx.cpp
Due: none

phy: fix ldpc_rm_test
  lib/phy/upper/channel_coding/ldpc/ldpc_rate_dematcher_avx2_impl.h
  lib/phy/upper/channel_coding/ldpc/ldpc_rate_dematcher_avx512_impl.h
  tests/unittests/phy/upper/channel_coding/ldpc/ldpc_rm_test.cpp
Due: none

ci: rerun viavi test when pod fails
  tests/e2e/tests/viavi.py
Due: e2e tests tox

gh actions: Free disk space during pipeline run
  .github/workflows/codeql.yml
Due: none

Enable c++17
  CMakeLists.txt
  external/rigtorp/MPMCQueue.h
  external/rigtorp/SPSCQueue.h
  include/srsran/support/async/detail/function_signature.h
  include/srsran/support/compiler.h
  include/srsran/support/math_utils.h
  tests/unittests/fapi/builders/uci_indication_test.cpp
Due: none

ci: rename reest tests
  tests/e2e/tests/reestablishment.py
Due: e2e tests tox

ci: fix retina demolition
  .gitlab/ci/e2e.yml
Due: none

ci: change docker compose tag
  .gitlab/ci/docker.yml
Due: trigger docker

ci: smoke avx512 and arm when phy changes
  .gitlab/ci/build.yml
Due: none

ci,e2e: increase num of ues in e2e handover tests
  tests/e2e/tests/handover.py
Due: e2e tests tox

support: separate sctp socket class
  include/srsran/support/sockets.h
  lib/gateways/sctp_network_gateway_impl.cpp
  lib/gateways/sctp_network_gateway_impl.h
Due: none

support: move sctp_socket to separate file
  include/srsran/support/io/sctp_socket.h
  include/srsran/support/io/sockets.h
  lib/gateways/sctp_network_gateway_impl.cpp
  lib/gateways/sctp_network_gateway_impl.h
  lib/gateways/udp_network_gateway_impl.cpp
  lib/support/network/CMakeLists.txt
  lib/support/network/sctp_socket.cpp
Due: none

support: remove unused sctp function and other refactors
  include/srsran/gateways/sctp_network_gateway.h
  include/srsran/support/io/sctp_socket.h
  lib/gateways/sctp_network_gateway_impl.cpp
  lib/gateways/sctp_network_gateway_impl.h
  lib/support/network/sctp_socket.cpp
Due: none

support: minor fixes in the SCTP library
  include/srsran/support/io/sockets.h
  include/srsran/support/io/unique_fd.h
  lib/gateways/sctp_network_gateway_impl.cpp
  lib/support/network/sctp_socket.cpp
  lib/support/network/sockets.cpp
Due: none

support: implement searcher for SCTP address candidates and other refactors
  include/srsran/support/io/sctp_socket.h
  include/srsran/support/io/sockets.h
  lib/gateways/CMakeLists.txt
  lib/gateways/sctp_network_gateway_impl.cpp
  lib/gateways/sctp_network_gateway_impl.h
  lib/support/network/CMakeLists.txt
  lib/support/network/sctp_socket.cpp
  lib/support/network/sockets.cpp
Due: none

unit: fixed error when parsing the bandwidth property of OFH
  apps/units/flexible_du/split_7_2/ru_ofh_config_cli11_schema.cpp
Due: none

cu-cp: remove unnecessary f1c interface method from the cu-cp public interface
  include/srsran/cu_cp/cu_cp_f1c_handler.h
  lib/cu_cp/du_processor/du_processor.h
  lib/cu_cp/du_processor/du_processor_impl.h
  lib/cu_cp/du_processor/du_processor_repository.cpp
  lib/cu_cp/du_processor/du_processor_repository.h
  tests/unittests/cu_cp/cu_cp_test.cpp
  tests/unittests/cu_cp/cu_cp_test_helpers.cpp
  tests/unittests/cu_cp/du_processor/du_processor_test.cpp
  tests/unittests/cu_cp/du_processor/du_processor_test_helpers.cpp
  tests/unittests/cu_cp/mobility/inter_cu_handover_routine_test.cpp
  tests/unittests/cu_cp/mobility/inter_du_handover_routine_test.cpp
  tests/unittests/f1ap/cu_cp/f1ap_cu_test_helpers.h
Due: none

cu-cp: avoid UE context release if the DU is destroyed
  lib/cu_cp/CMakeLists.txt
  lib/cu_cp/cu_cp_impl.cpp
  lib/cu_cp/du_processor/du_processor_impl.h
  lib/cu_cp/routines/ue_amf_context_release_request_routine.cpp
  lib/cu_cp/routines/ue_amf_context_release_request_routine.h
  lib/cu_cp/routines/ue_context_release_routine.h
  lib/rrc/rrc_du_impl.cpp
  lib/rrc/ue/procedures/rrc_setup_procedure.cpp
  lib/rrc/ue/procedures/rrc_ue_event_manager.h
  lib/rrc/ue/rrc_ue_impl.cpp
  lib/rrc/ue/rrc_ue_impl.h
  tests/unittests/cu_cp/cu_cp_setup_test.cpp
Due: none

cu-cp: cancel pending F1AP transactions after receiving an F1 removal request
  lib/cu_cp/routines/ue_transaction_info_release_routine.cpp
  lib/f1ap/cu_cp/f1ap_cu_impl.cpp
  lib/f1ap/cu_cp/f1ap_cu_impl.h
  lib/f1ap/cu_cp/procedures/f1_removal_procedure.cpp
  lib/f1ap/cu_cp/procedures/f1_removal_procedure.h
  lib/f1ap/cu_cp/ue_context/f1ap_cu_ue_context.h
  lib/f1ap/cu_cp/ue_context/f1ap_cu_ue_transaction_manager.h
Due: none

cu-cp: ensure pending RRC UE transactions are cancelled when the DU disconnects from the CU-CP
  include/srsran/f1ap/cu_cp/f1ap_cu.h
  include/srsran/rrc/rrc_ue.h
  include/srsran/support/async/protocol_transaction_manager.h
  lib/cu_cp/cu_cp_impl.cpp
  lib/cu_cp/cu_cp_impl.h
  lib/cu_cp/cu_cp_impl_interface.h
  lib/cu_cp/du_processor/du_processor.h
  lib/cu_cp/du_processor/du_processor_impl.h
  lib/cu_cp/du_processor/du_processor_repository.cpp
  lib/cu_cp/routines/ue_transaction_info_release_routine.cpp
  lib/f1ap/cu_cp/CMakeLists.txt
  lib/f1ap/cu_cp/f1ap_cu_impl.cpp
  lib/f1ap/cu_cp/f1ap_cu_impl.h
  lib/f1ap/cu_cp/procedures/f1_removal_procedure.cpp
  lib/f1ap/cu_cp/procedures/f1_removal_procedure.h
  lib/f1ap/cu_cp/procedures/f1ap_stop_procedure.cpp
  lib/f1ap/cu_cp/procedures/f1ap_stop_procedure.h
  lib/rrc/ue/rrc_ue_impl.h
  lib/rrc/ue/rrc_ue_message_handlers.cpp
  tests/unittests/cu_cp/cu_cp_setup_test.cpp
  tests/unittests/cu_cp/test_helpers.h
Due: none
