Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, metrics tox, grafana version changed, metrics version changed, metrics version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, metrics-server docker compose, metrics server image, metrics server image latest, grafana server image, grafana server image latest, e2e request and config validation

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  metrics tox: any of: docker/metrics_server/**/*
  grafana version changed: any of: docker/grafana/**/*
  metrics version changed: any of: docker/metrics_server/**/*
  metrics version check in retina: any of: docker/metrics_server/**/*
  gnb docker compose: (any of: docker/scripts/**/*, docker/Dockerfile) or (any of: docker/docker-compose.yml)
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  metrics-server docker compose: any of: docker/.env, docker/metrics_server/**/*, docker/docker-compose.yml
  metrics server image: any of: docker/metrics_server/**/*
  metrics server image latest: any of: docker/metrics_server/**/*
  grafana server image: any of: docker/grafana/**/*
  grafana server image latest: any of: docker/grafana/**/*
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*

sched: log number of UEs in the sched cell metrics
  apps/units/flexible_o_du/o_du_high/du_high/metrics/du_high_scheduler_cell_metrics_consumers.cpp
Due: none

sched: log number of PDSCH and PUSCH grants per slot in metrics
  apps/units/flexible_o_du/o_du_high/du_high/metrics/du_high_scheduler_cell_metrics_consumers.cpp
  include/srsran/scheduler/scheduler_metrics.h
  lib/scheduler/logging/scheduler_metrics_handler.cpp
  lib/scheduler/logging/scheduler_metrics_handler.h
Due: none

mac: log latencies for dl tti req and mac tx data request in metrics
  apps/units/flexible_o_du/o_du_high/du_high/metrics/du_high_mac_metrics_consumers.cpp
  include/srsran/mac/mac_metrics.h
  lib/mac/mac_dl/mac_cell_processor.cpp
  lib/mac/mac_dl/mac_dl_metric_handler.cpp
  lib/mac/mac_dl/mac_dl_metric_handler.h
Due: none

e2: remove printf
  lib/e2/e2sm/e2sm_kpm/e2sm_kpm_cu_meas_provider_impl.cpp
Due: none

e2sm_rc: extend interfaces to get rid of the dynamic_cast
  include/srsran/e2/e2sm/e2sm.h
  lib/e2/e2sm/e2sm_rc/e2sm_rc_asn1_packer.cpp
  lib/e2/e2sm/e2sm_rc/e2sm_rc_control_action_cu_executor.cpp
  lib/e2/e2sm/e2sm_rc/e2sm_rc_control_action_cu_executor.h
  lib/e2/e2sm/e2sm_rc/e2sm_rc_control_action_du_executor.cpp
  lib/e2/e2sm/e2sm_rc/e2sm_rc_control_action_du_executor.h
  lib/e2/e2sm/e2sm_rc/e2sm_rc_control_service_impl.cpp
  lib/e2/e2sm/e2sm_rc/e2sm_rc_control_service_impl.h
Due: none

e2sm_rc: fix control action name encoding error
  lib/e2/e2sm/e2sm_rc/e2sm_rc_control_action_cu_executor.cpp
  lib/e2/e2sm/e2sm_rc/e2sm_rc_control_action_du_executor.cpp
Due: none

e2: refactor e2 agent factory functions and ctor
  include/srsran/e2/e2_agent_dependencies.h
  include/srsran/e2/e2_cu_cp_factory.h
  include/srsran/e2/e2_cu_factory.h
  include/srsran/e2/e2_cu_up_factory.h
  lib/cu_cp/cu_cp_impl.h
  lib/cu_cp/o_cu_cp_factory.cpp
  lib/cu_up/o_cu_up_factory.cpp
  lib/e2/common/e2_entity.cpp
  lib/e2/common/e2_entity.h
  lib/e2/common/e2_factory.cpp
Due: none

phy: make downlink processor lock-free
  lib/phy/upper/downlink_processor_single_executor_impl.cpp
  lib/phy/upper/downlink_processor_single_executor_impl.h
  lib/phy/upper/downlink_processor_single_executor_state.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

rlc_tx,metrics: cosmetic changes
  include/srsran/rlc/rlc_tx_metrics.h
  lib/rlc/rlc_tx_metrics_container.h
Due: none

rlc_tx,metrics: update formatter with new metrics
  include/srsran/rlc/rlc_tx_metrics.h
Due: none

rlc_tx: extend formatter of rlc_buffer_state to print hol_toa...
  include/srsran/rlc/rlc_buffer_state.h
Due: none

rlc_tx,metrics: remove poll latency metric due to ambiguity risk
  include/srsran/rlc/rlc_tx_metrics.h
  lib/rlc/rlc_tx_am_entity.cpp
  lib/rlc/rlc_tx_am_entity.h
  lib/rlc/rlc_tx_metrics_container.h
Due: none

rlc_tx: replace high_resolution_clock with steady_clock
  include/srsran/rlc/rlc_buffer_state.h
  include/srsran/rlc/rlc_tx.h
  lib/rlc/rlc_tx_am_entity.cpp
  lib/rlc/rlc_tx_am_entity.h
  lib/rlc/rlc_tx_tm_entity.cpp
  lib/rlc/rlc_tx_um_entity.cpp
  tests/unittests/rlc/rlc_tx_am_test.cpp
  tests/unittests/rlc/rlc_tx_tm_test.cpp
  tests/unittests/rlc/rlc_um_test.cpp
Due: none

rlc_tx_am,metrics: measure ack latency
  include/srsran/rlc/rlc_tx_metrics.h
  lib/rlc/rlc_tx_am_entity.cpp
  lib/rlc/rlc_tx_am_entity.h
  lib/rlc/rlc_tx_metrics_container.h
Due: none

rlc_tx,metrics: swap poll latency and ack latency
  lib/rlc/rlc_tx_am_entity.cpp
Due: none

rlc_tx_am,metrics: measure ack latency at time of departure (instead arrival),...
  lib/rlc/rlc_tx_am_entity.cpp
  lib/rlc/rlc_tx_am_entity.h
Due: none

rlc_tx,metrics: fix min of optionals
  lib/rlc/rlc_tx_metrics_container.h
Due: none

rlc_tx_am,metrics: measure poll latency and change type of mode-specific metrics to std::variant
  include/srsran/rlc/rlc_tx_metrics.h
  lib/e2/e2sm/e2sm_kpm/e2sm_kpm_du_meas_provider_impl.cpp
  lib/rlc/rlc_tx_am_entity.cpp
  lib/rlc/rlc_tx_am_entity.h
  lib/rlc/rlc_tx_metrics_container.h
  tests/unittests/e2/e2sm_kpm_meas_provider_metrics_test.cpp
  tests/unittests/e2/e2sm_kpm_meas_provider_test.cpp
  tests/unittests/rlc/rlc_tx_tm_test.cpp
Due: none

sched: fix failing unit tests for scheduler metrics
  tests/unittests/scheduler/scheduler_metrics_handler_test.cpp
Due: none

sched: make scheduler metrics synchronized with the SFN and slot index
  include/srsran/scheduler/scheduler_metrics.h
  lib/scheduler/logging/scheduler_metrics_handler.cpp
  lib/scheduler/logging/scheduler_metrics_handler.h
Due: none

support: avoid virtual dtor in unique_function vtable
  include/srsran/adt/unique_function.h
Due: none

ci,e2e: increase viavi max_puschs_per_slot to 2
  tests/e2e/tests/viavi/test_declaration.yml
  tests/e2e/tests/viavi/test_declaration_debug.yml
Due: e2e tests tox, e2e request and config validation

ci,e2e: update viavi params and retina
  .gitlab/ci/e2e/.env
  tests/e2e/tests/viavi/test_declaration.yml
  tests/e2e/tests/viavi/test_declaration_debug.yml
Due: e2e tests tox, e2e request and config validation

phy: fix race condition in downlink processor metrics decorator
  lib/phy/metrics/phy_metrics_downlink_processor_decorator.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

du: support UE rejection in test mode
  lib/du/du_high/test_mode/f1ap_test_mode_adapter.cpp
Due: none

rlc: print sum pdu latency in metrics
  include/srsran/rlc/rlc_tx_metrics.h
Due: none

test_mode: fix injected UL RRC Message sent before Msg4
  lib/du/du_high/test_mode/f1ap_test_mode_adapter.cpp
  lib/du/du_high/test_mode/mac_test_mode_adapter.cpp
Due: none

OFH: NEON implementation of 14-bit packing/unpacking functions used in compression
  lib/ofh/compression/neon_helpers.h
  lib/ofh/compression/packing_utils_neon.h
Due: none

app: initialize timers before using them
  apps/services/worker_manager/worker_manager.cpp
  apps/services/worker_manager/worker_manager.h
Due: none

metrics_server: fix float conversion
  .gitlab/ci/e2e/.env
  docker/metrics_server/pyproject.toml
  docker/metrics_server/src/metrics_server/__main__.py
Due: trigger docker, metrics tox, metrics version changed, metrics version check in retina, metrics-server docker compose, metrics server image, metrics server image latest, e2e request and config validation

docker,grafana: fix ofh metrics pci query
  docker/grafana/Dockerfile
  docker/grafana/dashboards/ofh.json
  docker/grafana/version.yml
Due: trigger docker, grafana version changed, grafana docker compose, grafana server image, grafana server image latest

metrics_server: remove unneded influx push
  .gitlab/ci/e2e/.env
  docker/metrics_server/pyproject.toml
  docker/metrics_server/src/metrics_server/__main__.py
Due: trigger docker, metrics tox, metrics version changed, metrics version check in retina, metrics-server docker compose, metrics server image, metrics server image latest, e2e request and config validation

pdcp: fix timers executors
  lib/pdcp/pdcp_entity_impl.h
  lib/pdcp/pdcp_entity_tx.cpp
  lib/pdcp/pdcp_entity_tx.h
Due: none

f1u: fix timers executor
  include/srsran/f1u/cu_up/f1u_bearer_factory.h
  lib/cu_up/pdu_session_manager_impl.cpp
  lib/f1u/cu_up/f1u_bearer_factory.cpp
  lib/f1u/cu_up/f1u_bearer_impl.h
Due: none

gtpu: fix timers executors
  include/srsran/gtpu/gtpu_tunnel_ngu_factory.h
  lib/cu_up/pdu_session_manager_impl.cpp
  lib/gtpu/gtpu_tunnel_impl_ngu.h
  lib/gtpu/gtpu_tunnel_ngu_factory.cpp
  lib/gtpu/gtpu_tunnel_ngu_rx_impl.h
  tests/unittests/gtpu/gtpu_tunnel_ngu_test.cpp
Due: none

sched: improve round-robin iteration across UEs to minimize latency
  lib/scheduler/policy/scheduler_time_rr.cpp
Due: none

docker: update gnb command in docker-compose.yml
  docker/docker-compose.yml
Due: trigger docker, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, metrics-server docker compose

ci: add ntn geo test to gitlab ci
  .gitlab/ci/e2e.yml
  .gitlab/ci/e2e/.env
  .gitlab/ci/e2e/retina_request_zmq_ntn.yml
  .gitlab/ci/trx.yml
Due: e2e request and config validation

ci: add e2e NTN GEO ping test to ci
  tests/e2e/pyproject.toml
  tests/e2e/tests/ping.py
  tests/e2e/tests/steps/configuration.py
  tests/e2e/tests/steps/stub.py
Due: e2e tests tox
