Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, e2e request and config validation

trigger builder:
  stage: ci
  trigger:
    include: .gitlab/ci/builders.yml
    strategy: depend

trigger docker:
  stage: ci
  trigger:
    include: .gitlab/ci/docker.yml
    strategy: depend
  variables:
    PY_DIR: docker/metrics_server

e2e tests tox:
  stage: static
  variables:
    PY_DIR: tests/e2e
  before_script:
  - apk add build-base

smoke avx512 cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm neon cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke avx512 clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm neon clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

gnb docker compose:
  stage: compose
  image: docker:24.0.7
  tags:
  - docker
  timeout: 2h
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  services:
  - name: docker:24.0.7-dind
    alias: docker
    entrypoint:
    - env
    - -u
    - DOCKER_HOST
    command:
    - dockerd-entrypoint.sh
  ...

5gc docker compose:
  stage: compose
  image: docker:24.0.7
  tags:
  - docker
  timeout: 2h
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  services:
  - name: docker:24.0.7-dind
    alias: docker
    entrypoint:
    - env
    - -u
    - DOCKER_HOST
    command:
    - dockerd-entrypoint.sh
  ...

grafana docker compose:
  stage: compose
  image: docker:24.0.7
  tags:
  - docker
  timeout: 2h
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  services:
  - name: docker:24.0.7-dind
    alias: docker
    entrypoint:
    - env
    - -u
    - DOCKER_HOST
    command:
    - dockerd-entrypoint.sh
  ...

influxdb docker compose:
  stage: compose
  image: docker:24.0.7
  tags:
  - docker
  timeout: 2h
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  services:
  - name: docker:24.0.7-dind
    alias: docker
    entrypoint:
    - env
    - -u
    - DOCKER_HOST
    command:
    - dockerd-entrypoint.sh
  ...

ci: increase timeout
  .gitlab/ci/e2e.yml
Due: none

ci: add mimo to iperf smoke tests
  tests/e2e/tests/iperf.py
Due: e2e tests tox

ci: format requests
  .gitlab/ci/e2e/retina_request_android_callbox.yml
  .gitlab/ci/e2e/retina_request_android_n300.yml
  .gitlab/ci/e2e/retina_request_android_x300.yml
  .gitlab/ci/e2e/retina_request_test_mode.yml
  .gitlab/ci/e2e/retina_request_test_mode_acc100.yml
  .gitlab/ci/e2e/retina_request_zmq.yml
  .gitlab/ci/e2e/retina_request_zmq_cudu.yml
  .gitlab/ci/e2e/retina_request_zmq_deb.yml
  .gitlab/ci/e2e/retina_request_zmq_ric.yml
  .gitlab/ci/e2e/retina_request_zmq_smoke.yml
  .gitlab/ci/e2e/retina_request_zmq_uesim.yml
Due: e2e request and config validation

mac: support pucch format 3 in pucch_allocator
  include/srsran/ran/pucch/pucch_configuration.h
  include/srsran/ran/pucch/pucch_info.h
  lib/scheduler/pucch_scheduling/pucch_allocator_impl.cpp
  lib/scheduler/pucch_scheduling/pucch_allocator_impl.h
Due: none

mac: review support pucch format 3 in pucch_allocator
  include/srsran/ran/pucch/pucch_info.h
  lib/ran/pucch/pucch_info.cpp
  lib/scheduler/pucch_scheduling/pucch_allocator_impl.cpp
Due: none

log total number of DL and UL PRBs in a metric report
  apps/units/flexible_o_du/o_du_high/du_high/metrics/du_high_scheduler_cell_metrics_consumers.cpp
Due: none

sched: remove redundant metrics
  include/srsran/scheduler/scheduler_metrics.h
  lib/e2/e2sm/e2sm_kpm/e2sm_kpm_du_meas_provider_impl.cpp
  lib/scheduler/logging/scheduler_metric_handler.cpp
  tests/unittests/e2/e2sm_kpm_meas_provider_metrics_test.cpp
  tests/unittests/e2/e2sm_kpm_meas_provider_test.cpp
Due: none

improve log metric formatting for UE bitrate and crc delay
  apps/units/flexible_o_du/o_du_high/du_high/metrics/du_high_scheduler_cell_metrics_consumers.cpp
Due: none

sched: fix shadow variable
  lib/scheduler/logging/scheduler_metric_handler.cpp
Due: none

log proportion of PRBs allocated in the log metrics
  apps/units/flexible_o_du/o_du_high/du_high/metrics/du_high_scheduler_cell_metrics_consumers.cpp
  lib/scheduler/logging/scheduler_metric_handler.cpp
Due: none

sched: report average latency that it takes for a UL CE to reach the scheduler
  apps/units/flexible_o_du/o_du_high/du_high/metrics/du_high_scheduler_cell_metrics_consumers.cpp
  include/srsran/scheduler/scheduler_metrics.h
  lib/scheduler/logging/scheduler_metric_handler.cpp
  lib/scheduler/logging/scheduler_metrics_handler.h
Due: none

metrics: log the total number of prbs and nof DL/UL slots
  apps/units/flexible_o_du/o_du_high/du_high/metrics/du_high_scheduler_cell_metrics_consumers.cpp
Due: none

[SUPPORT] Fix network gateway race conditions
  apps/cu/cu.cpp
  include/srsran/support/io/sctp_socket.h
  include/srsran/support/io/unique_fd.h
  lib/gateways/sctp_network_client_impl.cpp
  lib/gateways/sctp_network_client_impl.h
  lib/gateways/sctp_network_gateway_common_impl.cpp
  lib/gateways/sctp_network_gateway_impl.cpp
  lib/gateways/sctp_network_server_impl.cpp
  lib/gateways/sctp_network_server_impl.h
  lib/gateways/udp_network_gateway_impl.cpp
  lib/gateways/udp_network_gateway_impl.h
  lib/support/network/io_broker_epoll.cpp
  lib/support/network/sctp_socket.cpp
  tests/unittests/gateways/sctp_network_client_test.cpp
Due: none

app_unit: added group option to group the OFH base cell parameters and force to re parse the cell option if it was previously parsed
  apps/units/flexible_o_du/split_7_2/helpers/ru_ofh_config_cli11_schema.cpp
Due: none

ci: update retina
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

ngu: added support to set DSCP value
  apps/services/network/udp_cli11_schema.cpp
  apps/services/network/udp_cli11_schema.h
  apps/units/o_cu_up/o_cu_up_builder.cpp
  configs/ngu_multiple_sockets.yml
  include/srsran/gateways/udp_network_gateway.h
  lib/gateways/udp_network_gateway_impl.cpp
  lib/gateways/udp_network_gateway_impl.h
Due: none

configs: set pusch mcs table to qam64 in the config for srsUE
  configs/gnb_rf_b210_fdd_srsUE.yml
Due: none

phy: combine all LDPC decoder hard decision to a single method
  include/srsran/phy/upper/log_likelihood_ratio.h
  lib/phy/upper/channel_coding/ldpc/ldpc_decoder_avx2.cpp
  lib/phy/upper/channel_coding/ldpc/ldpc_decoder_avx2.h
  lib/phy/upper/channel_coding/ldpc/ldpc_decoder_avx512.cpp
  lib/phy/upper/channel_coding/ldpc/ldpc_decoder_avx512.h
  lib/phy/upper/channel_coding/ldpc/ldpc_decoder_generic.cpp
  lib/phy/upper/channel_coding/ldpc/ldpc_decoder_generic.h
  lib/phy/upper/channel_coding/ldpc/ldpc_decoder_impl.cpp
  lib/phy/upper/channel_coding/ldpc/ldpc_decoder_impl.h
  lib/phy/upper/channel_coding/ldpc/ldpc_decoder_neon.cpp
  lib/phy/upper/channel_coding/ldpc/ldpc_decoder_neon.h
  lib/phy/upper/log_likelihood_ratio.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ofh: relax the min value of the reception window
  apps/units/flexible_o_du/split_7_2/helpers/ru_ofh_config_translator.cpp
Due: none

mac: split pucch_alloc_harq_sr_csi_test.cpp into multiple files
  tests/unittests/scheduler/uci_and_pucch/CMakeLists.txt
  tests/unittests/scheduler/uci_and_pucch/pucch_alloc_base_tester.h
  tests/unittests/scheduler/uci_and_pucch/pucch_alloc_ded_resources_test.cpp
  tests/unittests/scheduler/uci_and_pucch/pucch_alloc_format_0_test.cpp
  tests/unittests/scheduler/uci_and_pucch/pucch_alloc_harq_sr_csi_test.cpp
Due: none

e2: copy request messages in subscription procedures
  lib/e2/procedures/e2_subscription_delete_procedure.h
  lib/e2/procedures/e2_subscription_setup_procedure.h
Due: none

test,e2e,ric: lower iperf bitrate
  tests/e2e/tests/iperf.py
  tests/e2e/tests/steps/stub.py
Due: e2e tests tox

e2: fix subscription failure response encoding
  lib/e2/procedures/e2_subscription_setup_procedure.cpp
Due: none

ci,e2e: increase job's timeout
  .gitlab/ci/e2e.yml
Due: none

ci,infra: adjust requirements in retina jobs
  .gitlab/ci-shared/e2e.yml
Due: none

ci: update drx test, move b200 node
  .gitlab/ci/e2e/.env
  .gitlab/ci/e2e/retina_request_rf_b200.yml
  tests/e2e/tests/ping.py
Due: e2e tests tox, e2e request and config validation

fix
  tests/e2e/tests/viavi.py
Due: e2e tests tox

[SRSLOG] Implement backend throughput benchmark
  tests/unittests/srslog/CMakeLists.txt
  tests/unittests/srslog/benchmarks/backend_throughput.cpp
  tests/unittests/srslog/benchmarks/frontend_latency.cpp
Due: none

Remove weak function attribute
  include/srsran/support/compiler.h
  lib/cu_cp/cell_meas_manager/cell_meas_manager_impl.cpp
  lib/cu_cp/cu_cp_impl.cpp
  lib/cu_cp/routines/amf_connection_removal_routine.cpp
  lib/cu_cp/routines/amf_connection_setup_routine.cpp
  lib/cu_cp/routines/mobility/inter_cu_handover_target_routine.cpp
  lib/du/du_high/du_manager/ran_resource_management/ue_capability_manager.cpp
  lib/hal/dpdk/bbdev/bbdev_acc_factory.cpp
  lib/hal/phy/upper/channel_processors/hw_accelerator_factories.cpp
  lib/hal/phy/upper/channel_processors/pusch/hw_accelerator_factories.cpp
  lib/ngap/ngap_impl.cpp
  lib/ngap/procedures/ngap_handover_preparation_procedure.cpp
  lib/ngap/procedures/ngap_handover_resource_allocation_procedure.cpp
  lib/phy/upper/channel_processors/pusch/pusch_processor_phy_capabilities.cpp
  lib/phy/upper/equalization/channel_equalizer_generic_impl.cpp
  lib/phy/upper/signal_processors/port_channel_estimator_average_impl.cpp
  lib/ran/pusch/pusch_antenna_port_mapping.cpp
  lib/scheduler/support/ul_power_controller.cpp
  lib/scheduler/ue_context/ue_channel_state_manager.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

support: removed dynamic link library support
  apps/gnb/gnb.cpp
  include/srsran/support/dynlink_manager.h
  lib/support/CMakeLists.txt
  lib/support/dynlink_manager.cpp
Due: none

support,fmt: fix bogus -Wstringop-overflow
  external/fmt/include/fmt/format.h
Due: none

increase ring size for test mode internal storage
  include/srsran/scheduler/resource_grid_util.h
  lib/du/du_high/test_mode/mac_test_mode_adapter.cpp
Due: none

increase max nof cells per DU constant to 32
  include/srsran/cu_cp/cu_cp_types.h
  include/srsran/cu_cp/up_context.h
  include/srsran/ngap/ngap_handover.h
  include/srsran/nrppa/nrppa.h
  include/srsran/ran/du_types.h
  include/srsran/ran/gnb_constants.h
  lib/cu_cp/cu_cp_controller/cu_up_connection_manager.h
  lib/cu_cp/cu_cp_controller/du_connection_manager.h
  lib/cu_cp/cu_up_processor/cu_up_processor_repository.h
  lib/cu_cp/task_schedulers/du_task_scheduler.h
  tests/unittests/e1ap/common/e1ap_cu_cp_test_messages.h
Due: none

sched: fix stack overflow in scheduler
  lib/mac/mac_sched/uci_cell_decoder.cpp
  lib/mac/mac_sched/uci_cell_decoder.h
  lib/scheduler/logging/scheduler_metric_handler.cpp
  lib/scheduler/logging/scheduler_metrics_handler.h
  lib/scheduler/scheduler_impl.h
Due: none

du-high: fix race condition in test mode
  lib/du/du_high/test_mode/CMakeLists.txt
  lib/du/du_high/test_mode/mac_test_mode_adapter.cpp
  lib/du/du_high/test_mode/mac_test_mode_adapter.h
  lib/du/du_high/test_mode/mac_test_mode_ue_repository.cpp
  lib/du/du_high/test_mode/mac_test_mode_ue_repository.h
Due: none

ci: fix run_viavi_pipeline script
  .gitlab/run_viavi_pipeline.py
Due: none

ci,e2e: fix drx job name
  .gitlab/ci/e2e.yml
Due: none

mac: increase uci ring size to account for TSAN delays
  lib/du/du_high/test_mode/mac_test_mode_adapter.cpp
  lib/mac/mac_sched/uci_cell_decoder.cpp
  lib/mac/mac_sched/uci_cell_decoder.h
Due: none

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  gnb docker compose: any of: .gitlab/ci/builders/install_dependencies.sh, .gitlab/ci/builders/builder.sh, docker/Dockerfile, docker/docker-compose.yml
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*
