Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, metrics tox, grafana version changed, metrics version changed, metrics version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, metrics-server docker compose, metrics server image, metrics server image latest, grafana server image, grafana server image latest, e2e request and config validation

trigger builder:
  stage: ci
  trigger:
    include: .gitlab/ci/builders.yml
    strategy: depend

trigger docker:
  stage: ci
  trigger:
    include: .gitlab/ci/docker.yml
    strategy: depend
  variables:
    PY_DIR: docker/metrics_server

e2e tests tox:
  stage: static
  variables:
    PY_DIR: tests/e2e
  before_script:
  - apk add build-base

smoke avx512 cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm neon cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke avx512 clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm neon clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

metrics tox:
  stage: static
  variables:
    GIT_LFS_SKIP_SMUDGE: 1

grafana version changed:
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
  stage: static
  script:
  - NEW_VERSION=$(cat docker/grafana/version.yml | grep SRS_GRAFANA_VERSION | cut -d'"' -f2)
  - export NEW_VERSION
  - "git checkout $CI_MERGE_REQUEST_DIFF_BASE_SHA\nif [ ! -e \"docker/grafana/version.yml\" ]; then\n    exit 0\nfi\n"
  ...

metrics version changed:
  stage: static
  variables:
    GIT_LFS_SKIP_SMUDGE: 1

metrics version check in retina:
  stage: static
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
  script:
  - 'VERSION_IN_PYPROJECT=$(cat docker/metrics_server/pyproject.toml | grep ''^version'' | cut -d''"'' -f2)
  
    VERSION_IN_RETINA=$(cat .gitlab/ci/e2e/.env | grep METRICS_SERVER_VERSION | cut -d''='' -f2)
  
  ...

gnb docker compose:
  stage: compose
  image: docker:24.0.7-dind
  tags:
  - amd64-avx2
  timeout: 2h
  retry: 2
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
    KUBERNETES_CPU_REQUEST: ${SRS_CPU_LIMIT}
    KUBERNETES_CPU_LIMIT: ${SRS_CPU_LIMIT}
    KUBERNETES_MEMORY_REQUEST: ${SRS_MEMORY_LIMIT}
    KUBERNETES_MEMORY_LIMIT: ${SRS_MEMORY_LIMIT}
  ...

metrics server image:
  stage: publish
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
    REGISTRY_URI: $GITLAB_REGISTRY_URI
    NAME: metrics_server
    CONTEXT: ${CI_PROJECT_DIR}/docker/metrics_server
    MODE: publish
  before_script:
  - 'export VERSION=$(cat ${CONTEXT}/pyproject.toml | grep ''^version'' | cut -d''"'' -f2)
  
    '

phy: improve PUSCH processor pool
  include/srsran/phy/upper/channel_processors/pusch/factories.h
  lib/phy/metrics/phy_metrics_pdsch_processor_decorator.h
  lib/phy/metrics/phy_metrics_pusch_processor_decorator.h
  lib/phy/upper/channel_processors/pdsch/pdsch_processor_pool.h
  lib/phy/upper/channel_processors/pusch/factories.cpp
  lib/phy/upper/channel_processors/pusch/pusch_processor_pool.h
  lib/phy/upper/upper_phy_factories.cpp
  tests/benchmarks/phy/upper/channel_processors/pusch/pusch_processor_benchmark.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

reduce worker_pool_benchmark default duration
  tests/benchmarks/support/worker_pool_benchmark.cpp
Due: none

ci: allow even more warnings in handover test with noise
  tests/e2e/tests/handover.py
Due: e2e tests tox

support: highlight difference of get_host_total_nof_cpus and get_host_nof_available_cpus
  include/srsran/support/cpu_architecture_info.h
Due: none

gnb: limit max_cpus according to available CPUs...
  apps/services/worker_manager/worker_manager.cpp
Due: none

ci,e2e: fix testbed after changes in the dell
  .gitlab/ci/e2e/test_mode_acc100.yml
Due: e2e request and config validation

support: disable inline execution of strand tasks
  include/srsran/support/executors/strand_executor.h
  tests/unittests/support/executors/strand_executor_test.cpp
Due: none

mac: use defer instead of execute
  include/srsran/support/tracing/resource_usage.h
  lib/mac/mac_dl/mac_cell_processor.cpp
  tests/unittests/mac/mac_cell_processor_test.cpp
Due: none

gnb: add one extra task priority queue to main pool
  apps/services/worker_manager/worker_manager.cpp
  apps/services/worker_manager/worker_manager.h
Due: none

e2e: set 2 candidates for ss#1 in reest e2e tests
  tests/e2e/tests/reestablishment.py
Due: e2e tests tox

sched: improve fallback ue sched logs
  lib/scheduler/ue_scheduling/ue_fallback_scheduler.cpp
Due: none

du: fix estimation of maximum number of UEs per cell
  lib/du/du_high/du_manager/ran_resource_management/du_ran_resource_manager_impl.cpp
Due: none

e2e: small change to the logging in PUCCH tests
  tests/e2e/tests/pucch.py
Due: e2e tests tox

sched: fix data race in sched_no_ue_test
  tests/unittests/scheduler/CMakeLists.txt
  tests/unittests/scheduler/scheduler_no_ue_test.cpp
Due: none

app_unit: updated max_proc_delay in this case to account for the number of slots the L2 is ahead the RU.
  apps/units/flexible_o_du/split_6/o_du_low/split6_flexible_o_du_low_session_factory.cpp
Due: none

app_helpers: cleaning include JSON generators
  apps/helpers/metrics/json_generators/CMakeLists.txt
  apps/helpers/metrics/json_generators/du_high/mac.cpp
  apps/helpers/metrics/json_generators/du_high/rlc.cpp
  apps/helpers/metrics/json_generators/du_high/scheduler.cpp
  apps/helpers/metrics/json_generators/generator_helpers.h
  apps/helpers/metrics/json_generators/o_du_high.cpp
  apps/helpers/metrics/json_generators/o_du_low.cpp
  apps/helpers/metrics/json_generators/resource_usage.cpp
  apps/helpers/metrics/json_generators/ru/ofh.cpp
Due: none

app_unit: delete session on unit stop
  apps/units/flexible_o_du/split_6/o_du_low/split6_flexible_o_du_low.cpp
Due: none

app_unit: added control executor for the O-DU low split 6 app unit
  apps/services/worker_manager/worker_manager.cpp
  apps/services/worker_manager/worker_manager.h
  apps/units/flexible_o_du/split_6/o_du_low/split6_flexible_o_du_low_session_factory.cpp
  apps/units/flexible_o_du/split_6/o_du_low/split6_o_du_low_application_unit_impl.cpp
  apps/units/flexible_o_du/split_6/o_du_low/split6_o_du_low_plugin.h
  apps/units/flexible_o_du/split_6/o_du_low/split6_o_du_low_plugin_dummy.cpp
  apps/units/flexible_o_du/split_6/o_du_low/split6_o_du_low_plugin_dummy.h
  include/srsran/fapi/message_builders.h
Due: none

fmt: patch default formatter for std::optional
  external/fmt/include/fmt/std.h
Due: none

pdcp,metrics: adjust expected outputs of formatted std::optional
  include/srsran/pdcp/pdcp_rx_metrics.h
  include/srsran/pdcp/pdcp_tx_metrics.h
  tests/unittests/pdcp/pdcp_rx_metrics_test.cpp
  tests/unittests/pdcp/pdcp_tx_metrics_test.cpp
Due: none

fmt: add unit test to verify patched formatter for std::optional
  tests/unittests/support/CMakeLists.txt
  tests/unittests/support/format/CMakeLists.txt
  tests/unittests/support/format/format_optional_test.cpp
Due: none

ci: allow way more warnings in handover test with noise
  tests/e2e/tests/handover.py
Due: e2e tests tox

ci: decrease noise in ho test
  tests/e2e/tests/handover.py
Due: e2e tests tox

gnb: pre-initialize moodycamel implicit producers to avoid mallocs in the critical path
  apps/services/worker_manager/worker_manager.cpp
Due: none

increase number of producers in main pool
  apps/services/worker_manager/worker_manager.cpp
Due: none

gnb: estimate the upper bound on the number of producers needed for each queue of the main pool
  apps/services/worker_manager/worker_manager.cpp
Due: none

ci: update dpdk for test mode acc100
  .gitlab/ci/e2e/.env
  .gitlab/ci/e2e/test_mode_acc100.yml
Due: e2e request and config validation

sched: skip PUCCH alloc on slots with fallback PUSCH
  lib/scheduler/ue_scheduling/ue_fallback_scheduler.cpp
Due: none

phy: add rx_symbol_handler factories
  include/srsran/phy/upper/upper_phy_factories.h
  lib/phy/upper/upper_phy_factories.cpp
  lib/phy/upper/upper_phy_impl.cpp
  lib/phy/upper/upper_phy_impl.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy: review rx symbol handler factories
  apps/units/flexible_o_du/o_du_low/du_low_config.h
  apps/units/flexible_o_du/o_du_low/du_low_config_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_low/du_low_config_translator.cpp
  apps/units/flexible_o_du/o_du_low/du_low_config_yaml_writer.cpp
  include/srsran/phy/upper/upper_phy_factories.h
  lib/phy/upper/upper_phy_factories.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

gnb: update number of producers needed
  apps/services/worker_manager/worker_manager.cpp
Due: none

mac: use a locked buffer for read/write of mac decision history
  lib/du/du_high/test_mode/mac_test_mode_adapter.cpp
  lib/du/du_high/test_mode/mac_test_mode_decision_history.h
Due: none

use lockfree buffer for test mode history buffer
  include/srsran/adt/lockfree_triple_buffer.h
  lib/du/du_high/test_mode/mac_test_mode_adapter.cpp
  lib/du/du_high/test_mode/mac_test_mode_adapter.h
  lib/du/du_high/test_mode/mac_test_mode_decision_history.h
  lib/du/du_high/test_mode/mac_test_mode_event_handler.h
  lib/du/du_high/test_mode/mac_test_mode_ue_repository.cpp
  lib/du/du_high/test_mode/mac_test_mode_ue_repository.h
Due: none

rlc metrics: avoid malloc'ing return of std::string
  apps/units/flexible_o_du/o_du_high/du_high/metrics/du_high_rlc_metrics_consumers.cpp
  include/srsran/rlc/rlc_rx_metrics.h
  include/srsran/rlc/rlc_tx_metrics.h
  tests/benchmarks/rlc/rlc_am_tx_benchmark.cpp
Due: none

rlc_tx,metrics: reformat printing of optional fields
  include/srsran/rlc/rlc_tx_metrics.h
Due: none

WS: Fix server initialization race condition. Synchronize the event loop creation on start to happen before deferring tasks when new metrics arrive.
  apps/services/remote_control/remote_server.cpp
Due: none

sched: unittest for simultan. pucch-pusch fallback
  tests/unittests/scheduler/test_utils/scheduler_output_test_helpers.cpp
  tests/unittests/scheduler/test_utils/scheduler_output_test_helpers.h
  tests/unittests/scheduler/ue_scheduling/fallback_scheduler_test.cpp
Due: none

FAPI: Add missing log warnigs to error indications
  lib/fapi_adaptor/phy/fapi_to_phy_translator.cpp
Due: none

ci: add inter du handover test and update retina version
  .gitlab/ci-shared/e2e.yml
  .gitlab/ci/e2e.yml
  .gitlab/ci/e2e/.env
  .gitlab/ci/e2e/zmq_cu2du.yml
Due: e2e request and config validation

ci: update retina version
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  metrics tox: any of: docker/metrics_server/**/*
  grafana version changed: any of: docker/grafana/**/*
  metrics version changed: any of: docker/metrics_server/**/*
  metrics version check in retina: any of: docker/metrics_server/**/*
  gnb docker compose: (any of: docker/scripts/**/*, docker/Dockerfile) or (any of: docker/docker-compose.yml)
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  metrics-server docker compose: any of: docker/.env, docker/metrics_server/**/*, docker/docker-compose.yml
  metrics server image: any of: docker/metrics_server/**/*
  metrics server image latest: any of: docker/metrics_server/**/*
  grafana server image: any of: docker/grafana/**/*
  grafana server image latest: any of: docker/grafana/**/*
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*
