Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, e2e request validation

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  gnb docker compose: any of: .gitlab/ci/builders/install_dependencies.sh, .gitlab/ci/builders/builder.sh, docker/Dockerfile, docker/docker-compose.yml
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  e2e request validation: any of: .gitlab/ci/e2e/**/*

rlc,e2ap: adding support for RLC SDU latency measurement and extraction to E2
  include/srsran/rlc/rlc_tx.h
  include/srsran/rlc/rlc_tx_metrics.h
  lib/e2/e2sm/e2sm_kpm/e2sm_kpm_du_meas_provider_impl.cpp
  lib/e2/e2sm/e2sm_kpm/e2sm_kpm_du_meas_provider_impl.h
  lib/rlc/rlc_tx_metrics_container.h
  lib/rlc/rlc_tx_um_entity.cpp
Due: none

asn1: adding packing & uppacking for real types
  include/srsran/asn1/asn1_utils.h
  lib/asn1/asn1_utils.cpp
Due: none

e2sm_kpm: expanding functionality of latency measurement in RLC
  include/srsran/rlc/rlc_tx_metrics.h
  lib/e2/e2sm/e2sm_kpm/e2sm_kpm_du_meas_provider_impl.cpp
  lib/e2/e2sm/e2sm_kpm/e2sm_kpm_report_service_impl.cpp
  lib/rlc/rlc_tx_am_entity.cpp
  lib/rlc/rlc_tx_am_entity.h
  lib/rlc/rlc_tx_metrics_container.h
  lib/rlc/rlc_tx_um_entity.cpp
Due: none

e2sm: improving error handling for action definition unpacking
  lib/e2/common/e2_subscription_manager_impl.cpp
  lib/e2/e2sm/e2sm_kpm/e2sm_kpm_asn1_packer.cpp
  lib/e2/e2sm/e2sm_kpm/e2sm_kpm_impl.cpp
  lib/e2/e2sm/e2sm_rc/e2sm_rc_asn1_packer.cpp
  tests/unittests/e2/common/e2_test_helpers.h
Due: none

e2sm_kpm: improving logging information in kpm
  lib/e2/common/e2_subscription_manager_impl.cpp
  lib/e2/e2sm/e2sm_kpm/e2sm_kpm_impl.cpp
Due: none

asn1,e2sm_kpm: cleaning up real() packing, fixing delay metric test in e2sm_kpm
  include/srsran/asn1/asn1_utils.h
  lib/asn1/asn1_utils.cpp
  lib/e2/e2sm/e2sm_kpm/e2sm_kpm_impl.cpp
  lib/e2/e2sm/e2sm_rc/e2sm_rc_asn1_packer.cpp
  lib/rlc/rlc_tx_am_entity.cpp
  tests/unittests/e2/common/e2_test_helpers.h
  tests/unittests/e2/e2sm_kpm_test.cpp
Due: none

asn1: adding json support for REAL() type
  include/srsran/asn1/asn1_utils.h
  lib/asn1/asn1_utils.cpp
Due: none

e2sm_kpm: fixing labelling for some e2sm_kpm metrics
  lib/e2/e2sm/e2sm_kpm/e2sm_kpm_du_meas_provider_impl.cpp
Due: none

e2sm_kpm: inhancing tests for KPM to include a metric using real()
  tests/unittests/e2/common/e2_test_helpers.h
  tests/unittests/e2/e2sm_kpm_test.cpp
Due: none

sched: fetch DL HARQ candidates for new Tx only if cell is active
  lib/scheduler/ue_scheduling/ue_pdsch_param_candidate_searcher.h
Due: none

sched: add more context to warning log when UE carrier is inactive
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.cpp
Due: none

cu_cp: Make cell meas manager internal to the cu-cp
  include/srsran/cu_cp/cell_meas_manager.h
  include/srsran/cu_cp/cu_cp_configuration_helpers.h
  include/srsran/cu_cp/ue_manager.h
  include/srsran/rrc/rrc_du.h
  include/srsran/rrc/rrc_du_factory.h
  include/srsran/rrc/rrc_ue.h
  lib/cu_cp/adapters/cell_meas_manager_adapters.h
  lib/cu_cp/adapters/rrc_du_adapters.h
  lib/cu_cp/adapters/rrc_ue_adapters.h
  lib/cu_cp/cell_meas_manager/CMakeLists.txt
  lib/cu_cp/cell_meas_manager/cell_meas_manager_factory.cpp
  lib/cu_cp/cell_meas_manager/cell_meas_manager_helpers.h
  lib/cu_cp/cell_meas_manager/cell_meas_manager_impl.cpp
  lib/cu_cp/cell_meas_manager/cell_meas_manager_impl.h
  lib/cu_cp/cu_cp_impl.cpp
  lib/cu_cp/cu_cp_impl.h
  lib/cu_cp/cu_cp_impl_interface.h
  lib/cu_cp/du_processor/du_processor_factory.cpp
  lib/cu_cp/du_processor/du_processor_factory.h
  lib/cu_cp/du_processor/du_processor_impl.cpp
  lib/cu_cp/du_processor/du_processor_impl.h
  lib/cu_cp/du_processor/du_processor_repository.cpp
  lib/cu_cp/du_processor/du_processor_repository.h
  lib/cu_cp/ue_manager/ue_manager_impl.h
  lib/rrc/rrc_du_factory.cpp
  lib/rrc/rrc_du_impl.cpp
  lib/rrc/rrc_du_impl.h
  lib/rrc/ue/rrc_ue_impl.cpp
  lib/rrc/ue/rrc_ue_impl.h
  lib/rrc/ue/rrc_ue_message_handlers.cpp
  tests/unittests/cu_cp/cell_meas_manager/cell_meas_manager_test_helpers.cpp
  tests/unittests/cu_cp/cell_meas_manager/cell_meas_manager_test_helpers.h
  tests/unittests/cu_cp/du_processor/du_processor_test_helpers.cpp
  tests/unittests/cu_cp/du_processor/du_processor_test_helpers.h
  tests/unittests/cu_cp/mobility/mobility_test_helpers.cpp
  tests/unittests/rrc/rrc_ue_test_helpers.h
  tests/unittests/rrc/test_helpers.h
Due: none

cu_cp: Refactor mobility manager
  lib/cu_cp/adapters/cell_meas_manager_adapters.h
  lib/cu_cp/cell_meas_manager/cell_meas_manager_impl.h
  lib/cu_cp/cu_cp_impl.cpp
  lib/cu_cp/cu_cp_impl.h
  lib/cu_cp/mobility_manager/CMakeLists.txt
  lib/cu_cp/mobility_manager/mobility_manager.h
  lib/cu_cp/mobility_manager/mobility_manager_factory.cpp
  lib/cu_cp/mobility_manager/mobility_manager_impl.cpp
  lib/cu_cp/mobility_manager/mobility_manager_impl.h
Due: none

ci: replace Android UE
  .gitlab/ci/e2e/retina_request_android_b200.yml
Due: e2e request validation

ci: include all dpdk and uhd versions in ubuntu arm builders
  .gitlab/ci/builders.yml
  .gitlab/configuration.json
Due: trigger builder

ci,e2e: remove unnecessary stages in tox
  tests/e2e/pyproject.toml
Due: e2e tests tox

ci: add tox checks to builder scripts
  .gitlab/ci/builders.yml
  .gitlab/ci/builders/changed_tests.py
  .gitlab/ci/builders/pyproject.toml
  .gitlab/ci/builders/ram_reporter.py
Due: trigger builder

ci: remove graduation jobs
  .gitlab-ci.yml
  .gitlab/ci/schedules.yml
Due: none

ci: split nightlies
  .gitlab-ci.yml
  .gitlab/ci/build.yml
  .gitlab/ci/builders.yml
  .gitlab/ci/builders/version.yml
  .gitlab/ci/docker.yml
  .gitlab/ci/e2e.yml
  .gitlab/ci/release.yml
  .gitlab/ci/schedules.yml
  .gitlab/ci/src_cache.yml
  .gitlab/ci/trx.yml
Due: trigger builder, trigger docker

ci: fix builders arm
  .gitlab/ci/builders.yml
  .gitlab/ci/builders/version.yml
Due: trigger builder

ci: container cleanup policy
  .gitlab/configuration.json
Due: none

treewide: replace all uses of standard assert with srsran_assert. Left out 3rd party libraries and srslog
  include/srsran/adt/bit_buffer.h
  include/srsran/adt/span.h
  include/srsran/phy/upper/channel_coding/ldpc/ldpc.h
  include/srsran/phy/upper/log_likelihood_ratio.h
  include/srsran/ran/ssb_mapping.h
  lib/phy/upper/channel_coding/ldpc/ldpc_decoder_impl.cpp
  lib/phy/upper/channel_coding/ldpc/ldpc_encoder_generic.cpp
  lib/phy/upper/channel_coding/ldpc/ldpc_encoder_impl.cpp
  lib/phy/upper/channel_coding/ldpc/ldpc_luts_impl.cpp
  lib/phy/upper/channel_coding/ldpc/ldpc_segmenter_impl.cpp
  lib/phy/upper/channel_coding/polar/polar_allocator_impl.cpp
  lib/phy/upper/channel_coding/polar/polar_code_impl.cpp
  lib/phy/upper/channel_coding/polar/polar_decoder_impl.cpp
  lib/phy/upper/channel_coding/polar/polar_interleaver_impl.cpp
  lib/phy/upper/channel_processors/pbch_encoder_impl.cpp
  lib/phy/upper/channel_processors/pbch_modulator_impl.cpp
  lib/phy/upper/channel_processors/pusch/CMakeLists.txt
  lib/phy/upper/sequence_generators/low_papr_sequence_generator_impl.cpp
  lib/srsvec/bit.cpp
  lib/srsvec/conversion.cpp
  tests/unittests/phy/generic_functions/dft_processor_test.cpp
Due: none

sec: remove unused API for bitlengths that are not a multiple of 8 for NIA2
  include/srsran/security/integrity.h
  tests/unittests/security/security_test.cpp
Due: none

pdcp: re-add fallback function for old versions of mbedtls that do not have cmac function available
  include/srsran/security/integrity.h
  include/srsran/security/ssl.h
  tests/unittests/security/security_test.cpp
Due: none

pdcp: use cmac function of mbedtls
  include/srsran/security/integrity.h
  include/srsran/security/ssl.h
Due: none

pdcp: make sure that preamble is set correctly
  include/srsran/security/integrity.h
Due: none

sec: remove NIA-2 tests for messages with a bitlength that is not a multiple of 8
  tests/unittests/security/security_test.cpp
Due: none

pdcp: re-add non cmac function for NIA2
  tests/unittests/security/security_test.cpp
Due: none

ci: replace Android UE (HP tests)
  .gitlab/ci/e2e/retina_request_android_n300.yml
  .gitlab/ci/e2e/retina_request_android_x300.yml
Due: e2e request validation

ci: fix expire time in build jobs
  .gitlab/ci/build.yml
  .gitlab/ci/builders.yml
Due: trigger builder

ofh: move logger into the rx window statistics class
  lib/ofh/receiver/ofh_rx_window_checker.cpp
  lib/ofh/receiver/ofh_rx_window_checker.h
Due: none

support: fix destruction for r-value awaitables in coroutines
  include/srsran/cu_cp/ue_manager.h
  include/srsran/f1ap/cu_cp/f1ap_ue_configurator.h
  include/srsran/ngap/ngap_configuration_helpers.h
  include/srsran/rrc/rrc_ue.h
  include/srsran/support/async/coroutine.h
  include/srsran/support/async/fifo_async_task_scheduler.h
  lib/cu_cp/CMakeLists.txt
  lib/cu_cp/adapters/du_processor_adapters.h
  lib/cu_cp/adapters/ngap_adapters.h
  lib/cu_cp/adapters/rrc_ue_adapters.h
  lib/cu_cp/cu_cp_impl.cpp
  lib/cu_cp/cu_cp_impl.h
  lib/cu_cp/du_processor/du_processor_impl.cpp
  lib/cu_cp/du_processor/du_processor_impl.h
  lib/cu_cp/routine_managers/cu_cp_routine_manager.cpp
  lib/cu_cp/routine_managers/cu_cp_routine_manager.h
  lib/cu_cp/routines/ue_removal_routine.cpp
  lib/cu_cp/routines/ue_removal_routine.h
  lib/cu_cp/task_schedulers/ue_task_scheduler.cpp
  lib/cu_cp/task_schedulers/ue_task_scheduler.h
  lib/cu_cp/ue_manager/ue_manager_impl.cpp
  lib/cu_cp/ue_manager/ue_manager_impl.h
  lib/cu_cp/ue_manager/ue_task_scheduler.cpp
  lib/cu_cp/ue_manager/ue_task_scheduler.h
  lib/f1ap/cu_cp/ue_context/f1ap_cu_ue_context.h
  lib/f1ap/cu_cp/ue_context/f1ap_cu_ue_transaction_manager.h
  tests/integrationtests/ngap/ngap_integration_test.cpp
  tests/unittests/cu_cp/cu_cp_test_helpers.h
  tests/unittests/cu_cp/du_processor/du_processor_routine_manager_test_helpers.h
  tests/unittests/cu_cp/du_processor/du_processor_test_helpers.h
  tests/unittests/cu_cp/mobility/mobility_test_helpers.h
  tests/unittests/cu_cp/ue_manager/ue_manager_test_helpers.cpp
  tests/unittests/cu_cp/ue_manager/ue_manager_test_helpers.h
  tests/unittests/ngap/ngap_test_helpers.h
  tests/unittests/rrc/test_helpers.h
Due: none

cu-cp: remove unused file
  include/srsran/f1ap/cu_cp/f1ap_ue_configurator.h
  tests/unittests/cu_cp/test_doubles/dummy_du.cpp
Due: none

cu-cp: auto-cancel transactions when CU-CP UEs get removed
  include/srsran/support/async/protocol_transaction_manager.h
  lib/e1ap/cu_cp/ue_context/e1ap_bearer_transaction_manager.h
Due: none

cu-cp: remove DU processors from CU-CP instead of putting them in a temporary container
  lib/cu_cp/du_processor/du_processor_repository.cpp
  lib/cu_cp/du_processor/du_processor_repository.h
Due: none

cu-cp: cancel UE tasks when DU is being removed
  apps/gnb/gnb_appconfig_translators.cpp
  include/srsran/ngap/ngap_configuration.h
  include/srsran/ngap/ngap_configuration_helpers.h
  include/srsran/support/async/async_event_source.h
  include/srsran/support/async/protocol_transaction_manager.h
  lib/cu_cp/du_processor/du_processor_repository.cpp
  lib/f1ap/cu_cp/ue_context/f1ap_cu_ue_transaction_manager.h
  lib/ngap/ngap_impl.cpp
  tests/unittests/cu_cp/test_doubles/dummy_du.cpp
  tests/unittests/ngap/ngap_nas_message_test.cpp
  tests/unittests/ngap/ngap_test_helpers.cpp
Due: none

sched: add a note about fetching UE dedicated configuration
  lib/scheduler/policy/scheduler_time_rr.cpp
Due: none

sched: compute and enforce maximum nof. RBs to be allocated per UE per slot
  lib/scheduler/policy/scheduler_time_rr.cpp
  tests/unittests/scheduler/policy/scheduler_policy_test.cpp
Due: none

sched: fix build_pucch_guardband for > 1 PRB resources
  lib/scheduler/config/sched_cell_config_helpers.cpp
Due: none

mac: improve comments in uci_indication structs
  include/srsran/mac/mac_cell_control_information_handler.h
Due: none
