Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, metrics tox, grafana version changed, metrics version changed, metrics version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, metrics-server docker compose, metrics server image, metrics server image latest, grafana server image, grafana server image latest, e2e request and config validation

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  metrics tox: any of: docker/metrics_server/**/*
  grafana version changed: any of: docker/grafana/**/*
  metrics version changed: any of: docker/metrics_server/**/*
  metrics version check in retina: any of: docker/metrics_server/**/*
  gnb docker compose: (any of: docker/scripts/**/*, docker/Dockerfile) or (any of: docker/docker-compose.yml)
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  metrics-server docker compose: any of: docker/.env, docker/metrics_server/**/*, docker/docker-compose.yml
  metrics server image: any of: docker/metrics_server/**/*
  metrics server image latest: any of: docker/metrics_server/**/*
  grafana server image: any of: docker/grafana/**/*
  grafana server image latest: any of: docker/grafana/**/*
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*

ran: move vrb_to_prb_mapper to srsran/ran
  include/srsran/phy/upper/rb_allocation.h
  include/srsran/ran/resource_allocation/vrb_to_prb_mapper.h
  lib/phy/upper/CMakeLists.txt
  lib/phy/upper/rb_allocation.cpp
  lib/ran/CMakeLists.txt
  lib/ran/resource_allocation/vrb_to_prb_mapper.cpp
  tests/unittests/phy/upper/CMakeLists.txt
  tests/unittests/ran/CMakeLists.txt
  tests/unittests/ran/resource_allocation/vrb_to_prb_mapper_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ran, phy: move RB bitmap types to resource_allocation/rb_bitmap.h and use them on the PHY
  include/srsran/phy/support/re_pattern.h
  include/srsran/phy/upper/channel_processors/pdcch/pdcch_modulator.h
  include/srsran/phy/upper/rb_allocation.h
  include/srsran/phy/upper/signal_processors/dmrs_pdcch_processor.h
  include/srsran/phy/upper/signal_processors/dmrs_pdsch_processor.h
  include/srsran/ran/resource_allocation/rb_bitmap.h
  include/srsran/scheduler/result/vrb_alloc.h
  lib/fapi_adaptor/phy/messages/pdsch.cpp
  lib/fapi_adaptor/phy/messages/pusch.cpp
  lib/phy/upper/channel_processors/pdcch/pdcch_processor_impl.cpp
  lib/phy/upper/channel_processors/pdcch/pdcch_processor_impl.h
  lib/phy/upper/channel_processors/pdsch/pdsch_modulator_impl.cpp
  lib/phy/upper/channel_processors/pdsch/pdsch_processor_flexible_impl.cpp
  lib/phy/upper/channel_processors/pdsch/pdsch_processor_helpers.h
  lib/phy/upper/rb_allocation.cpp
  lib/scheduler/cell/resource_grid.h
  lib/scheduler/cell/vrb_alloc.cpp
  tests/benchmarks/phy/upper/signal_processors/dmrs_pdsch_processor_benchmark.cpp
  tests/unittests/fapi/validators/dl_pdsch_pdu_test.cpp
  tests/unittests/fapi_adaptor/phy/messages/dl_pdsch_pdu_test.cpp
  tests/unittests/fapi_adaptor/phy/messages/ul_pusch_pdu_test.cpp
  tests/unittests/phy/support/re_pattern_test.cpp
  tests/unittests/phy/upper/channel_processors/pdsch/pdsch_processor_validator_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ran, phy: vrb_to_prb separate configuration and mapping objects
  include/srsran/phy/upper/channel_processors/pusch/pusch_processor.h
  include/srsran/phy/upper/rb_allocation.h
  include/srsran/phy/upper/signal_processors/ptrs/ptrs_pdsch_generator.h
  include/srsran/ran/resource_allocation/rb_bitmap.h
  include/srsran/ran/resource_allocation/vrb_to_prb.h
  include/srsran/ran/resource_allocation/vrb_to_prb_mapper.h
  lib/fapi_adaptor/phy/messages/pdsch.cpp
  lib/phy/upper/channel_processors/pdsch/pdsch_modulator_impl.cpp
  lib/phy/upper/channel_processors/pdsch/pdsch_processor_flexible_impl.cpp
  lib/phy/upper/channel_processors/pdsch/pdsch_processor_helpers.h
  lib/phy/upper/channel_processors/pusch/pusch_processor_impl.cpp
  lib/phy/upper/rb_allocation.cpp
  lib/phy/upper/signal_processors/ptrs/ptrs_pdsch_generator_impl.h
  lib/phy/upper/uplink_processor_impl.cpp
  lib/ran/CMakeLists.txt
  lib/ran/resource_allocation/vrb_to_prb.cpp
  lib/ran/resource_allocation/vrb_to_prb_mapper.cpp
  tests/unittests/fapi_adaptor/phy/messages/dl_pdsch_pdu_test.cpp
  tests/unittests/phy/upper/channel_processors/pdsch/pdsch_modulator_test.cpp
  tests/unittests/phy/upper/channel_processors/pdsch/pdsch_processor_unittest.cpp
  tests/unittests/phy/upper/channel_processors/pdsch/pdsch_processor_validator_test.cpp
  tests/unittests/phy/upper/channel_processors/pusch/pusch_processor_unittest.cpp
  tests/unittests/ran/CMakeLists.txt
  tests/unittests/ran/resource_allocation/vrb_to_prb_mapper_test.cpp
  tests/unittests/ran/resource_allocation/vrb_to_prb_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ran: vrb_to_prb unit tests, fix interleaved mapping
  include/srsran/ran/resource_allocation/vrb_to_prb.h
  lib/fapi_adaptor/phy/messages/pdsch.cpp
  lib/ran/resource_allocation/vrb_to_prb.cpp
  tests/unittests/fapi_adaptor/phy/messages/dl_pdsch_pdu_test.cpp
  tests/unittests/ran/resource_allocation/vrb_to_prb_test.cpp
Due: none

Apps: relax atomics where possible
  apps/units/flexible_o_du/o_du_high/du_high/metrics/du_high_scheduler_cell_metrics_consumers.cpp
  apps/units/flexible_o_du/o_du_high/du_high/metrics/du_high_scheduler_cell_metrics_consumers.h
  apps/units/flexible_o_du/split_helpers/metrics/flexible_o_du_metrics_consumers.cpp
  apps/units/flexible_o_du/split_helpers/metrics/flexible_o_du_metrics_consumers.h
Due: none

mac: fix MAC metrics enabling/disabling via config
  apps/units/flexible_o_du/o_du_high/o_du_high_unit_factory.cpp
  lib/mac/mac_ctrl/mac_config.h
  lib/mac/mac_ctrl/mac_metrics_aggregator.cpp
Due: none

mac: move aggregation of DL cell metrics to mac_controller
  include/srsran/mac/mac_config.h
  include/srsran/mac/mac_metrics_notifier.h
  lib/du/du_high/du_high_impl.cpp
  lib/du/du_high/test_mode/mac_test_mode_adapter.cpp
  lib/mac/CMakeLists.txt
  lib/mac/mac_config_interfaces.h
  lib/mac/mac_ctrl/mac_config.h
  lib/mac/mac_ctrl/mac_controller.cpp
  lib/mac/mac_ctrl/mac_controller.h
  lib/mac/mac_ctrl/mac_metrics_aggregator.cpp
  lib/mac/mac_ctrl/mac_metrics_aggregator.h
  lib/mac/mac_dl/mac_cell_processor.cpp
  lib/mac/mac_dl/mac_cell_processor.h
  lib/mac/mac_dl/mac_dl_configurator.h
  lib/mac/mac_dl/mac_dl_metric_handler.cpp
  lib/mac/mac_dl/mac_dl_metric_handler.h
  lib/mac/mac_dl/mac_dl_processor.cpp
  lib/mac/mac_dl/mac_dl_processor.h
  lib/mac/mac_impl.cpp
  tests/unittests/mac/CMakeLists.txt
  tests/unittests/mac/mac_cell_processor_test.cpp
  tests/unittests/mac/mac_ctrl_test.cpp
  tests/unittests/mac/mac_ctrl_test_dummies.h
  tests/unittests/mac/mac_dl_cfg_test.cpp
  tests/unittests/mac/mac_dl_metrics_test.cpp
  tests/unittests/mac/mac_metrics_test.cpp
  tests/unittests/mac/mac_ue_create_test.cpp
Due: none

mac: refactor mac dl cell metrics handling
  include/srsran/mac/mac_metrics.h
  lib/mac/mac_dl/mac_cell_processor.cpp
  lib/mac/mac_dl/mac_cell_processor.h
  lib/mac/mac_dl/mac_dl_metric_handler.cpp
  lib/mac/mac_dl/mac_dl_metric_handler.h
  tests/unittests/mac/mac_cell_processor_test.cpp
  tests/unittests/mac/mac_dl_metrics_test.cpp
Due: none

mac: change mechanism to detect when MAC cell metrics need to be aggregated
  lib/mac/mac_ctrl/mac_metrics_aggregator.cpp
  lib/mac/mac_ctrl/mac_metrics_aggregator.h
  lib/mac/mac_dl/mac_dl_configurator.h
  lib/mac/mac_dl/mac_dl_metric_handler.cpp
  lib/mac/mac_dl/mac_dl_metric_handler.h
  tests/unittests/mac/mac_metrics_test.cpp
Due: none

mac: revert mechanism for aggregation to timeout-based
  lib/mac/mac_ctrl/mac_metrics_aggregator.cpp
  lib/mac/mac_ctrl/mac_metrics_aggregator.h
  lib/mac/mac_dl/mac_dl_metric_handler.cpp
  tests/integrationtests/du_high/du_high_many_cells_test.cpp
  tests/integrationtests/du_high/test_utils/du_high_worker_manager.cpp
  tests/integrationtests/du_high/test_utils/du_high_worker_manager.h
  tests/unittests/mac/mac_metrics_test.cpp
Due: none

mac: fix aggregation of scheduler cell metrics
  lib/mac/mac_ctrl/mac_controller.cpp
  lib/mac/mac_ctrl/mac_metrics_aggregator.cpp
  lib/mac/mac_ctrl/mac_metrics_aggregator.h
  lib/mac/mac_dl/mac_cell_processor.cpp
  lib/mac/mac_dl/mac_cell_processor.h
  lib/mac/mac_dl/mac_dl_configurator.h
  lib/mac/mac_dl/mac_dl_metric_handler.cpp
  lib/mac/mac_dl/mac_dl_metric_handler.h
  lib/mac/mac_dl/mac_dl_processor.cpp
  lib/mac/mac_dl/mac_dl_processor.h
  tests/unittests/mac/mac_cell_processor_test.cpp
  tests/unittests/mac/mac_ctrl_test_dummies.h
  tests/unittests/mac/mac_dl_cfg_test.cpp
  tests/unittests/mac/mac_metrics_test.cpp
Due: none

mac: small changes of metric aggregator documentation
  include/srsran/du/du_high/du_manager/du_manager.h
  include/srsran/du/du_high/du_manager/du_manager_params.h
  lib/du/du_high/adapters/adapters.h
  lib/du/du_high/du_manager/du_manager_impl.cpp
  lib/du/du_high/du_manager/du_manager_impl.h
  lib/du/du_high/du_manager/du_metrics_aggregator_impl.cpp
  lib/du/du_high/du_manager/du_metrics_aggregator_impl.h
  lib/mac/mac_ctrl/mac_metrics_aggregator.cpp
  lib/mac/mac_ctrl/mac_metrics_aggregator.h
Due: none

mac: use a timeout based approach to aggregate mac cell reports
  include/srsran/mac/mac_metrics.h
  lib/mac/mac_dl/mac_dl_metric_handler.cpp
  lib/mac/mac_dl/mac_dl_metric_handler.h
  tests/unittests/mac/mac_dl_metrics_test.cpp
Due: none

build: disable vptr on ubsan
  CMakeLists.txt
Due: none

cu_up,gtpu: make gtpu demux test teid configurable to support attach/detach in test mode
  include/srsran/gtpu/gtpu_demux.h
  lib/cu_up/cu_up_manager_impl.cpp
  lib/cu_up/cu_up_manager_impl.h
  lib/cu_up/routines/cu_up_bearer_context_modification_routine.cpp
  lib/gtpu/gtpu_demux_impl.cpp
  lib/gtpu/gtpu_demux_impl.h
  tests/unittests/cu_up/cu_up_test_helpers.h
Due: none

cu_up: toggle test mode on and off
  lib/cu_up/cu_up_impl.cpp
  lib/cu_up/cu_up_manager_helpers.h
  lib/cu_up/cu_up_manager_impl.cpp
  lib/cu_up/cu_up_manager_impl.h
Due: none

cu_up: add option to configure attach detach period in test mode
  apps/units/o_cu_up/cu_up/cu_up_unit_config.h
  apps/units/o_cu_up/cu_up/cu_up_unit_config_cli11_schema.cpp
  apps/units/o_cu_up/cu_up/cu_up_unit_config_translators.cpp
  include/srsran/cu_up/cu_up_config.h
  lib/cu_up/cu_up_manager_impl.cpp
Due: none

cmake: clean obsolete code
  CMakeLists.txt
  tests/unittests/phy/upper/channel_coding/CMakeLists.txt
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ngap: added test for pair inconsistency check in initial context setup request
  tests/unittests/ngap/ngap_ue_context_management_procedure_test.cpp
Due: none

ngap: add function to validate consistent ue id pair
  lib/ngap/ngap_impl.cpp
  lib/ngap/ngap_impl.h
Due: none

ngap: added ue-id pair consistency check to initial context setup request
  lib/ngap/ngap_impl.cpp
Due: none

ngap: added test for inconsistent ngap ue id pair check
  lib/ngap/ngap_impl.cpp
  tests/unittests/ngap/ngap_nas_message_test.cpp
Due: none

added custom cmd to send a packet
  apps/gnb/gnb.cpp
  lib/ngap/.DS_Store
  lib/ngap/ngap_connection_handler.cpp
  lib/ngap/ngap_connection_handler.h
  lib/ngap/ngap_impl.h
Due: none

ci: force using host ip in the callbox mme for android test
  .gitlab/ci/e2e/.env
  .gitlab/ci/e2e/android_callbox.yml
Due: e2e request and config validation

du: fix small queue size
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config.h
Due: none

sched: relax some atomics
  lib/scheduler/cell_scheduler.cpp
  lib/scheduler/cell_scheduler.h
Due: none

ran: fix VRB
  lib/fapi_adaptor/phy/messages/pdsch.cpp
  tests/unittests/fapi_adaptor/phy/messages/dl_pdsch_pdu_test.cpp
Due: none

ci,scripts: adjust run_custom after adding variable prints in zmq driver job
  .gitlab/run_custom_pipeline.py
Due: none

pdcp: reduce log spam on drop bursts
  lib/pdcp/pdcp_entity_tx.cpp
  lib/pdcp/pdcp_entity_tx.h
Due: none

ci: enables SRS in RU dummy test mode
  tests/e2e/tests/test_mode/config_ru.yml
Due: e2e tests tox

phy: fixes SRS data race
  include/srsran/phy/upper/signal_processors/srs/srs_estimator_factory.h
  lib/phy/upper/signal_processors/srs/srs_estimator_factory.cpp
  lib/phy/upper/signal_processors/srs/srs_estimator_pool.h
  lib/phy/upper/upper_phy_factories.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy: review documentation
  include/srsran/phy/upper/signal_processors/srs/srs_estimator_factory.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy,pucch: minor refactor f1 detector
  lib/phy/upper/channel_processors/pucch/pucch_detector_format1.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy, pucch: remove old f1 detector
  include/srsran/phy/upper/channel_processors/pucch/pucch_detector.h
  lib/phy/upper/channel_processors/pucch/factories.cpp
  lib/phy/upper/channel_processors/pucch/pucch_detector_format1.cpp
  lib/phy/upper/channel_processors/pucch/pucch_detector_format1.h
  lib/phy/upper/channel_processors/pucch/pucch_detector_impl.h
  tests/benchmarks/phy/upper/channel_processors/pucch/CMakeLists.txt
  tests/unittests/phy/upper/channel_processors/pucch/CMakeLists.txt
  tests/unittests/phy/upper/channel_processors/pucch/pucch_detector_test.cpp
  tests/unittests/phy/upper/channel_processors/pucch/pucch_detector_test_data.h
  tests/unittests/phy/upper/channel_processors/pucch/pucch_detector_test_data.tar.gz
  tests/unittests/phy/upper/channel_processors/pucch/pucch_detector_test_doubles.h
  tests/unittests/phy/upper/channel_processors/pucch/pucch_processor_format1_vectortest.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ci: update retina version
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

du,rlc: change rlc sdu queue size defaults
  configs/qos.yml
  include/srsran/du/du_high/du_qos_config_helpers.h
Due: none

gnb,cu: increase NG-U default queue size
  apps/units/o_cu_up/cu_up/cu_up_unit_config.h
Due: none

cu,du: increased UL UE executor queue size and UE data executor size
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config.h
  apps/units/o_cu_up/cu_up/cu_up_unit_config.h
Due: none

adt: set a limit of dequeues per dispatch for the batch_dispatch_queue
  include/srsran/adt/batched_dispatch_queue.h
Due: none
