Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke pretty printers cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, smoke pretty printers clean, tox python in builder, grafana version changed, telegraf version changed, telegraf version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb and telegraf docker compose, telegraf image, telegraf image latest, grafana image, grafana image latest, e2e request and config validation

trigger builder:
  stage: ci
  trigger:
    include: .gitlab/ci/builders.yml
    strategy: depend

trigger docker:
  stage: ci
  trigger:
    include: .gitlab/ci/docker.yml
    strategy: depend
  variables:
    PY_DIR: docker/metrics_server

e2e tests tox:
  stage: static
  variables:
    PY_DIR: tests/e2e
  before_script:
  - apk add build-base

smoke avx512 cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  - job: get plugin commit
    optional: true
    artifacts: true
  variables:
    PLUGIN_INDEX_ARRAY: '0'
    OS: ubuntu-24.04
    COMPILER: gcc
    CMAKE_BUILD_TYPE: Release
  ...

smoke arm cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  - job: get plugin commit
    optional: true
    artifacts: true
  variables:
    PLUGIN_INDEX_ARRAY: '0'
    OS: ubuntu-24.04
    COMPILER: gcc
    CMAKE_BUILD_TYPE: Release
  ...

smoke arm neon cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  - job: get plugin commit
    optional: true
    artifacts: true
  variables:
    PLUGIN_INDEX_ARRAY: '0'
    OS: ubuntu-24.04
    COMPILER: gcc
    CMAKE_BUILD_TYPE: Release
  ...

smoke pretty printers cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  - job: get plugin commit
    optional: true
    artifacts: true
  variables:
    PLUGIN_INDEX_ARRAY: '0'
    OS: ubuntu-24.04
    COMPILER: gcc
    CMAKE_BUILD_TYPE: Debug
  ...

smoke avx512 clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  - job: get plugin commit
    optional: true
    artifacts: true
  variables:
    PLUGIN_INDEX_ARRAY: '0'
    OS: ubuntu-24.04
    COMPILER: gcc
  ...

smoke arm clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  - job: get plugin commit
    optional: true
    artifacts: true
  variables:
    PLUGIN_INDEX_ARRAY: '0'
    OS: ubuntu-24.04
    COMPILER: gcc
  ...

smoke arm neon clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  - job: get plugin commit
    optional: true
    artifacts: true
  variables:
    PLUGIN_INDEX_ARRAY: '0'
    OS: ubuntu-24.04
    COMPILER: gcc
  ...

tox python in builder:
  stage: ci
  variables:
    PY_DIR: .gitlab/ci/builders
    GIT_LFS_SKIP_SMUDGE: 1

sched: only reserve CSI/SR resources after running the multiplexing algorithm
  lib/scheduler/pucch_scheduling/pucch_allocator_impl.cpp
  lib/scheduler/pucch_scheduling/pucch_resource_manager.cpp
  lib/scheduler/pucch_scheduling/pucch_resource_manager.h
Due: none

sched: store list of resource_info in pucch_collision_manager
  lib/scheduler/cell/resource_grid.h
  lib/scheduler/pucch_scheduling/pucch_collision_manager.cpp
  lib/scheduler/pucch_scheduling/pucch_collision_manager.h
Due: none

sched: fix incorrect estimation of PUCCH grants needed and other refactors
  include/srsran/scheduler/resource_grid_util.h
  lib/du/du_high/du_manager/ran_resource_management/du_pucch_resource_manager.cpp
  lib/scheduler/policy/scheduler_policy.h
  lib/scheduler/pucch_scheduling/pucch_allocator_helpers.cpp
  lib/scheduler/pucch_scheduling/pucch_allocator_helpers.h
  lib/scheduler/pucch_scheduling/pucch_allocator_impl.cpp
  lib/scheduler/pucch_scheduling/pucch_allocator_impl.h
Due: none

sched: simplify pucch_collision_manager interface
  lib/scheduler/pucch_scheduling/pucch_allocator_impl.cpp
  lib/scheduler/pucch_scheduling/pucch_collision_manager.cpp
  lib/scheduler/pucch_scheduling/pucch_collision_manager.h
  lib/scheduler/pucch_scheduling/pucch_resource_manager.cpp
  tests/unittests/scheduler/uci_and_pucch/pucch_collision_manager_test.cpp
Due: none

sched: computation of PUCCH multiplexing regions
  lib/scheduler/pucch_scheduling/pucch_collision_manager.cpp
  lib/scheduler/pucch_scheduling/pucch_collision_manager.h
  tests/unittests/scheduler/uci_and_pucch/pucch_collision_manager_test.cpp
Due: none

sched: transaction-like interface to pucch_resource_manager
  lib/scheduler/pucch_scheduling/pucch_allocator_impl.cpp
  lib/scheduler/pucch_scheduling/pucch_allocator_impl.h
  lib/scheduler/pucch_scheduling/pucch_resource_manager.cpp
  lib/scheduler/pucch_scheduling/pucch_resource_manager.h
  tests/unittests/scheduler/uci_and_pucch/pucch_res_manager_test.cpp
Due: none

sched: helper for checking for PUCCH F0 and F2 case in cell_configuration
  lib/scheduler/config/cell_configuration.h
  lib/scheduler/pucch_scheduling/pucch_allocator_impl.cpp
  lib/scheduler/pucch_scheduling/pucch_resource_manager.cpp
  lib/scheduler/pucch_scheduling/pucch_resource_manager.h
Due: none

cu_cp: fix pre-mature release of DRB1 in inter-du intra-gnb ho
  lib/cu_cp/routines/mobility/handover_reconfiguration_routine.cpp
  tests/unittests/cu_cp/mobility/handover_reconfiguration_routine_test.cpp
Due: none

ui: fix decimals not displayed in some panels
  docker/grafana/dashboards/home.json
  docker/grafana/dashboards/ofh.json
  docker/grafana/version.yml
Due: trigger docker, grafana version changed, grafana docker compose, grafana image, grafana image latest

app,cu_up: fix log and pcap yaml writter
  apps/units/o_cu_up/cu_up/cu_up_unit_config_yaml_writer.cpp
Due: none

app,cu_up: fix metrics yaml writter
  apps/units/o_cu_up/cu_up/cu_up_unit_config_yaml_writer.cpp
Due: none

fapi_adaptor: add a stop method to the MAC-FAPI adaptor. This stop method will filter the downlink data to the adaptor.
  include/srsran/fapi_adaptor/mac/mac_fapi_adaptor.h
  include/srsran/fapi_adaptor/mac/mac_fapi_sector_adaptor.h
  lib/du/o_du_impl.cpp
  lib/fapi_adaptor/mac/mac_fapi_adaptor_factory_impl.cpp
  lib/fapi_adaptor/mac/mac_fapi_adaptor_impl.cpp
  lib/fapi_adaptor/mac/mac_fapi_adaptor_impl.h
  lib/fapi_adaptor/mac/mac_fapi_sector_adaptor_impl.h
  lib/fapi_adaptor/mac/mac_to_fapi_translator.cpp
  lib/fapi_adaptor/mac/mac_to_fapi_translator.h
Due: none

fapi_adaptor: log slot controller acquisition failure
  lib/fapi_adaptor/phy/fapi_to_phy_translator.cpp
  lib/fapi_adaptor/phy/fapi_to_phy_translator.h
Due: none

ntn, harq: fixing HARQ timeout for NTN
  lib/scheduler/cell/cell_harq_manager.cpp
Due: none

sched: set default nof_preselected_newtx_ues to 1024
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config.h
Due: none

pdcp: set count in SDU info of rx_window to detect duplicates
  lib/pdcp/pdcp_entity_rx.cpp
Due: none

pdcp: add log spy to RX test and check warnings and errors
  tests/unittests/pdcp/pdcp_rx_test.cpp
  tests/unittests/pdcp/pdcp_rx_test.h
Due: none

pdcp_rx: add test for received duplicates
  tests/unittests/pdcp/pdcp_rx_test.cpp
Due: none

app,sched: fix pxsch_rbs_per_tdd_slot_idx + pci
  apps/helpers/metrics/json_generators/du_high/scheduler.cpp
  apps/units/flexible_o_du/o_du_high/du_high/metrics/consumers/scheduler_metrics_consumers.cpp
  include/srsran/scheduler/scheduler_metrics.h
  lib/scheduler/logging/scheduler_metrics_handler.cpp
Due: none

ru_dummy: move tokens to request handlers instead of creating new ones
  lib/ru/dummy/ru_dummy_sector.h
Due: none

low phy: fix low phy implementation class name
  lib/phy/lower/lower_phy_factory.cpp
  lib/phy/lower/lower_phy_impl.cpp
  lib/phy/lower/lower_phy_impl.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy: fix DMRS helpers deps
  include/srsran/phy/upper/sequence_generators/pss_sequence_generator.h
  lib/phy/upper/signal_processors/CMakeLists.txt
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ci,e2e: retry when license can't be reserved
  tests/e2e/tests/attach_detach.py
  tests/e2e/tests/handover.py
  tests/e2e/tests/inter_du_handover.py
  tests/e2e/tests/iperf.py
  tests/e2e/tests/ping.py
  tests/e2e/tests/pucch.py
  tests/e2e/tests/reestablishment.py
  tests/e2e/tests/viavi.py
Due: e2e tests tox

phy: report quiet groids to PHY tap
  include/srsran/phy/upper/phy_tap/phy_tap.h
  include/srsran/phy/upper/uplink_slot_processor.h
  lib/phy/upper/uplink_processor_fsm.h
  lib/phy/upper/uplink_processor_impl.cpp
  lib/phy/upper/uplink_processor_impl.h
  lib/phy/upper/uplink_slot_processor_alt_impl.h
  tests/unittests/phy/upper/phy_tap_test_doubles.h
  tests/unittests/phy/upper/uplink_processor_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

Renamed srsran by srsgnb in the build instructions
  README.md
Due: none

phy: refactor port_channel_estimator interface
  include/srsran/phy/upper/re_measurement.h
  include/srsran/phy/upper/signal_processors/channel_estimator/port_channel_estimator.h
  lib/phy/metrics/phy_metrics_port_channel_estimator_decorator.h
  lib/phy/upper/signal_processors/channel_estimator/port_channel_estimator_average_impl.cpp
  lib/phy/upper/signal_processors/channel_estimator/port_channel_estimator_average_impl.h
  lib/phy/upper/signal_processors/channel_estimator/port_channel_estimator_pool.h
  lib/phy/upper/signal_processors/pucch/dmrs_pucch_estimator_format2.cpp
  lib/phy/upper/signal_processors/pucch/dmrs_pucch_estimator_format2.h
  lib/phy/upper/signal_processors/pucch/dmrs_pucch_estimator_formats3_4.cpp
  lib/phy/upper/signal_processors/pucch/dmrs_pucch_estimator_formats3_4.h
  lib/phy/upper/signal_processors/pusch/dmrs_pusch_estimator_impl.cpp
  tests/unittests/phy/upper/signal_processors/channel_estimator/port_channel_estimator_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy: remove port channel estimator pool
  include/srsran/phy/upper/signal_processors/channel_estimator/factories.h
  include/srsran/phy/upper/signal_processors/pusch/factories.h
  lib/phy/upper/signal_processors/channel_estimator/factories.cpp
  lib/phy/upper/signal_processors/channel_estimator/port_channel_estimator_pool.h
  lib/phy/upper/signal_processors/pusch/dmrs_pusch_estimator_impl.cpp
  lib/phy/upper/signal_processors/pusch/dmrs_pusch_estimator_impl.h
  lib/phy/upper/signal_processors/pusch/factories.cpp
  lib/phy/upper/upper_phy_factories.cpp
  tests/benchmarks/phy/upper/channel_processors/pusch/pusch_processor_benchmark.cpp
  tests/integrationtests/phy/upper/channel_processors/pxsch_bler_test_factories.cpp
  tests/unittests/phy/upper/channel_processors/pusch/pusch_processor_validator_test.cpp
  tests/unittests/phy/upper/channel_processors/pusch/pusch_processor_vectortest.cpp
  tests/unittests/phy/upper/signal_processors/channel_estimator/port_channel_estimator_test.cpp
  tests/unittests/phy/upper/signal_processors/pusch/dmrs_pusch_estimator_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ci: update retina version (UE PDCCH opt)
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

ci: update retina version
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

Revert "phy: remove port channel estimator pool"
  include/srsran/phy/upper/signal_processors/channel_estimator/factories.h
  include/srsran/phy/upper/signal_processors/pusch/factories.h
  lib/phy/upper/signal_processors/channel_estimator/factories.cpp
  lib/phy/upper/signal_processors/channel_estimator/port_channel_estimator_pool.h
  lib/phy/upper/signal_processors/pusch/dmrs_pusch_estimator_impl.cpp
  lib/phy/upper/signal_processors/pusch/dmrs_pusch_estimator_impl.h
  lib/phy/upper/signal_processors/pusch/factories.cpp
  lib/phy/upper/upper_phy_factories.cpp
  tests/benchmarks/phy/upper/channel_processors/pusch/pusch_processor_benchmark.cpp
  tests/integrationtests/phy/upper/channel_processors/pxsch_bler_test_factories.cpp
  tests/unittests/phy/upper/channel_processors/pusch/pusch_processor_validator_test.cpp
  tests/unittests/phy/upper/channel_processors/pusch/pusch_processor_vectortest.cpp
  tests/unittests/phy/upper/signal_processors/channel_estimator/port_channel_estimator_test.cpp
  tests/unittests/phy/upper/signal_processors/pusch/dmrs_pusch_estimator_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

Revert "phy: refactor port_channel_estimator interface"
  include/srsran/phy/upper/re_measurement.h
  include/srsran/phy/upper/signal_processors/channel_estimator/port_channel_estimator.h
  lib/phy/metrics/phy_metrics_port_channel_estimator_decorator.h
  lib/phy/upper/signal_processors/channel_estimator/port_channel_estimator_average_impl.cpp
  lib/phy/upper/signal_processors/channel_estimator/port_channel_estimator_average_impl.h
  lib/phy/upper/signal_processors/channel_estimator/port_channel_estimator_pool.h
  lib/phy/upper/signal_processors/pucch/dmrs_pucch_estimator_format2.cpp
  lib/phy/upper/signal_processors/pucch/dmrs_pucch_estimator_format2.h
  lib/phy/upper/signal_processors/pucch/dmrs_pucch_estimator_formats3_4.cpp
  lib/phy/upper/signal_processors/pucch/dmrs_pucch_estimator_formats3_4.h
  lib/phy/upper/signal_processors/pusch/dmrs_pusch_estimator_impl.cpp
  tests/unittests/phy/upper/signal_processors/channel_estimator/port_channel_estimator_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ci: increase valgrind artifacts expiration time
  .gitlab/ci/build.yml
Due: none

ntn,mac: fixing 30khz SCS for NTN case
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_translators.cpp
  lib/ran/band_helper.cpp
Due: none

ci: improve base job for external use
  .gitlab/ci-shared/build.yml
  .gitlab/ci/build.yml
Due: none

pcap: use function to calculate dissector name
  lib/pcap/backend_pcap_writer.cpp
  lib/pcap/backend_pcap_writer.h
  lib/pcap/pcap_file_writer.cpp
  lib/pcap/pcap_file_writer.h
Due: none

pcap: add padding for gtp dissector name
  lib/pcap/dlt_pcap_impl.cpp
  lib/pcap/pcap_file_writer.cpp
Due: none

pcap: use export_pdu format
  lib/pcap/backend_pcap_writer.cpp
  lib/pcap/dlt_pcap_impl.cpp
  lib/pcap/pcap_file_writer.cpp
  lib/pcap/pcap_file_writer.h
  tests/unittests/pcap/ngap_pcap_test.cpp
Due: none

pcap: fix padding and dissector name
  lib/pcap/backend_pcap_writer.cpp
  lib/pcap/backend_pcap_writer.h
  lib/pcap/pcap_file_writer.cpp
  lib/pcap/pcap_file_writer.h
Due: none

pcap: change interface of pcap backend write_pdu
  lib/pcap/backend_pcap_writer.cpp
  lib/pcap/backend_pcap_writer.h
  lib/pcap/dlt_pcap_impl.cpp
Due: none

pcap: use export_pdu in all DLT pcaps
  lib/pcap/dlt_pcap_impl.cpp
  lib/pcap/dlt_pcap_impl.h
  lib/pcap/pcap_file_writer.cpp
Due: none

Path conditions:
  trigger builder: any of: .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*, docker/scripts/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv,py,toml}, docker/**/Dockerfile, .gdbinit
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke pretty printers cached: any of: include/srsran/adt/**/*, tests/utils/gdb/pretty_printers/*, .gdbinit
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke pretty printers clean: any of: include/srsran/adt/**/*, tests/utils/gdb/pretty_printers/*, .gdbinit
  tox python in builder: any of: .gitlab/ci/builders/**/*.py
  grafana version changed: any of: docker/grafana/**/*
  telegraf version changed: any of: docker/telegraf/**/*
  telegraf version check in retina: any of: docker/telegraf/**/*
  gnb docker compose: (any of: docker/scripts/**/*, docker/Dockerfile) or (any of: docker/docker-compose.yml)
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.ui.yml
  influxdb and telegraf docker compose: any of: docker/.env, docker/telegraf/**/*, docker/docker-compose.ui.yml
  telegraf image: any of: docker/telegraf/**/*
  telegraf image latest: any of: docker/telegraf/**/*
  grafana image: any of: docker/grafana/**/*
  grafana image latest: any of: docker/grafana/**/*
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*
