Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, metrics tox, grafana version changed, metrics version changed, metrics version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, metrics-server docker compose, metrics server image, metrics server image latest, grafana server image, grafana server image latest, e2e request and config validation

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  metrics tox: any of: docker/metrics_server/**/*
  grafana version changed: any of: docker/grafana/**/*
  metrics version changed: any of: docker/metrics_server/**/*
  metrics version check in retina: any of: docker/metrics_server/**/*
  gnb docker compose: (any of: docker/scripts/**/*, docker/Dockerfile) or (any of: docker/docker-compose.yml)
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  metrics-server docker compose: any of: docker/.env, docker/metrics_server/**/*, docker/docker-compose.yml
  metrics server image: any of: docker/metrics_server/**/*
  metrics server image latest: any of: docker/metrics_server/**/*
  grafana server image: any of: docker/grafana/**/*
  grafana server image latest: any of: docker/grafana/**/*
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*

ci,e2e: apply common log level to core
  .gitlab/ci-shared/e2e.yml
Due: none

ci,e2e: sorting items in s72 testbed
  .gitlab/ci/e2e/s72_uesim.yml
Due: e2e request and config validation

du_low: fix nof_threads in du low expert config
  apps/units/flexible_o_du/o_du_low/du_low_config.h
Due: none

ntn: add parsing of epoch_timestamp, feeder link info and gateway location
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_yaml_writer.cpp
  include/srsran/ran/ntn.h
Due: none

ntn: add info about the ephemeris info components units
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_schema.cpp
Due: none

fmt: Patch the dyn args store implementation to allow SSO for types that fit in a void* and are trivially destructible, avoiding the use of malloc to store these types.
  external/fmt/include/fmt/args.h
Due: none

ci: adjust gcovr parameters
  .gitlab/ci/build.yml
Due: none

RTSAN: instrument the DL path of the upper phy and the PRACH as it executes inside the DL worker pool
  lib/fapi/message_buffering/message_bufferer_slot_gateway_task_dispatcher.cpp
  lib/phy/support/resource_grid_pool_impl.cpp
  lib/phy/upper/channel_processors/pdsch/pdsch_processor_flexible_impl.cpp
  lib/phy/upper/downlink_processor_single_executor_impl.cpp
  lib/phy/upper/uplink_processor_impl.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ci: update retina with flexric fix
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

ci,e2e: increase test_ru_16cell_50ue duration to 10 min
  .gitlab/ci/e2e/.env
  tests/e2e/tests/test_mode.py
Due: e2e tests tox, e2e request and config validation

gtpu,ngu: throttle log warnings on sn out of window
  lib/gtpu/gtpu_tunnel_ngu_rx_impl.h
Due: none

ci,e2e: add iperf interleaving tests for zmq and b200
  tests/e2e/tests/iperf.py
Due: e2e tests tox

app: raise io_worker and low-prio thread pool threads prio
  apps/services/worker_manager/worker_manager.cpp
  include/srsran/support/io/io_broker.h
Due: none

Reduce long task warning
  include/srsran/support/executors/sequential_metrics_executor.h
Due: none

ci,builder: update arch container
  .gitlab/ci/builders/archlinux/Dockerfile
Due: trigger builder

ci,builders: update dependency
  .gitlab/ci/builders.yml
Due: trigger builder

trying to get the log back in the tcp server
  apps/gnb/gnb.cpp
  lib/ngap/gateways/n2_connection_client_factory.cpp
Due: none

fix compile error
  apps/gnb/gnb.cpp
Due: none

fixing the linking error
  apps/gnb/gnb.cpp
  lib/CMakeLists.txt
  lib/common/control_socket_context.cpp
  lib/common/control_socket_context.h
  lib/ngap/gateways/n2_connection_client_factory.cpp
Due: none

cu_up: fix configuration of strand batch size
  apps/units/o_cu_up/cu_up/cu_up_unit_config_cli11_schema.cpp
Due: none

apps: add task executor metrics for the upper PHY
  apps/services/worker_manager/worker_manager.cpp
  apps/services/worker_manager/worker_manager.h
  apps/services/worker_manager/worker_manager_config.h
  apps/units/flexible_o_du/o_du_low/du_low_config.h
  apps/units/flexible_o_du/o_du_low/du_low_config_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_low/du_low_config_translator.cpp
  include/srsran/support/executors/concurrent_metrics_executor.h
  include/srsran/support/tracing/resource_usage.h
Due: none

ci,viavi: reduce number of tolerated KOs
  tests/e2e/tests/viavi/test_declaration.yml
  tests/e2e/tests/viavi/test_declaration_debug.yml
Due: e2e tests tox, e2e request and config validation

make files
  apps/gnb/CMakeLists.txt
  include/srsran/.DS_Store
  lib/common/CMakeLists.txt
Due: none

revert
  apps/gnb/gnb.cpp
  lib/ngap/gateways/n2_connection_client_factory.cpp
Due: none

ci,viavi: Increase the number of expected_nof_kos to 1
  tests/e2e/tests/viavi/test_declaration.yml
  tests/e2e/tests/viavi/test_declaration_debug.yml
Due: e2e tests tox, e2e request and config validation

phy: improves the uplink processor pool dimensioning
  apps/units/flexible_o_du/o_du_low/du_low_config_translator.cpp
Due: none

du: fix maximum PUSCH slot concurrency to FAPI maximum
  apps/units/flexible_o_du/o_du_low/du_low_config_translator.cpp
Due: none

uhd: fix timespec update after transmission
  lib/radio/uhd/radio_uhd_tx_stream.cpp
Due: none

ofh: fix int16 overflow
  lib/ofh/compression/avx2_helpers.h
Due: none

Revert "ci,viavi: Increase the number of expected_nof_kos to 1"
  tests/e2e/tests/viavi/test_declaration.yml
  tests/e2e/tests/viavi/test_declaration_debug.yml
Due: e2e tests tox, e2e request and config validation

ci,viavi: use lower equal in kos threshold
  tests/e2e/tests/viavi.py
Due: e2e tests tox

ci: retry pods that use unstable fiber network
  tests/e2e/tests/ping.py
  tests/e2e/tests/validate_configuration.py
Due: e2e tests tox

apps: added DU low application
  apps/CMakeLists.txt
  apps/du_low/CMakeLists.txt
  apps/du_low/du_low.cpp
  apps/du_low/du_low_appconfig.h
  apps/du_low/du_low_appconfig_cli11_schema.cpp
  apps/du_low/du_low_appconfig_cli11_schema.h
  apps/du_low/du_low_appconfig_translators.cpp
  apps/du_low/du_low_appconfig_translators.h
  apps/du_low/du_low_appconfig_validators.cpp
  apps/du_low/du_low_appconfig_validators.h
  apps/du_low/du_low_appconfig_yaml_writer.cpp
  apps/du_low/du_low_appconfig_yaml_writer.h
Due: none

app_unit: adjust RU configuration to not depend on DU high cell configuration
  apps/units/flexible_o_du/o_du_low/du_low_config_translator.cpp
  apps/units/flexible_o_du/o_du_low/o_du_low_unit_factory_config.h
  apps/units/flexible_o_du/split_6/o_du_low/split6_constants.h
  apps/units/flexible_o_du/split_6/o_du_low/split6_flexible_o_du_low_factory.cpp
  apps/units/flexible_o_du/split_6/o_du_low/split6_flexible_o_du_low_factory.h
  apps/units/flexible_o_du/split_7_2/helpers/ru_ofh_config_translator.cpp
  apps/units/flexible_o_du/split_7_2/helpers/ru_ofh_config_translator.h
  apps/units/flexible_o_du/split_7_2/helpers/ru_ofh_factories.cpp
  apps/units/flexible_o_du/split_7_2/split_7_2_o_du_application_unit_impl.cpp
  apps/units/flexible_o_du/split_8/helpers/ru_sdr_config_translator.cpp
  apps/units/flexible_o_du/split_8/helpers/ru_sdr_config_translator.h
  apps/units/flexible_o_du/split_8/helpers/ru_sdr_factories.cpp
  apps/units/flexible_o_du/split_dynamic/dynamic_o_du_factory.cpp
  apps/units/flexible_o_du/split_dynamic/dynamic_o_du_translators.cpp
  apps/units/flexible_o_du/split_dynamic/dynamic_o_du_translators.h
  apps/units/flexible_o_du/split_helpers/flexible_o_du_configs.h
  apps/units/flexible_o_du/split_helpers/flexible_o_du_factory.cpp
Due: none

cu_cp: add cell activation to amf reconnection
  lib/cu_cp/CMakeLists.txt
  lib/cu_cp/cu_cp_controller/amf_connection_manager.cpp
  lib/cu_cp/cu_cp_controller/amf_connection_manager.h
  lib/cu_cp/cu_cp_controller/cu_cp_controller.cpp
  lib/cu_cp/cu_cp_controller/cu_cp_controller.h
  lib/cu_cp/cu_cp_impl.cpp
  lib/cu_cp/cu_cp_impl.h
  lib/cu_cp/cu_cp_impl_interface.h
  lib/cu_cp/routines/cell_activation_routine.cpp
  lib/cu_cp/routines/cell_activation_routine.h
Due: none

cu_cp,rrc: add support for optional wait time to rrc release
  include/srsran/cu_cp/cu_cp_types.h
  include/srsran/rrc/rrc_ue.h
  lib/cu_cp/routines/ue_context_release_routine.cpp
  lib/rrc/ue/rrc_ue_impl.h
  lib/rrc/ue/rrc_ue_message_handlers.cpp
  tests/unittests/cu_cp/mobility/handover_reconfiguration_routine_test.cpp
Due: none

cu_cp: fix check for already existing serving cell
  lib/cu_cp/du_processor/du_configuration_manager.cpp
Due: none

cu_cp: add cell deactivation routine
  include/srsran/cu_cp/du_processor_context.h
  lib/cu_cp/CMakeLists.txt
  lib/cu_cp/cu_cp_impl.cpp
  lib/cu_cp/du_processor/du_configuration_handler.h
  lib/cu_cp/du_processor/du_configuration_manager.cpp
  lib/cu_cp/du_processor/du_configuration_manager.h
  lib/cu_cp/du_processor/du_processor.h
  lib/cu_cp/du_processor/du_processor_impl.cpp
  lib/cu_cp/du_processor/du_processor_impl.h
  lib/cu_cp/routines/amf_connection_loss_routine.cpp
  lib/cu_cp/routines/amf_connection_loss_routine.h
  lib/cu_cp/routines/cell_deactivation_routine.cpp
  lib/cu_cp/routines/cell_deactivation_routine.h
  tests/test_doubles/f1ap/f1ap_test_message_validators.cpp
  tests/test_doubles/f1ap/f1ap_test_message_validators.h
  tests/unittests/cu_cp/cu_cp_connectivity_test.cpp
Due: none

phy: unlock uplink processor if stuck
  lib/phy/upper/uplink_pdu_slot_repository_impl.h
  lib/phy/upper/uplink_processor_impl.cpp
  tests/unittests/phy/upper/uplink_processor_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean
