Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, e2e request validation

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  gnb docker compose: any of: .gitlab/ci/builders/install_dependencies.sh, .gitlab/ci/builders/builder.sh, docker/Dockerfile, docker/docker-compose.yml
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  e2e request validation: any of: .gitlab/ci/e2e/**/*

gnb: skip plmn and tac validation for no_core
  apps/gnb/gnb_appconfig_validators.cpp
Due: none

ru_dummy: add event metrics
  lib/ru/dummy/ru_dummy_impl.cpp
  lib/ru/dummy/ru_dummy_sector.h
Due: none

ci,e2e: increase inter ue power one time in some uesim tests
  tests/e2e/tests/iperf.py
  tests/e2e/tests/steps/stub.py
Due: e2e tests tox

ci,e2e: fix config in viavi tests
  tests/e2e/tests/viavi.py
Due: e2e tests tox

ci: update docker compose test with new amf config
  .gitlab/ci/docker.yml
Due: trigger docker

config: update amf parameter change
  configs/cu.yml
  configs/gnb_custom_cell_properties.yml
  configs/gnb_rf_b200_tdd_n78_20mhz.yml
  configs/gnb_rf_b210_fdd_srsUE.yml
  configs/gnb_rf_n310_fdd_n3_20mhz.yml
  configs/gnb_ru_picocom_scb_tdd_n78_20mhz.yml
  configs/gnb_ru_ran550_tdd_n78_100mhz_4x2.yml
  configs/gnb_ru_ran550_tdd_n78_20mhz.yml
  configs/gnb_ru_rpqn4800e_tdd_n78_20mhz_2x2.yml
Due: none

ci: increase exit timeout when asan
  .gitlab/ci/build.yml
Due: none

du_high,du_mgr: skip updating of UE dedicated configuration based on UE NR capabilities in test mode
  include/srsran/du/du_high/du_manager/du_manager_params.h
  lib/du/du_high/du_high_impl.cpp
  lib/du/du_high/du_manager/du_manager_impl.cpp
  lib/du/du_high/du_manager/ran_resource_management/du_ran_resource_manager_impl.cpp
  lib/du/du_high/du_manager/ran_resource_management/du_ran_resource_manager_impl.h
  tests/unittests/du_manager/du_ran_resource_manager_test.cpp
Due: none

ci: update retina
  .gitlab/ci/e2e/.env
Due: e2e request validation

gnb: generate supported tas for test mode
  apps/gnb/gnb.cpp
Due: none

ci: adjust rlc_level log level
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox

Added RLC retransmission
  lib/rlc/rlc_arq_retransmission.cpp
  lib/rlc/rlc_arq_retransmission.h
  lib/rlc/rlc_tx_am_entity.cpp
Due: none

sched,metrics: cout total and mean ue prbs
  include/srsran/scheduler/scheduler_metrics.h
  lib/e2/e2sm/e2sm_kpm/e2sm_kpm_du_meas_provider_impl.cpp
  lib/scheduler/logging/scheduler_metric_handler.cpp
  lib/scheduler/logging/scheduler_metrics_handler.h
Due: none

sched,metrics: count full dl/ul slots, count ue prbs only during full slots
  include/srsran/scheduler/scheduler_metrics.h
  lib/scheduler/logging/scheduler_metric_handler.cpp
  lib/scheduler/logging/scheduler_metrics_handler.h
Due: none

e2sm,kpm: fix e2-node-level DRB.UEThpDl and DRB.UEThpUl values
  lib/e2/e2sm/e2sm_kpm/e2sm_kpm_du_meas_provider_impl.cpp
Due: none

e2sm,kpm: change condition ues.size() == 0 -> ues.empty()
  lib/e2/e2sm/e2sm_kpm/e2sm_kpm_du_meas_provider_impl.cpp
Due: none

e2sm,kpm: fix prb-based metrics
  lib/e2/e2sm/e2sm_kpm/e2sm_kpm_du_meas_provider_impl.cpp
  lib/e2/e2sm/e2sm_kpm/e2sm_kpm_du_meas_provider_impl.h
Due: none

sched,test: set nof_dl_symbols/nof_ul_symbols value
  tests/unittests/scheduler/scheduler_metrics_handler_test.cpp
Due: none

ru_dummy: parametrized time scaling
  apps/units/flexible_du/split_dynamic/dynamic_du_translators.cpp
  apps/units/flexible_du/split_dynamic/dynamic_du_unit_cli11_schema.cpp
  apps/units/flexible_du/split_dynamic/dynamic_du_unit_config.h
  apps/units/flexible_du/split_dynamic/dynamic_du_unit_config_yaml_writer.cpp
  include/srsran/ru/ru_dummy_configuration.h
  lib/ru/dummy/ru_dummy_impl.cpp
Due: none

ci: update retina
  .gitlab/ci/e2e/.env
  tests/e2e/tests/test_mode/config_ru.yml
Due: e2e tests tox, e2e request validation

sched: avoid race condition in access to last slot in ue_event_manager
  lib/scheduler/ue_scheduling/ue_event_manager.cpp
Due: none

e2sm_kpm: fix ue filter
  lib/e2/e2sm/e2sm_kpm/e2sm_kpm_du_meas_provider_impl.cpp
Due: none

du_high: fix scheduler decision history ring size when using test mode
  lib/du/du_high/adapters/mac_test_mode_adapter.cpp
Due: none

mac: add mutexes in test mode to detect overflows in ring storage
  lib/du/du_high/adapters/mac_test_mode_adapter.cpp
  lib/du/du_high/adapters/mac_test_mode_adapter.h
Due: none

mac: fix failing tests in test mode
  lib/du/du_high/adapters/mac_test_mode_adapter.cpp
  tests/integrationtests/du_high/mac_test_mode_adapter_test.cpp
Due: none

sched: move resource grid utility functions under include
  include/srsran/scheduler/resource_grid_util.h
  lib/scheduler/cell/cell_harq_manager.cpp
  lib/scheduler/cell/resource_grid.h
  lib/scheduler/uci_scheduling/uci_scheduler_impl.h
  lib/scheduler/ue_scheduling/ue_repository.cpp
  tests/unittests/scheduler/scheduler_ue_removal_test.cpp
Due: none

du_high: use NTN cell specific K offset from configuration
  lib/du/du_high/adapters/mac_test_mode_adapter.cpp
Due: none

unittest: add unittest for UL heavy TDD pattern
  tests/unittests/scheduler/scheduler_tdd_test.cpp
Due: none

sched: fix computing of slice priorities to support UL heavy TDD scenario
  lib/scheduler/slicing/slice_scheduler.cpp
  lib/scheduler/slicing/slice_scheduler.h
  tests/unittests/scheduler/slicing/slice_scheduler_test.cpp
Due: none

ci: adjust viavi tests criteria
  .gitlab/ci/e2e.yml
  tests/e2e/tests/viavi/test_declaration.yml
  tests/e2e/tests/viavi/test_declaration_debug.yml
Due: e2e tests tox

ci: don't allow KOs in long viavi tests
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox

fapi: logging ta in nano seconds
  lib/fapi/loggers/message_loggers.cpp
Due: none

sched: fix clearing of PUSCH RB count per slot in case of skipped slots
  lib/scheduler/slicing/ran_slice_candidate.h
  lib/scheduler/slicing/ran_slice_instance.cpp
  lib/scheduler/slicing/ran_slice_instance.h
  lib/scheduler/slicing/slice_scheduler.cpp
Due: none

sched: refactor handling of skipped slot indication in a RAN slice instance
  lib/scheduler/slicing/ran_slice_instance.cpp
Due: none

cmake,phy: build PDSCH tests only if USE_PHY_TESTVECTORS enabled
  tests/unittests/phy/upper/channel_processors/pdsch/CMakeLists.txt
Due: none

ci: enable rlc metrics in viavi and fix fail_if_kos
  .gitlab/ci/e2e/.env
  tests/e2e/tests/viavi.py
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request validation

mac: remove race condition in test mode
  lib/du/du_high/adapters/mac_test_mode_adapter.cpp
  lib/du/du_high/adapters/mac_test_mode_adapter.h
Due: none

sched: refactor policy scheduler to use new HARQ management to speed up retransmissions
  lib/scheduler/policy/scheduler_policy.h
  lib/scheduler/policy/scheduler_time_pf.cpp
  lib/scheduler/policy/scheduler_time_pf.h
  lib/scheduler/policy/scheduler_time_rr.cpp
  lib/scheduler/policy/scheduler_time_rr.h
  lib/scheduler/ue_scheduling/ue_scheduler_impl.cpp
  tests/unittests/scheduler/policy/scheduler_policy_test.cpp
Due: none

sched: refactor RR scheduler to schedule all reTxes first based on received HARQs pending reTx list
  lib/scheduler/policy/scheduler_time_rr.cpp
Due: none
