Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, metrics tox, grafana version changed, metrics version changed, metrics version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, metrics-server docker compose, metrics server image, metrics server image latest, grafana server image, grafana server image latest, e2e request and config validation

trigger builder:
  stage: ci
  trigger:
    include: .gitlab/ci/builders.yml
    strategy: depend

trigger docker:
  stage: ci
  trigger:
    include: .gitlab/ci/docker.yml
    strategy: depend
  variables:
    PY_DIR: docker/metrics_server

e2e tests tox:
  stage: static
  variables:
    PY_DIR: tests/e2e
  before_script:
  - apk add build-base

smoke avx512 cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm neon cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke avx512 clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm neon clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

metrics tox:
  stage: static
  variables:
    GIT_LFS_SKIP_SMUDGE: 1

grafana version changed:
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
  stage: static
  script:
  - NEW_VERSION=$(cat docker/grafana/version.yml | grep SRS_GRAFANA_VERSION | cut -d'"' -f2)
  - export NEW_VERSION
  - "git checkout $CI_MERGE_REQUEST_DIFF_BASE_SHA\nif [ ! -e \"docker/grafana/version.yml\" ]; then\n    exit 0\nfi\n"
  ...

metrics version changed:
  stage: static
  variables:
    GIT_LFS_SKIP_SMUDGE: 1

metrics version check in retina:
  stage: static
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
  script:
  - 'VERSION_IN_PYPROJECT=$(cat docker/metrics_server/pyproject.toml | grep ''^version'' | cut -d''"'' -f2)
  
    VERSION_IN_RETINA=$(cat .gitlab/ci/e2e/.env | grep METRICS_SERVER_VERSION | cut -d''='' -f2)
  
  ...

gnb docker compose:
  stage: compose
  image: docker:24.0.7-dind
  tags:
  - amd64-avx2
  timeout: 2h
  retry: 2
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
    KUBERNETES_CPU_REQUEST: ${SRS_CPU_LIMIT}
    KUBERNETES_CPU_LIMIT: ${SRS_CPU_LIMIT}
    KUBERNETES_MEMORY_REQUEST: ${SRS_MEMORY_LIMIT}
    KUBERNETES_MEMORY_LIMIT: ${SRS_MEMORY_LIMIT}
  ...

metrics server image:
  stage: publish
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
    REGISTRY_URI: $GITLAB_REGISTRY_URI
    NAME: metrics_server
    CONTEXT: ${CI_PROJECT_DIR}/docker/metrics_server
    MODE: publish
  before_script:
  - 'export VERSION=$(cat ${CONTEXT}/pyproject.toml | grep ''^version'' | cut -d''"'' -f2)
  
    '

cu_up,e1ap: improve documentation
  include/srsran/e1ap/common/e1ap_types.h
  lib/e1ap/cu_up/e1ap_cu_up_asn1_helpers.h
  lib/e1ap/cu_up/e1ap_cu_up_impl.cpp
  lib/e1ap/cu_up/procedures/bearer_context_modification_procedure.cpp
  tests/unittests/cu_up/pdu_session_manager_test.h
Due: none

cu_cp,ngap: add unit tests for pdu session type validation
  tests/unittests/ngap/ngap_pdu_session_resource_setup_procedure_test.cpp
Due: none

app: fix wrong pucch param printed in the log config
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_yaml_writer.cpp
Due: none

ci,e2e: remove retries due to orch in testmode
  tests/e2e/tests/test_mode.py
Due: e2e tests tox

ci,e2e: update retries due to orch in viavi
  tests/e2e/tests/viavi.py
Due: e2e tests tox

ci,e2e: simplify x300 testbed by running gnb and core in same pc
  .gitlab/ci/e2e/.env
  .gitlab/ci/e2e/android_x300.yml
Due: e2e request and config validation

sched: reset scheduler result failed_attempts
  lib/scheduler/cell/resource_grid.cpp
Due: none

sched: resize the pending indications queues size
  lib/scheduler/ue_scheduling/ue_event_manager.cpp
Due: none

mac, sched: fix paging mallocs
  lib/mac/mac_dl/paging_pdu_assembler.cpp
  lib/scheduler/common_scheduling/paging_scheduler.cpp
  lib/scheduler/common_scheduling/paging_scheduler.h
  tests/unittests/scheduler/common_scheduling/paging_scheduler_test.cpp
Due: none

cmake: add srsran license spdx item
  CMakeLists.txt
Due: none

cmake: support bom spdx generation
  CMakeLists.txt
  COPYRIGHT
  external/cmake-sbom/sbom.cmake
Due: none

docker: add sbom to container
  docker/Dockerfile
Due: trigger docker, gnb docker compose

ci,e2e: increase puschs threads in viavi test
  .gitlab/ci/e2e/.env
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation

sched: remove deque in ra_scheduler
  lib/scheduler/common_scheduling/ra_scheduler.h
Due: none

sched: handle full pending_rars case
  lib/scheduler/common_scheduling/ra_scheduler.cpp
  lib/scheduler/common_scheduling/ra_scheduler.h
Due: none

cmake: fix plugin addition
  CMakeLists.txt
Due: none

cmake: fix sbom when no git info available
  external/cmake-sbom/sbom.cmake
Due: none

cmake: use standard build_testing option
  .gitlab-ci.yml
  .gitlab/ci-shared/build.yml
  .gitlab/ci/trx.yml
  CMakeLists.txt
  README.md
  apps/examples/phy/CMakeLists.txt
  docker/Dockerfile
Due: trigger docker, gnb docker compose

ci: update plugin reference
  .gitlab/ci/plugin_version.txt
Due: none

ci,e2e: increase ue stop timeout in zmq interleaving tests
  tests/e2e/tests/attach_detach.py
Due: e2e tests tox

Report location for long tasks
  CMakeLists.txt
  apps/units/flexible_o_du/o_du_high/du_high/metrics/du_high_rlc_metrics.h
  apps/units/flexible_o_du/o_du_high/du_high/metrics/du_metrics.h
  apps/units/flexible_o_du/split_helpers/metrics/flexible_o_du_app_service_metrics.h
  apps/units/o_cu_cp/cu_cp/metrics/cu_cp_pdcp_metrics.h
  apps/units/o_cu_up/cu_up/metrics/cu_up_pdcp_metrics.h
  include/srsran/adt/unique_function.h
  include/srsran/support/executors/sequential_metrics_executor.h
  lib/du/du_high/du_manager/du_manager_impl.cpp
  lib/du/du_high/du_manager/du_ue/du_ue_controller_impl.cpp
  lib/du/du_high/du_manager/procedures/ue_configuration_procedure.cpp
  lib/f1ap/du/f1ap_du_connection_handler.cpp
  lib/f1ap/du/f1ap_du_impl.cpp
  lib/f1ap/du/ue_context/f1c_du_bearer_impl.cpp
  lib/f1u/cu_up/f1u_bearer_impl.cpp
  lib/f1u/du/f1u_bearer_impl.cpp
  lib/gateways/udp_network_gateway_impl.cpp
  lib/mac/mac_ctrl/du_time_controller.cpp
  lib/mac/mac_dl/cell_dl_harq_buffer_pool.cpp
  lib/mac/mac_dl/mac_cell_processor.cpp
  lib/mac/mac_sched/srsran_scheduler_adapter.cpp
  lib/mac/mac_ul/mac_ul_processor.cpp
  lib/mac/mac_ul/pdu_rx_handler.cpp
  lib/rlc/rlc_bearer_metrics_collector.cpp
  lib/rlc/rlc_pdu_recycler.h
  lib/rlc/rlc_rx_am_entity.cpp
  lib/rlc/rlc_tx_am_entity.cpp
  lib/rlc/rlc_tx_tm_entity.cpp
  lib/rlc/rlc_tx_um_entity.cpp
  lib/support/network/io_broker_epoll.cpp
  lib/support/timers.cpp
Due: none

docker: use python image instead of spdxmerge image due to more archs supported
  .gitlab/ci/release.yml
  docker/Dockerfile
Due: trigger docker, gnb docker compose

ci: add new lib to builder
  .gitlab/ci/builders.yml
  .gitlab/ci/builders/debian-rtsan/Dockerfile
  .gitlab/ci/builders/debian/Dockerfile
Due: trigger builder

du: call handle_ue_config_applied after ue reconfiguration
  lib/du/du_high/du_manager/procedures/du_ue_ric_configuration_procedure.cpp
Due: none

e2,rc: process ran parameters in order
  include/srsran/e2/e2sm/e2sm.h
Due: none

e2,rc: fix PBR-quota e2sm-rc control procedure
  include/srsran/du/du_high/du_manager/du_configurator.h
  include/srsran/ran/rrm.h
  lib/du/du_high/du_manager/procedures/du_ue_ric_configuration_procedure.cpp
  lib/e2/e2sm/e2sm_rc/e2sm_rc_control_action_du_executor.cpp
  tests/unittests/du_manager/procedures/du_ue_ric_configuration_procedure_test.cpp
  tests/unittests/e2/common/e2_test_helpers.h
  tests/unittests/e2/e2_ric_control_procedure_test.cpp
Due: none

e2,rc: remove outcome for prb-quota control as not needed
  lib/e2/e2sm/e2sm_rc/e2sm_rc_control_action_du_executor.cpp
Due: none

e2kpm: fix delay metric units
  lib/e2/e2sm/e2sm_kpm/e2sm_kpm_cu_meas_provider_impl.cpp
  lib/e2/e2sm/e2sm_kpm/e2sm_kpm_du_meas_provider_impl.cpp
  lib/e2/e2sm/e2sm_kpm/e2sm_kpm_metric_defs.h
Due: none

ci,e2e: make acc100 manual
  .gitlab/ci/e2e.yml
Due: none

Update viavi.yml
  .gitlab/ci/e2e/viavi.yml
Due: e2e request and config validation

ci,e2e: increase s72 iperf duration to 10 min
  tests/e2e/tests/iperf.py
Due: e2e tests tox

ci,e2e: use rtsan in s72 tests
  .gitlab/ci/build.yml
  .gitlab/ci/e2e.yml
  tests/e2e/tests/handover.py
  tests/e2e/tests/iperf.py
Due: e2e tests tox

Fix metrics decorator not putting back into the queue an element in case of execution failure
  include/srsran/adt/unique_function.h
  include/srsran/support/executors/sequential_metrics_executor.h
Due: none

ntn: add timers and executor to the ntn update command
  apps/units/flexible_o_du/split_helpers/commands/ntn_config_update_remote_command_factory.cpp
  apps/units/flexible_o_du/split_helpers/commands/ntn_config_update_remote_command_factory.h
  apps/units/flexible_o_du/split_helpers/flexible_o_du_factory.cpp
Due: none

du: simplify handle_si_pdu_update func, do not wait for the result
  include/srsran/du/du_high/du_manager/du_configurator.h
  lib/du/du_high/du_manager/du_manager_impl.cpp
  lib/du/du_high/du_manager/du_manager_impl.h
  tests/unittests/e2/common/e2_test_helpers.h
Due: none

ci,e2e: update expert_execution in viavi tests
  tests/e2e/tests/viavi/test_declaration.yml
  tests/e2e/tests/viavi/test_declaration_debug.yml
Due: e2e tests tox, e2e request and config validation

cu_up: enabling metrics on CU-UP
  apps/services/worker_manager/worker_manager.cpp
  apps/services/worker_manager/worker_manager_config.h
  apps/units/o_cu_up/cu_up/cu_up_unit_config.h
  apps/units/o_cu_up/cu_up/cu_up_unit_config_cli11_schema.cpp
  apps/units/o_cu_up/cu_up/cu_up_unit_config_translators.cpp
  include/srsran/cu_up/cu_up_executor_mapper.h
  lib/cu_up/cu_up_executor_mapper.cpp
Due: none

uhd: change multiplication with division in timespec calculation
  lib/radio/uhd/radio_uhd_tx_stream.cpp
Due: none

du: fix cfg validator for TDD pattern with DL only
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_validator.cpp
  tests/unittests/scheduler/scheduler_tdd_test.cpp
Due: none

ci: use updated packaging code
  .gitlab/ci/build.yml
Due: none

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  metrics tox: any of: docker/metrics_server/**/*
  grafana version changed: any of: docker/grafana/**/*
  metrics version changed: any of: docker/metrics_server/**/*
  metrics version check in retina: any of: docker/metrics_server/**/*
  gnb docker compose: (any of: docker/scripts/**/*, docker/Dockerfile) or (any of: docker/docker-compose.yml)
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  metrics-server docker compose: any of: docker/.env, docker/metrics_server/**/*, docker/docker-compose.yml
  metrics server image: any of: docker/metrics_server/**/*
  metrics server image latest: any of: docker/metrics_server/**/*
  grafana server image: any of: docker/grafana/**/*
  grafana server image latest: any of: docker/grafana/**/*
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*
