Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, e2e request and config validation

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  gnb docker compose: any of: .gitlab/ci/builders/install_dependencies.sh, .gitlab/ci/builders/builder.sh, docker/Dockerfile, docker/docker-compose.yml
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*

apps,services: fix metrics initialization
  apps/cu/cu.cpp
  apps/gnb/gnb.cpp
Due: none

ci,e2e: basic rtsan zmq amari test
  .gitlab/ci/build.yml
  .gitlab/ci/e2e.yml
Due: none

ci,builders: add rtsan builder
  .gitlab/ci-shared/build.yml
  .gitlab/ci/builders.yml
  .gitlab/ci/builders/debian-rtsan/Dockerfile
  docker/scripts/builder.sh
Due: trigger builder, trigger docker

ci,build: save memcheck logs
  .gitlab/ci/build.yml
Due: none

Fix several wrong dependencies in all codebase
  apps/examples/radio/rx_power_analyzer.cpp
  include/srsran/f1ap/cu_cp/f1ap_cu_ue_context_update.h
  include/srsran/f1ap/du/f1ap_du.h
  include/srsran/gateways/baseband/buffer/baseband_gateway_buffer_dynamic.h
  lib/e1ap/cu_up/procedures/e1ap_cu_up_setup_procedure.h
  lib/f1ap/du/f1ap_du_context.h
  lib/f1ap/du/ue_context/ue_bearer_manager.cpp
  lib/f1ap/du/ue_context/ue_bearer_manager.h
  lib/ngap/procedures/ngap_pdu_session_resource_modify_procedure.cpp
  lib/ngap/procedures/ngap_pdu_session_resource_release_procedure.cpp
  lib/ngap/procedures/ngap_pdu_session_resource_setup_procedure.cpp
  lib/ngap/procedures/ngap_ue_context_release_procedure.cpp
  lib/phy/lower/processors/downlink/downlink_processor_baseband_impl.h
  lib/phy/lower/processors/uplink/uplink_processor_impl.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

sched: pre-compute pdsch config params for faster policy
  lib/scheduler/config/ue_configuration.cpp
  lib/scheduler/config/ue_configuration.h
  lib/scheduler/policy/scheduler_time_qos.cpp
  lib/scheduler/support/CMakeLists.txt
  lib/scheduler/support/pdsch/pdsch_config_params.cpp
  lib/scheduler/support/pdsch/pdsch_config_params.h
  lib/scheduler/support/sch_pdu_builder.cpp
  lib/scheduler/support/sch_pdu_builder.h
  lib/scheduler/ue_scheduling/grant_params_selector.cpp
  lib/scheduler/ue_scheduling/grant_params_selector.h
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.cpp
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.h
  lib/scheduler/ue_scheduling/ue_fallback_scheduler.cpp
  tests/unittests/scheduler/support/mcs_tbs_calculator_test.cpp
  tests/unittests/scheduler/uci_and_pucch/uci_test_utils.cpp
  tests/unittests/scheduler/uci_and_pucch/uci_test_utils.h
  tests/unittests/scheduler/ue_scheduling/ue_cell_test.cpp
Due: none

sched: improve comments
  lib/scheduler/config/ue_configuration.h
  lib/scheduler/support/pdsch/pdsch_config_params.cpp
Due: none

pdcp: change location of crypto computation time, to avoid races on stop()
  lib/pdcp/pdcp_entity_rx.cpp
Due: none

metrics: adjust json schema
  apps/cu/cu.cpp
  apps/du/du_appconfig_cli11_schema.cpp
  apps/gnb/gnb_appconfig_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_high/du_high/metrics/du_high_mac_metrics_consumers.cpp
  apps/units/flexible_o_du/split_helpers/metrics/flexible_o_du_metrics_consumers.cpp
  apps/units/o_cu_up/cu_up/metrics/cu_up_pdcp_metrics_consumers.cpp
  include/srsran/mac/mac_metrics.h
  lib/mac/mac_dl/mac_dl_metric_handler.cpp
  lib/mac/mac_dl/mac_dl_metric_handler.h
  lib/mac/mac_dl/mac_dl_processor.cpp
  tests/unittests/mac/mac_cell_processor_test.cpp
  tests/unittests/mac/mac_dl_metrics_test.cpp
Due: none

du,f1ap: make du test mode independent from cu-cp
  lib/du/du_high/test_mode/f1ap_test_mode_adapter.cpp
Due: none

pdcp: lower log level of dropping notifications after stop()
  lib/pdcp/pdcp_entity_tx.cpp
Due: none

mac: fix test mode out of fallback transition
  lib/du/du_high/test_mode/mac_test_mode_adapter.cpp
  lib/du/du_high/test_mode/mac_test_mode_helpers.cpp
  lib/du/du_high/test_mode/mac_test_mode_helpers.h
Due: none

sched: fix invalid variant access
  lib/fapi_adaptor/mac/messages/pucch.cpp
Due: none

sched: enable QAM256 in test mode
  lib/du/du_high/du_manager/ran_resource_management/du_ran_resource_manager_impl.cpp
  lib/du/du_high/du_manager/ran_resource_management/ue_capability_manager.cpp
  lib/du/du_high/du_manager/ran_resource_management/ue_capability_manager.h
Due: none

du_manager: enable UL QAM256 in test mode
  lib/du/du_high/du_manager/ran_resource_management/ue_capability_manager.cpp
Due: none

fix: typos in comments
  docker/docker-compose.yml
Due: trigger docker, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose

gnb: add UL RI metric
  apps/units/flexible_o_du/o_du_high/du_high/metrics/du_high_scheduler_cell_metrics_consumers.cpp
  include/srsran/scheduler/scheduler_metrics.h
  lib/scheduler/logging/scheduler_metrics_handler.cpp
  lib/scheduler/logging/scheduler_metrics_handler.h
  lib/scheduler/ue_scheduling/ue_event_manager.cpp
  tests/unittests/apps/units/flexible_du/du_high/metrics/du_high_scheduler_cell_metrics_consumer_stdout_test.cpp
  tests/unittests/scheduler/scheduler_metrics_handler_test.cpp
Due: none

refactor pdsch processors
  apps/units/flexible_o_du/o_du_low/du_low_config.h
  apps/units/flexible_o_du/o_du_low/du_low_config_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_low/du_low_config_validator.cpp
  apps/units/flexible_o_du/o_du_low/o_du_low_unit_factory.cpp
  include/srsran/hal/phy/upper/channel_processors/hw_accelerator_pdsch_enc.h
  include/srsran/phy/upper/channel_processors/pdsch/factories.h
  include/srsran/phy/upper/channel_processors/pdsch/pdsch_block_processor.h
  include/srsran/phy/upper/upper_phy_factories.h
  lib/phy/upper/channel_processors/pdsch/CMakeLists.txt
  lib/phy/upper/channel_processors/pdsch/factories.cpp
  lib/phy/upper/channel_processors/pdsch/pdsch_block_processor_hw_impl.cpp
  lib/phy/upper/channel_processors/pdsch/pdsch_block_processor_hw_impl.h
  lib/phy/upper/channel_processors/pdsch/pdsch_block_processor_impl.cpp
  lib/phy/upper/channel_processors/pdsch/pdsch_block_processor_impl.h
  lib/phy/upper/channel_processors/pdsch/pdsch_codeblock_processor.cpp
  lib/phy/upper/channel_processors/pdsch/pdsch_codeblock_processor.h
  lib/phy/upper/channel_processors/pdsch/pdsch_encoder_hw_impl.cpp
  lib/phy/upper/channel_processors/pdsch/pdsch_processor_concurrent_impl.cpp
  lib/phy/upper/channel_processors/pdsch/pdsch_processor_flexible_impl.cpp
  lib/phy/upper/channel_processors/pdsch/pdsch_processor_flexible_impl.h
  lib/phy/upper/channel_processors/pdsch/pdsch_processor_helpers.h
  lib/phy/upper/channel_processors/pdsch/pdsch_processor_lite_impl.cpp
  lib/phy/upper/channel_processors/pdsch/pdsch_processor_lite_impl.h
  lib/phy/upper/upper_phy_factories.cpp
  tests/benchmarks/phy/upper/channel_processors/CMakeLists.txt
  tests/benchmarks/phy/upper/channel_processors/pdsch_processor_benchmark.cpp
  tests/integrationtests/phy/upper/channel_processors/pxsch_bler_test_factories.cpp
  tests/unittests/phy/upper/channel_processors/pdsch/pdsch_processor_vectortest.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

sched, ta_manager: add prohibit state
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config.h
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_translators.cpp
  include/srsran/scheduler/config/scheduler_expert_config.h
  include/srsran/scheduler/config/scheduler_expert_config_factory.h
  lib/scheduler/ue_context/ta_manager.cpp
  lib/scheduler/ue_context/ta_manager.h
Due: none

ci,e2e: update ul heavy config
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation

ci,e2e: increase non_rt_task_queue_size
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation

app_unit: added a dummy split 6 plugin and the split 6 target
  apps/du/CMakeLists.txt
  apps/gnb/CMakeLists.txt
  apps/gnb/gnb_appconfig_validators.cpp
  apps/services/worker_manager/worker_manager.cpp
  apps/services/worker_manager/worker_manager.h
  apps/services/worker_manager/worker_manager_config.h
  apps/units/flexible_o_du/o_du_high/du_high/CMakeLists.txt
  apps/units/flexible_o_du/split_6/CMakeLists.txt
  apps/units/flexible_o_du/split_6/split6_o_du_application_unit_impl.cpp
  apps/units/flexible_o_du/split_6/split6_o_du_application_unit_impl.h
  apps/units/flexible_o_du/split_6/split6_plugin.h
  apps/units/flexible_o_du/split_6/split6_plugin_dummy.cpp
  apps/units/flexible_o_du/split_6/split6_plugin_dummy.h
  apps/units/flexible_o_du/split_7_2/helpers/ru_ofh_config_validator.cpp
  apps/units/o_cu_up/cu_up/CMakeLists.txt
  include/srsran/fapi/messages/config_request_tlvs.h
  include/srsran/fapi/messages/srs_indication.h
  include/srsran/fapi_adaptor/fapi_adaptor.h
  include/srsran/fapi_adaptor/precoding_matrix_repository.h
Due: none

ci: remove gNB split 6 binary
  .gitlab/ci/build.yml
Due: none

fapi_adaptor: renames power operator controller to operator controller to avoid confusion
  apps/units/flexible_o_du/split_6/split6_o_du_impl.cpp
  apps/units/flexible_o_du/split_6/split6_plugin_dummy.cpp
  include/srsran/fapi_adaptor/fapi_adaptor.h
Due: none

mac: separate MAC max UL ReTxs config param
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config.h
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_translators.cpp
  include/srsran/scheduler/config/scheduler_expert_config.h
  include/srsran/scheduler/config/scheduler_expert_config_factory.h
  lib/du/du_high/du_manager/procedures/du_ue_ric_configuration_procedure.cpp
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.cpp
  lib/scheduler/ue_scheduling/ue_fallback_scheduler.cpp
  tests/unittests/scheduler/ue_scheduling/fallback_scheduler_test.cpp
Due: none

make upper_phy log metrics more compact
  apps/services/app_resource_usage/metrics/app_resource_usage_metrics_consumer.cpp
  apps/units/flexible_o_du/o_du_low/du_low_config.h
  apps/units/flexible_o_du/o_du_low/du_low_config_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_low/o_du_low_unit_factory.cpp
  apps/units/flexible_o_du/split_helpers/metrics/flexible_o_du_metrics_consumers.cpp
  apps/units/flexible_o_du/split_helpers/metrics/flexible_o_du_metrics_consumers.h
Due: none

fix compilation error with ubsan and relwithdebinfo
  tests/benchmarks/du_high/du_high_benchmark.cpp
Due: none

tests: 3- and 4-layer pusch demodulator vector tests
  tests/unittests/phy/upper/channel_processors/pusch/pusch_demodulator_test_data.h
  tests/unittests/phy/upper/channel_processors/pusch/pusch_demodulator_test_data.tar.gz
  tests/unittests/phy/upper/channel_processors/pusch/pusch_demodulator_vectortest.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

docker: Add curl for postStart hook in Helm
  docker/Dockerfile
Due: trigger docker, gnb docker compose

cu_up: remove unused includes from executor mapper
  lib/cu_up/cu_up_executor_mapper.cpp
Due: none

cu_up: log error instead of assert when deleting executor mapper before being cancelled
  lib/cu_up/cu_up_executor_mapper.cpp
Due: none

fix nan value in du_low json metrics
  apps/units/flexible_o_du/split_helpers/metrics/flexible_o_du_metrics_consumers.cpp
Due: none

ci,e2e: add gnb metric bitrate check in iperf tests
  .gitlab/ci/e2e/.env
  tests/e2e/tests/iperf.py
Due: e2e tests tox, e2e request and config validation

cu-up: reduce UE strand priority compared to control tasks
  lib/cu_up/cu_up_executor_mapper.cpp
Due: none

ofh,integration_test: increase ru_timing worker sleep time
  tests/integrationtests/ofh/ofh_integration_test.cpp
Due: none

sched: fix failing tests
  lib/scheduler/support/sch_pdu_builder.cpp
  tests/unittests/scheduler/test_utils/sched_custom_test_bench.h
Due: none

sched: remove serving_cell_cfg from ue_configuration
  lib/scheduler/config/du_cell_group_config_pool.cpp
  lib/scheduler/config/du_cell_group_config_pool.h
  lib/scheduler/config/sched_config_params.h
  lib/scheduler/config/ue_configuration.cpp
  lib/scheduler/config/ue_configuration.h
  lib/scheduler/policy/scheduler_time_qos.cpp
  lib/scheduler/policy/scheduler_time_rr.cpp
  lib/scheduler/pucch_scheduling/pucch_allocator_impl.cpp
  lib/scheduler/pucch_scheduling/pucch_resource_manager.cpp
  lib/scheduler/srs/srs_scheduler_impl.cpp
  lib/scheduler/support/csi_report_helpers.cpp
  lib/scheduler/support/csi_report_helpers.h
  lib/scheduler/support/dci_builder.cpp
  lib/scheduler/support/mcs_tbs_calculator.cpp
  lib/scheduler/support/pucch_power_controller.cpp
  lib/scheduler/support/pusch_power_controller.cpp
  lib/scheduler/support/sch_pdu_builder.cpp
  lib/scheduler/uci_scheduling/uci_allocator_impl.cpp
  lib/scheduler/uci_scheduling/uci_scheduler_impl.cpp
  lib/scheduler/ue_context/ue.cpp
  lib/scheduler/ue_context/ue.h
  lib/scheduler/ue_context/ue_cell.cpp
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.cpp
  lib/scheduler/ue_scheduling/ue_pdsch_alloc_param_candidate_searcher.h
  lib/scheduler/ue_scheduling/ue_pusch_alloc_param_candidate_searcher.h
  tests/unittests/scheduler/pdcch/pdcch_resource_allocator_test.cpp
  tests/unittests/scheduler/srs_scheduling/srs_scheduler_test.cpp
  tests/unittests/scheduler/uci_and_pucch/pucch_alloc_format_0_test.cpp
  tests/unittests/scheduler/uci_and_pucch/pucch_res_manager_test.cpp
  tests/unittests/scheduler/uci_and_pucch/uci_scheduling_test.cpp
  tests/unittests/scheduler/ue_scheduling/fallback_scheduler_test.cpp
  tests/unittests/scheduler/ue_scheduling/ue_cell_test.cpp
  tests/unittests/scheduler/ue_scheduling/ue_configuration_test.cpp
  tests/unittests/scheduler/ue_scheduling/ue_pxsch_alloc_param_candidate_searcher_test.cpp
Due: none

sched: fix valgrind uninit variable in test
  include/srsran/scheduler/config/serving_cell_config.h
  lib/scheduler/config/du_cell_group_config_pool.cpp
  lib/scheduler/config/du_cell_group_config_pool.h
Due: none

sched: implement pools for different subfields of the UE dedicated cell config
  include/srsran/ran/prach/rach_config_common.h
  include/srsran/scheduler/config/bwp_configuration.h
  include/srsran/scheduler/config/serving_cell_config.h
  lib/scheduler/config/du_cell_group_config_pool.cpp
  lib/scheduler/config/du_cell_group_config_pool.h
  lib/scheduler/config/sched_config_params.h
  lib/scheduler/config/ue_configuration.cpp
  lib/scheduler/config/ue_configuration.h
  lib/scheduler/pucch_scheduling/pucch_allocator_impl.cpp
  lib/scheduler/support/pdsch/pdsch_config_params.cpp
  lib/scheduler/support/pdsch/pdsch_config_params.h
  lib/scheduler/uci_scheduling/uci_allocator_impl.cpp
  lib/scheduler/uci_scheduling/uci_scheduler_impl.cpp
  lib/scheduler/ue_context/ue_cell.cpp
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.cpp
  lib/scheduler/ue_scheduling/ue_event_manager.cpp
  tests/unittests/scheduler/cell/CMakeLists.txt
  tests/unittests/scheduler/pdcch/pdcch_resource_allocator_test.cpp
  tests/unittests/scheduler/policy/scheduler_policy_test.cpp
  tests/unittests/scheduler/srs_scheduling/srs_scheduler_test.cpp
  tests/unittests/scheduler/support/mcs_tbs_calculator_test.cpp
  tests/unittests/scheduler/uci_and_pucch/pucch_res_manager_test.cpp
  tests/unittests/scheduler/uci_and_pucch/uci_test_utils.cpp
  tests/unittests/scheduler/uci_and_pucch/uci_test_utils.h
  tests/unittests/scheduler/ue_scheduling/ue_cell_test.cpp
  tests/unittests/scheduler/ue_scheduling/ue_configuration_test.cpp
  tests/unittests/scheduler/ue_scheduling/ue_harq_link_adaptation_test.cpp
  tests/unittests/scheduler/ue_scheduling/ue_pxsch_alloc_param_candidate_searcher_test.cpp
Due: none
