Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, e2e request and config validation

trigger builder:
  stage: ci
  trigger:
    include: .gitlab/ci/builders.yml
    strategy: depend

trigger docker:
  stage: ci
  trigger:
    include: .gitlab/ci/docker.yml
    strategy: depend
  variables:
    PY_DIR: docker/metrics_server

e2e tests tox:
  stage: static
  variables:
    PY_DIR: tests/e2e
  before_script:
  - apk add build-base

smoke avx512 cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm neon cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke avx512 clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm neon clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

gnb docker compose:
  stage: compose
  image: docker:24.0.7
  tags:
  - docker
  timeout: 2h
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  services:
  - name: docker:24.0.7-dind
    alias: docker
    entrypoint:
    - env
    - -u
    - DOCKER_HOST
    command:
    - dockerd-entrypoint.sh
  ...

5gc docker compose:
  stage: compose
  image: docker:24.0.7
  tags:
  - docker
  timeout: 2h
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  services:
  - name: docker:24.0.7-dind
    alias: docker
    entrypoint:
    - env
    - -u
    - DOCKER_HOST
    command:
    - dockerd-entrypoint.sh
  ...

grafana docker compose:
  stage: compose
  image: docker:24.0.7
  tags:
  - docker
  timeout: 2h
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  services:
  - name: docker:24.0.7-dind
    alias: docker
    entrypoint:
    - env
    - -u
    - DOCKER_HOST
    command:
    - dockerd-entrypoint.sh
  ...

influxdb docker compose:
  stage: compose
  image: docker:24.0.7
  tags:
  - docker
  timeout: 2h
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  services:
  - name: docker:24.0.7-dind
    alias: docker
    entrypoint:
    - env
    - -u
    - DOCKER_HOST
    command:
    - dockerd-entrypoint.sh
  ...

phy: optimize demodulation mapper
  include/srsran/support/math/math_utils.h
  lib/phy/upper/channel_modulation/avx512_helpers.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy: optimize demodulation mapper for AVX512
  lib/phy/upper/channel_modulation/avx512_helpers.h
  lib/phy/upper/channel_modulation/demodulation_mapper_qam256.cpp
  lib/phy/upper/channel_modulation/demodulation_mapper_qam64.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

[DU] Return failure if any of the cells cant update the SIB1 block power
  lib/du/du_high/du_manager/procedures/du_param_config_procedure.cpp
  lib/du/du_high/du_manager/procedures/du_param_config_procedure.h
Due: none

[WS] Allow configuring bind address on server
  apps/cu/cu_appconfig_yaml_writer.cpp
  apps/du/du_appconfig_yaml_writer.cpp
  apps/gnb/gnb_appconfig_yaml_writer.cpp
  apps/services/remote_control/remote_control_appconfig.h
  apps/services/remote_control/remote_control_appconfig_cli11_schema.cpp
  apps/services/remote_control/remote_server.cpp
Due: none

phy: optimize channel estimator
  lib/phy/support/time_alignment_estimator/time_alignment_estimator_dft_impl.cpp
  lib/phy/support/time_alignment_estimator/time_alignment_estimator_dft_impl.h
  lib/phy/upper/signal_processors/port_channel_estimator_helpers.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ci: remove expert_execution in test mode ru and viavi tests
  .gitlab/ci/e2e/.env
  tests/e2e/tests/test_mode/config_ru.yml
  tests/e2e/tests/test_mode/config_ru_16cell_50ue.yml
  tests/e2e/tests/test_mode/config_ru_acc100.yml
Due: e2e tests tox, e2e request and config validation

Add json parser library copyright
  COPYRIGHT
Due: none

[SRSVEC] Fix invalid dependency on srsvec library
  include/srsran/srsvec/bit.h
Due: none

phy: extent metrics to PDSCH processor
  apps/units/flexible_o_du/o_du_low/metrics/du_low_metric_producer_impl.h
  apps/units/flexible_o_du/o_du_low/metrics/ldpc_encoder_metrics_producer.h
  apps/units/flexible_o_du/o_du_low/metrics/pdsch_dmrs_generator_metrics_producer.h
  apps/units/flexible_o_du/o_du_low/metrics/pdsch_processor_metrics_producer.h
  include/srsran/phy/metrics/phy_metrics_factories.h
  include/srsran/phy/metrics/phy_metrics_notifiers.h
  include/srsran/phy/metrics/phy_metrics_reports.h
  lib/phy/metrics/phy_metrics_factories.cpp
  lib/phy/metrics/phy_metrics_pdsch_dmrs_generator_decorator.h
  lib/phy/metrics/phy_metrics_pdsch_processor_decorator.h
  lib/phy/upper/upper_phy_factories.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

docker: unify split containers
  .github/workflows/docker.yml
  .gitlab/ci/docker.yml
  docker/Dockerfile
Due: trigger docker, gnb docker compose

cu_cp: remove duplicate return
  tests/unittests/cu_cp/cu_cp_test_environment.cpp
Due: none

cu_cp: avoid transaction failure caused by pdu sessin creation timeout on reestablishment
  tests/unittests/cu_cp/cu_cp_reestablishment_test.cpp
Due: none

cu_cp,nrppa: remove log message
  lib/nrppa/nrppa_dummy_impl.cpp
Due: none

ci,e2e: switch b200 rf sdrs
  .gitlab/ci/e2e/retina_request_rf_b200.yml
Due: e2e request and config validation

ci,e2e: restore expert_execution threads in test mode 16cell
  tests/e2e/tests/test_mode/config_ru_16cell_50ue.yml
Due: e2e tests tox

ci,e2e: increase expected ul bitrate in 1ue mimo
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation

ru_controller: add cfo_compensation_request struct with cfo, cfo drift and cfo start timestamp
  apps/units/flexible_o_du/flexible_o_du_commands.h
  include/srsran/phy/lower/processors/lower_phy_cfo_controller.h
  include/srsran/ru/ru_controller.h
  lib/phy/lower/processors/baseband_cfo_processor.h
  lib/ru/generic/ru_controller_generic_impl.cpp
  lib/ru/generic/ru_controller_generic_impl.h
  tests/unittests/phy/lower/processors/downlink/downlink_processor_test_doubles.h
  tests/unittests/phy/lower/processors/uplink/uplink_processor_notifier_test_doubles.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy: optimize PUSCH demodulator
  include/srsran/srsvec/simd.h
  lib/phy/upper/channel_processors/pusch/pusch_demodulator_impl.cpp
  lib/phy/upper/upper_phy_factories.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ci,e2e: viavi jobs only in plugin pipeline
  .gitlab/ci/e2e.yml
Due: none

ci,e2e: improve testbeds
  .gitlab/ci/e2e/retina_request_android_b200.yml
  .gitlab/ci/e2e/retina_request_test_mode_acc100.yml
Due: e2e request and config validation

config: fix typos and discrepancies in qos.yml
  configs/qos.yml
  include/srsran/cu_cp/cu_cp_configuration_helpers.h
Due: none

config: add default PDCP configs for delay-sensitive GBR 5QIs
  include/srsran/cu_cp/cu_cp_configuration_helpers.h
Due: none

config: add CU-UP default configs for new 5QIs
  include/srsran/cu_up/cu_up_configuration_helpers.h
Due: none

config: add delay-sensitive 5QIs to qos.yml
  configs/qos.yml
Due: none

config: add default RLC configs for delay-sensitive GBR 5QIs
  include/srsran/du/du_high/du_qos_config_helpers.h
Due: none

phy: fix retransmission when PUSCH processor is busy
  lib/phy/upper/channel_processors/pusch/pusch_decoder_empty_impl.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

cu_up: moved stop() routine from ue_manager to ue_context
  lib/cu_up/pdu_session_manager_impl.cpp
  lib/cu_up/ue_context.h
  lib/cu_up/ue_manager.cpp
  lib/pdcp/pdcp_crypto_token.h
Due: none

pdcp: made crypto token atomic
  lib/pdcp/pdcp_crypto_token.h
Due: none

pdcp: add stop test when integrity protection failed
  tests/unittests/pdcp/pdcp_rx_stop_test.cpp
Due: none

pdcp: remove stopped variable, as it could cause a data race
  lib/pdcp/pdcp_crypto_token.h
Due: none

pdcp: rm pdcp_crypto_token.cpp
  lib/pdcp/CMakeLists.txt
  lib/pdcp/pdcp_crypto_token.cpp
  lib/pdcp/pdcp_crypto_token.h
  lib/pdcp/pdcp_entity_rx.cpp
Due: none

cu_up,adt: added when_coroutine_completed_on_task_sched to switch to ue task scheduler when stopping UEs
  include/srsran/support/async/fifo_async_task_scheduler.h
  lib/cu_up/ue_manager.cpp
  lib/cu_up/ue_manager.h
Due: none

pdcp: wait until PDUs are processed in security engine
  include/srsran/pdcp/pdcp_entity.h
  lib/cu_up/pdu_session_manager_impl.cpp
  lib/cu_up/pdu_session_manager_impl.h
  lib/cu_up/ue_context.h
  lib/pdcp/pdcp_crypto_token.h
  lib/pdcp/pdcp_entity_impl.h
  lib/pdcp/pdcp_entity_rx.cpp
  lib/pdcp/pdcp_entity_rx.h
Due: none

pdcp: add logger to token manager
  lib/cu_up/ue_context.h
  lib/pdcp/pdcp_crypto_token.h
  lib/pdcp/pdcp_entity_rx.cpp
Due: none

pdcp: added check for correct token counting on pdcp rx stop test
  lib/pdcp/pdcp_crypto_token.h
  tests/unittests/pdcp/pdcp_rx_stop_test.cpp
  tests/unittests/pdcp/pdcp_rx_test_helpers.h
Due: none

pdcp: added unit test for crypto token with manual crypto engine
  include/srsran/support/executors/manual_task_worker.h
  lib/pdcp/pdcp_crypto_token.cpp
  lib/pdcp/pdcp_crypto_token.h
  lib/pdcp/pdcp_entity_rx.cpp
  lib/pdcp/pdcp_entity_rx.h
  tests/unittests/pdcp/CMakeLists.txt
  tests/unittests/pdcp/pdcp_rx_metrics_test.cpp
  tests/unittests/pdcp/pdcp_rx_metrics_test.h
  tests/unittests/pdcp/pdcp_rx_reestablish_test.cpp
  tests/unittests/pdcp/pdcp_rx_status_report_test.cpp
  tests/unittests/pdcp/pdcp_rx_status_report_test.h
  tests/unittests/pdcp/pdcp_rx_stop_test.cpp
  tests/unittests/pdcp/pdcp_rx_stop_test.h
  tests/unittests/pdcp/pdcp_rx_test.cpp
  tests/unittests/pdcp/pdcp_rx_test.h
  tests/unittests/pdcp/pdcp_rx_test_helpers.h
Due: none

pdcp: make crypto token aquisition RAII
  lib/cu_up/pdu_session_manager_impl.cpp
  lib/cu_up/ue_context.h
  lib/cu_up/ue_manager.cpp
  lib/pdcp/CMakeLists.txt
  lib/pdcp/pdcp_crypto_token.cpp
  lib/pdcp/pdcp_crypto_token.h
  lib/pdcp/pdcp_entity_rx.cpp
  lib/pdcp/pdcp_entity_rx.h
  tests/unittests/pdcp/pdcp_rx_test_helpers.h
Due: none

cu_up: pass execution to UL executor to wait for crypto engine on RX
  lib/cu_up/cu_up_manager_impl.cpp
  lib/cu_up/pdu_session_manager_impl.cpp
  lib/cu_up/pdu_session_manager_impl.h
  lib/cu_up/ue_context.h
  lib/cu_up/ue_manager.cpp
  lib/pdcp/pdcp_entity_rx.cpp
Due: none

pdcp: rm logging from crypto token class
  lib/pdcp/pdcp_crypto_token.h
  lib/pdcp/pdcp_entity_rx.cpp
Due: none

ofh: added intance of C-Plane context repository for PRACH, so uplink and PRACH request do not overwrite each other
  apps/units/flexible_o_du/split_7_2/helpers/ru_ofh_config_validator.cpp
  lib/ofh/ofh_factories.cpp
  lib/ofh/ofh_sector_impl.h
  lib/ofh/receiver/ofh_data_flow_uplane_uplink_prach_impl.cpp
  lib/ofh/receiver/ofh_data_flow_uplane_uplink_prach_impl.h
  lib/ofh/receiver/ofh_receiver_factories.cpp
  lib/ofh/receiver/ofh_receiver_factories.h
  lib/ofh/support/uplink_cplane_context_repository.h
  lib/ofh/transmitter/ofh_data_flow_cplane_scheduling_commands_impl.cpp
  lib/ofh/transmitter/ofh_data_flow_cplane_scheduling_commands_impl.h
  lib/ofh/transmitter/ofh_transmitter_factories.cpp
  lib/ofh/transmitter/ofh_transmitter_factories.h
  tests/unittests/ofh/receiver/ofh_data_flow_uplane_uplink_prach_impl_test.cpp
  tests/unittests/ofh/transmitter/ofh_data_flow_cplane_scheduling_commands_test.cpp
Due: none

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  gnb docker compose: any of: .gitlab/ci/builders/install_dependencies.sh, .gitlab/ci/builders/builder.sh, docker/Dockerfile, docker/docker-compose.yml
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*
