Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, tox python in builder, metrics tox, grafana version changed, metrics version changed, metrics version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, metrics-server docker compose, metrics server image, metrics server image latest, grafana server image, grafana server image latest, e2e request and config validation

trigger builder:
  stage: ci
  trigger:
    include: .gitlab/ci/builders.yml
    strategy: depend

trigger docker:
  stage: ci
  trigger:
    include: .gitlab/ci/docker.yml
    strategy: depend
  variables:
    PY_DIR: docker/metrics_server

e2e tests tox:
  stage: static
  variables:
    PY_DIR: tests/e2e
  before_script:
  - apk add build-base

smoke avx512 cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm neon cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke avx512 clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm neon clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

tox python in builder:
  stage: ci
  variables:
    PY_DIR: .gitlab/ci/builders
    GIT_LFS_SKIP_SMUDGE: 1

metrics tox:
  stage: static
  variables:
    GIT_LFS_SKIP_SMUDGE: 1

grafana version changed:
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
  stage: static
  script:
  - NEW_VERSION=$(cat docker/grafana/version.yml | grep SRS_GRAFANA_VERSION | cut -d'"' -f2)
  - export NEW_VERSION
  - "git checkout $CI_MERGE_REQUEST_DIFF_BASE_SHA\nif [ ! -e \"docker/grafana/version.yml\" ]; then\n    exit 0\nfi\n"
  ...

metrics version changed:
  stage: static
  variables:
    GIT_LFS_SKIP_SMUDGE: 1

metrics version check in retina:
  stage: static
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
  script:
  - 'VERSION_IN_PYPROJECT=$(cat docker/metrics_server/pyproject.toml | grep ''^version'' | cut -d''"'' -f2)
  
    VERSION_IN_RETINA=$(cat .gitlab/ci/e2e/.env | grep METRICS_SERVER_VERSION | cut -d''='' -f2)
  
  ...

gnb docker compose:
  stage: compose
  image: docker:24.0.7-dind
  tags:
  - amd64-avx2
  timeout: 2h
  retry: 2
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
    KUBERNETES_CPU_REQUEST: ${SRS_CPU_LIMIT}
    KUBERNETES_CPU_LIMIT: ${SRS_CPU_LIMIT}
    KUBERNETES_MEMORY_REQUEST: ${SRS_MEMORY_LIMIT}
    KUBERNETES_MEMORY_LIMIT: ${SRS_MEMORY_LIMIT}
  ...

grafana server image:
  stage: publish
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
    REGISTRY_URI: $GITLAB_REGISTRY_URI
    NAME: grafana
    CONTEXT: ${CI_PROJECT_DIR}/docker/grafana
    MODE: publish
  before_script:
  ...

support: remove bounded queue object pool
  include/srsran/support/memory_pool/bounded_queue_object_pool.h
Due: none

adt: use static_vector instead of std::array for underlying slotted_array storage
  include/srsran/adt/slotted_array.h
  lib/scheduler/ue_scheduling/ue_repository.cpp
  tests/unittests/adt/slotted_array_test.cpp
Due: none

ci,release: fix submodule and fix cmake conflicts after merge
  .gitlab/ci/release.yml
Due: none

rrc: lower warning in case of out-of-order, failed integrity or out-of-window PDUs
  lib/rrc/ue/rrc_ue_message_handlers.cpp
Due: none

ci,e2e: reduce required resources for android b200 testbed
  .gitlab/ci/e2e/android_b200.yml
Due: e2e request and config validation

fapi_adaptor: use the RACH preamble power dB in FAPI adaptor for the preamble power. phy: add the preamble pòwer to the preamble indication formatter
  include/srsran/phy/upper/channel_processors/channel_processor_formatters.h
  lib/fapi_adaptor/mac/fapi_to_mac_data_msg_translator.cpp
  lib/fapi_adaptor/phy/phy_to_fapi_results_event_translator.cpp
  tests/unittests/fapi_adaptor/mac/fapi_to_mac_data_msg_translator_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

sched: fix clang compilation issue
  lib/scheduler/ue_context/ue_cell.cpp
Due: none

sched: avoid shared_ptr in ue_cell_repository
  lib/scheduler/ue_context/ue.cpp
  lib/scheduler/ue_context/ue.h
  lib/scheduler/ue_context/ue_repository.cpp
  lib/scheduler/ue_context/ue_repository.h
Due: none

sched: remove redundant ue class methods
  lib/scheduler/slicing/slice_ue_repository.h
  lib/scheduler/ue_context/dl_logical_channel_manager.cpp
  lib/scheduler/ue_context/dl_logical_channel_manager.h
  lib/scheduler/ue_context/ue.cpp
  lib/scheduler/ue_context/ue.h
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.cpp
  lib/scheduler/ue_scheduling/ue_fallback_scheduler.cpp
  tests/unittests/scheduler/ue_scheduling/fallback_scheduler_test.cpp
  tests/unittests/scheduler/ue_scheduling/ue_configuration_test.cpp
Due: none

sched: creation of ue cell repository class
  lib/scheduler/slicing/ran_slice_instance.h
  lib/scheduler/srs/srs_scheduler_impl.h
  lib/scheduler/uci_scheduling/uci_scheduler_impl.h
  lib/scheduler/ue_context/ue.cpp
  lib/scheduler/ue_context/ue.h
  lib/scheduler/ue_context/ue_repository.cpp
  lib/scheduler/ue_context/ue_repository.h
  lib/scheduler/ue_scheduling/CMakeLists.txt
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.h
  lib/scheduler/ue_scheduling/ue_event_manager.cpp
  lib/scheduler/ue_scheduling/ue_fallback_scheduler.h
  lib/scheduler/ue_scheduling/ue_scheduler_impl.h
  tests/unittests/scheduler/slicing/slice_ue_repository_test.cpp
  tests/unittests/scheduler/test_utils/sched_custom_test_bench.h
Due: none

sched: move fallback state to pcell_state of ue_cell
  lib/scheduler/ue_context/ta_manager.h
  lib/scheduler/ue_context/ue_cell.cpp
  lib/scheduler/ue_context/ue_cell.h
Due: none

sched: move state from ue to ue_cell pcell_state
  lib/scheduler/ue_context/ue.cpp
  lib/scheduler/ue_context/ue.h
  lib/scheduler/ue_context/ue_cell.cpp
  lib/scheduler/ue_context/ue_cell.h
  lib/scheduler/ue_context/ue_repository.cpp
  lib/scheduler/ue_context/ue_repository.h
  lib/scheduler/ue_scheduling/ue_event_manager.cpp
  lib/scheduler/ue_scheduling/ue_event_manager.h
  lib/scheduler/ue_scheduling/ue_fallback_scheduler.cpp
  lib/scheduler/ue_scheduling/ue_scheduler_impl.cpp
  lib/scheduler/ue_scheduling/ue_scheduler_impl.h
  tests/unittests/scheduler/policy/scheduler_policy_test.cpp
  tests/unittests/scheduler/slicing/slice_scheduler_test.cpp
  tests/unittests/scheduler/slicing/slice_ue_repository_test.cpp
  tests/unittests/scheduler/srs_scheduling/srs_scheduler_test.cpp
  tests/unittests/scheduler/uci_and_pucch/uci_test_utils.cpp
  tests/unittests/scheduler/uci_and_pucch/uci_test_utils.h
  tests/unittests/scheduler/ue_scheduling/fallback_scheduler_test.cpp
  tests/unittests/scheduler/ue_scheduling/ue_cell_test.cpp
  tests/unittests/scheduler/ue_scheduling/ue_configuration_test.cpp
  tests/unittests/scheduler/ue_scheduling/ue_grid_allocator_test.cpp
Due: none

sched: fix failing test due to ue repository interface change
  tests/unittests/scheduler/test_utils/sched_custom_test_bench.h
Due: none

ci: delay some jobs in weekly to prioritize e2e build jobs
  .gitlab/ci/build.yml
Due: none

ci: update retina
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

ci: use fixed version of ubuntu in some aux jobs
  .gitlab-ci.yml
  .gitlab/ci-shared/e2e.yml
Due: none

ci: conditional pretty printers test on mr
  .gitlab/ci/build.yml
Due: none

adt: fix pretty-printer for slotted_array
  .gdbinit
Due: trigger docker

phy: fix CAS ops misusage between strong and weak
  lib/phy/metrics/phy_metrics_pdsch_processor_decorator.h
  lib/phy/metrics/phy_metrics_pusch_processor_decorator.h
  lib/phy/upper/downlink_processor_multi_executor_state.h
  lib/phy/upper/rx_buffer_impl.h
  lib/phy/upper/uplink_processor_fsm.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

metrics: remove all upper case from json fields
  apps/helpers/metrics/json_generators/cu_up/pdcp.cpp
  apps/helpers/metrics/json_generators/o_du_low.cpp
  apps/helpers/metrics/json_generators/resource_usage.cpp
  apps/helpers/metrics/json_generators/ru/ofh.cpp
Due: none

fix split6 o_du_low metrics
  apps/units/flexible_o_du/split_6/o_du_low/metrics/split6_flexible_o_du_low_app_service_metrics.h
Due: none

services: added metrics decorator to split 6 executors
  apps/services/worker_manager/worker_manager.cpp
Due: none

apps: added ticking source to application. Added parsing the metrics executor
  apps/du_low/du_low.cpp
  apps/du_low/du_low_appconfig_cli11_schema.cpp
Due: none

pdcp: lower log message when cripto reordering timer expires after calling stop
  lib/pdcp/pdcp_entity_tx.cpp
Due: none

support: minor cleanups to sync utils
  include/srsran/support/synchronization/baton.h
  include/srsran/support/synchronization/stop_event.h
  include/srsran/support/synchronization/sync_event.h
Due: none

gnb: expose SRS p0 parameter
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config.h
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_translators.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_yaml_writer.cpp
  include/srsran/scheduler/config/srs_builder_params.h
  lib/du/du_high/du_manager/ran_resource_management/du_srs_resource_manager.cpp
  lib/du/du_high/du_manager/ran_resource_management/du_srs_resource_manager.h
Due: none

du: log rrm policy change complete
  lib/du/du_high/du_manager/procedures/du_param_config_procedure.cpp
Due: none

du,sched: add SSB and CSI-RS radio link monitoring
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config.h
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_translators.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_validator.cpp
  include/srsran/ran/radio_link_monitoring.h
  include/srsran/ran/ssb/ssb_configuration.h
  include/srsran/ran/ssb/ssb_mapping.h
  include/srsran/scheduler/config/rlm_helper.h
  include/srsran/scheduler/config/serving_cell_config.h
  lib/du/du_cell_config_validation.cpp
  lib/du/du_high/du_manager/converters/asn1_rrc_config_helpers.cpp
  lib/du/du_high/du_manager/ran_resource_management/du_ue_resource_config.h
  lib/scheduler/config/CMakeLists.txt
  lib/scheduler/config/csi_helper.cpp
  lib/scheduler/config/rlm_helper.cpp
  lib/scheduler/config/serving_cell_config_factory.cpp
  tests/unittests/du_manager/serving_cell_config_converter_test.cpp
Due: none

app_services: refactor executor metrics service
  apps/cu/cu.cpp
  apps/cu_cp/cu_cp.cpp
  apps/cu_up/cu_up.cpp
  apps/du/du.cpp
  apps/du/du_appconfig_translators.cpp
  apps/du_low/du_low.cpp
  apps/du_low/du_low_appconfig_translators.cpp
  apps/gnb/gnb.cpp
  apps/gnb/gnb_appconfig_translators.cpp
  apps/services/app_execution_metrics/executor_metrics_manager.h
  apps/services/app_execution_metrics/metrics/app_execution_metrics_builder.cpp
  apps/services/app_execution_metrics/metrics/app_execution_metrics_builder.h
  apps/services/worker_manager/CMakeLists.txt
  apps/services/worker_manager/worker_manager.cpp
  apps/services/worker_manager/worker_manager.h
  apps/services/worker_manager/worker_manager_config.h
  include/srsran/cu_cp/cu_cp_executor_mapper.h
  include/srsran/cu_up/cu_up_executor_mapper.h
  include/srsran/du/du_high/du_high_executor_mapper.h
  include/srsran/du/du_low/du_low_executor_mapper.h
  include/srsran/support/executors/executor_decoration_factory.h
  include/srsran/support/executors/metrics/executor_metrics_backend.h
  include/srsran/support/executors/metrics/executor_metrics_channel_registry.h
  lib/cu_cp/cu_cp_executor_mapper.cpp
  lib/cu_up/cu_up_executor_mapper.cpp
  lib/du/du_high/du_high_executor_mapper.cpp
  lib/du/du_low/du_low_executor_mapper.cpp
  lib/support/executors/executor_decoration_factory.cpp
  lib/support/executors/metrics/executor_metrics_backend.cpp
Due: none

ci,e2e: disable metric server on viavi tests
  .gitlab/ci/e2e/viavi.yml
Due: e2e request and config validation

ci,e2e: ignore tracing warning and rerun if interface down
  tests/e2e/tests/viavi.py
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation

du: fix validator for prach root seq idx
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_validator.cpp
  include/srsran/ran/prach/prach_helper.h
  lib/ran/prach/prach_helper.cpp
  lib/scheduler/config/scheduler_cell_config_validator.cpp
Due: none

du,sched: convert float option parameter into enum
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config.h
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_translators.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_validator.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_yaml_writer.cpp
  include/srsran/ran/prach/prach_configuration.h
  include/srsran/ran/prach/prach_helper.h
  include/srsran/ran/prach/rach_config_common.h
  lib/du/du_high/du_manager/converters/asn1_rrc_config_helpers.cpp
  lib/ran/prach/prach_helper.cpp
Due: none

phy: rename signal processor formatters
  include/srsran/phy/upper/signal_processors/nzp_csi_rs/nzp_csi_rs_formatter.h
  lib/phy/upper/downlink_processor_multi_executor_impl.cpp
  lib/phy/upper/signal_processors/signal_processor_factories.cpp
  tests/unittests/phy/upper/signal_processors/nzp_csi_rs_generator_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy, benchmarks: refactor signal processor tests
  tests/benchmarks/phy/upper/signal_processors/CMakeLists.txt
  tests/integrationtests/phy/upper/channel_processors/pxsch_bler_test_factories.cpp
Due: none

ci: add condition for pretty printer tests
  .gitlab/ci/build.yml
Due: none

all: fix pragma once position
  include/srsran/ran/prach/prach_configuration.h
  include/srsran/ran/pucch/pucch_mapping.h
  lib/rlc/rlc_am_interconnect.h
  tests/unittests/sdap/sdap_test.h
Due: none

Path conditions:
  trigger builder: any of: .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*, docker/scripts/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv,py,toml}, docker/**/Dockerfile, .gdbinit
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  tox python in builder: any of: .gitlab/ci/builders/**/*.py
  metrics tox: any of: docker/metrics_server/**/*
  grafana version changed: any of: docker/grafana/**/*
  metrics version changed: any of: docker/metrics_server/**/*
  metrics version check in retina: any of: docker/metrics_server/**/*
  gnb docker compose: (any of: docker/scripts/**/*, docker/Dockerfile) or (any of: docker/docker-compose.yml)
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  metrics-server docker compose: any of: docker/.env, docker/metrics_server/**/*, docker/docker-compose.yml
  metrics server image: any of: docker/metrics_server/**/*
  metrics server image latest: any of: docker/metrics_server/**/*
  grafana server image: any of: docker/grafana/**/*
  grafana server image latest: any of: docker/grafana/**/*
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*
