Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, metrics tox, grafana version changed, metrics version changed, metrics version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, metrics-server docker compose, metrics server image, metrics server image latest, grafana server image, grafana server image latest, e2e request and config validation

trigger builder:
  stage: ci
  trigger:
    include: .gitlab/ci/builders.yml
    strategy: depend

trigger docker:
  stage: ci
  trigger:
    include: .gitlab/ci/docker.yml
    strategy: depend
  variables:
    PY_DIR: docker/metrics_server

e2e tests tox:
  stage: static
  variables:
    PY_DIR: tests/e2e
  before_script:
  - apk add build-base

smoke avx512 cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm neon cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke avx512 clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm neon clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

metrics tox:
  stage: static
  variables:
    GIT_LFS_SKIP_SMUDGE: 1

grafana version changed:
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
  stage: static
  script:
  - NEW_VERSION=$(cat docker/grafana/version.yml | grep SRS_GRAFANA_VERSION | cut -d'"' -f2)
  - export NEW_VERSION
  - "git checkout $CI_MERGE_REQUEST_DIFF_BASE_SHA\nif [ ! -e \"docker/grafana/version.yml\" ]; then\n    exit 0\nfi\n"
  ...

metrics version changed:
  stage: static
  variables:
    GIT_LFS_SKIP_SMUDGE: 1

metrics version check in retina:
  stage: static
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
  script:
  - 'VERSION_IN_PYPROJECT=$(cat docker/metrics_server/pyproject.toml | grep ''^version'' | cut -d''"'' -f2)
  
    VERSION_IN_RETINA=$(cat .gitlab/ci/e2e/.env | grep METRICS_SERVER_VERSION | cut -d''='' -f2)
  
  ...

gnb docker compose:
  stage: compose
  image: docker:24.0.7-dind
  tags:
  - amd64-avx2
  timeout: 2h
  retry: 2
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
    KUBERNETES_CPU_REQUEST: ${SRS_CPU_LIMIT}
    KUBERNETES_CPU_LIMIT: ${SRS_CPU_LIMIT}
    KUBERNETES_MEMORY_REQUEST: ${SRS_MEMORY_LIMIT}
    KUBERNETES_MEMORY_LIMIT: ${SRS_MEMORY_LIMIT}
  ...

metrics server image:
  stage: publish
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
    REGISTRY_URI: $GITLAB_REGISTRY_URI
    NAME: metrics_server
    CONTEXT: ${CI_PROJECT_DIR}/docker/metrics_server
    MODE: publish
  before_script:
  - 'export VERSION=$(cat ${CONTEXT}/pyproject.toml | grep ''^version'' | cut -d''"'' -f2)
  
    '

pdcp: started to add parallel execution to PDCP TX
  lib/pdcp/pdcp_entity_impl.h
  lib/pdcp/pdcp_entity_rx.cpp
  lib/pdcp/pdcp_entity_tx.cpp
  lib/pdcp/pdcp_entity_tx.h
  tests/benchmarks/pdcp/pdcp_rx_benchmark.cpp
  tests/benchmarks/pdcp/pdcp_tx_benchmark.cpp
  tests/unittests/pdcp/pdcp_gen_helper.cpp
  tests/unittests/pdcp/pdcp_tx_test_helpers.h
Due: none

pdcp: starting to add crypto reordering timeout
  lib/pdcp/pdcp_entity_tx.cpp
  lib/pdcp/pdcp_entity_tx.h
  tests/unittests/pdcp/pdcp_tx_stop_test.cpp
  tests/unittests/pdcp/pdcp_tx_test.cpp
  tests/unittests/pdcp/pdcp_tx_test_helpers.h
Due: none

pdcp: change tx benchmark to use multiple workers
  tests/benchmarks/pdcp/pdcp_tx_benchmark.cpp
Due: none

pdcp: more fixes for TX reordering
  include/srsran/support/executors/manual_task_worker.h
  lib/pdcp/pdcp_entity_tx.cpp
  lib/pdcp/pdcp_entity_tx.h
  tests/unittests/pdcp/pdcp_tx_stop_test.cpp
Due: none

pdcp: pass PDUs to lower layers in order
  lib/pdcp/pdcp_entity_tx.cpp
  lib/pdcp/pdcp_entity_tx.h
  lib/pdcp/pdcp_tx_buf_info.h
  lib/pdcp/pdcp_tx_window.cpp
  lib/pdcp/pdcp_tx_window.h
Due: none

pdcp: initialize reord state in unit tests and fix equality operator
  lib/pdcp/pdcp_entity_tx.cpp
  lib/pdcp/pdcp_entity_tx.h
  tests/benchmarks/pdcp/pdcp_tx_benchmark.cpp
  tests/unittests/pdcp/pdcp_gen_helper.cpp
  tests/unittests/pdcp/pdcp_tx_empty_pool_test.cpp
  tests/unittests/pdcp/pdcp_tx_metrics_test.cpp
  tests/unittests/pdcp/pdcp_tx_reestablish_test.cpp
  tests/unittests/pdcp/pdcp_tx_status_report_test.cpp
  tests/unittests/pdcp/pdcp_tx_stop_test.cpp
  tests/unittests/pdcp/pdcp_tx_test.cpp
  tests/unittests/pdcp/pdcp_tx_test_helpers.h
Due: none

cu,pdcp: fix incorrect waiting for tx finishing
  include/srsran/pdcp/pdcp_entity.h
  include/srsran/pdcp/pdcp_tx.h
  lib/cu_up/pdu_session_manager_impl.cpp
  lib/cu_up/pdu_session_manager_impl.h
  lib/cu_up/routines/cu_up_bearer_context_modification_routine.cpp
  lib/cu_up/ue_context.h
  lib/pdcp/pdcp_crypto_token.h
  lib/pdcp/pdcp_entity_impl.h
  lib/pdcp/pdcp_entity_tx.cpp
  lib/pdcp/pdcp_entity_tx.h
  tests/unittests/pdcp/CMakeLists.txt
  tests/unittests/pdcp/pdcp_rx_test_helpers.h
  tests/unittests/pdcp/pdcp_tx_empty_pool_test.cpp
  tests/unittests/pdcp/pdcp_tx_metrics_test.cpp
  tests/unittests/pdcp/pdcp_tx_metrics_test.h
  tests/unittests/pdcp/pdcp_tx_reestablish_test.cpp
  tests/unittests/pdcp/pdcp_tx_reestablish_test.h
  tests/unittests/pdcp/pdcp_tx_status_report_test.cpp
  tests/unittests/pdcp/pdcp_tx_status_report_test.h
  tests/unittests/pdcp/pdcp_tx_stop_test.cpp
  tests/unittests/pdcp/pdcp_tx_stop_test.h
  tests/unittests/pdcp/pdcp_tx_test.cpp
  tests/unittests/pdcp/pdcp_tx_test_helpers.h
Due: none

pdcp: increment TX_NEXT before passing pdu to the crypto engine
  include/srsran/support/test_utils.h
  lib/pdcp/pdcp_entity_tx.cpp
  lib/pdcp/pdcp_entity_tx.h
  tests/unittests/pdcp/pdcp_gen_helper.cpp
  tests/unittests/pdcp/pdcp_tx_empty_pool_test.cpp
  tests/unittests/pdcp/pdcp_tx_metrics_test.cpp
  tests/unittests/pdcp/pdcp_tx_reestablish_test.cpp
  tests/unittests/pdcp/pdcp_tx_status_report_test.cpp
  tests/unittests/pdcp/pdcp_tx_test.cpp
Due: none

pdcp: add tests for full crypto worker and dl worker queues
  include/srsran/support/executors/manual_task_worker.h
  lib/pdcp/pdcp_entity_tx.cpp
  lib/pdcp/pdcp_entity_tx.h
  tests/unittests/pdcp/pdcp_tx_stop_test.cpp
  tests/unittests/pdcp/pdcp_tx_test_helpers.h
Due: none

pdcp: make sure that out of date pdus are not transmitted
  lib/pdcp/pdcp_entity_tx.cpp
  lib/pdcp/pdcp_entity_tx.h
Due: none

cu_cp,pdcp: fix SRB traffic with parallization
  include/srsran/pdcp/pdcp_config.h
  lib/pdcp/pdcp_entity_tx.cpp
  lib/rrc/ue/rrc_ue_srb_context.h
Due: none

fix du_high_benchmark and network_test tsan errors
  apps/cu/cu.cpp
  apps/cu_cp/cu_cp.cpp
  apps/cu_up/cu_up.cpp
  apps/du/du.cpp
  apps/du_low/du_low.cpp
  apps/gnb/gnb.cpp
  include/srsran/support/io/io_broker.h
  tests/benchmarks/du_high/du_high_benchmark.cpp
  tests/benchmarks/gateways/udp_network_gateway_benchmark.cpp
  tests/benchmarks/gateways/udp_network_gateway_rx_benchmark.cpp
  tests/test_doubles/du/test_du_high_worker_manager.cpp
  tests/unittests/support/network/io_timer_source_test.cpp
Due: none

du-high: improve tests for du high clock controller
  include/srsran/support/io/io_timer_source.h
  lib/du/du_high/du_high_clock_controller_factory.cpp
  lib/support/network/io_timer_source.cpp
  tests/unittests/du_high/du_high_clock_controller_test.cpp
Due: none

support: allow the io timer source to be stopped and restarted
  apps/services/worker_manager/worker_manager.cpp
  apps/services/worker_manager/worker_manager.h
  include/srsran/support/io/io_timer_source.h
  lib/support/network/io_timer_source.cpp
Due: none

du-high: remove du timer executor and use app-level one instead
  apps/du/du.cpp
  apps/gnb/gnb.cpp
  include/srsran/du/du_high/du_high_executor_mapper.h
  include/srsran/mac/mac_config.h
  lib/du/du_high/du_high_executor_mapper.cpp
  lib/du/du_high/du_high_impl.cpp
  lib/du/du_high/test_mode/mac_test_mode_adapter.cpp
  lib/mac/mac_ctrl/mac_config.h
  lib/mac/mac_impl.cpp
  tests/benchmarks/du_high/du_high_benchmark.cpp
  tests/integrationtests/du_high/test_utils/du_high_env_simulator.cpp
  tests/integrationtests/du_high_cu/cu_du_test.cpp
  tests/integrationtests/du_high_cu/du_high_cu_test_simulator.cpp
  tests/test_doubles/du/test_du_high_worker_manager.cpp
  tests/test_doubles/du/test_du_high_worker_manager.h
  tests/unittests/mac/mac_ctrl_test.cpp
  tests/unittests/mac/mac_ue_create_test.cpp
Due: none

du-high: inject du time controller into du-high
  apps/du/du.cpp
  apps/gnb/gnb.cpp
  apps/units/flexible_o_du/o_du_high/o_du_high_unit_factory.cpp
  apps/units/flexible_o_du/o_du_high/o_du_high_unit_factory.h
  apps/units/flexible_o_du/o_du_unit.h
  apps/units/flexible_o_du/split_6/o_du_high/split6_o_du_factory.cpp
  apps/units/flexible_o_du/split_helpers/flexible_o_du_factory.cpp
  include/srsran/du/du_high/du_high_configuration.h
  include/srsran/du/du_high/du_timer_controller.h
  lib/du/du_high/du_high_impl.cpp
  lib/du/du_high/du_timer_controller.cpp
  lib/du/du_high/o_du_high_factory.cpp
  tests/benchmarks/du_high/du_high_benchmark.cpp
  tests/integrationtests/du_high/test_utils/du_high_env_simulator.cpp
  tests/integrationtests/du_high/test_utils/du_high_env_simulator.h
  tests/integrationtests/du_high_cu/cu_du_test.cpp
  tests/integrationtests/du_high_cu/du_high_cu_test_simulator.cpp
  tests/integrationtests/du_high_cu/du_high_cu_test_simulator.h
  tests/test_doubles/du/dummy_du_timer_controller.h
Due: none

du-high: implementation of a timer sources that allows switching between manual and automatic modes for ticking
  apps/du/du.cpp
  apps/gnb/gnb.cpp
  include/srsran/du/du_high/du_timer_controller.h
  include/srsran/support/io/io_timer_source.h
  lib/du/du_high/CMakeLists.txt
  lib/du/du_high/du_timer_controller.cpp
  lib/support/network/io_timer_source.cpp
Due: none

fix du_high_clock_controller_test
  tests/unittests/du_high/du_high_clock_controller_test.cpp
Due: none

du-high: fix timer shutdown
  include/srsran/mac/mac_clock_controller.h
  include/srsran/support/io/io_timer_source.h
  lib/du/du_high/du_high_clock_controller_factory.cpp
  lib/mac/mac_dl/mac_cell_processor.cpp
  lib/support/network/io_timer_source.cpp
  tests/benchmarks/du_high/du_high_benchmark.cpp
  tests/integrationtests/du_high/test_utils/du_high_env_simulator.cpp
  tests/integrationtests/du_high/test_utils/du_high_worker_manager.cpp
  tests/integrationtests/du_high/test_utils/du_high_worker_manager.h
Due: none

support: improve comments for du high time source
  lib/du/du_high/du_high_clock_controller_factory.cpp
  tests/test_doubles/du/test_du_high_worker_manager.cpp
  tests/unittests/du_high/du_high_clock_controller_test.cpp
Due: none

du: srsran_du_manager_procedures shall link srsran_du_manger
  lib/du/du_high/du_manager/procedures/CMakeLists.txt
Due: none

docker: add libdw to install script
  docker/scripts/install_dependencies.sh
Due: trigger docker, gnb docker compose

ci: update retina
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

ci: support ubuntu 25.10 and debian 13
  .gitlab/ci/build.yml
  .gitlab/ci/builders.yml
  .gitlab/ci/builders/archlinux/Dockerfile
Due: trigger builder

cmake: add lld as a linker option
  CMakeLists.txt
Due: none

cmake: fix linker error message
  CMakeLists.txt
Due: none

ci: fix du/ue port selection
  tests/e2e/tests/handover.py
Due: e2e tests tox

ci: activate inter du handover test
  .gitlab/ci/e2e.yml
Due: none

ci: increase retina version
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

ci,build: use lld in smoke ubuntu jobs
  .gitlab/ci-shared/build.yml
  .gitlab/ci/build.yml
  .gitlab/ci/builders/debian/Dockerfile
Due: trigger builder

ci,infra: move zmq jobs to a different node
  .gitlab/ci/e2e.yml
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

ci: change parameters for x300
  tests/e2e/tests/iperf.py
  tests/e2e/tests/ping.py
Due: e2e tests tox

sched: pass msg3 rx slot to ue_creation
  lib/scheduler/config/sched_config_manager.cpp
  lib/scheduler/config/sched_config_manager.h
  lib/scheduler/ue_context/ue.cpp
  lib/scheduler/ue_scheduling/ue_fallback_scheduler.cpp
  tests/benchmarks/du_high/du_high_benchmark.cpp
  tests/unittests/scheduler/ue_scheduling/fallback_scheduler_test.cpp
Due: none

cu_up,pdcp: respond to PDCP SN status requests for status transfer
  include/srsran/pdcp/pdcp_config.h
  include/srsran/pdcp/pdcp_rx.h
  include/srsran/pdcp/pdcp_tx.h
  include/srsran/ran/cu_types.h
  lib/cu_up/cu_up_manager_helpers.h
  lib/cu_up/pdu_session_manager.h
  lib/cu_up/pdu_session_manager_impl.cpp
  lib/pdcp/pdcp_entity_rx.h
  lib/pdcp/pdcp_entity_tx.h
  tests/unittests/cu_up/pdu_session_manager_test.cpp
Due: none

ci,infra: move back zmq jobs to previous node
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

du-manager: use du_cell_stop_procedure in cu configuration procedure
  lib/du/du_high/du_manager/procedures/cu_configuration_procedure.cpp
  lib/du/du_high/du_manager/procedures/du_cell_stop_procedure.cpp
  lib/du/du_high/du_manager/procedures/du_cell_stop_procedure.h
Due: none

sched: improve stop() for ue_scheduler
  lib/scheduler/cell/cell_harq_manager.cpp
  lib/scheduler/cell/cell_harq_manager.h
  lib/scheduler/srs/srs_scheduler_impl.cpp
  lib/scheduler/srs/srs_scheduler_impl.h
  lib/scheduler/uci_scheduling/uci_scheduler_impl.cpp
  lib/scheduler/uci_scheduling/uci_scheduler_impl.h
  lib/scheduler/ue_scheduling/intra_slice_scheduler.cpp
  lib/scheduler/ue_scheduling/intra_slice_scheduler.h
  lib/scheduler/ue_scheduling/ue_fallback_scheduler.cpp
  lib/scheduler/ue_scheduling/ue_fallback_scheduler.h
  lib/scheduler/ue_scheduling/ue_scheduler_impl.cpp
Due: none

mac: refactors in MAC DL UE removal
  lib/mac/CMakeLists.txt
  lib/mac/mac_ctrl/mac_controller.cpp
  lib/mac/mac_ctrl/mac_scheduler_configurator.h
  lib/mac/mac_ctrl/mac_ue_removal_procedure.cpp
  lib/mac/mac_ctrl/mac_ue_removal_procedure.h
  lib/mac/mac_ctrl/ue_creation_procedure.cpp
  lib/mac/mac_ctrl/ue_creation_procedure.h
  lib/mac/mac_dl/mac_cell_processor.cpp
  lib/mac/mac_dl/mac_cell_processor.h
  lib/mac/mac_dl/mac_dl_ue_repository.cpp
  lib/mac/mac_dl/mac_dl_ue_repository.h
  lib/mac/mac_sched/srsran_scheduler_adapter.cpp
  lib/mac/mac_sched/srsran_scheduler_adapter.h
  tests/unittests/mac/mac_ctrl_test_dummies.cpp
  tests/unittests/mac/mac_ctrl_test_dummies.h
Due: none

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  metrics tox: any of: docker/metrics_server/**/*
  grafana version changed: any of: docker/grafana/**/*
  metrics version changed: any of: docker/metrics_server/**/*
  metrics version check in retina: any of: docker/metrics_server/**/*
  gnb docker compose: (any of: docker/scripts/**/*, docker/Dockerfile) or (any of: docker/docker-compose.yml)
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  metrics-server docker compose: any of: docker/.env, docker/metrics_server/**/*, docker/docker-compose.yml
  metrics server image: any of: docker/metrics_server/**/*
  metrics server image latest: any of: docker/metrics_server/**/*
  grafana server image: any of: docker/grafana/**/*
  grafana server image latest: any of: docker/grafana/**/*
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*
