Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, e2e request validation

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  gnb docker compose: any of: .gitlab/ci/builders/install_dependencies.sh, .gitlab/ci/builders/builder.sh, docker/Dockerfile, docker/docker-compose.yml
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  e2e request validation: any of: .gitlab/ci/e2e/**/*

cu_cp,rrc: add gnb id to rrc config
  apps/gnb/gnb_appconfig_translators.cpp
  include/srsran/rrc/rrc_config.h
  lib/rrc/rrc_du_impl.cpp
  tests/integrationtests/du_high_cu/cu_du_test.cpp
Due: none

cu_cp: fix logging
  include/srsran/cu_cp/cell_meas_manager_config.h
Due: none

gnb: fix mobility validator
  apps/gnb/gnb_appconfig_validators.cpp
  include/srsran/ran/gnb_id.h
Due: none

cu_cp,rrc: reject du when cell cell config leads to invalid measurement config
  include/srsran/cu_cp/cell_meas_manager_config.h
  include/srsran/rrc/rrc_du.h
  lib/cu_cp/adapters/rrc_du_adapters.h
  lib/cu_cp/cell_meas_manager/cell_meas_manager_helpers.cpp
  lib/cu_cp/cell_meas_manager/cell_meas_manager_helpers.h
  lib/cu_cp/cell_meas_manager/cell_meas_manager_impl.cpp
  lib/cu_cp/cell_meas_manager/cell_meas_manager_impl.h
  lib/cu_cp/cu_cp_impl.cpp
  lib/cu_cp/cu_cp_impl.h
  lib/cu_cp/cu_cp_impl_interface.h
  lib/rrc/rrc_du_impl.cpp
  lib/rrc/ue/rrc_measurement_types_asn1_converters.h
  tests/unittests/cu_cp/cell_meas_manager/cell_meas_manager_test.cpp
  tests/unittests/cu_cp/cell_meas_manager/cell_meas_manager_test_helpers.cpp
  tests/unittests/cu_cp/cu_cp_test.cpp
  tests/unittests/cu_cp/cu_cp_test_helpers.cpp
  tests/unittests/cu_cp/cu_cp_test_helpers.h
  tests/unittests/cu_cp/mobility/inter_du_handover_routine_test.cpp
  tests/unittests/rrc/rrc_ue_test_helpers.h
  tests/unittests/rrc/rrc_ue_test_messages.cpp
  tests/unittests/rrc/test_helpers.h
Due: none

cu_cp: remove unused function argument
  include/srsran/rrc/rrc_du.h
  lib/cu_cp/adapters/rrc_du_adapters.h
  lib/cu_cp/cell_meas_manager/cell_meas_manager_impl.cpp
  lib/cu_cp/cell_meas_manager/cell_meas_manager_impl.h
  lib/cu_cp/cu_cp_impl.cpp
  lib/cu_cp/cu_cp_impl.h
  lib/cu_cp/cu_cp_impl_interface.h
  tests/unittests/rrc/test_helpers.h
Due: none

ci: fix number of ants
  tests/e2e/tests/test_mode.py
Due: e2e tests tox

ci: android retries
  tests/e2e/tests/iperf.py
Due: e2e tests tox

ci: reduce test mode ru log level
  .gitlab/ci/e2e.yml
  .gitlab/ci/e2e/.env
Due: e2e request validation

ci: update b200 setup request
  .gitlab/ci/e2e/retina_request_rf_b200.yml
Due: e2e request validation

support: handle spurious failures of the mpmc queue
  include/srsran/support/executors/strand_executor.h
  tests/unittests/support/executors/CMakeLists.txt
  tests/unittests/support/executors/strand_executor_test.cpp
Due: none

support: improve strand warning log messages
  apps/gnb/gnb_appconfig.h
  apps/gnb/gnb_os_sched_affinity_manager.h
  include/srsran/support/executors/priority_task_worker.h
  include/srsran/support/executors/strand_executor.h
  include/srsran/support/executors/task_execution_manager.h
  include/srsran/support/executors/task_worker.h
  include/srsran/support/executors/task_worker_pool.h
  include/srsran/support/executors/thread_utils.h
  include/srsran/support/executors/unique_thread.h
  include/srsran/support/io/io_broker.h
  lib/support/CMakeLists.txt
  lib/support/event_tracing.cpp
  lib/support/executors/unique_thread.cpp
  lib/support/sysinfo.cpp
  tests/benchmarks/phy/upper/channel_processors/pdsch_processor_benchmark.cpp
  tests/benchmarks/phy/upper/channel_processors/pusch/pusch_processor_benchmark.cpp
  tests/unittests/adt/byte_buffer_test.cpp
  tests/unittests/adt/concurrent_queue_test.cpp
  tests/unittests/support/unique_thread_test.cpp
Due: none

cu-up: make cu-up io ul executor mpmc
  apps/gnb/gnb_worker_manager.cpp
Due: none

f1u,cu_up: defer UL PDUs to UL executor...
  lib/f1u/cu_up/f1u_bearer_impl.cpp
  tests/unittests/f1u/common/f1u_connector_test.cpp
  tests/unittests/f1u/cu_up/f1u_cu_up_bearer_test.cpp
Due: none

sched: fix failing unit tests due to inconsistent nzp-csi-rs resources
  include/srsran/scheduler/config/serving_cell_config_factory.h
  lib/scheduler/config/serving_cell_config_factory.cpp
  tests/unittests/scheduler/scheduler_tdd_test.cpp
  tests/unittests/scheduler/test_utils/config_generators.h
  tests/unittests/scheduler/ue_scheduling/ue_grid_allocator_test.cpp
Due: none

sched: fix failing fallback scheduler test
  tests/unittests/scheduler/ue_scheduling/fallback_scheduler_test.cpp
Due: none

sched: add validator to confirm that the cell and UE match in terms of NZP-CSI-RS resources
  include/srsran/scheduler/config/serving_cell_config_validator.h
  lib/scheduler/config/scheduler_cell_config_validator.cpp
  lib/scheduler/config/scheduler_ue_config_validator.cpp
  lib/scheduler/config/serving_cell_config_validator.cpp
Due: none

f1ap-cu: log tx pdus
  lib/f1ap/common/f1ap_asn1_utils.h
  lib/f1ap/cu_cp/du_context.h
  lib/f1ap/cu_cp/f1ap_cu_impl.cpp
  lib/f1ap/cu_cp/f1ap_cu_impl.h
  lib/f1ap/cu_cp/procedures/f1_setup_procedure.cpp
  lib/f1ap/cu_cp/procedures/f1_setup_procedure.h
  lib/f1ap/cu_cp/procedures/ue_context_modification_procedure.cpp
  lib/f1ap/cu_cp/procedures/ue_context_setup_procedure.cpp
  lib/f1ap/du/f1ap_du_impl.cpp
Due: none

f1ap-cu: log ue_index before f1ap indexes
  lib/f1ap/cu_cp/f1ap_cu_impl.cpp
Due: none

f1ap-cu: disable json logging by default
  apps/gnb/gnb_appconfig.h
  apps/gnb/gnb_appconfig_cli11_schema.cpp
  apps/gnb/gnb_appconfig_translators.cpp
  include/srsran/f1ap/cu_cp/f1ap_configuration.h
  lib/f1ap/cu_cp/f1ap_cu_impl.cpp
Due: none

f1ap-cu: fix access to uninitialized gnb-du-id
  lib/f1ap/cu_cp/du_context.h
  lib/f1ap/cu_cp/f1ap_cu_impl.cpp
Due: none

f1ap-cu: ue context setup timeout unit test
  tests/unittests/f1ap/cu_cp/f1ap_cu_test_helpers.cpp
  tests/unittests/f1ap/cu_cp/f1ap_cu_test_helpers.h
  tests/unittests/f1ap/cu_cp/f1ap_cu_ue_context_setup_procedure_test.cpp
Due: none

f1ap-cu: use custom formattable for f1ap-cu RX PDUs
  include/srsran/support/format_utils.h
  lib/f1ap/common/proc_logger.h
  lib/f1ap/cu_cp/f1ap_cu_impl.cpp
Due: none

f1ap-cu: remove bad references to f1ap-cu logger
  lib/f1ap/cu_cp/f1ap_cu_impl.cpp
  lib/f1ap/du/f1ap_du_connection_handler.cpp
  lib/f1ap/du/procedures/f1ap_du_ue_context_modification_procedure.cpp
Due: none

f1ap-cu: improve logging of F1AP-CU Rx PDUs
  lib/f1ap/common/f1ap_asn1_utils.h
  lib/f1ap/cu_cp/du_context.h
  lib/f1ap/cu_cp/f1ap_cu_impl.cpp
  lib/f1ap/cu_cp/f1ap_cu_impl.h
  lib/f1ap/cu_cp/ue_context/f1ap_cu_ue_context.h
Due: none

gnb: expose f1ap ue context setup timeout to config
  apps/gnb/gnb_appconfig.h
  apps/gnb/gnb_appconfig_cli11_schema.cpp
  apps/gnb/gnb_appconfig_translators.cpp
  include/srsran/cu_cp/cu_cp_configuration.h
  include/srsran/f1ap/cu_cp/f1ap_configuration.h
  include/srsran/f1ap/cu_cp/f1ap_cu_factory.h
  lib/cu_cp/du_processor/du_processor_config.h
  lib/cu_cp/du_processor/du_processor_impl.cpp
  lib/cu_cp/du_processor/du_processor_repository.cpp
  lib/f1ap/cu_cp/f1ap_cu_factory.cpp
  lib/f1ap/cu_cp/f1ap_cu_impl.cpp
  lib/f1ap/cu_cp/f1ap_cu_impl.h
  lib/f1ap/cu_cp/procedures/ue_context_setup_procedure.cpp
  lib/f1ap/cu_cp/procedures/ue_context_setup_procedure.h
  tests/integrationtests/du_high_cu/du_high_cu_test_simulator.cpp
  tests/unittests/f1ap/cu_cp/f1ap_cu_test_helpers.cpp
Due: none

ngap: print ng setup failure cause to console
  lib/ngap/procedures/ng_setup_procedure.cpp
Due: none

cu_cp,ngap: reduce defaul max retries for ng setup procedure
  include/srsran/ngap/ngap_setup.h
  lib/cu_cp/routines/amf_connection_setup_routine.cpp
Due: none

cu_cp: remove unused code
  tests/unittests/cu_cp/mobility/CMakeLists.txt
  tests/unittests/cu_cp/mobility/inter_du_handover_routine_test.cpp
  tests/unittests/cu_cp/mobility/inter_du_handover_routine_test_helpers.cpp
  tests/unittests/cu_cp/mobility/inter_du_handover_routine_test_helpers.h
Due: none

cu_cp: make gnb_id mandatory in meas config
  include/srsran/cu_cp/cell_meas_manager_config.h
  lib/cu_cp/cell_meas_manager/cell_meas_manager_helpers.cpp
  tests/unittests/cu_cp/cell_meas_manager/cell_meas_manager_test_helpers.cpp
  tests/unittests/cu_cp/cu_cp_test_helpers.cpp
Due: none

cu_cp: add inter cu handover unittest
  tests/unittests/cu_cp/cu_cp_test_helpers.cpp
  tests/unittests/cu_cp/mobility/CMakeLists.txt
  tests/unittests/cu_cp/mobility/inter_cu_handover_routine_test.cpp
Due: none

cu_cp: fix inter du handover test
  tests/unittests/cu_cp/mobility/inter_du_handover_routine_test.cpp
Due: none

cu_cp: trigger ngap handover from measurement report
  lib/cu_cp/adapters/cell_meas_manager_adapters.h
  lib/cu_cp/cell_meas_manager/cell_meas_manager_helpers.cpp
  lib/cu_cp/cell_meas_manager/cell_meas_manager_impl.cpp
  lib/cu_cp/cell_meas_manager/cell_meas_manager_impl.h
  lib/cu_cp/cell_meas_manager/measurement_context.h
  lib/cu_cp/mobility_manager/mobility_manager_impl.cpp
  lib/cu_cp/mobility_manager/mobility_manager_impl.h
  tests/unittests/cu_cp/cell_meas_manager/cell_meas_manager_test.cpp
  tests/unittests/cu_cp/cell_meas_manager/cell_meas_manager_test_helpers.cpp
  tests/unittests/cu_cp/cell_meas_manager/cell_meas_manager_test_helpers.h
Due: none

gnb: limit dynamic log level on PHY only
  apps/gnb/helpers/gnb_console_helper.cpp
Due: none

gnb: make possible changing the log level in runtime
  apps/examples/phy/radio_ssb.cpp
  apps/gnb/gnb.cpp
  apps/gnb/helpers/gnb_console_helper.cpp
  apps/gnb/helpers/gnb_console_helper.h
  lib/phy/upper/upper_phy_factories.cpp
  lib/phy/upper/upper_phy_impl.cpp
  tests/unittests/phy/lower/processors/downlink/lower_phy_downlink_processor_test.cpp
Due: none

gnb: review dynamixc logging levels
  apps/gnb/helpers/gnb_console_helper.cpp
Due: none

ci: update retina
  .gitlab/ci/e2e/.env
  tests/e2e/tests/iperf.py
Due: e2e tests tox, e2e request validation

cu_up: stop statistics timer when stopping CU-UP
  lib/cu_up/cu_up_impl.cpp
Due: none

docker: upgrade container base to ubuntu 24.04
  docker/Dockerfile
  docker/docker-compose.yml
Due: trigger docker, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose

docker: open5gs upgrade to 2.7.0
  docker/docker-compose.yml
  docker/open5gs/Dockerfile
  docker/open5gs/add_users.py
  docker/open5gs/open5gs-5gc.yml
  docker/open5gs/open5gs_entrypoint.sh
Due: trigger docker, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose

ci,e2e: timers adjust
  .gitlab/ci/e2e/.env
  tests/e2e/tests/iperf.py
  tests/e2e/tests/ping.py
  tests/e2e/tests/steps/stub.py
Due: e2e tests tox, e2e request validation
