Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, tox python in builder, metrics tox, grafana version changed, metrics version changed, metrics version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, metrics-server docker compose, metrics server image, metrics server image latest, grafana server image, grafana server image latest, e2e request and config validation

trigger builder:
  stage: ci
  trigger:
    include: .gitlab/ci/builders.yml
    strategy: depend

trigger docker:
  stage: ci
  trigger:
    include: .gitlab/ci/docker.yml
    strategy: depend
  variables:
    PY_DIR: docker/metrics_server

e2e tests tox:
  stage: static
  variables:
    PY_DIR: tests/e2e
  before_script:
  - apk add build-base

smoke avx512 cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm neon cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke avx512 clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm neon clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

tox python in builder:
  stage: ci
  variables:
    PY_DIR: .gitlab/ci/builders
    GIT_LFS_SKIP_SMUDGE: 1

metrics tox:
  stage: static
  variables:
    GIT_LFS_SKIP_SMUDGE: 1

grafana version changed:
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
  stage: static
  script:
  - NEW_VERSION=$(cat docker/grafana/version.yml | grep SRS_GRAFANA_VERSION | cut -d'"' -f2)
  - export NEW_VERSION
  - "git checkout $CI_MERGE_REQUEST_DIFF_BASE_SHA\nif [ ! -e \"docker/grafana/version.yml\" ]; then\n    exit 0\nfi\n"
  ...

metrics version changed:
  stage: static
  variables:
    GIT_LFS_SKIP_SMUDGE: 1

metrics version check in retina:
  stage: static
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
  script:
  - 'VERSION_IN_PYPROJECT=$(cat docker/metrics_server/pyproject.toml | grep ''^version'' | cut -d''"'' -f2)
  
    VERSION_IN_RETINA=$(cat .gitlab/ci/e2e/.env | grep METRICS_SERVER_VERSION | cut -d''='' -f2)
  
  ...

gnb docker compose:
  stage: compose
  image: docker:24.0.7-dind
  tags:
  - amd64-avx2
  timeout: 2h
  retry: 2
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
    KUBERNETES_CPU_REQUEST: ${SRS_CPU_LIMIT}
    KUBERNETES_CPU_LIMIT: ${SRS_CPU_LIMIT}
    KUBERNETES_MEMORY_REQUEST: ${SRS_MEMORY_LIMIT}
    KUBERNETES_MEMORY_LIMIT: ${SRS_MEMORY_LIMIT}
  ...

grafana server image:
  stage: publish
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
    REGISTRY_URI: $GITLAB_REGISTRY_URI
    NAME: grafana
    CONTEXT: ${CI_PROJECT_DIR}/docker/grafana
    MODE: publish
  before_script:
  ...

ci,e2e: parallel handover with 32 ues
  .gitlab/ci/e2e.yml
  tests/e2e/tests/handover.py
Due: e2e tests tox

ntn: move add_ntn_config_update_remote_command out from srs_du ns
  apps/units/flexible_o_du/split_helpers/commands/ntn_config_update_remote_command_factory.cpp
  apps/units/flexible_o_du/split_helpers/commands/ntn_config_update_remote_command_factory.h
Due: none

ci,e2e: reduce test names length
  tests/e2e/tests/inter_du_handover.py
  tests/e2e/tests/iperf.py
  tests/e2e/tests/reestablishment.py
Due: e2e tests tox

ci,e2e: remove old unused tests
  .gitlab/ci/e2e.yml
  tests/e2e/pyproject.toml
  tests/e2e/tests/attach_detach.py
  tests/e2e/tests/iperf.py
  tests/e2e/tests/ping.py
Due: e2e tests tox

ci,e2e: ftp server only in new cluster
  .gitlab/ci-shared/e2e.yml
Due: none

support, epoll broker: report error when registering or deregistering unrelated fds inside the read callback
  lib/support/network/io_broker_epoll.cpp
Due: none

fapi_adaptor: pass the dBFS calibration value to the adaptor. For SDRs derive the calibration value as srqt(srate/scs)
  apps/units/flexible_o_du/split_6/o_du_low/split6_flexible_o_du_low_session_factory.cpp
  apps/units/flexible_o_du/split_6/o_du_low/split6_flexible_o_du_low_session_factory.h
  apps/units/flexible_o_du/split_8/split_8_o_du_factory.cpp
  apps/units/flexible_o_du/split_8/split_8_o_du_factory.h
  apps/units/flexible_o_du/split_dynamic/dynamic_o_du_factory.cpp
  apps/units/flexible_o_du/split_helpers/flexible_o_du_configs.h
  apps/units/flexible_o_du/split_helpers/flexible_o_du_factory.cpp
  include/srsran/fapi_adaptor/phy/phy_fapi_adaptor_config.h
  lib/fapi_adaptor/phy/phy_fapi_sector_adaptor_impl.cpp
  lib/fapi_adaptor/phy/phy_to_fapi_results_event_translator.cpp
  lib/fapi_adaptor/phy/phy_to_fapi_results_event_translator.h
Due: none

app_unit: extracted function to calculate the dBFS calibration value to a helpers file in the split 8 folder
  apps/units/flexible_o_du/split_6/o_du_low/split6_flexible_o_du_low_session_factory.cpp
  apps/units/flexible_o_du/split_8/helpers/ru_sdr_helpers.h
  apps/units/flexible_o_du/split_8/split_8_o_du_factory.cpp
  apps/units/flexible_o_du/split_dynamic/dynamic_o_du_factory.cpp
Due: none

cu_cp,rrc: add check for serving cell mo to handover unit tests
  tests/test_doubles/rrc/rrc_test_message_validators.cpp
  tests/test_doubles/rrc/rrc_test_message_validators.h
  tests/unittests/cu_cp/cu_cp_inter_du_handover_test.cpp
Due: none

cu_cp,rrc: improve rrc test helpers namespace
  tests/test_doubles/f1ap/f1ap_test_messages.cpp
  tests/test_doubles/rrc/rrc_packed_test_messages.cpp
  tests/test_doubles/rrc/rrc_packed_test_messages.h
  tests/test_doubles/rrc/rrc_test_messages.cpp
  tests/test_doubles/rrc/rrc_test_messages.h
  tests/unittests/cu_cp/cu_cp_connectivity_test.cpp
  tests/unittests/cu_cp/cu_cp_intra_du_handover_test.cpp
  tests/unittests/cu_cp/cu_cp_reestablishment_test.cpp
  tests/unittests/cu_cp/cu_cp_test_environment.cpp
  tests/unittests/cu_cp/test_helpers.cpp
Due: none

cu_cp,rrc: find and store serving cell mo
  include/srsran/rrc/rrc_ue.h
  lib/rrc/ue/rrc_ue_context.h
  lib/rrc/ue/rrc_ue_impl.h
  lib/rrc/ue/rrc_ue_message_handlers.cpp
  tests/unittests/cu_cp/mobility/handover_reconfiguration_routine_test.cpp
Due: none

cu_cp: improve unit tests
  tests/test_doubles/f1ap/f1ap_test_messages.cpp
  tests/test_doubles/f1ap/f1ap_test_messages.h
  tests/unittests/cu_cp/cu_cp_inter_du_handover_test.cpp
  tests/unittests/cu_cp/cu_cp_intra_du_handover_test.cpp
  tests/unittests/cu_cp/cu_cp_reestablishment_test.cpp
  tests/unittests/cu_cp/cu_cp_test_environment.cpp
  tests/unittests/ngap/ngap_test_messages.cpp
Due: none

cu_cp: set serving cell mo in ue context setup/modification
  lib/cu_cp/routines/initial_context_setup_routine.cpp
  lib/cu_cp/routines/mobility/intra_cu_handover_routine.cpp
  lib/cu_cp/routines/pdu_session_resource_setup_routine.cpp
Due: none

cu_cp,rrc: improve test messages
  tests/test_doubles/rrc/rrc_packed_test_messages.cpp
  tests/test_doubles/rrc/rrc_packed_test_messages.h
  tests/test_doubles/rrc/rrc_test_messages.cpp
  tests/test_doubles/rrc/rrc_test_messages.h
Due: none

ci: update plugin reference
  .gitlab/ci/plugin_version.txt
Due: none

e2e: increase max consecutive KOs for reestablishment tests
  tests/e2e/tests/reestablishment.py
Due: e2e tests tox

grafana: increase grafana version
  docker/grafana/version.yml
Due: trigger docker, grafana version changed, grafana docker compose, grafana server image, grafana server image latest

grafana: add cu-cp, ngap and rrc metrics dashboards
  docker/grafana/dashboards/cu_cp.json
  docker/grafana/dashboards/ngap.json
  docker/grafana/dashboards/rrc.json
Due: trigger docker, grafana version changed, grafana docker compose, grafana server image, grafana server image latest

telegraf: increase telegraf version
  .gitlab/ci/e2e/.env
  docker/telegraf/version.yml
Due: trigger docker, e2e request and config validation

telegraf: add xpath for cu-cp, ngap and rrc metrics
  docker/telegraf/telegraf.conf
Due: none

sched: check that all RBs are being used in scheduler_fairness_test
  lib/scheduler/logging/scheduler_result_logger.cpp
  tests/unittests/scheduler/scheduler_fairness_test.cpp
  tests/unittests/scheduler/test_utils/scheduler_test_simulator.cpp
  tests/unittests/scheduler/test_utils/scheduler_test_simulator.h
Due: none

sched: extension of scheduler simulation test for many UEs
  lib/scheduler/ue_scheduling/intra_slice_scheduler.cpp
  tests/unittests/scheduler/scheduler_fairness_test.cpp
Due: none

sched: cleanup multi ue scheduler test for DL BO reports
  tests/unittests/scheduler/CMakeLists.txt
  tests/unittests/scheduler/multiple_ue_sched_test.cpp
  tests/unittests/scheduler/scheduler_multi_ue_test.cpp
Due: none

sched: update comments of round-robin of scheduler UE groups
  include/srsran/support/math/mod_math_utils.h
  lib/scheduler/ue_scheduling/intra_slice_scheduler.cpp
  lib/scheduler/ue_scheduling/intra_slice_scheduler.h
Due: none

sched: redesign UE group round-robin algorithm to prioritize max UCI efficiency
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config.h
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_translators.cpp
  include/srsran/scheduler/config/scheduler_expert_config.h
  include/srsran/support/math/detail/type_utils.h
  include/srsran/support/math/mod_math_utils.h
  lib/scheduler/ue_scheduling/intra_slice_scheduler.cpp
  lib/scheduler/ue_scheduling/intra_slice_scheduler.h
  tests/unittests/support/CMakeLists.txt
  tests/unittests/support/math/mod_math_utils_test.cpp
Due: none

mac: remove unused message types
  include/srsran/mac/mac_cell_manager.h
Due: none

mac: use mac_manager interface in the du_manager to control the mac
  include/srsran/du/du_high/du_manager/du_manager_params.h
  include/srsran/mac/mac.h
  include/srsran/mac/mac_manager.h
  lib/du/du_high/du_high_impl.cpp
  lib/du/du_high/du_manager/du_cell_manager.cpp
  lib/du/du_high/du_manager/du_cell_manager.h
  lib/du/du_high/du_manager/du_manager_impl.cpp
  lib/du/du_high/du_manager/du_metrics_aggregator_impl.cpp
  lib/du/du_high/du_manager/du_metrics_aggregator_impl.h
  lib/du/du_high/du_manager/du_ue/du_ue.h
  lib/du/du_high/du_manager/du_ue/du_ue_controller_impl.cpp
  lib/du/du_high/du_manager/du_ue/du_ue_manager.cpp
  lib/du/du_high/du_manager/procedures/du_param_config_procedure.cpp
  lib/du/du_high/du_manager/procedures/du_param_config_procedure.h
  lib/du/du_high/du_manager/procedures/du_setup_procedure.cpp
  lib/du/du_high/du_manager/procedures/du_ue_ric_configuration_procedure.cpp
  lib/du/du_high/du_manager/procedures/du_ue_ric_configuration_procedure.h
  lib/du/du_high/du_manager/procedures/ue_configuration_procedure.cpp
  lib/du/du_high/du_manager/procedures/ue_configuration_procedure.h
  lib/du/du_high/du_manager/procedures/ue_creation_procedure.cpp
  lib/du/du_high/du_manager/procedures/ue_deletion_procedure.cpp
  lib/du/du_high/du_manager/procedures/ue_deletion_procedure.h
  lib/du/du_high/du_manager/ran_resource_management/du_ue_resource_config.h
  tests/unittests/du_manager/du_manager_test_helpers.cpp
  tests/unittests/du_manager/du_manager_test_helpers.h
  tests/unittests/du_manager/du_ue/ue_manager_test.cpp
  tests/unittests/du_manager/procedures/du_manager_procedure_test_helpers.h
  tests/unittests/f1ap/du/f1ap_du_test_helpers.h
Due: none

mac: new positioning handler implementation
  include/srsran/mac/mac.h
  include/srsran/mac/mac_cell_manager.h
  include/srsran/mac/mac_manager.h
  include/srsran/mac/mac_positioning_measurement_handler.h
  include/srsran/scheduler/scheduler_positioning_handler.h
  lib/du/du_high/du_manager/procedures/ue_creation_procedure.h
  lib/du/du_high/test_mode/mac_test_mode_adapter.h
  lib/mac/mac_ctrl/mac_controller.h
  lib/mac/mac_ctrl/spsc_metric_report_channel.h
  lib/mac/mac_dl/mac_cell_processor.cpp
  lib/mac/mac_dl/mac_dl_ue_repository.h
  lib/mac/mac_dl/mac_scheduler_cell_info_handler.h
  lib/mac/mac_impl.cpp
  lib/mac/mac_impl.h
  lib/mac/mac_sched/mac_scheduler_adapter.h
  lib/mac/mac_sched/positioning_handler.cpp
  lib/mac/mac_sched/positioning_handler.h
  lib/mac/mac_sched/srsran_scheduler_adapter.cpp
  lib/mac/mac_sched/srsran_scheduler_adapter.h
  lib/mac/mac_ul/mac_ul_ue_manager.h
  lib/scheduler/cell_scheduler.h
  lib/scheduler/scheduler_impl.cpp
  lib/scheduler/scheduler_impl.h
  lib/scheduler/srs/srs_scheduler.h
  lib/scheduler/srs/srs_scheduler_impl.cpp
  lib/scheduler/srs/srs_scheduler_impl.h
  lib/scheduler/ue_scheduling/ue_event_manager.cpp
  lib/scheduler/ue_scheduling/ue_event_manager.h
  lib/scheduler/ue_scheduling/ue_scheduler.h
  lib/scheduler/ue_scheduling/ue_scheduler_impl.h
  tests/integrationtests/du_high/mac_test_mode_adapter_test.cpp
  tests/unittests/du_manager/du_manager_test_helpers.h
  tests/unittests/mac/mac_dl_cfg_test.cpp
  tests/unittests/mac/mac_test_helpers.h
  tests/unittests/mac/mac_ue_create_test.cpp
  tests/unittests/scheduler/srs_scheduling/srs_scheduler_test.cpp
Due: none

du-high: fix failing test
  lib/scheduler/ue_scheduling/ue_event_manager.cpp
Due: none

ofh: fix delta calculation in the timing worker
  lib/ofh/timing/realtime_timing_worker.cpp
  lib/ofh/timing/realtime_timing_worker.h
Due: none

ci: test pretty printer
  .gitlab/ci-shared/build.yml
  .gitlab/ci/build.yml
  .gitlab/ci/builders/debian/Dockerfile
Due: trigger builder

srsvec: extend modulus square vector functions
  include/srsran/srsvec/modulus_square.h
  lib/srsvec/modulus_square.cpp
  tests/unittests/srsvec/CMakeLists.txt
  tests/unittests/srsvec/srsvec_modulus_square_test.cpp
Due: none

phy: fix UL tap factory arguments
  apps/units/flexible_o_du/o_du_low/du_low_config.h
  apps/units/flexible_o_du/o_du_low/du_low_config_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_low/du_low_config_translator.cpp
  apps/units/flexible_o_du/o_du_low/du_low_config_yaml_writer.cpp
  include/srsran/phy/upper/upper_phy_factories.h
  lib/phy/upper/upper_phy_factories.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

e1ap: timeout if e1 setup does not receive a reply
  lib/e1ap/cu_up/procedures/e1ap_cu_up_setup_procedure.cpp
Due: none

f1ap: timeout setup procedure if no reply arrives in 3 seconds
  lib/f1ap/du/procedures/f1ap_du_setup_procedure.cpp
Due: none

ci,e2e: adjust testbed
  .gitlab/ci/e2e/android_b200.yml
Due: e2e request and config validation

uhd: return false on tx gain set failure
  lib/radio/uhd/radio_uhd_impl.cpp
Due: none

sched: fix ue group round-robin operation
  include/srsran/adt/slotted_array.h
  lib/scheduler/ue_scheduling/intra_slice_scheduler.cpp
  lib/scheduler/ue_scheduling/intra_slice_scheduler.h
Due: none

adt: add lower_bound test for slotted_array
  tests/unittests/adt/slotted_array_test.cpp
Due: none

Path conditions:
  trigger builder: any of: .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*, docker/scripts/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv,py,toml}, docker/**/Dockerfile, .gdbinit
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  tox python in builder: any of: .gitlab/ci/builders/**/*.py
  metrics tox: any of: docker/metrics_server/**/*
  grafana version changed: any of: docker/grafana/**/*
  metrics version changed: any of: docker/metrics_server/**/*
  metrics version check in retina: any of: docker/metrics_server/**/*
  gnb docker compose: (any of: docker/scripts/**/*, docker/Dockerfile) or (any of: docker/docker-compose.yml)
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  metrics-server docker compose: any of: docker/.env, docker/metrics_server/**/*, docker/docker-compose.yml
  metrics server image: any of: docker/metrics_server/**/*
  metrics server image latest: any of: docker/metrics_server/**/*
  grafana server image: any of: docker/grafana/**/*
  grafana server image latest: any of: docker/grafana/**/*
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*
