Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, e2e request validation

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  gnb docker compose: any of: .gitlab/ci/builders/install_dependencies.sh, .gitlab/ci/builders/builder.sh, docker/Dockerfile, docker/docker-compose.yml
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  e2e request validation: any of: .gitlab/ci/e2e/**/*

sched: improve of documentation of slice scheduler and fix minor bugs
  include/srsran/scheduler/config/slice_rrm_policy_config.h
  lib/scheduler/slicing/ran_slice_candidate.h
  lib/scheduler/slicing/ran_slice_id.h
  lib/scheduler/slicing/ran_slice_instance.cpp
  lib/scheduler/slicing/ran_slice_instance.h
  lib/scheduler/slicing/slice_scheduler.cpp
  lib/scheduler/slicing/slice_scheduler.h
Due: none

sched: unit test for default slice scheduler
  lib/scheduler/slicing/ran_slice_candidate.h
  lib/scheduler/slicing/ran_slice_id.h
  lib/scheduler/slicing/ran_slice_instance.cpp
  lib/scheduler/slicing/ran_slice_instance.h
  lib/scheduler/slicing/slice_scheduler.cpp
  lib/scheduler/slicing/slice_scheduler.h
  tests/unittests/scheduler/CMakeLists.txt
  tests/unittests/scheduler/slicing/CMakeLists.txt
  tests/unittests/scheduler/slicing/slice_scheduler_test.cpp
  tests/unittests/scheduler/test_utils/CMakeLists.txt
  tests/unittests/scheduler/test_utils/config_generators.cpp
  tests/unittests/scheduler/test_utils/config_generators.h
Due: none

sched: write unit test for multi slice scheduling
  include/srsran/ran/rrm.h
  lib/scheduler/slicing/slice_scheduler.cpp
  tests/unittests/scheduler/slicing/slice_scheduler_test.cpp
Due: none

sched: draft design of scheduler slicing
  include/srsran/ran/rrm.h
  include/srsran/ran/s_nssai.h
  include/srsran/scheduler/config/cell_rrm_policy_config.h
  include/srsran/scheduler/config/logical_channel_config.h
  include/srsran/scheduler/scheduler_configurator.h
  lib/scheduler/CMakeLists.txt
  lib/scheduler/config/cell_configuration.cpp
  lib/scheduler/config/cell_configuration.h
  lib/scheduler/slicing/ran_slice_candidate.h
  lib/scheduler/slicing/ran_slice_id.h
  lib/scheduler/slicing/ran_slice_instance.cpp
  lib/scheduler/slicing/ran_slice_instance.h
  lib/scheduler/slicing/slice_scheduler.cpp
  lib/scheduler/slicing/slice_scheduler.h
Due: none

ci: fix basic dpdk jobs
  .gitlab/ci/build.yml
Due: none

ci: fix test timeout in valgrind jobs
  .gitlab/ci/build.yml
Due: none

ci: rename max test execution time variable in build jobs
  .gitlab/ci/build.yml
Due: none

ci: fix march flags in ubuntu 20 package
  .gitlab/ci/build.yml
Due: none

ci,docker: change release with debug images name
  .gitlab/ci/docker.yml
Due: trigger docker

docker: fix dpdk arch build
  docker/scripts/build_dpdk.sh
Due: trigger docker

ci,builder: make builder script more robust when creating symlinks
  docker/scripts/builder.sh
Due: trigger docker

ci: update retina
  .gitlab/ci/e2e/.env
Due: e2e request validation

ofh,compression: replace vst1q_s8_x3
  lib/ofh/compression/packing_utils_neon.h
Due: none

phy: optimize port channel estimator copy
  lib/phy/upper/signal_processors/port_channel_estimator_average_impl.cpp
Due: none

ran: add gnb_du_id_to_int func
  include/srsran/ran/gnb_du_id.h
Due: none

e2: add optional gnb_du_id in e2ap configuration
  apps/units/flexible_du/du_high/du_high_config_translators.cpp
  include/srsran/e2/e2ap_configuration.h
  lib/e2/common/e2ap_asn1_helpers.h
Due: none

e2: remove ran_node_name from config
  apps/units/flexible_du/du_high/du_high_config_translators.cpp
  include/srsran/e2/e2ap_configuration.h
  include/srsran/e2/e2ap_configuration_helpers.h
Due: none

sched: add extra log info to rar scheduler
  lib/scheduler/common_scheduling/ra_scheduler.cpp
  lib/scheduler/common_scheduling/ra_scheduler.h
Due: none

sched: reduce sched ahead nof slot in fallback sched
  lib/scheduler/ue_scheduling/ue_fallback_scheduler.h
Due: none

ADT: remove custom aligned allocations for lockfree queues with C++17
  include/srsran/adt/mpmc_queue.h
  include/srsran/adt/mutexed_mpmc_queue.h
  include/srsran/adt/mutexed_mpsc_queue.h
  include/srsran/adt/spsc_queue.h
Due: none

du-manager: defer UE bearer removal to UE executor
  lib/du_manager/procedures/ue_configuration_procedure.cpp
Due: none

du-manager: ensure traffic of DRB to be removed is stopped before the DRBs are actually removed
  lib/du_manager/du_ue/du_ue.h
  lib/du_manager/du_ue/du_ue_controller_impl.cpp
  lib/du_manager/du_ue/du_ue_controller_impl.h
  lib/du_manager/procedures/ue_configuration_procedure.cpp
  lib/du_manager/procedures/ue_configuration_procedure.h
  lib/du_manager/procedures/ue_deletion_procedure.cpp
  lib/du_manager/procedures/ue_deletion_procedure.h
  tests/unittests/du_manager/procedures/du_manager_procedure_test_helpers.h
Due: none

du-manager: refactor du_ue_controller_impl methods
  lib/du_manager/du_ue/du_ue_controller_impl.cpp
  lib/du_manager/du_ue/du_ue_controller_impl.h
Due: none

ci: trigger k8s helm
  .gitlab-ci.yml
Due: none

ci: timeout viavi, comment tests, coverity cpu request
  .gitlab-ci.yml
  .gitlab/ci/e2e/.env
  tests/e2e/tests/viavi.py
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request validation

avoid timeout in du-high benchmark due to thread starvation
  tests/benchmarks/du_high/du_high_benchmark.cpp
Due: none

ci: update ci tools reference
  .gitlab-ci.yml
  .gitlab/ci/builders.yml
  .gitlab/ci/docker.yml
  .gitlab/ci/e2e.yml
  .gitlab/ci/release.yml
  .gitlab/ci/trx.yml
  docker/open5gs/Dockerfile
Due: trigger builder, trigger docker, 5gc docker compose

phy: PUCCH detector uses PUCCH helper
  lib/phy/upper/channel_processors/pucch_detector_impl.cpp
  lib/phy/upper/channel_processors/pucch_detector_impl.h
Due: none

gnb: reduce du_cell priority in case of ZMQ
  apps/services/worker_manager.cpp
  apps/services/worker_manager.h
Due: none

rlc_tx_am: force buffer state notification when enqueing ReTx
  lib/rlc/rlc_tx_am_entity.cpp
  lib/rlc/rlc_tx_am_entity.h
Due: none

rlc_tx_am: remove byte_buffer_chain from tx test
  tests/unittests/rlc/rlc_tx_am_test.cpp
Due: none

rlc_tx_am: add unit test to verify buffer state notification in case of many ReTx
  tests/unittests/rlc/rlc_tx_am_test.cpp
Due: none

gnb: fix PUSCH decoder synchronous mode
  lib/phy/upper/upper_phy_factories.cpp
Due: none

ci: skip some viavi jobs
  .gitlab/ci/e2e.yml
Due: none

ci: update viavi
  .gitlab/ci/e2e/.env
Due: e2e request validation

ci: set variables for triggered helm pipeline
  .gitlab-ci.yml
Due: none

ci: increase job cleaner timeout
  .gitlab-ci.yml
Due: none

ci,e2e: reest retry criteria updated
  tests/e2e/tests/reestablishment.py
Due: e2e tests tox

ci: increase timeout for intermediate commits pipeline
  .gitlab/ci/build.yml
Due: none

cu_cp, ngap: improve notifier name and documentation
  include/srsran/ngap/ngap.h
  lib/cu_cp/adapters/ngap_adapters.h
  lib/cu_cp/cu_cp_impl.cpp
  lib/cu_cp/cu_cp_impl.h
  lib/cu_cp/cu_cp_impl_interface.h
  lib/cu_cp/ue_manager/cu_cp_ue_impl.h
  lib/ngap/ngap_impl.cpp
  lib/ngap/ngap_impl.h
  lib/ngap/procedures/ngap_handover_resource_allocation_procedure.cpp
  lib/ngap/ue_context/ngap_ue_context.h
  tests/unittests/ngap/ngap_ue_context_management_procedure_test.cpp
  tests/unittests/ngap/test_helpers.h
Due: none
