Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke pretty printers cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, smoke pretty printers clean, tox python in builder, grafana version changed, telegraf version changed, telegraf version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb and telegraf docker compose, telegraf image, telegraf image latest, grafana image, grafana image latest, e2e request and config validation

Path conditions:
  trigger builder: any of: .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*, docker/scripts/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv,py,toml}, docker/**/Dockerfile, .gdbinit
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke pretty printers cached: any of: include/srsran/adt/**/*, tests/utils/gdb/pretty_printers/*, .gdbinit
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke pretty printers clean: any of: include/srsran/adt/**/*, tests/utils/gdb/pretty_printers/*, .gdbinit
  tox python in builder: any of: .gitlab/ci/builders/**/*.py
  grafana version changed: any of: docker/grafana/**/*
  telegraf version changed: any of: docker/telegraf/**/*
  telegraf version check in retina: any of: docker/telegraf/**/*
  gnb docker compose: (any of: docker/scripts/**/*, docker/Dockerfile) or (any of: docker/docker-compose.yml)
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.ui.yml
  influxdb and telegraf docker compose: any of: docker/.env, docker/telegraf/**/*, docker/docker-compose.ui.yml
  telegraf image: any of: docker/telegraf/**/*
  telegraf image latest: any of: docker/telegraf/**/*
  grafana image: any of: docker/grafana/**/*
  grafana image latest: any of: docker/grafana/**/*
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*

ci,rohc: add library path to e2e tests
  .gitlab/ci/e2e/android_b200.yml
  .gitlab/ci/e2e/android_callbox.yml
  .gitlab/ci/e2e/android_x300.yml
  .gitlab/ci/e2e/rf_b200.yml
  .gitlab/ci/e2e/s72.yml
  .gitlab/ci/e2e/s72_fr2.yml
  .gitlab/ci/e2e/test_mode.yml
  .gitlab/ci/e2e/test_mode_acc100.yml
  .gitlab/ci/e2e/viavi.yml
  .gitlab/ci/e2e/zmq.yml
  .gitlab/ci/e2e/zmq_1cu2du.yml
  .gitlab/ci/e2e/zmq_2gnb.yml
  .gitlab/ci/e2e/zmq_cudu.yml
  .gitlab/ci/e2e/zmq_ntn.yml
  .gitlab/ci/e2e/zmq_ric.yml
  .gitlab/ci/e2e/zmq_srsue.yml
Due: e2e request and config validation

ci: fix destination of rohc_builder
  .gitlab/ci/builders.yml
Due: trigger builder

ci: increse ephemeral storage of ubuntu 24.04-rtsan builder
  .gitlab/ci/builders.yml
Due: trigger builder

ci: increment builder version
  .gitlab/ci/builders/version.yml
Due: trigger builder

ci: update retina version
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

ran: add unit test for i-rnti
  tests/unittests/ran/CMakeLists.txt
  tests/unittests/ran/rnti_test.cpp
Due: none

ran: add i-rnti type
  include/srsran/ran/rnti.h
Due: none

cu_cp,ngap: add support for ngap rrc inactive transition report
  include/srsran/ngap/ngap.h
  include/srsran/ngap/ngap_rrc_inactive_transition.h
  lib/ngap/ngap_asn1_helpers.h
  lib/ngap/ngap_impl.cpp
  lib/ngap/ngap_impl.h
Due: none

cu_cp,ngap: add unit test for rrc inactive transition report
  tests/unittests/ngap/ngap_ue_context_management_procedure_test.cpp
Due: none

test,asn.1: use brand-agnostic AMF name.
  tests/unittests/asn1/asn1_ngap_test.cpp
Due: none

unittests: add missing operator<< to test_case_t of prach_scheduler_test
  tests/unittests/scheduler/common_scheduling/prach_scheduler_vectortest.cpp
Due: none

ran: refactor i-rnti type
  include/srsran/ran/i_rnti.h
  include/srsran/ran/rnti.h
  tests/unittests/ran/CMakeLists.txt
  tests/unittests/ran/i_rnti_test.cpp
  tests/unittests/ran/rnti_test.cpp
Due: none

cu_up: add ue_context dependencies structs to ue_context
  lib/cu_up/ue_context.h
  lib/cu_up/ue_manager.cpp
Due: none

cu_up: use pdu session manager dependencies struct
  lib/cu_up/pdu_session_manager_impl.cpp
  lib/cu_up/pdu_session_manager_impl.h
  lib/cu_up/ue_context.h
  tests/unittests/cu_up/pdu_session_manager_test.h
Due: none

cu_up: pass pdcp control handler from CU-UP manager to PDCP
  lib/cu_up/cu_up_manager_impl.cpp
  lib/cu_up/ue_context.h
  lib/cu_up/ue_manager.cpp
  lib/cu_up/ue_manager.h
  tests/unittests/cu_up/ue_manager_test.cpp
Due: none

cu_up: pass cu_up_manager pdcp interface to pdu_session_manager
  lib/cu_up/pdu_session_manager_impl.cpp
  lib/cu_up/pdu_session_manager_impl.h
  lib/cu_up/ue_context.h
  tests/unittests/cu_up/cu_up_test_helpers.h
  tests/unittests/cu_up/pdu_session_manager_test.h
Due: none

cu_up: change PDCP RX to interact directly with CU-UP manager
  include/srsran/e1ap/cu_up/e1ap_cu_up.h
  lib/cu_up/adapters/pdcp_adapters.h
  lib/cu_up/drb_context.h
  lib/cu_up/pdu_session_manager_impl.cpp
  lib/e1ap/cu_up/e1ap_cu_up_impl.cpp
  lib/e1ap/cu_up/e1ap_cu_up_impl.h
  tests/unittests/cu_up/cu_up_test_helpers.h
Due: none

cu-up: send bearer context release request after refactor
  include/srsran/cu_up/cu_up_types.h
  include/srsran/e1ap/cu_up/e1ap_cu_up.h
  lib/cu_up/adapters/pdcp_adapters.h
  lib/cu_up/cu_up_manager_impl.cpp
  lib/cu_up/cu_up_manager_impl.h
  lib/e1ap/cu_up/e1ap_cu_up_impl.cpp
  lib/e1ap/cu_up/e1ap_cu_up_impl.h
  tests/unittests/cu_up/cu_up_test_helpers.h
Due: none

cu_up: change cu_up_manager to handle pdcp control events
  include/srsran/cu_up/cu_up_manager.h
  lib/cu_up/adapters/pdcp_adapters.h
  lib/cu_up/cu_up_manager_impl.cpp
  lib/cu_up/cu_up_manager_impl.h
  lib/cu_up/drb_context.h
  lib/cu_up/pdu_session_manager_impl.cpp
  lib/cu_up/pdu_session_manager_impl.h
Due: none

du: rename res_set_size config parameter
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config.h
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_translators.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_validator.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_yaml_writer.cpp
  include/srsran/scheduler/config/pucch_builder_params.h
  lib/du/du_cell_config_validation.cpp
  lib/du/du_high/du_manager/ran_resource_management/du_pucch_resource_manager.cpp
  lib/scheduler/config/sched_cell_config_helpers.cpp
  tests/benchmarks/du_high/du_high_benchmark.cpp
  tests/benchmarks/scheduler/scheduler_multi_ue_benchmark.cpp
  tests/integrationtests/du_high/du_high_many_ues_test.cpp
  tests/test_doubles/scheduler/scheduler_config_helper.cpp
  tests/unittests/du_manager/du_ran_resource_manager_test.cpp
  tests/unittests/scheduler/multiple_ue_sched_test.cpp
  tests/unittests/scheduler/scheduler_multi_grants_test.cpp
  tests/unittests/scheduler/scheduler_multi_ue_test.cpp
  tests/unittests/scheduler/scheduler_qos_test.cpp
  tests/unittests/scheduler/test_doubles/test_pucch_res_test_builder_helper.cpp
  tests/unittests/scheduler/uci_and_pucch/uci_test_utils.cpp
Due: none

du: rename nof_cell_res_sr/csi and nof_cell_res_set_configs config parameters
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config.h
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_translators.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_validator.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_yaml_writer.cpp
  include/srsran/scheduler/config/pucch_builder_params.h
  lib/du/du_cell_config_validation.cpp
  lib/du/du_high/du_manager/ran_resource_management/du_pucch_resource_manager.cpp
  lib/du/du_update_config_helpers.cpp
  lib/scheduler/config/sched_cell_config_helpers.cpp
  tests/benchmarks/du_high/du_high_benchmark.cpp
  tests/benchmarks/scheduler/scheduler_multi_ue_benchmark.cpp
  tests/integrationtests/du_high/du_high_many_ues_test.cpp
  tests/test_doubles/scheduler/scheduler_config_helper.cpp
  tests/unittests/du_manager/du_ran_resource_manager_test.cpp
  tests/unittests/scheduler/multiple_ue_sched_test.cpp
  tests/unittests/scheduler/scheduler_multi_grants_test.cpp
  tests/unittests/scheduler/scheduler_multi_ue_test.cpp
  tests/unittests/scheduler/scheduler_qos_test.cpp
Due: none

fix clang format
  tests/unittests/scheduler/scheduler_multi_ue_test.cpp
Due: none

tests,configs: rename PUCCH CLI parameters
  .gitlab/ci/e2e/.env
  configs/cell_cfg_max_128_ues.yml
  configs/cell_cfg_max_256_ues.yml
  configs/cell_cfg_max_32_ues.yml
  configs/cell_cfg_max_512_ues.yml
  configs/cell_cfg_max_64_ues.yml
  configs/cell_cfg_pucch_narrow_bw.yml
  tests/e2e/tests/pucch.py
  tests/e2e/tests/steps/configuration.py
  tests/e2e/tests/test_mode/config_ru_10cell_50ue.yml
  tests/e2e/tests/test_mode/config_ru_800_ues.yml
  tests/e2e/tests/test_mode/config_ue.yml
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation

du: PUCCH formats config parameter
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config.h
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_translators.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_validator.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_yaml_writer.cpp
  include/srsran/ran/pucch/pucch_constants.h
  include/srsran/ran/pucch/pucch_mapping.h
  include/srsran/scheduler/config/pucch_resource_generator.h
  tests/unittests/scheduler/uci_and_pucch/pucch_alloc_format_0_test.cpp
  tests/unittests/scheduler/uci_and_pucch/pucch_alloc_format_3_test.cpp
  tests/unittests/scheduler/uci_and_pucch/pucch_alloc_format_4_test.cpp
  tests/unittests/scheduler/uci_and_pucch/uci_test_utils.cpp
  tests/unittests/scheduler/uci_and_pucch/uci_test_utils.h
Due: none

ci: allow zero KOs only
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation

misc: use generic gNB name in params and test messages
  apps/gnb/gnb_appconfig.h
  configs/readme.md
  include/srsran/cu_cp/cu_cp_configuration.h
  lib/du/du_high/test_mode/f1ap_test_mode_adapter.cpp
  tests/unittests/asn1/asn1_ngap_test.cpp
  tests/unittests/ngap/ngap_asn1_packer_test.cpp
  tests/unittests/ngap/ngap_test_messages.h
Due: none

du: fix missing default for PUCCH formats param
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config.h
Due: none

cu_cp: add unit test to check that ue release is only requested once
  tests/unittests/cu_cp/cu_cp_ue_context_release_test.cpp
Due: none

cu_cp: improve unit tests with configurable plmn
  lib/cu_cp/du_processor/du_processor_impl.cpp
  tests/test_doubles/f1ap/f1ap_test_messages.cpp
  tests/test_doubles/f1ap/f1ap_test_messages.h
  tests/test_doubles/rrc/rrc_packed_test_messages.cpp
  tests/test_doubles/rrc/rrc_packed_test_messages.h
  tests/test_doubles/rrc/rrc_test_messages.cpp
  tests/test_doubles/rrc/rrc_test_messages.h
  tests/unittests/cu_cp/cu_cp_connectivity_test.cpp
  tests/unittests/cu_cp/cu_cp_inter_du_handover_test.cpp
  tests/unittests/cu_cp/cu_cp_intra_du_handover_test.cpp
  tests/unittests/cu_cp/cu_cp_paging_test.cpp
  tests/unittests/cu_cp/cu_cp_reestablishment_test.cpp
  tests/unittests/cu_cp/cu_cp_setup_test.cpp
  tests/unittests/cu_cp/cu_cp_test_environment.cpp
  tests/unittests/cu_cp/cu_cp_test_environment.h
  tests/unittests/cu_cp/cu_cp_ue_context_release_test.cpp
  tests/unittests/cu_cp/du_processor_test_messages.cpp
  tests/unittests/f1ap/cu_cp/f1ap_cu_test_helpers.cpp
Due: none

cu_cp: fix ue removal routine
  lib/cu_cp/cu_cp_impl.cpp
  lib/cu_cp/routines/ue_removal_routine.cpp
  lib/cu_cp/routines/ue_removal_routine.h
Due: none

ci: update plugin reference
  .gitlab/ci/plugin_version.txt
Due: none

sched: fix pusch allocation on slots with SRS
  lib/scheduler/slicing/inter_slice_scheduler.cpp
  lib/scheduler/slicing/inter_slice_scheduler.h
  lib/scheduler/ue_scheduling/grant_params_selector.cpp
  lib/scheduler/ue_scheduling/grant_params_selector.h
  lib/scheduler/ue_scheduling/intra_slice_scheduler.cpp
  lib/scheduler/ue_scheduling/intra_slice_scheduler.h
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.cpp
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.h
  tests/unittests/scheduler/ue_scheduling/ue_grid_allocator_test.cpp
Due: none

sched: group private fnc in intra slice sched
  lib/scheduler/ue_scheduling/intra_slice_scheduler.cpp
  lib/scheduler/ue_scheduling/intra_slice_scheduler.h
Due: none

sched: add missing target link libraries
  lib/scheduler/ue_context/CMakeLists.txt
Due: none

cu_cp: add missing target link libraries
  tests/unittests/cu_cp/CMakeLists.txt
Due: none

docker: build ROHC lib in isolated stage
  docker/Dockerfile
Due: trigger docker, gnb docker compose

ci: adjust expected UL data rate in UL MIMO test
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation
