Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke pretty printers cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, smoke pretty printers clean, tox python in builder, grafana version changed, telegraf version changed, telegraf version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb and telegraf docker compose, telegraf image, telegraf image latest, grafana image, grafana image latest, e2e request and config validation

trigger builder:
  stage: ci
  trigger:
    include: .gitlab/ci/builders.yml
    strategy: depend

trigger docker:
  stage: ci
  trigger:
    include: .gitlab/ci/docker.yml
    strategy: depend
  variables:
    PY_DIR: docker/metrics_server

e2e tests tox:
  stage: static
  variables:
    PY_DIR: tests/e2e
  before_script:
  - apk add build-base

smoke avx512 cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  - job: get plugin commit
    optional: true
    artifacts: true
  variables:
    PLUGIN_INDEX_ARRAY: '0'
    OS: ubuntu-24.04
    COMPILER: gcc
    CMAKE_BUILD_TYPE: Release
  ...

smoke arm cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  - job: get plugin commit
    optional: true
    artifacts: true
  variables:
    PLUGIN_INDEX_ARRAY: '0'
    OS: ubuntu-24.04
    COMPILER: gcc
    CMAKE_BUILD_TYPE: Release
  ...

smoke arm neon cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  - job: get plugin commit
    optional: true
    artifacts: true
  variables:
    PLUGIN_INDEX_ARRAY: '0'
    OS: ubuntu-24.04
    COMPILER: gcc
    CMAKE_BUILD_TYPE: Release
  ...

smoke pretty printers cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  - job: get plugin commit
    optional: true
    artifacts: true
  variables:
    PLUGIN_INDEX_ARRAY: '0'
    OS: ubuntu-24.04
    COMPILER: gcc
    CMAKE_BUILD_TYPE: Debug
  ...

smoke avx512 clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  - job: get plugin commit
    optional: true
    artifacts: true
  variables:
    PLUGIN_INDEX_ARRAY: '0'
    OS: ubuntu-24.04
    COMPILER: gcc
  ...

smoke arm clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  - job: get plugin commit
    optional: true
    artifacts: true
  variables:
    PLUGIN_INDEX_ARRAY: '0'
    OS: ubuntu-24.04
    COMPILER: gcc
  ...

smoke arm neon clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  - job: get plugin commit
    optional: true
    artifacts: true
  variables:
    PLUGIN_INDEX_ARRAY: '0'
    OS: ubuntu-24.04
    COMPILER: gcc
  ...

tox python in builder:
  stage: ci
  variables:
    PY_DIR: .gitlab/ci/builders
    GIT_LFS_SKIP_SMUDGE: 1

mac: fix mac metric aggregator on HFN wrap-around
  lib/mac/mac_ctrl/mac_metrics_aggregator.cpp
Due: none

mac: unit test for MAC metric aggregator testing HFN wrap-around
  tests/unittests/mac/mac_metrics_test.cpp
  tests/unittests/mac/mac_test_helpers.h
Due: none

mac: fix failing mac metrics unit test
  lib/mac/mac_ctrl/mac_metrics_aggregator.cpp
Due: none

phy: Review PUCCH formats CSI measurements with zeros in the resource grid
  include/srsran/phy/upper/channel_estimation.h
  include/srsran/phy/upper/channel_state_information.h
  lib/phy/upper/channel_processors/pucch/pucch_detector_format1.cpp
  lib/phy/upper/signal_processors/channel_estimator/port_channel_estimator_average_impl.cpp
  tests/unittests/phy/upper/channel_processors/pucch/pucch_processor_format0_vectortest.cpp
  tests/unittests/phy/upper/channel_processors/pucch/pucch_processor_format1_vectortest.cpp
  tests/unittests/phy/upper/channel_processors/pucch/pucch_processor_format2_vectortest.cpp
  tests/unittests/phy/upper/channel_processors/pucch/pucch_processor_format3_vectortest.cpp
  tests/unittests/phy/upper/channel_processors/pucch/pucch_processor_format4_vectortest.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ci: add mobility reestablishment test
  tests/e2e/tests/reestablishment.py
Due: e2e tests tox

ci: increase retina version
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

ci: move mobility helper to stub
  tests/e2e/tests/handover.py
  tests/e2e/tests/inter_cu_handover.py
  tests/e2e/tests/steps/stub.py
Due: e2e tests tox

ci: make number of handovers configurable
  tests/e2e/tests/steps/stub.py
Due: e2e tests tox

ci: increase noise and number of handovers in handover noise test
  tests/e2e/tests/handover.py
Due: e2e tests tox

ci: fix inter du handover tests
  tests/e2e/tests/steps/configuration.py
  tests/e2e/tests/steps/stub.py
Due: e2e tests tox

ofh: log warning when the timing worker skips more than two symbols
  .gitlab/ci/e2e/.env
  lib/ofh/timing/realtime_timing_worker.cpp
  lib/ofh/timing/realtime_timing_worker.h
Due: e2e request and config validation

srsran: avoid false-alarm warning when compiling static_vector with gcc 13.3.0
  include/srsran/adt/static_vector.h
Due: smoke pretty printers cached, smoke pretty printers clean

replace atomics with stop events in periodic metrics
  apps/services/app_execution_metrics/executor_metrics_manager.h
  apps/services/metrics/periodic_metrics_report_controller.h
  include/srsran/support/executors/metrics/executor_metrics_backend.h
  lib/support/executors/metrics/executor_metrics_backend.cpp
Due: none

ci,e2e: change tests covered in 2gnb jobs
  .gitlab/ci/e2e.yml
  .gitlab/ci/e2e/.env
  .gitlab/ci/e2e/zmq_2gnb.yml
  tests/e2e/tests/inter_cu_handover.py
Due: e2e tests tox, e2e request and config validation

du_low: updated the metrics to remove the sector of upper PHYs. All upper PHYs report to the same metrics collector.
  apps/helpers/metrics/json_generators/o_du_low.cpp
  apps/helpers/metrics/json_generators/o_du_low.h
  apps/units/flexible_o_du/split_6/o_du_low/metrics/split6_flexible_o_du_low_metrics_consumers.h
  apps/units/flexible_o_du/split_helpers/metrics/consumers/o_du_low_metrics_consumers.cpp
  apps/units/flexible_o_du/split_helpers/metrics/consumers/o_du_low_metrics_consumers.h
  apps/units/flexible_o_du/split_helpers/metrics/flexible_o_du_metrics_consumers.cpp
  apps/units/flexible_o_du/split_helpers/metrics/flexible_o_du_metrics_consumers.h
  include/srsran/du/du_low/du_low_metrics.h
  include/srsran/du/o_du_metrics.h
  include/srsran/phy/upper/upper_phy_metrics.h
  lib/du/du_low/du_low_impl.cpp
  lib/du/du_low/du_low_impl.h
  lib/du/du_low/du_low_metrics_collector_impl.cpp
  lib/du/du_low/du_low_metrics_collector_impl.h
  lib/du/o_du_impl.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ci: fix naming of gnbs for inter cu handover
  tests/e2e/tests/steps/configuration.py
Due: e2e tests tox

cu_cp,rrc: add unit test for reception of malformed rrc setup complete
  tests/unittests/rrc/rrc_ue_setup_proc_test.cpp
Due: none

asn1: add rrc test with malformed PDU
  lib/asn1/asn1_utils.cpp
  tests/unittests/asn1/asn1_rrc_nr_test.cpp
Due: none

rrc-nr: fix for when RRC setup procedure receives unexpected message type
  lib/rrc/ue/procedures/rrc_setup_procedure.cpp
Due: none

cmake: disable maybe uninitialized gcc warning as it mainly raises false alarms
  CMakeLists.txt
Due: none

phy: fix config dump
  apps/units/flexible_o_du/split_8/helpers/ru_sdr_config_yaml_writer.cpp
Due: none

RU: fix RU dummy race condition
  lib/ru/dummy/ru_dummy_sector.h
Due: none

docker,ci: increase telegraf and grafana version
  .gitlab/ci/e2e/.env
  docker/grafana/version.yml
  docker/telegraf/version.yml
Due: trigger docker, grafana version changed, telegraf version changed, telegraf version check in retina, grafana docker compose, influxdb and telegraf docker compose, telegraf image, telegraf image latest, grafana image, grafana image latest, e2e request and config validation

grafana: simplify sql queries for OFH dashboard
  docker/grafana/dashboards/ofh.json
Due: trigger docker, grafana version changed, grafana docker compose, grafana image, grafana image latest

grafana: match OFH dashboard to new metric naming
  docker/grafana/dashboards/ofh.json
Due: trigger docker, grafana version changed, grafana docker compose, grafana image, grafana image latest

grafana: rename variables for performance dashboard
  docker/grafana/dashboards/performance.json
Due: trigger docker, grafana version changed, grafana docker compose, grafana image, grafana image latest

grafana: clean up OFH dashboard
  docker/grafana/dashboards/ofh.json
Due: trigger docker, grafana version changed, grafana docker compose, grafana image, grafana image latest

grafana: update OFH dashboard
  docker/grafana/dashboards/ofh.json
  docker/telegraf/telegraf.conf
Due: trigger docker, grafana version changed, telegraf version changed, telegraf version check in retina, grafana docker compose, influxdb and telegraf docker compose, telegraf image, telegraf image latest, grafana image, grafana image latest

ci: fix configuration for inter-cu ho iperf test
  tests/e2e/tests/steps/stub.py
Due: e2e tests tox

test: rename scheduler_result_test to scheduler_result_finder
  tests/benchmarks/du_high/du_high_benchmark.cpp
  tests/integrationtests/du_high/du_high_many_cells_test.cpp
  tests/integrationtests/du_high/du_high_test.cpp
  tests/test_doubles/scheduler/CMakeLists.txt
  tests/test_doubles/scheduler/scheduler_result_finder.cpp
  tests/test_doubles/scheduler/scheduler_result_finder.h
  tests/unittests/scheduler/test_utils/result_test_helpers.h
  tests/unittests/scheduler/ue_scheduling/ue_grid_allocator_test.cpp
Due: none

ci: update plugin reference
  .gitlab/ci/plugin_version.txt
Due: none

apps: Use default value for calibration dBFS in split 8 and dynamic
  apps/units/flexible_o_du/split_8/split_8_o_du_factory.cpp
  apps/units/flexible_o_du/split_dynamic/dynamic_o_du_factory.cpp
Due: none

metrics: set non-present optional values to 0
  apps/helpers/metrics/json_generators/du_high/scheduler.cpp
Due: none

app_unit: refactor of the OFH affinities section in the YAML configuration
  apps/units/flexible_o_du/split_7_2/helpers/ru_ofh_config_cli11_schema.cpp
  apps/units/flexible_o_du/split_7_2/helpers/ru_ofh_config_yaml_writer.cpp
Due: none

apps: fixed timing cpu property in OFH CLI11 schema
  apps/units/flexible_o_du/split_7_2/helpers/ru_ofh_config_cli11_schema.cpp
Due: none

app,cu_up: change location of CU-UP executors tracing in CLI11
  apps/units/o_cu_up/cu_up/cu_up_unit_config.h
  apps/units/o_cu_up/cu_up/cu_up_unit_config_cli11_schema.cpp
  apps/units/o_cu_up/cu_up/cu_up_unit_config_translators.cpp
  apps/units/o_cu_up/cu_up/cu_up_unit_config_validator.cpp
  apps/units/o_cu_up/cu_up/cu_up_unit_config_yaml_writer.cpp
Due: none

yaml: Improve yaml writers and add some missing params that were not written
  apps/cu/cu_appconfig.h
  apps/cu/cu_appconfig_yaml_writer.cpp
  apps/cu_cp/cu_cp_appconfig.h
  apps/cu_up/cu_up_appconfig.h
  apps/du/du_appconfig.h
  apps/du/du_appconfig_yaml_writer.cpp
  apps/du_low/du_low_appconfig_yaml_writer.cpp
  apps/gnb/gnb_appconfig.h
  apps/gnb/gnb_appconfig_yaml_writer.cpp
  apps/helpers/e2/e2_config_yaml_writer.cpp
  apps/helpers/f1u/f1u_config_yaml_writer.cpp
  apps/helpers/logger/logger_appconfig_cli11_schema.cpp
  apps/helpers/network/udp_config_yaml_writer.cpp
  apps/services/buffer_pool/CMakeLists.txt
  apps/services/buffer_pool/buffer_pool_appconfig.h
  apps/services/buffer_pool/buffer_pool_appconfig_cli11_schema.cpp
  apps/services/buffer_pool/buffer_pool_config_yaml_writer.cpp
  apps/services/buffer_pool/buffer_pool_config_yaml_writer.h
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_low/du_low_config_cli11_schema.cpp
  apps/units/flexible_o_du/split_6/o_du_low/split6_o_du_low_unit_cli11_schema.cpp
  apps/units/o_cu_cp/cu_cp/cu_cp_unit_config_cli11_schema.cpp
  apps/units/o_cu_up/cu_up/cu_up_unit_config_cli11_schema.cpp
Due: none

WS: Fix race condition on server shutdown
  apps/services/remote_control/remote_server.cpp
Due: none

ci: enable test mode sanitizers in nightly
  .gitlab/ci/e2e.yml
Due: none

Path conditions:
  trigger builder: any of: .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*, docker/scripts/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv,py,toml}, docker/**/Dockerfile, .gdbinit
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke pretty printers cached: any of: include/srsran/adt/**/*, tests/utils/gdb/pretty_printers/*, .gdbinit
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke pretty printers clean: any of: include/srsran/adt/**/*, tests/utils/gdb/pretty_printers/*, .gdbinit
  tox python in builder: any of: .gitlab/ci/builders/**/*.py
  grafana version changed: any of: docker/grafana/**/*
  telegraf version changed: any of: docker/telegraf/**/*
  telegraf version check in retina: any of: docker/telegraf/**/*
  gnb docker compose: (any of: docker/scripts/**/*, docker/Dockerfile) or (any of: docker/docker-compose.yml)
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.ui.yml
  influxdb and telegraf docker compose: any of: docker/.env, docker/telegraf/**/*, docker/docker-compose.ui.yml
  telegraf image: any of: docker/telegraf/**/*
  telegraf image latest: any of: docker/telegraf/**/*
  grafana image: any of: docker/grafana/**/*
  grafana image latest: any of: docker/grafana/**/*
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*
