Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, metrics tox, grafana version changed, metrics version changed, metrics version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, metrics-server docker compose, metrics server image, metrics server image latest, grafana server image, grafana server image latest, e2e request and config validation

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  metrics tox: any of: docker/metrics_server/**/*
  grafana version changed: any of: docker/grafana/**/*
  metrics version changed: any of: docker/metrics_server/**/*
  metrics version check in retina: any of: docker/metrics_server/**/*
  gnb docker compose: (any of: docker/scripts/**/*, docker/Dockerfile) or (any of: docker/docker-compose.yml)
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  metrics-server docker compose: any of: docker/.env, docker/metrics_server/**/*, docker/docker-compose.yml
  metrics server image: any of: docker/metrics_server/**/*
  metrics server image latest: any of: docker/metrics_server/**/*
  grafana server image: any of: docker/grafana/**/*
  grafana server image latest: any of: docker/grafana/**/*
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*

sched: simplify PDCCH AL dynamic selection
  lib/du/du_cell_config_validation.cpp
  lib/scheduler/support/pdcch_aggregation_level_calculator.cpp
  lib/scheduler/ue_context/ue_link_adaptation_controller.h
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.cpp
Due: none

doc: unify copyright header
  include/srsran/adt/to_array.h
  include/srsran/security/ciphering.h
  include/srsran/security/ciphering_engine.h
  include/srsran/security/integrity.h
  include/srsran/security/integrity_engine.h
  include/srsran/security/s3g.h
  include/srsran/security/security.h
  include/srsran/security/security_engine.h
  include/srsran/support/signal_handling.h
  include/srsran/support/tsan_options.h
  include/srsran/support/versioning/build_info.h
  lib/security/ciphering_engine_nea1.cpp
  lib/security/ciphering_engine_nea1.h
  lib/security/ciphering_engine_nea2.cpp
  lib/security/ciphering_engine_nea2.h
  lib/security/ciphering_engine_nea3.cpp
  lib/security/ciphering_engine_nea3.h
  lib/security/integrity_engine_generic.cpp
  lib/security/integrity_engine_generic.h
  lib/security/integrity_engine_nia2_cmac.cpp
  lib/security/integrity_engine_nia2_cmac.h
  lib/security/integrity_engine_nia2_non_cmac.cpp
  lib/security/integrity_engine_nia2_non_cmac.h
  lib/security/s3g.cpp
  lib/security/security.cpp
  lib/security/security_engine_impl.cpp
  lib/security/security_engine_impl.h
  lib/security/zuc.cpp
  lib/support/signal_handling.cpp
  lib/support/versioning/hashes.h.in
  lib/support/versioning/version.cpp
  tests/integrationtests/rlc/rlc_stress_test.cpp
  tests/integrationtests/rlc/rlc_stress_test_mac.cpp
  tests/integrationtests/rlc/rlc_stress_test_traffic.cpp
  tests/unittests/fapi/builders/uci_indication_test.cpp
  tests/unittests/fapi_adaptor/phy/messages/dl_pdcch_pdu_test.cpp
  tests/unittests/fapi_adaptor/phy/messages/dl_pdsch_pdu_test.cpp
Due: none

ci: add UL noise to PUCCH F0_F2 test
  .gitlab/ci/e2e/.env
  tests/e2e/tests/pucch.py
  tests/e2e/tests/steps/configuration.py
Due: e2e tests tox, e2e request and config validation

pcap: fix doc comments
  lib/pcap/pcap_file_writer.h
Due: none

pcap: set snaplen to maximum
  lib/pcap/pcap_file_writer.cpp
Due: none

phy: review uplink processor
  include/srsran/phy/upper/uplink_processor.h
  lib/fapi_adaptor/phy/fapi_to_phy_translator.cpp
  lib/phy/upper/uplink_pdu_slot_repository_impl.h
  lib/phy/upper/uplink_processor_impl.cpp
  lib/phy/upper/uplink_processor_impl.h
  lib/phy/upper/uplink_processor_pool_impl.cpp
  tests/unittests/phy/upper/uplink_processor_test.cpp
  tests/unittests/phy/upper/uplink_processor_test_doubles.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ci,e2e: new test mode stage
  .gitlab-ci.yml
  .gitlab/ci/e2e.yml
Due: none

ci,viavi: 1h test will run when 32ue udp passes
  .gitlab/ci/e2e.yml
Due: none

ci,e2e: split and rename viavi jobs
  .gitlab/ci/e2e.yml
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation

ci,viavi: add allow_request_on_empty_uplink_slot test
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation

sched: avoid division by zero in sched metrics
  apps/units/flexible_o_du/o_du_high/du_high/metrics/du_high_scheduler_cell_metrics_consumers.cpp
Due: none

du: fix PDSCH common config validation
  lib/du/du_cell_config_validation.cpp
Due: none

support: support mode where dispatch_and_continue receives an awaitable instead of an invocable task
  include/srsran/support/async/execute_on_blocking.h
Due: none

support: update literal operator decl
  include/srsran/support/units.h
Due: none

services: added stdout metrics command to accept metrics subcommands
  apps/du/du.cpp
  apps/du/du_appconfig.h
  apps/du/du_appconfig_cli11_schema.cpp
  apps/gnb/gnb.cpp
  apps/gnb/gnb_appconfig.h
  apps/gnb/gnb_appconfig_cli11_schema.cpp
  apps/services/cmdline/CMakeLists.txt
  apps/services/cmdline/cmdline_command_dispatcher.cpp
  apps/services/cmdline/cmdline_command_dispatcher.h
  apps/services/cmdline/stdout_metrics_command.cpp
  apps/services/cmdline/stdout_metrics_command.h
  apps/units/flexible_o_du/flexible_o_du_commands.h
  apps/units/flexible_o_du/o_du_high/du_high/commands/du_high_cmdline_commands.h
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config.h
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_high/du_high/metrics/du_high_scheduler_cell_metrics_consumers.h
  apps/units/flexible_o_du/o_du_high/o_du_high_unit_factory.cpp
  apps/units/flexible_o_du/split_helpers/flexible_o_du_factory.cpp
  apps/units/flexible_o_du/split_helpers/metrics/consumers/ru_metrics_consumers.cpp
  apps/units/flexible_o_du/split_helpers/metrics/consumers/ru_metrics_consumers.h
  apps/units/flexible_o_du/split_helpers/metrics/flexible_o_du_metrics_builder.cpp
  apps/units/flexible_o_du/split_helpers/metrics/flexible_o_du_metrics_builder.h
  apps/units/flexible_o_du/split_helpers/metrics/flexible_o_du_metrics_consumers.cpp
  apps/units/flexible_o_du/split_helpers/metrics/flexible_o_du_metrics_consumers.h
  include/srsran/adt/bounded_bitset.h
  tests/unittests/apps/units/flexible_du/du_high/metrics/du_high_scheduler_cell_metrics_consumer_stdout_test.cpp
Due: none

ci: update download srsran on plugins
  .gitlab/ci-shared/plugin.yml
  .gitlab/ci/build.yml
Due: none

app: add metrics strand and task executor
  apps/cu/cu.cpp
  apps/du/du.cpp
  apps/gnb/gnb.cpp
  apps/services/worker_manager/worker_manager.cpp
  apps/services/worker_manager/worker_manager.h
  apps/units/o_cu_up/o_cu_up_builder.cpp
Due: none

OFH: Move symbol and filter index checks out of the CP repository to the data flows
  include/srsran/ofh/receiver/ofh_receiver_configuration.h
  lib/ofh/ofh_factories.cpp
  lib/ofh/receiver/ofh_data_flow_uplane_uplink_data_impl.cpp
  lib/ofh/receiver/ofh_data_flow_uplane_uplink_prach_impl.cpp
  lib/ofh/receiver/ofh_data_flow_uplane_uplink_prach_impl.h
  lib/ofh/receiver/ofh_receiver_factories.cpp
  lib/ofh/support/uplane_bound_check_helpers.h
  lib/ofh/support/uplink_cplane_context_repository.h
  tests/unittests/ofh/transmitter/ofh_data_flow_cplane_scheduling_commands_test.cpp
Due: none

OFH: Renamed UL context repository variables
  lib/ofh/ofh_factories.cpp
  lib/ofh/ofh_sector_impl.h
Due: none

OFH: Remove redundante ofh namespace prefixes
  include/srsran/ofh/compression/compression_params.h
  include/srsran/ofh/ofh_sector_config.h
  include/srsran/ofh/receiver/ofh_receiver_configuration.h
Due: none

OFH: Make the Uplink CP repository lock free
  include/srsran/ofh/serdes/ofh_cplane_message_properties.h
  lib/ofh/receiver/ofh_data_flow_uplane_uplink_data_impl.cpp
  lib/ofh/receiver/ofh_data_flow_uplane_uplink_prach_impl.cpp
  lib/ofh/support/uplink_cplane_context_repository.h
  lib/ofh/transmitter/ofh_data_flow_cplane_scheduling_commands_impl.cpp
  tests/unittests/ofh/receiver/ofh_data_flow_uplane_uplink_data_impl_test.cpp
  tests/unittests/ofh/receiver/ofh_data_flow_uplane_uplink_prach_impl_test.cpp
  tests/unittests/ofh/transmitter/ofh_data_flow_cplane_scheduling_commands_test.cpp
Due: none

OFH: Fix cplane PRACH repo unit tests
  lib/ofh/receiver/ofh_data_flow_uplane_uplink_prach_impl.cpp
  lib/ofh/receiver/ofh_data_flow_uplane_uplink_prach_impl.h
  tests/unittests/ofh/receiver/ofh_data_flow_uplane_uplink_prach_impl_test.cpp
Due: none

app_unit: added STDOUT consummer for OFH metrics
  apps/units/flexible_o_du/split_helpers/metrics/consumers/ru_metrics_consumers.cpp
  apps/units/flexible_o_du/split_helpers/metrics/consumers/ru_metrics_consumers.h
Due: none

cu: fix qos 8 config list
  include/srsran/cu_cp/cu_cp_configuration_helpers.h
Due: none

app_unit: check scheduler report period parameter
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_schema.cpp
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation

phy: avoid short block detector assert
  lib/phy/upper/channel_coding/short/short_block_detector_impl.cpp
  tests/unittests/phy/upper/channel_coding/short/short_block_chain_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy: release buffer on sync operation
  lib/phy/upper/channel_processors/pdsch/pdsch_processor_flexible_impl.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

sched: add validation for pucch_resource_common
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_translators.cpp
  include/srsran/scheduler/config/serving_cell_config_validator.h
  lib/scheduler/config/scheduler_cell_config_validator.cpp
  lib/scheduler/config/scheduler_ue_config_validator.cpp
  lib/scheduler/config/serving_cell_config_validator.cpp
Due: none

ci: increment UL noise for pucch[f0_f2]
  tests/e2e/tests/pucch.py
Due: e2e tests tox

du: add validation for pucch_resource_common
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_validator.cpp
Due: none

du: make pucch_resource_common optional
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config.h
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_translators.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_validator.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_yaml_writer.cpp
Due: none

sched: rename counters to failed allocation attempts
  apps/units/flexible_o_du/o_du_high/du_high/metrics/du_high_scheduler_cell_metrics_consumers.cpp
  include/srsran/scheduler/result/sched_result.h
  include/srsran/scheduler/scheduler_metrics.h
  lib/scheduler/logging/scheduler_metrics_handler.cpp
  lib/scheduler/logging/scheduler_metrics_handler.h
  lib/scheduler/logging/scheduler_result_logger.cpp
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.cpp
Due: none

sched: add counters for missing grant opportunities in scheduler result
  apps/units/flexible_o_du/o_du_high/du_high/metrics/du_high_scheduler_cell_metrics_consumers.cpp
  include/srsran/scheduler/result/sched_result.h
  include/srsran/scheduler/scheduler_metrics.h
  lib/scheduler/logging/scheduler_metrics_handler.cpp
  lib/scheduler/logging/scheduler_metrics_handler.h
  lib/scheduler/logging/scheduler_result_logger.cpp
  lib/scheduler/pucch_scheduling/pucch_allocator_impl.cpp
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.cpp
Due: none

sched: remove failed allocation attempts from info
  lib/scheduler/logging/scheduler_result_logger.cpp
Due: none

tests: fix minor bug equalizer unittest
  tests/unittests/phy/upper/equalization/channel_equalizer_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

sched: ensure fair distribution of PDSCHs across DL slots when UCI space is constrained
  lib/scheduler/ue_scheduling/intra_slice_scheduler.cpp
  lib/scheduler/ue_scheduling/intra_slice_scheduler.h
Due: none

sched: reuse of UCIs when the PUCCH resources are depleted
  lib/scheduler/logging/scheduler_result_logger.cpp
  lib/scheduler/ue_scheduling/intra_slice_scheduler.cpp
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.cpp
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.h
Due: none

sched: add consts
  lib/scheduler/ue_scheduling/intra_slice_scheduler.cpp
Due: none

sched: fix failing unit test due to pdcch starvation
  lib/scheduler/ue_scheduling/intra_slice_scheduler.cpp
  tests/unittests/scheduler/multiple_ue_sched_test.cpp
Due: none
