Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke pretty printers cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, smoke pretty printers clean, tox python in builder, grafana version changed, telegraf version changed, telegraf version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb and telegraf docker compose, telegraf image, telegraf image latest, grafana image, grafana image latest, e2e request and config validation

Path conditions:
  trigger builder: any of: .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*, docker/scripts/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv,py,toml}, docker/**/Dockerfile, .gdbinit
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke pretty printers cached: any of: include/srsran/adt/**/*, tests/utils/gdb/pretty_printers/*, .gdbinit
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke pretty printers clean: any of: include/srsran/adt/**/*, tests/utils/gdb/pretty_printers/*, .gdbinit
  tox python in builder: any of: .gitlab/ci/builders/**/*.py
  grafana version changed: any of: docker/grafana/**/*
  telegraf version changed: any of: docker/telegraf/**/*
  telegraf version check in retina: any of: docker/telegraf/**/*
  gnb docker compose: (any of: docker/scripts/**/*, docker/Dockerfile) or (any of: docker/docker-compose.yml)
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.ui.yml
  influxdb and telegraf docker compose: any of: docker/.env, docker/telegraf/**/*, docker/docker-compose.ui.yml
  telegraf image: any of: docker/telegraf/**/*
  telegraf image latest: any of: docker/telegraf/**/*
  grafana image: any of: docker/grafana/**/*
  grafana image latest: any of: docker/grafana/**/*
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*

phy,tests: improve prach detector vector test
  lib/phy/upper/channel_processors/prach_detector_generic_impl.cpp
  tests/unittests/phy/support/prach_buffer_test_doubles.h
  tests/unittests/phy/upper/channel_processors/prach_detector_test_data.h
  tests/unittests/phy/upper/channel_processors/prach_detector_test_data.tar.gz
  tests/unittests/phy/upper/channel_processors/prach_detector_vectortest.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

sched: pucch collision manager
  include/srsran/adt/circular_array.h
  lib/scheduler/CMakeLists.txt
  lib/scheduler/config/cell_configuration.h
  lib/scheduler/pucch_scheduling/pucch_collision_manager.cpp
  lib/scheduler/pucch_scheduling/pucch_collision_manager.h
  tests/unittests/scheduler/uci_and_pucch/CMakeLists.txt
  tests/unittests/scheduler/uci_and_pucch/pucch_collision_manager_test.cpp
Due: smoke pretty printers cached, smoke pretty printers clean

sched: list of dedicated cell PUCCH resources in cell_configuration
  include/srsran/scheduler/config/sched_cell_config_helpers.h
  include/srsran/scheduler/scheduler_configurator.h
  lib/du/du_high/du_manager/converters/scheduler_configuration_helpers.cpp
  lib/scheduler/common_scheduling/ra_scheduler.cpp
  lib/scheduler/config/cell_configuration.cpp
  lib/scheduler/config/cell_configuration.h
  lib/scheduler/config/sched_cell_config_helpers.cpp
  lib/scheduler/config/scheduler_cell_config_validator.cpp
  lib/scheduler/support/CMakeLists.txt
  lib/scheduler/support/pucch/pucch_guardbands.cpp
  lib/scheduler/support/pucch/pucch_guardbands.h
  lib/scheduler/ue_scheduling/ue_fallback_scheduler.cpp
  tests/benchmarks/scheduler/scheduler_multi_ue_benchmark.cpp
  tests/test_doubles/scheduler/scheduler_config_helper.cpp
Due: none

sched: rely on PUCCH collision manager for PUCCH-to-PUCCH collision checking
  lib/scheduler/pucch_scheduling/pucch_allocator_helpers.cpp
Due: none

sched: integrate PUCCH collision manager
  lib/scheduler/pucch_scheduling/pucch_allocator_impl.cpp
  lib/scheduler/pucch_scheduling/pucch_collision_manager.cpp
  lib/scheduler/pucch_scheduling/pucch_collision_manager.h
  lib/scheduler/pucch_scheduling/pucch_resource_manager.cpp
  lib/scheduler/pucch_scheduling/pucch_resource_manager.h
  tests/unittests/scheduler/multiple_ue_sched_test.cpp
  tests/unittests/scheduler/scheduler_multi_grants_test.cpp
  tests/unittests/scheduler/scheduler_multi_ue_test.cpp
  tests/unittests/scheduler/scheduler_qos_test.cpp
  tests/unittests/scheduler/uci_and_pucch/pucch_collision_manager_test.cpp
  tests/unittests/scheduler/uci_and_pucch/pucch_res_manager_test.cpp
  tests/unittests/scheduler/uci_and_pucch/uci_test_utils.cpp
  tests/unittests/scheduler/uci_and_pucch/uci_test_utils.h
Due: none

sched: review PUCCH collision manager
  lib/du/du_high/du_manager/ran_resource_management/du_pucch_resource_manager.cpp
  lib/du/du_update_config_helpers.cpp
  lib/scheduler/pucch_scheduling/pucch_collision_manager.cpp
  lib/scheduler/pucch_scheduling/pucch_collision_manager.h
  tests/unittests/scheduler/multiple_ue_sched_test.cpp
  tests/unittests/scheduler/scheduler_multi_grants_test.cpp
  tests/unittests/scheduler/scheduler_multi_ue_test.cpp
  tests/unittests/scheduler/scheduler_qos_test.cpp
  tests/unittests/scheduler/uci_and_pucch/pucch_collision_manager_test.cpp
  tests/unittests/scheduler/uci_and_pucch/uci_test_utils.cpp
Due: none

sched: do not handle the fallback PUCCH HARK-ACK case in the UCI allocator
  lib/scheduler/pucch_scheduling/pucch_resource_manager.cpp
  lib/scheduler/uci_scheduling/uci_allocator.h
  lib/scheduler/uci_scheduling/uci_allocator_impl.cpp
  lib/scheduler/uci_scheduling/uci_allocator_impl.h
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.cpp
  tests/unittests/scheduler/test_utils/dummy_test_components.h
Due: none

sched: fix failing unittest
  lib/scheduler/pucch_scheduling/pucch_allocator_impl.cpp
Due: none

ci: add FR2 ZMQ ping test
  .gitlab/ci/e2e.yml
  tests/e2e/pyproject.toml
  tests/e2e/tests/ping.py
  tests/e2e/tests/steps/configuration.py
Due: e2e tests tox

increment retina version
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

app: update test_declaration.yml
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_yaml_writer.cpp
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation

cu_cp,ngap: add unit test for error indication handling when request command is expected
  tests/unittests/cu_cp/cu_cp_ue_context_release_test.cpp
  tests/unittests/ngap/ngap_test_messages.cpp
  tests/unittests/ngap/ngap_test_messages.h
Due: none

ngap: add unit test for ue context release command with inconsistent ue id pair
  tests/unittests/ngap/ngap_ue_context_management_procedure_test.cpp
Due: none

cu_cp,ngap: add unit test for ue release if pdu session setup is not requested
  tests/unittests/cu_cp/cu_cp_ue_context_release_test.cpp
Due: none

cu_cp,ngap: improve error indication handling
  lib/ngap/ngap_impl.cpp
Due: none

cu_cp,ngap: check inconsistent ue ids on ue context release command
  lib/ngap/ngap_impl.cpp
Due: none

mac: fix mac metric aggregator
  lib/mac/mac_ctrl/mac_metrics_aggregator.cpp
  lib/mac/mac_ctrl/mac_metrics_aggregator.h
  lib/mac/mac_dl/mac_cell_processor.cpp
  lib/scheduler/cell_scheduler.cpp
  lib/scheduler/logging/scheduler_metrics_handler.cpp
  tests/unittests/mac/mac_metrics_test.cpp
Due: none

mac: extend mac metric aggregation unit test
  lib/mac/mac_ctrl/mac_metrics_aggregator.cpp
  lib/mac/mac_ctrl/mac_metrics_aggregator.h
  lib/scheduler/logging/scheduler_metrics_handler.cpp
  tests/unittests/mac/mac_metrics_test.cpp
Due: none

mac: redesign mac metric aggregation using ring buffer
  lib/mac/mac_ctrl/mac_metrics_aggregator.cpp
  lib/mac/mac_ctrl/mac_metrics_aggregator.h
  lib/scheduler/logging/scheduler_metrics_handler.cpp
  tests/unittests/mac/mac_metrics_test.cpp
Due: none

app_services: added stop control to the metrics service
  apps/services/app_execution_metrics/executor_metrics_manager.h
  apps/services/app_execution_metrics/metrics/app_execution_metrics_producer.h
  apps/services/app_resource_usage/metrics/app_resource_usage_metrics.h
  apps/services/buffer_pool/metrics/buffer_pool_metrics.h
  apps/services/metrics/metrics_config.h
  apps/services/metrics/metrics_manager.h
  apps/services/metrics/periodic_metrics_report_controller.h
  apps/units/flexible_o_du/o_du_high/du_high/metrics/du_high_rlc_metrics.h
  apps/units/flexible_o_du/o_du_high/du_high/metrics/du_metrics.h
  apps/units/flexible_o_du/split_6/o_du_low/metrics/split6_flexible_o_du_low_app_service_metrics.h
  apps/units/flexible_o_du/split_helpers/metrics/flexible_o_du_app_service_metrics.h
  apps/units/o_cu_cp/cu_cp/metrics/cu_cp_metrics.h
  apps/units/o_cu_up/cu_up/metrics/cu_up_pdcp_metrics.h
Due: none

sched: fix valgrind on PUCCH unittest
  tests/unittests/scheduler/uci_and_pucch/uci_test_utils.cpp
Due: none

sched: fix incorrect round-robin rotation of UE groups
  lib/scheduler/ue_scheduling/intra_slice_scheduler.cpp
  tests/unittests/scheduler/scheduler_multi_ue_test.cpp
Due: none

sched: fix PUCCH allocator max UL grants checks
  lib/scheduler/pucch_scheduling/pucch_allocator_impl.cpp
Due: none

phy: improve ldpc decoder interface
  include/srsran/phy/upper/channel_coding/channel_coding_factories.h
  include/srsran/phy/upper/channel_coding/ldpc/ldpc_decoder.h
  include/srsran/phy/upper/channel_processors/pusch/factories.h
  lib/phy/metrics/phy_metrics_factories.cpp
  lib/phy/metrics/phy_metrics_ldpc_decoder_decorator.h
  lib/phy/upper/channel_coding/channel_coding_factories.cpp
  lib/phy/upper/channel_coding/ldpc/ldpc_decoder_avx2.cpp
  lib/phy/upper/channel_coding/ldpc/ldpc_decoder_avx2.h
  lib/phy/upper/channel_coding/ldpc/ldpc_decoder_avx512.cpp
  lib/phy/upper/channel_coding/ldpc/ldpc_decoder_avx512.h
  lib/phy/upper/channel_coding/ldpc/ldpc_decoder_generic.h
  lib/phy/upper/channel_coding/ldpc/ldpc_decoder_impl.cpp
  lib/phy/upper/channel_coding/ldpc/ldpc_decoder_impl.h
  lib/phy/upper/channel_coding/ldpc/ldpc_decoder_neon.cpp
  lib/phy/upper/channel_coding/ldpc/ldpc_decoder_neon.h
  lib/phy/upper/channel_processors/pusch/factories.cpp
  lib/phy/upper/channel_processors/pusch/pusch_codeblock_decoder.cpp
  lib/phy/upper/upper_phy_factories.cpp
  tests/benchmarks/phy/upper/channel_coding/ldpc/ldpc_decoder_benchmark.cpp
  tests/benchmarks/phy/upper/channel_processors/pusch/pusch_decoder_hwacc_benchmark.cpp
  tests/benchmarks/phy/upper/channel_processors/pusch/pusch_processor_benchmark.cpp
  tests/integrationtests/phy/upper/channel_processors/pxsch_bler_test_factories.cpp
  tests/integrationtests/phy/upper/channel_processors/pxsch_chain_test.cpp
  tests/unittests/phy/upper/channel_coding/ldpc/ldpc_enc_dec_test.cpp
  tests/unittests/phy/upper/channel_processors/pusch/pusch_decoder_vectortest.cpp
  tests/unittests/phy/upper/channel_processors/pusch/pusch_processor_validator_test.cpp
  tests/unittests/phy/upper/channel_processors/pusch/pusch_processor_vectortest.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy: improve ldpc decoder interface cont'd
  include/srsran/phy/upper/channel_coding/ldpc/ldpc_decoder.h
  lib/phy/upper/channel_coding/ldpc/ldpc_decoder_impl.cpp
  lib/phy/upper/channel_processors/pusch/pusch_codeblock_decoder.cpp
  tests/benchmarks/phy/upper/channel_coding/ldpc/ldpc_decoder_benchmark.cpp
  tests/unittests/phy/upper/channel_coding/ldpc/ldpc_enc_dec_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ci: update retina version
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

ci: improve test name
  .gitlab/ci-shared/e2e.yml
  .gitlab/ci/e2e.yml
  .gitlab/ci/e2e/zmq_1cu2du.yml
Due: e2e request and config validation

ci: add inter cu ho e2e test
  .gitlab/ci-shared/e2e.yml
  .gitlab/ci/e2e.yml
  .gitlab/ci/e2e/zmq_2gnb.yml
  tests/e2e/tests/attach_detach.py
  tests/e2e/tests/handover.py
  tests/e2e/tests/inter_cu_handover.py
  tests/e2e/tests/iperf.py
  tests/e2e/tests/iperf_alt.py
  tests/e2e/tests/paging.py
  tests/e2e/tests/ping.py
  tests/e2e/tests/pucch.py
  tests/e2e/tests/reestablishment.py
  tests/e2e/tests/slicing.py
  tests/e2e/tests/steps/configuration.py
  tests/e2e/tests/steps/stub.py
  tests/e2e/tests/test_mode.py
  tests/e2e/tests/validate_configuration.py
  tests/e2e/tests/viavi.py
Due: e2e tests tox, e2e request and config validation

phy_low: fix PRACH concurrency issue with insufficient workers
  apps/units/flexible_o_du/split_8/helpers/ru_sdr_config_translator.cpp
  tests/e2e/tests/ping.py
Due: e2e tests tox

du: add CSI-RS period validation according to the bandwidth
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_validator.cpp
Due: none

ci: increase retina version
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

ci: add inter du inter frequency ho e2e test
  tests/e2e/tests/handover.py
  tests/e2e/tests/inter_du_handover.py
  tests/e2e/tests/steps/configuration.py
Due: e2e tests tox

phy: improve re_measurement
  include/srsran/phy/upper/re_measurement.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

adt: fix typos in documentation
  include/srsran/adt/tensor.h
Due: smoke pretty printers cached, smoke pretty printers clean

ci: lower noise in handover test
  tests/e2e/tests/handover.py
Due: e2e tests tox

ci,e2e: quote file/dir selection for custom pipeline script
  .gitlab/ci-shared/e2e.yml
Due: none

ci,e2e: retry s72 ho when no license
  tests/e2e/tests/handover.py
Due: e2e tests tox

ci: basic relwithdeb using same compiler than mr relwithdeb
  .gitlab/ci/build.yml
Due: none

mac: improve logging of slot_point_extended types
  apps/units/flexible_o_du/o_du_high/du_high/metrics/consumers/mac_metrics_consumers.cpp
  include/srsran/ran/slot_point.h
  include/srsran/ran/slot_point_extended.h
  lib/mac/mac_ctrl/mac_metrics_aggregator.cpp
Due: none
