Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, tox python in builder, metrics tox, grafana version changed, metrics version changed, metrics version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, metrics-server docker compose, metrics server image, metrics server image latest, grafana server image, grafana server image latest, e2e request and config validation

Path conditions:
  trigger builder: any of: .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*, docker/scripts/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv,py,toml}, docker/**/Dockerfile, .gdbinit
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  tox python in builder: any of: .gitlab/ci/builders/**/*.py
  metrics tox: any of: docker/metrics_server/**/*
  grafana version changed: any of: docker/grafana/**/*
  metrics version changed: any of: docker/metrics_server/**/*
  metrics version check in retina: any of: docker/metrics_server/**/*
  gnb docker compose: (any of: docker/scripts/**/*, docker/Dockerfile) or (any of: docker/docker-compose.yml)
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  metrics-server docker compose: any of: docker/.env, docker/metrics_server/**/*, docker/docker-compose.yml
  metrics server image: any of: docker/metrics_server/**/*
  metrics server image latest: any of: docker/metrics_server/**/*
  grafana server image: any of: docker/grafana/**/*
  grafana server image latest: any of: docker/grafana/**/*
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*

phy: refactor signal processor tests
  tests/unittests/phy/upper/channel_processors/pdcch/CMakeLists.txt
  tests/unittests/phy/upper/channel_processors/pdsch/pdsch_encoder_test.cpp
  tests/unittests/phy/upper/channel_processors/pdsch/pdsch_processor_unittest.cpp
  tests/unittests/phy/upper/channel_processors/pucch/pucch_processor_format1_unittest.cpp
  tests/unittests/phy/upper/channel_processors/pusch/pusch_processor_unittest.cpp
  tests/unittests/phy/upper/channel_processors/ssb/ssb_processor_unittest.cpp
  tests/unittests/phy/upper/downlink_processor_test.cpp
  tests/unittests/phy/upper/signal_processors/CMakeLists.txt
  tests/unittests/phy/upper/signal_processors/channel_estimator/port_channel_estimator_test.cpp
  tests/unittests/phy/upper/signal_processors/channel_estimator/port_channel_estimator_test_data.h
  tests/unittests/phy/upper/signal_processors/channel_estimator/port_channel_estimator_test_data.tar.gz
  tests/unittests/phy/upper/signal_processors/nzp_csi_rs/nzp_csi_rs_generator_test.cpp
  tests/unittests/phy/upper/signal_processors/nzp_csi_rs/nzp_csi_rs_generator_test_data.h
  tests/unittests/phy/upper/signal_processors/nzp_csi_rs/nzp_csi_rs_generator_test_data.tar.gz
  tests/unittests/phy/upper/signal_processors/nzp_csi_rs/nzp_csi_rs_generator_test_doubles.h
  tests/unittests/phy/upper/signal_processors/pdcch/dmrs_pdcch_processor_test.cpp
  tests/unittests/phy/upper/signal_processors/pdcch/dmrs_pdcch_processor_test_data.h
  tests/unittests/phy/upper/signal_processors/pdcch/dmrs_pdcch_processor_test_data.tar.gz
  tests/unittests/phy/upper/signal_processors/pdcch/dmrs_pdcch_processor_test_doubles.h
  tests/unittests/phy/upper/signal_processors/pdsch/dmrs_pdsch_processor_test.cpp
  tests/unittests/phy/upper/signal_processors/pdsch/dmrs_pdsch_processor_test_data.h
  tests/unittests/phy/upper/signal_processors/pdsch/dmrs_pdsch_processor_test_data.tar.gz
  tests/unittests/phy/upper/signal_processors/pdsch/dmrs_pdsch_processor_test_doubles.h
  tests/unittests/phy/upper/signal_processors/pucch/dmrs_pucch_estimator_test.cpp
  tests/unittests/phy/upper/signal_processors/pucch/dmrs_pucch_estimator_test_data.h
  tests/unittests/phy/upper/signal_processors/pucch/dmrs_pucch_estimator_test_data.tar.gz
  tests/unittests/phy/upper/signal_processors/pucch/dmrs_pucch_estimator_test_doubles.h
  tests/unittests/phy/upper/signal_processors/pusch/dmrs_pusch_estimator_test.cpp
  tests/unittests/phy/upper/signal_processors/pusch/dmrs_pusch_estimator_test_data.h
  tests/unittests/phy/upper/signal_processors/pusch/dmrs_pusch_estimator_test_data.tar.gz
  tests/unittests/phy/upper/signal_processors/pusch/dmrs_pusch_estimator_test_doubles.h
  tests/unittests/phy/upper/signal_processors/ssb/dmrs_pbch_processor_doubles.h
  tests/unittests/phy/upper/signal_processors/ssb/dmrs_pbch_processor_test.cpp
  tests/unittests/phy/upper/signal_processors/ssb/dmrs_pbch_processor_test_data.h
  tests/unittests/phy/upper/signal_processors/ssb/dmrs_pbch_processor_test_data.tar.gz
  tests/unittests/phy/upper/signal_processors/ssb/pss_processor_doubles.h
  tests/unittests/phy/upper/signal_processors/ssb/pss_processor_test.cpp
  tests/unittests/phy/upper/signal_processors/ssb/sss_processor_doubles.h
  tests/unittests/phy/upper/signal_processors/ssb/sss_processor_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ci: update plugin reference
  .gitlab/ci/plugin_version.txt
Due: none

support: shrink the size of sync_event_token to half to make it more convenient to use in lambda captures of unique_task
  include/srsran/support/synchronization/sync_event.h
Due: none

support: shrink the size of the stop_event_token class by half to make it easier to use in lambda captures of unique_task
  include/srsran/support/synchronization/stop_event.h
Due: none

pdcp: when crypto exec is full, warn only whe warn_on_drop is enabled
  lib/pdcp/pdcp_entity_tx.cpp
Due: none

pdcp: warn of crypto re-ordering time out only when warn on drop is enabled
  lib/pdcp/pdcp_entity_tx.cpp
Due: none

adt: use the smallest possible type to encode the vector size as a function of its capacity
  include/srsran/adt/static_vector.h
  tests/unittests/adt/static_vector_test.cpp
Due: none

ci,viavi: retry when interface not found
  tests/e2e/tests/viavi.py
Due: e2e tests tox

ci,e2e: upgrade amari version
  .gitlab/ci/e2e.yml
  .gitlab/ci/e2e/.env
  .gitlab/ci/e2e/s72_uesim.yml
  .gitlab/ci/e2e/test_mode.yml
  .gitlab/ci/e2e/zmq.yml
  .gitlab/ci/e2e/zmq_cu2du.yml
  .gitlab/ci/e2e/zmq_cudu.yml
  .gitlab/ci/e2e/zmq_deb.yml
  .gitlab/ci/e2e/zmq_ntn.yml
  .gitlab/ci/e2e/zmq_ric.yml
  .gitlab/ci/e2e/zmq_smoke.yml
  .gitlab/ci/e2e/zmq_srsue.yml
  .gitlab/ci/e2e/zmq_uesim.yml
  .gitlab/ci/trx.yml
  tests/e2e/conftest.py
  tests/e2e/pyproject.toml
  tests/e2e/tests/attach_detach.py
  tests/e2e/tests/handover.py
  tests/e2e/tests/inter_du_handover.py
  tests/e2e/tests/iperf.py
  tests/e2e/tests/ping.py
  tests/e2e/tests/reestablishment.py
Due: e2e tests tox, e2e request and config validation

phy: multilayer channel estimator
  lib/phy/upper/signal_processors/channel_estimator/port_channel_estimator_average_impl.cpp
  lib/phy/upper/signal_processors/channel_estimator/port_channel_estimator_average_impl.h
  tests/unittests/phy/upper/signal_processors/CMakeLists.txt
  tests/unittests/phy/upper/signal_processors/channel_estimator/port_channel_estimator_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

cmake: update the flag name to RTSAN and and the definitions to compiler and linker when the compiler supports it
  CMakeLists.txt
Due: none

cu_up: add cli option for reestablish test mode
  apps/units/o_cu_up/cu_up/cu_up_unit_config.h
  apps/units/o_cu_up/cu_up/cu_up_unit_config_cli11_schema.cpp
  apps/units/o_cu_up/cu_up/cu_up_unit_config_translators.cpp
  apps/units/o_cu_up/cu_up/cu_up_unit_config_validator.cpp
  include/srsran/cu_up/cu_up_config.h
  lib/cu_up/cu_up_manager_helpers.h
  lib/cu_up/cu_up_manager_impl.cpp
  lib/cu_up/cu_up_manager_impl.h
  lib/cu_up/routines/cu_up_test_mode_routines.cpp
  lib/cu_up/routines/cu_up_test_mode_routines.h
Due: none

cu_up: add interface to get UP state
  include/srsran/cu_up/cu_up_manager.h
  include/srsran/cu_up/cu_up_state.h
  lib/cu_up/cu_up_manager_impl.h
  lib/cu_up/pdu_session_manager.h
  lib/cu_up/pdu_session_manager_impl.cpp
  lib/cu_up/pdu_session_manager_impl.h
  lib/cu_up/ue_context.h
  lib/cu_up/ue_manager.h
  lib/cu_up/ue_manager_interfaces.h
Due: none

cu_up: fix cu_up test mode after re-factoring test mode bearer modification
  lib/cu_up/cu_up_manager_impl.cpp
  lib/cu_up/routines/cu_up_test_mode_routines.cpp
  lib/cu_up/routines/cu_up_test_mode_routines.h
Due: none

cu_up: starting to add re-establish routines to cu-up test mode
  include/srsran/cu_up/cu_up_manager.h
  include/srsran/cu_up/cu_up_state.h
  lib/cu_up/cu_up_manager_helpers.h
  lib/cu_up/cu_up_manager_impl.h
  lib/cu_up/pdu_session_manager.h
  lib/cu_up/pdu_session_manager_impl.cpp
  lib/cu_up/pdu_session_manager_impl.h
  lib/cu_up/routines/cu_up_test_mode_routines.cpp
  lib/cu_up/routines/cu_up_test_mode_routines.h
  lib/cu_up/ue_context.h
  lib/cu_up/ue_manager.h
  lib/cu_up/ue_manager_interfaces.h
Due: none

cu_up: fixup state getting functions of CU-UP
  include/srsran/cu_up/cu_up_manager.h
  include/srsran/cu_up/cu_up_state.h
  lib/cu_up/cu_up_manager_helpers.h
  lib/cu_up/cu_up_manager_impl.h
  lib/cu_up/pdu_session_manager.h
  lib/cu_up/pdu_session_manager_impl.cpp
  lib/cu_up/routines/cu_up_test_mode_routines.cpp
Due: none

f1u: change default configs to include slice differentiation
  configs/cu_up_f1u_multiple_sockets.yml
Due: none

f1u: pass s-nssai to cu bearer creation
  include/srsran/f1u/cu_up/f1u_gateway.h
  include/srsran/f1u/local_connector/f1u_local_connector.h
  lib/cu_up/pdu_session_manager_impl.cpp
  lib/f1u/cu_up/split_connector/f1u_split_connector.cpp
  lib/f1u/cu_up/split_connector/f1u_split_connector.h
  lib/f1u/local_connector/f1u_local_connector.cpp
  tests/unittests/cu_up/cu_up_test_helpers.h
  tests/unittests/f1u/common/f1u_connector_test.cpp
  tests/unittests/f1u/common/f1u_cu_split_connector_test.cpp
Due: none

f1u: remove some auto usage
  apps/helpers/f1u/f1u_appconfig_validator.cpp
  include/srsran/f1u/split_connector/f1u_five_qi_gw_maps.h
  lib/f1u/du/split_connector/f1u_split_connector.cpp
Due: none

f1u: rename f1u_appconfig_validator filename
  apps/cu/cu_appconfig_validator.cpp
  apps/cu_up/cu_up_appconfig_validator.cpp
  apps/du/du_appconfig_validators.cpp
  apps/helpers/f1u/CMakeLists.txt
  apps/helpers/f1u/f1u_appconfig_validator.cpp
  apps/helpers/f1u/f1u_appconfig_validator.h
Due: none

f1u: change default config to show SD is optional
  configs/cu_up_f1u_multiple_sockets.yml
  configs/du_f1u_multiple_sockets.yml
Due: none

du: pass s-nssai to du bearer creation
  include/srsran/f1u/du/f1u_gateway.h
  include/srsran/f1u/local_connector/f1u_local_connector.h
  lib/du/du_high/du_manager/du_ue/du_bearer.cpp
  lib/du/du_high/du_manager/du_ue/du_bearer.h
  lib/du/du_high/du_manager/procedures/ue_configuration_procedure.cpp
  lib/f1u/du/split_connector/f1u_split_connector.cpp
  lib/f1u/du/split_connector/f1u_split_connector.h
  lib/f1u/local_connector/f1u_local_connector.cpp
  tests/benchmarks/du_high/du_high_benchmark.cpp
  tests/test_doubles/f1ap/f1c_test_local_gateway.h
  tests/test_doubles/f1u/dummy_f1u_du_gateway.h
  tests/unittests/du_manager/du_manager_test_helpers.h
  tests/unittests/du_manager/du_ue/du_bearer_test.cpp
  tests/unittests/f1u/common/f1u_connector_test.cpp
  tests/unittests/f1u/common/f1u_du_split_connector_test.cpp
Due: none

f1u: added function to re-use making the gtpu gw map on cu, cu_up and du applications
  apps/cu/cu.cpp
  apps/cu_up/cu_up.cpp
  apps/du/du.cpp
  apps/helpers/f1u/f1u_appconfig.h
  apps/helpers/f1u/f1u_cli11_schema.cpp
  apps/helpers/f1u/f1u_cli11_validator.cpp
  include/srsran/f1u/split_connector/f1u_five_qi_gw_maps.h
Due: none

f1u: fix warning of struct/class mismatch
  apps/helpers/f1u/f1u_cli11_validator.h
Due: none

du: make sure s-nssai information is used when selecting the socket
  configs/du_f1u_multiple_sockets.yml
  lib/du/du_high/du_manager/du_ue/du_bearer.cpp
Due: none

f1u: add cli option for socket slice
  apps/cu/cu.cpp
  apps/cu/cu_appconfig_validator.cpp
  apps/cu_up/cu_up.cpp
  apps/du/du.cpp
  apps/helpers/f1u/CMakeLists.txt
  apps/helpers/f1u/f1u_appconfig.h
  apps/helpers/f1u/f1u_cli11_schema.cpp
  apps/helpers/f1u/f1u_cli11_validator.cpp
  apps/helpers/f1u/f1u_cli11_validator.h
Due: none

cu_up,f1u: starting to add s-nssai f1u gw selection
  apps/cu/cu.cpp
  apps/cu_up/cu_up.cpp
  apps/du/du.cpp
  apps/helpers/f1u/f1u_appconfig.h
  include/srsran/f1u/split_connector/f1u_five_qi_gw_maps.h
  include/srsran/f1u/split_connector/f1u_session_manager.h
  lib/f1u/cu_up/split_connector/f1u_split_connector.cpp
  lib/f1u/du/split_connector/f1u_split_connector.cpp
  lib/f1u/split_connector/f1u_session_manager_impl.cpp
  lib/f1u/split_connector/f1u_session_manager_impl.h
  tests/unittests/f1u/common/f1u_session_manager_test.h
Due: none

du,cu_up: add validator for 5QI without slice definition
  apps/cu_up/CMakeLists.txt
  apps/cu_up/cu_up.cpp
  apps/cu_up/cu_up_appconfig_validator.cpp
  apps/cu_up/cu_up_appconfig_validator.h
Due: none

f1u: added s_nssai to session manager to get f1u session
  include/srsran/f1u/split_connector/f1u_session_manager.h
  lib/f1u/cu_up/split_connector/f1u_split_connector.cpp
  lib/f1u/du/split_connector/f1u_split_connector.cpp
  lib/f1u/split_connector/f1u_session_manager_impl.cpp
  lib/f1u/split_connector/f1u_session_manager_impl.h
  tests/unittests/f1u/common/f1u_session_manager_test.cpp
  tests/unittests/f1u/common/f1u_session_manager_test.h
Due: none

ofh: added a token for the PRACH tasks in the uplink handler
  include/srsran/phy/support/prach_buffer_context.h
  lib/ofh/transmitter/ofh_uplink_request_handler_task_dispatcher.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

f1ap-du: add wait of 60msec to release ue context after the rrc release is ACKed
  include/srsran/du/du_high/du_manager/du_manager.h
  include/srsran/f1ap/du/f1ap_du.h
  lib/du/du_high/adapters/f1ap_adapters.h
  lib/du/du_high/du_manager/du_manager_impl.cpp
  lib/du/du_high/du_manager/du_manager_impl.h
  lib/du/du_high/du_manager/du_ue/du_ue_manager.cpp
  lib/du/du_high/du_manager/du_ue/du_ue_manager.h
  lib/f1ap/du/f1ap_du_impl.cpp
  lib/f1ap/du/f1ap_du_impl.h
  lib/f1ap/du/procedures/f1ap_du_ue_context_release_procedure.cpp
  lib/f1ap/du/procedures/f1ap_du_ue_context_release_procedure.h
  tests/unittests/f1ap/du/f1ap_du_test_helpers.h
Due: none

phy: fix minor details
  include/srsran/phy/upper/channel_state_information.h
  lib/phy/upper/channel_processors/pucch/pucch_detector_format0.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ci,e2e: fix license model in rf_b200 and review s72 rf_b200 jobs
  .gitlab/ci-shared/e2e.yml
  .gitlab/ci/e2e.yml
  .gitlab/ci/e2e/rf_b200.yml
  .gitlab/ci/e2e/s72.yml
Due: e2e request and config validation

ci: print message on validate blocked MRs
  .gitlab-ci.yml
Due: none

ci,e2e: retry on license not available and reduce ue timeout in smoke tests
  .gitlab/ci/e2e/.env
  tests/e2e/tests/attach_detach.py
  tests/e2e/tests/handover.py
  tests/e2e/tests/inter_du_handover.py
  tests/e2e/tests/iperf.py
  tests/e2e/tests/ping.py
  tests/e2e/tests/pucch.py
  tests/e2e/tests/reestablishment.py
Due: e2e tests tox, e2e request and config validation

adt: move bitmask operations to separate header
  include/srsran/adt/bounded_bitset.h
  include/srsran/support/math/bit_ops.h
Due: none

sched: revert DCI packing bitset representation
  include/srsran/ran/pdcch/dci_packing.h
Due: none

adt: improve bounded_bitset documentation
  include/srsran/adt/bounded_bitset.h
  include/srsran/support/math/bit_ops.h
Due: none

adt: add missing extract_inverted test
  include/srsran/adt/bounded_bitset.h
  tests/unittests/adt/bounded_bitset_test.cpp
Due: none
