Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke pretty printers cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, smoke pretty printers clean, tox python in builder, grafana version changed, telegraf version changed, telegraf version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb and telegraf docker compose, telegraf image, telegraf image latest, grafana image, grafana image latest, e2e request and config validation

Path conditions:
  trigger builder: any of: .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*, docker/scripts/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv,py,toml}, docker/**/Dockerfile, .gdbinit
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke pretty printers cached: any of: include/srsran/adt/**/*, tests/utils/gdb/pretty_printers/*, .gdbinit
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke pretty printers clean: any of: include/srsran/adt/**/*, tests/utils/gdb/pretty_printers/*, .gdbinit
  tox python in builder: any of: .gitlab/ci/builders/**/*.py
  grafana version changed: any of: docker/grafana/**/*
  telegraf version changed: any of: docker/telegraf/**/*
  telegraf version check in retina: any of: docker/telegraf/**/*
  gnb docker compose: (any of: docker/scripts/**/*, docker/Dockerfile) or (any of: docker/docker-compose.yml)
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.ui.yml
  influxdb and telegraf docker compose: any of: docker/.env, docker/telegraf/**/*, docker/docker-compose.ui.yml
  telegraf image: any of: docker/telegraf/**/*
  telegraf image latest: any of: docker/telegraf/**/*
  grafana image: any of: docker/grafana/**/*
  grafana image latest: any of: docker/grafana/**/*
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*

grafana: fix performance dashboard
  docker/grafana/dashboards/performance.json
Due: trigger docker, grafana version changed, grafana docker compose, grafana image, grafana image latest

grafana: bump SRS GF version
  docker/grafana/version.yml
Due: trigger docker, grafana version changed, grafana docker compose, grafana image, grafana image latest

rrc,ho: add ntn conf field if target is ntn cell
  lib/du/du_high/du_manager/converters/asn1_rrc_config_helpers.cpp
Due: none

sched: integrate dl_logical_channel_system in ue_repository
  lib/scheduler/slicing/slice_ue_repository.cpp
  lib/scheduler/ue_context/dl_logical_channel_system.cpp
  lib/scheduler/ue_context/dl_logical_channel_system.h
  lib/scheduler/ue_context/ta_manager.cpp
  lib/scheduler/ue_context/ta_manager.h
  lib/scheduler/ue_context/ue.cpp
  lib/scheduler/ue_context/ue.h
  lib/scheduler/ue_context/ue_repository.cpp
  lib/scheduler/ue_context/ue_repository.h
  lib/scheduler/ue_scheduling/ue_event_manager.cpp
  tests/unittests/scheduler/policy/scheduler_policy_test.cpp
  tests/unittests/scheduler/slicing/slice_scheduler_test.cpp
  tests/unittests/scheduler/slicing/slice_ue_repository_test.cpp
  tests/unittests/scheduler/srs_scheduling/srs_scheduler_test.cpp
  tests/unittests/scheduler/uci_and_pucch/uci_test_utils.cpp
  tests/unittests/scheduler/ue_scheduling/fallback_scheduler_test.cpp
  tests/unittests/scheduler/ue_scheduling/ta_manager_test.cpp
  tests/unittests/scheduler/ue_scheduling/ue_configuration_test.cpp
  tests/unittests/scheduler/ue_scheduling/ue_grid_allocator_test.cpp
Due: none

sched: fix dl_logical_channel_system compilation for clang
  lib/scheduler/slicing/inter_slice_scheduler.cpp
  lib/scheduler/slicing/inter_slice_scheduler.h
  lib/scheduler/slicing/ran_slice_instance.h
  lib/scheduler/ue_context/dl_logical_channel_system.h
  lib/scheduler/ue_scheduling/ue_event_manager.cpp
Due: none

sched: avoid allocations that are too small to fit RLC header
  include/srsran/mac/mac_pdu_format.h
  include/srsran/scheduler/result/pdsch_info.h
  lib/scheduler/ue_context/dl_logical_channel_system.cpp
Due: none

sched: simplify slice handling in dl_logical_channel_system
  lib/scheduler/slicing/ran_slice_id.h
  lib/scheduler/ue_context/dl_logical_channel_system.cpp
  lib/scheduler/ue_context/dl_logical_channel_system.h
  tests/unittests/scheduler/ue_context/dl_logical_channel_system_test.cpp
Due: none

sched: track pending ce bytes and pending slice bytes
  lib/scheduler/ue_context/dl_logical_channel_system.cpp
  lib/scheduler/ue_context/dl_logical_channel_system.h
  tests/unittests/scheduler/ue_context/logical_channel_system_test.cpp
Due: none

adt: use enum for soa table column access
  include/srsran/adt/soa_table.h
  lib/scheduler/ue_context/dl_logical_channel_system.cpp
  lib/scheduler/ue_context/dl_logical_channel_system.h
  tests/unittests/adt/soa_table_test.cpp
  tests/unittests/scheduler/test_utils/sched_custom_test_bench.h
Due: smoke pretty printers cached, smoke pretty printers clean

rename qos linked list in dl_logical_channel_system
  lib/scheduler/ue_context/dl_logical_channel_system.cpp
  lib/scheduler/ue_context/dl_logical_channel_system.h
Due: none

sched: implementation of new dl logical channel system class
  lib/scheduler/ue_context/CMakeLists.txt
  lib/scheduler/ue_context/dl_logical_channel_system.cpp
  lib/scheduler/ue_context/dl_logical_channel_system.h
  tests/unittests/scheduler/ue_context/CMakeLists.txt
  tests/unittests/scheduler/ue_context/logical_channel_system_test.cpp
Due: none

sched: break down ue context into sub-parts in dl_logical_channel_system
  lib/scheduler/ue_context/dl_logical_channel_system.cpp
  lib/scheduler/ue_context/dl_logical_channel_system.h
Due: none

sched: remove older dl_logical_channel_manager class
  lib/scheduler/ue_context/CMakeLists.txt
  lib/scheduler/ue_context/dl_logical_channel_manager.cpp
  lib/scheduler/ue_context/dl_logical_channel_manager.h
  lib/scheduler/ue_context/dl_logical_channel_system.cpp
  lib/scheduler/ue_context/dl_logical_channel_system.h
  lib/scheduler/ue_context/ue.cpp
  lib/scheduler/ue_context/ue_repository.cpp
  lib/scheduler/ue_scheduling/ue_scheduler_impl.h
  tests/unittests/scheduler/ue_context/CMakeLists.txt
  tests/unittests/scheduler/ue_context/dl_logical_channel_system_test.cpp
  tests/unittests/scheduler/ue_scheduling/CMakeLists.txt
  tests/unittests/scheduler/ue_scheduling/dl_logical_channel_test.cpp
  tests/unittests/scheduler/ue_scheduling/ta_manager_test.cpp
Due: none

ci: add FR2 ping test using split 7.2
  .gitlab/ci/e2e.yml
  .gitlab/ci/e2e/.env
  .gitlab/ci/e2e/s72_fr2.yml
  tests/e2e/tests/ping.py
Due: e2e tests tox, e2e request and config validation

lphy: renamed low_phy to lower_phy
  apps/examples/phy/lower_phy_error_logger.h
  apps/examples/phy/radio_ssb.cpp
  apps/units/flexible_o_du/split_8/helpers/ru_sdr_config_translator.cpp
  apps/units/flexible_o_du/split_8/helpers/ru_sdr_config_validator.cpp
  apps/units/flexible_o_du/split_8/helpers/ru_sdr_config_yaml_writer.cpp
  lib/ru/generic/CMakeLists.txt
  lib/ru/generic/lower_phy/lower_phy_factory.cpp
  lib/ru/generic/lower_phy/lower_phy_factory.h
  lib/ru/generic/lower_phy/lower_phy_sector.cpp
  lib/ru/generic/lower_phy/lower_phy_sector.h
  lib/ru/generic/lower_phy/lower_phy_sector_metrics_collector.cpp
  lib/ru/generic/lower_phy/lower_phy_sector_metrics_collector.h
  lib/ru/generic/lower_phy/lower_phy_sector_timing_handler.cpp
  lib/ru/generic/lower_phy/lower_phy_sector_timing_handler.h
  lib/ru/generic/ru_controller_generic_impl.cpp
  lib/ru/generic/ru_controller_generic_impl.h
  lib/ru/generic/ru_factory_generic_impl.cpp
  lib/ru/generic/ru_generic_impl.cpp
  lib/ru/generic/ru_lower_phy_error_adapter.h
  lib/ru/generic/ru_metrics_collector_generic_impl.cpp
  lib/ru/generic/ru_metrics_collector_generic_impl.h
Due: none

ci: remove retina and runners setup before nightly and weeklu
  .gitlab/ci/e2e.yml
Due: none

adt: Add default ctor and bool operator to bounded_rc_object_pool
  include/srsran/support/memory_pool/bounded_object_pool.h
  tests/unittests/support/bounded_object_pool_test.cpp
Due: none

sched: fix failing test due to oversizing of UE DL grant
  lib/scheduler/ue_context/dl_logical_channel_system.cpp
Due: none

sched: fix data race in ue_event_manager during ue destruction
  lib/scheduler/ue_context/ue.cpp
  lib/scheduler/ue_context/ue_repository.cpp
Due: none

ZMQ: Improve stopping logic
  lib/radio/zmq/CMakeLists.txt
  lib/radio/zmq/radio_config_zmq_validator.cpp
  lib/radio/zmq/radio_factory_zmq_impl.cpp
  lib/radio/zmq/radio_factory_zmq_impl.h
  lib/radio/zmq/radio_session_zmq_impl.cpp
  lib/radio/zmq/radio_session_zmq_impl.h
  lib/radio/zmq/radio_zmq_baseband_gateway.h
  lib/radio/zmq/radio_zmq_rx_channel.cpp
  lib/radio/zmq/radio_zmq_rx_channel.h
  lib/radio/zmq/radio_zmq_rx_channel_fsm.h
  lib/radio/zmq/radio_zmq_rx_stream.cpp
  lib/radio/zmq/radio_zmq_rx_stream.h
  lib/radio/zmq/radio_zmq_timer.h
  lib/radio/zmq/radio_zmq_tx_channel.cpp
  lib/radio/zmq/radio_zmq_tx_channel.h
  lib/radio/zmq/radio_zmq_tx_channel_fsm.h
  lib/radio/zmq/radio_zmq_tx_stream.cpp
  lib/radio/zmq/radio_zmq_tx_stream.h
Due: none

fix missing wait call
  lib/radio/zmq/radio_factory_zmq_impl.h
  lib/radio/zmq/radio_zmq_rx_channel.h
  lib/radio/zmq/radio_zmq_rx_channel_fsm.h
  lib/radio/zmq/radio_zmq_rx_stream.cpp
  lib/radio/zmq/radio_zmq_tx_channel.cpp
Due: none

phy: remove port channel estimator pool
  include/srsran/phy/upper/signal_processors/channel_estimator/factories.h
  include/srsran/phy/upper/signal_processors/pusch/factories.h
  lib/phy/upper/signal_processors/channel_estimator/factories.cpp
  lib/phy/upper/signal_processors/channel_estimator/port_channel_estimator_pool.h
  lib/phy/upper/signal_processors/pusch/dmrs_pusch_estimator_impl.cpp
  lib/phy/upper/signal_processors/pusch/dmrs_pusch_estimator_impl.h
  lib/phy/upper/signal_processors/pusch/factories.cpp
  lib/phy/upper/upper_phy_factories.cpp
  tests/benchmarks/phy/upper/channel_processors/pusch/pusch_processor_benchmark.cpp
  tests/integrationtests/phy/upper/channel_processors/pxsch_bler_test_factories.cpp
  tests/unittests/phy/upper/channel_processors/pusch/pusch_processor_validator_test.cpp
  tests/unittests/phy/upper/channel_processors/pusch/pusch_processor_vectortest.cpp
  tests/unittests/phy/upper/signal_processors/channel_estimator/port_channel_estimator_test.cpp
  tests/unittests/phy/upper/signal_processors/pusch/dmrs_pusch_estimator_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy: refactor port_channel_estimator interface
  include/srsran/phy/upper/re_measurement.h
  include/srsran/phy/upper/signal_processors/channel_estimator/port_channel_estimator.h
  lib/phy/metrics/phy_metrics_port_channel_estimator_decorator.h
  lib/phy/upper/signal_processors/channel_estimator/port_channel_estimator_average_impl.cpp
  lib/phy/upper/signal_processors/channel_estimator/port_channel_estimator_average_impl.h
  lib/phy/upper/signal_processors/pucch/dmrs_pucch_estimator_format2.cpp
  lib/phy/upper/signal_processors/pucch/dmrs_pucch_estimator_format2.h
  lib/phy/upper/signal_processors/pucch/dmrs_pucch_estimator_formats3_4.cpp
  lib/phy/upper/signal_processors/pucch/dmrs_pucch_estimator_formats3_4.h
  lib/phy/upper/signal_processors/pusch/dmrs_pusch_estimator_impl.cpp
  tests/unittests/phy/upper/signal_processors/channel_estimator/port_channel_estimator_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ci: increase retina version
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

ci: fix num_ul_antennas param in Viavi MIMO tests
  .gitlab/ci/e2e.yml
Due: none

ci,e2e: use test declaration for retina args in mimo viavi jobs
  .gitlab/ci/e2e.yml
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation

e1ap: pass ROHC config across CU-CP and CU-UP
  include/srsran/e1ap/common/e1ap_types.h
  include/srsran/e1ap/cu_up/e1ap_config_converters.h
  lib/cu_cp/routines/pdu_session_routine_helpers.cpp
  lib/e1ap/common/e1ap_asn1_converters.h
Due: none

pdcp: add basic sanity checks for ROHC
  lib/pdcp/pdcp_entity_rx.cpp
  lib/pdcp/pdcp_entity_tx.cpp
Due: none

rrc: include ROHC config when packing PDCP config to ASN.1
  lib/rrc/ue/rrc_asn1_converters.cpp
Due: none

pdcp,rohc: add ROHC config and formatter
  include/srsran/pdcp/pdcp_config.h
  include/srsran/rohc/rohc_config.h
  lib/pdcp/CMakeLists.txt
  tests/unittests/rohc/CMakeLists.txt
  tests/unittests/rohc/rohc_config_test.cpp
Due: none

pdcp,rrc,e1ap: use deref operator to access rohc_config after prior check
  include/srsran/e1ap/cu_up/e1ap_config_converters.h
  include/srsran/pdcp/pdcp_config.h
  lib/cu_cp/routines/pdu_session_routine_helpers.cpp
  lib/e1ap/common/e1ap_asn1_converters.h
  lib/pdcp/pdcp_entity_rx.cpp
  lib/pdcp/pdcp_entity_tx.cpp
  lib/rrc/ue/rrc_asn1_converters.cpp
Due: none

pdcp: remove redundant function is_drb() and replace by !is_srb().
  lib/pdcp/pdcp_entity_rx.cpp
  lib/pdcp/pdcp_entity_tx.cpp
  lib/pdcp/pdcp_entity_tx_rx_base.h
Due: none

pdcp,rohc: comment on allowed ROHC profiles for UL-only ROHC.
  lib/pdcp/pdcp_entity_rx.cpp
Due: none

sched: in dl logical channel system, remove register/deregister slice methods to minimize redundancy
  lib/scheduler/slicing/slice_ue_repository.cpp
  lib/scheduler/ue_context/dl_logical_channel_system.cpp
  lib/scheduler/ue_context/dl_logical_channel_system.h
  tests/unittests/scheduler/ue_context/dl_logical_channel_system_test.cpp
Due: none

ofh: populate closed_rx_window metrics regardless of warn_unreceived_ru_frames config
  lib/ofh/receiver/ofh_closed_rx_window_handler.cpp
Due: none

phy, prach: update detector thresholds
  lib/phy/upper/channel_processors/prach_detector_generic_thresholds.cpp
  tests/unittests/phy/upper/channel_processors/prach_detector_test_data.h
  tests/unittests/phy/upper/channel_processors/prach_detector_test_data.tar.gz
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ran: update prach configurations
  lib/ran/prach/prach_configuration.cpp
  tests/unittests/ran/prach/prach_configuration_test.cpp
Due: none

sched: fix failing test for logical channel system
  lib/mac/mac_dl/dl_sch_pdu_assembler.cpp
  lib/scheduler/ue_context/dl_logical_channel_system.cpp
  tests/unittests/scheduler/ue_context/dl_logical_channel_system_test.cpp
Due: none

sched: fix failing test deactivate_ue for logical channel system
  tests/unittests/scheduler/ue_context/dl_logical_channel_system_test.cpp
Due: none
