Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, metrics tox, grafana version changed, metrics version changed, metrics version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, metrics-server docker compose, metrics server image, metrics server image latest, grafana server image, grafana server image latest, e2e request and config validation

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  metrics tox: any of: docker/metrics_server/**/*
  grafana version changed: any of: docker/grafana/**/*
  metrics version changed: any of: docker/metrics_server/**/*
  metrics version check in retina: any of: docker/metrics_server/**/*
  gnb docker compose: (any of: docker/scripts/**/*, docker/Dockerfile) or (any of: docker/docker-compose.yml)
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  metrics-server docker compose: any of: docker/.env, docker/metrics_server/**/*, docker/docker-compose.yml
  metrics server image: any of: docker/metrics_server/**/*
  metrics server image latest: any of: docker/metrics_server/**/*
  grafana server image: any of: docker/grafana/**/*
  grafana server image latest: any of: docker/grafana/**/*
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*

ci,plugin: control plugin according to variable
  .gitlab/ci-shared/plugin.yml
Due: none

ci,release: remove ci's internal plugin_version.txt
  .gitlab/ci/release.yml
Due: none

ci,release: skip specific plugin update when folder doesn't exist
  .gitlab/ci/release.yml
Due: none

ci,e2e: set ignore_ue_ambr in viavi tests
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

ci: fix update branch
  .gitlab/ci/release.yml
Due: none

ci: update retina
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

mac: implementation of SI modification request procedure in MAC
  include/srsran/mac/mac_cell_manager.h
  lib/du/du_high/test_mode/mac_test_mode_adapter.cpp
  lib/du/du_high/test_mode/mac_test_mode_adapter.h
  lib/mac/CMakeLists.txt
  lib/mac/mac_ctrl/bcch_dl_sch_message_broker.cpp
  lib/mac/mac_ctrl/bcch_dl_sch_message_broker.h
  lib/mac/mac_ctrl/mac_cell_controller_impl.cpp
  lib/mac/mac_ctrl/mac_cell_controller_impl.h
  lib/mac/mac_ctrl/mac_controller.cpp
  lib/mac/mac_ctrl/mac_controller.h
  lib/mac/mac_dl/mac_dl_processor.cpp
  lib/mac/mac_dl/mac_dl_processor.h
  tests/integrationtests/du_high/mac_test_mode_adapter_test.cpp
  tests/unittests/du_manager/du_manager_test_helpers.h
  tests/unittests/mac/mac_ctrl_test_dummies.h
Due: none

sched: integration of new SIB PDU assembler in MAC cell processor
  include/srsran/scheduler/scheduler_sys_info_handler.h
  lib/mac/CMakeLists.txt
  lib/mac/mac_ctrl/bcch_dl_sch_message_broker.cpp
  lib/mac/mac_ctrl/bcch_dl_sch_message_broker.h
  lib/mac/mac_ctrl/mac_cell_controller_impl.cpp
  lib/mac/mac_ctrl/mac_cell_controller_impl.h
  lib/mac/mac_ctrl/mac_controller.cpp
  lib/mac/mac_ctrl/mac_controller.h
  lib/mac/mac_dl/cell_sys_info_configurator.h
  lib/mac/mac_dl/mac_cell_processor.cpp
  lib/mac/mac_dl/mac_cell_processor.h
  lib/mac/mac_dl/mac_scheduler_cell_info_handler.h
  lib/mac/mac_dl/sib_pdu_assembler.cpp
  lib/mac/mac_dl/sib_pdu_assembler.h
  lib/mac/mac_sched/mac_scheduler_adapter.h
  lib/mac/mac_sched/srsran_scheduler_adapter.cpp
  lib/mac/mac_sched/srsran_scheduler_adapter.h
  lib/scheduler/cell_scheduler.h
  lib/scheduler/scheduler_impl.cpp
  lib/scheduler/scheduler_impl.h
  tests/unittests/mac/mac_cell_processor_test.cpp
  tests/unittests/mac/mac_dl_cfg_test.cpp
  tests/unittests/mac/mac_test_helpers.h
  tests/unittests/mac/sib_pdu_assembler_test.cpp
Due: none

du-high: update system information cell handling
  include/srsran/mac/cell_configuration.h
  include/srsran/mac/mac_cell_manager.h
  lib/du/du_high/du_manager/converters/CMakeLists.txt
  lib/du/du_high/du_manager/converters/asn1_rrc_config_helpers.cpp
  lib/du/du_high/du_manager/converters/asn1_rrc_config_helpers.h
  lib/du/du_high/du_manager/converters/asn1_sys_info_packer.cpp
  lib/du/du_high/du_manager/converters/asn1_sys_info_packer.h
  lib/du/du_high/du_manager/converters/f1ap_configuration_helpers.cpp
  lib/du/du_high/du_manager/converters/f1ap_configuration_helpers.h
  lib/du/du_high/du_manager/du_cell_manager.cpp
  lib/du/du_high/du_manager/du_cell_manager.h
  lib/du/du_high/du_manager/procedures/du_param_config_procedure.cpp
  lib/du/du_high/du_manager/procedures/initial_du_setup_procedure.cpp
  lib/mac/config/mac_config_helpers.cpp
  lib/mac/mac_dl/mac_cell_processor.cpp
  lib/mac/mac_dl/mac_cell_processor.h
  tests/unittests/du_manager/sib_test.cpp
  tests/unittests/mac/mac_test_helpers.h
Due: none

sched: improve sib1_scheduler interface
  include/srsran/scheduler/config/si_scheduling_config.h
  include/srsran/scheduler/scheduler_configurator.h
  include/srsran/scheduler/scheduler_sys_info_handler.h
  lib/scheduler/cell_scheduler.cpp
  lib/scheduler/cell_scheduler.h
  lib/scheduler/common_scheduling/sib_scheduler.cpp
  lib/scheduler/common_scheduling/sib_scheduler.h
  tests/unittests/scheduler/common_scheduling/sib1_scheduler_test.cpp
Due: none

mac: remove diff SI lists from sib pdu assembler interface
  include/srsran/mac/mac_cell_manager.h
  lib/du/du_high/du_manager/procedures/du_param_config_procedure.cpp
  lib/mac/mac_dl/cell_sys_info_configurator.h
  lib/mac/mac_dl/mac_cell_processor.cpp
  lib/mac/mac_dl/sib_pdu_assembler.cpp
  lib/mac/mac_dl/sib_pdu_assembler.h
  tests/unittests/mac/sib_pdu_assembler_test.cpp
Due: none

mac: redesign SI message buffer management in SIB PDU assembler
  include/srsran/mac/cell_configuration.h
  lib/mac/mac_dl/cell_sys_info_configurator.h
  lib/mac/mac_dl/sib_pdu_assembler.cpp
  lib/mac/mac_dl/sib_pdu_assembler.h
Due: none

du-high: minor fixes
  lib/du/du_high/du_manager/converters/asn1_sys_info_packer.cpp
  lib/du/du_high/du_manager/converters/asn1_sys_info_packer.h
  lib/mac/mac_dl/sib_pdu_assembler.cpp
Due: none

cu_up,pdcp: enable PDCP log metrics
  apps/units/o_cu_up/cu_up/metrics/cu_up_pdcp_metrics_consumers.cpp
  apps/units/o_cu_up/cu_up/metrics/cu_up_pdcp_metrics_consumers.h
  apps/units/o_cu_up/o_cu_up_builder.cpp
Due: none

cu_up,e1ap: reject bearer context setup with UE-AMBR of 0
  lib/e1ap/cu_up/e1ap_cu_up_asn1_helpers.h
Due: none

du: extend du srs mng to multiple cells per ue
  lib/du/du_high/du_manager/ran_resource_management/du_srs_resource_manager.cpp
  lib/du/du_high/du_manager/ran_resource_management/du_srs_resource_manager.h
Due: none

du: fix cell indexing in du_srs manager
  lib/du/du_high/du_manager/ran_resource_management/du_srs_resource_manager.cpp
Due: none

gtpu: add stop() method to gtpu demux
  include/srsran/gtpu/gtpu_demux.h
  lib/cu_up/cu_up_impl.cpp
  lib/cu_up/ue_manager.cpp
  lib/gtpu/gtpu_demux_impl.cpp
  lib/gtpu/gtpu_demux_impl.h
  tests/unittests/cu_up/cu_up_test_helpers.h
Due: none

ci: update plugin reference
  .gitlab/ci/plugin_version.txt
Due: none

tests: refactor llr tests
  tests/unittests/phy/upper/CMakeLists.txt
  tests/unittests/phy/upper/log_likelihood_ratio_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

pdcp: add num_data_pdus and num_data_pdu_bytes to rx metrics
  apps/units/o_cu_up/cu_up/metrics/cu_up_pdcp_metrics_consumers.cpp
  include/srsran/pdcp/pdcp_rx_metrics.h
  lib/pdcp/pdcp_entity_rx.cpp
  lib/pdcp/pdcp_rx_metrics_impl.h
  tests/unittests/pdcp/pdcp_rx_metrics_test.cpp
Due: none

e2: remove DRB.PacketSuccessRateUlgNBUu metric to e2-du agent
  lib/e2/e2sm/e2sm_kpm/e2sm_kpm_du_meas_provider_impl.cpp
  lib/e2/e2sm/e2sm_kpm/e2sm_kpm_du_meas_provider_impl.h
  tests/unittests/e2/e2sm_kpm_meas_provider_metrics_test.cpp
  tests/unittests/e2/e2sm_kpm_meas_provider_test.cpp
Due: none

e2: add DRB.PacketSuccessRateUlgNBUu metric to e2-cu-up agent
  lib/e2/e2sm/e2sm_kpm/e2sm_kpm_cu_meas_provider_impl.cpp
  lib/e2/e2sm/e2sm_kpm/e2sm_kpm_cu_meas_provider_impl.h
Due: none

ci,e2e: set log level to warning in 16h test
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation

du: set default slicing sd, to make this parameter optional
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config.h
Due: none

ci: update srsran_project_packaging ref
  .gitlab/ci/build.yml
Due: none

rlc_tx_um: temporarily suspend barring of buffer state notif after undershooting the threshold
  lib/rlc/rlc_tx_um_entity.cpp
  lib/rlc/rlc_tx_um_entity.h
  tests/unittests/rlc/rlc_um_test.cpp
Due: none

rlc_tx_am: temporarily suspend barring of buffer state notif after undershooting the threshold
  lib/rlc/rlc_tx_am_entity.cpp
  lib/rlc/rlc_tx_am_entity.h
  tests/unittests/rlc/rlc_tx_am_test.cpp
Due: none

cmake: add wextra-semi to build options
  CMakeLists.txt
Due: none

phy,neon: rm extra semicolons
  lib/phy/generic_functions/precoding/channel_precoder_neon.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy: fix PUSCH processor metric decorator
  lib/phy/metrics/phy_metrics_pusch_processor_decorator.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy: removed unused attribute
  lib/phy/metrics/phy_metrics_pusch_processor_decorator.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ci,release: make step optional
  .gitlab/ci/release.yml
Due: none

ci: save only test output in weekly sanitizers
  .gitlab/ci/build.yml
Due: none

ci,build: increase available storage in ubsan jobs
  .gitlab/ci/build.yml
Due: none

phy: acccount filler bits for the minimum message length
  lib/phy/upper/channel_coding/ldpc/ldpc_decoder_impl.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

Fix CLang extra-semi diagnostic for UHD and NEON
  lib/radio/uhd/radio_uhd_exception_handler.h
  lib/radio/uhd/radio_uhd_multi_usrp.h
  lib/radio/uhd/radio_uhd_tx_stream_fsm.h
Due: none

mac: handle_slot_indication func uses context with slot and time_point
  include/srsran/mac/mac_cell_slot_handler.h
  include/srsran/mac/mac_cell_timing_context.h
  lib/du/du_high/du_high_impl.cpp
  lib/du/du_high/test_mode/mac_test_mode_adapter.cpp
  lib/du/du_high/test_mode/mac_test_mode_adapter.h
  lib/fapi_adaptor/mac/fapi_to_mac_error_msg_translator.cpp
  lib/fapi_adaptor/mac/fapi_to_mac_time_msg_translator.cpp
  lib/fapi_adaptor/mac/mac_to_fapi_translator.cpp
  lib/mac/mac_dl/mac_cell_processor.cpp
  lib/mac/mac_dl/mac_cell_processor.h
  tests/benchmarks/du_high/du_high_benchmark.cpp
  tests/integrationtests/du_high/mac_test_mode_adapter_test.cpp
  tests/integrationtests/du_high/test_utils/du_high_env_simulator.cpp
  tests/integrationtests/du_high_cu/du_high_cu_test_simulator.cpp
  tests/unittests/fapi_adaptor/mac/mac_to_fapi_translator_test.cpp
  tests/unittests/mac/mac_cell_processor_test.cpp
Due: none
