Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, metrics tox, grafana version changed, metrics version changed, metrics version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, metrics-server docker compose, metrics server image, metrics server image latest, grafana server image, grafana server image latest, e2e request and config validation

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  metrics tox: any of: docker/metrics_server/**/*
  grafana version changed: any of: docker/grafana/**/*
  metrics version changed: any of: docker/metrics_server/**/*
  metrics version check in retina: any of: docker/metrics_server/**/*
  gnb docker compose: (any of: docker/scripts/**/*, docker/Dockerfile) or (any of: docker/docker-compose.yml)
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  metrics-server docker compose: any of: docker/.env, docker/metrics_server/**/*, docker/docker-compose.yml
  metrics server image: any of: docker/metrics_server/**/*
  metrics server image latest: any of: docker/metrics_server/**/*
  grafana server image: any of: docker/grafana/**/*
  grafana server image latest: any of: docker/grafana/**/*
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*

tests,e2e: allow to define own dl/ul data rate thresholds
  tests/e2e/tests/steps/iperf_helpers.py
Due: e2e tests tox

ci,e2e: add ntn iperf test
  .gitlab/ci/e2e.yml
Due: none

ofh: fix out-of-bounds access in avx bfp decompressors
  lib/ofh/compression/iq_compression_bfp_avx2.cpp
  lib/ofh/compression/iq_compression_bfp_avx512.cpp
Due: none

all: bump version and add changelog for 25.04
  CHANGELOG
  cmake/modules/version.cmake
Due: none

cu_cp,ngap: add cn initiated paging to metrics
  include/srsran/ngap/ngap_metrics.h
  lib/ngap/metrics/ngap_metrics_aggregator.cpp
  lib/ngap/metrics/ngap_metrics_aggregator.h
  lib/ngap/ngap_impl.cpp
Due: none

cu_cp,ngap: add check for paging metrics to unit tests
  tests/unittests/cu_cp/cu_cp_paging_test.cpp
  tests/unittests/cu_cp/metrics_handler/metrics_handler_test.cpp
Due: none

sched: fix rtsan failure for scheduler benchmark
  tests/benchmarks/scheduler/scheduler_no_ues_benchmark.cpp
Due: none

phy, ch.est: fix minor bug
  lib/phy/upper/signal_processors/port_channel_estimator_helpers.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

tests: fix minor bug
  tests/benchmarks/phy/upper/channel_processors/pdsch_processor_benchmark.cpp
  tests/benchmarks/phy/upper/channel_processors/pucch/pucch_processor_benchmark.cpp
  tests/unittests/phy/upper/channel_processors/pdsch/pdsch_processor_vectortest.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ofh: add PRACH request late callback
  include/srsran/ofh/ofh_error_notifier.h
  include/srsran/phy/upper/upper_phy_error_handler.h
  include/srsran/phy/upper/upper_phy_error_notifier.h
  include/srsran/ru/ru_adapters.h
  include/srsran/ru/ru_error_notifier.h
  lib/fapi_adaptor/phy/phy_to_fapi_error_event_translator.cpp
  lib/fapi_adaptor/phy/phy_to_fapi_error_event_translator.h
  lib/ofh/transmitter/ofh_uplink_request_handler_impl.cpp
  lib/phy/upper/upper_phy_error_handler_impl.cpp
  lib/phy/upper/upper_phy_error_handler_impl.h
  lib/ru/ofh/ru_ofh_error_handler_impl.cpp
  lib/ru/ofh/ru_ofh_error_handler_impl.h
  tests/integrationtests/ofh/ofh_integration_test.cpp
  tests/unittests/ofh/transmitter/ofh_downlink_handler_impl_test.cpp
  tests/unittests/ofh/transmitter/ofh_uplink_request_handler_impl_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ci: reduce hex output in handover tests
  tests/e2e/tests/handover.py
Due: e2e tests tox

ci: reduce log level
  .gitlab/ci/e2e.yml
Due: none

du-high: wait a few slots after cell stop before reporting back to the CU-CP
  lib/du/du_high/du_manager/procedures/cu_configuration_procedure.cpp
Due: none

temp
  include/srsran/fapi/messages/config_messages.h
  include/srsran/fapi/messages/error_code.h
  include/srsran/fapi/messages/error_indication.h
  include/srsran/fapi_adaptor/phy/phy_fapi_cell_adaptor.h
  lib/fapi_adaptor/phy/CMakeLists.txt
  lib/fapi_adaptor/phy/phy_fapi_cell_adaptor_impl.cpp
  lib/fapi_adaptor/phy/phy_fapi_cell_adaptor_impl.h
  lib/fapi_adaptor/phy/phy_fapi_cell_config_validator.cpp
  lib/fapi_adaptor/phy/phy_fapi_cell_config_validator.h
Due: none

fapi: added a cell configurator and cell operation request notifier interfaces and implementations
  include/srsran/fapi/cell_operation_request_notifier.h
  include/srsran/fapi/fapi_config_message_interface_collection.h
  include/srsran/fapi/messages/config_messages.h
  include/srsran/fapi_adaptor/phy/phy_fapi_cell_adaptor.h
  lib/fapi/CMakeLists.txt
  lib/fapi/config_message_gateway_impl.cpp
  lib/fapi/config_message_gateway_impl.h
  lib/fapi/config_message_validator.cpp
  lib/fapi/config_message_validator.h
  lib/fapi/fapi_config_message_interface_collection_impl.cpp
  lib/fapi/fapi_config_message_interface_collection_impl.h
  lib/fapi_adaptor/phy/CMakeLists.txt
  lib/fapi_adaptor/phy/phy_fapi_cell_adaptor_impl.cpp
  lib/fapi_adaptor/phy/phy_fapi_cell_adaptor_impl.h
Due: none

cu_cp,ngap: reduce loglevel
  lib/ngap/ngap_error_indication_helper.h
  lib/ngap/ngap_impl.cpp
  lib/ngap/procedures/ng_setup_procedure.cpp
  lib/ngap/procedures/ngap_initial_context_setup_procedure.cpp
  lib/ngap/procedures/ngap_pdu_session_resource_modify_procedure.cpp
  lib/ngap/procedures/ngap_pdu_session_resource_release_procedure.cpp
  lib/ngap/procedures/ngap_pdu_session_resource_setup_procedure.cpp
  lib/ngap/procedures/ngap_ue_context_release_procedure.cpp
Due: none

ci: update plugin reference
  .gitlab/ci/plugin_version.txt
Due: none

phy: protect UL repository from discarding slot twice
  lib/phy/upper/uplink_pdu_slot_repository_impl.h
  lib/phy/upper/uplink_processor_impl.cpp
  tests/unittests/phy/upper/uplink_processor_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy: extend RX buffer timeout
  apps/units/flexible_o_du/o_du_low/du_low_config_translator.cpp
Due: none

du: add missing params in YAML writer
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_yaml_writer.cpp
Due: none

pdcp_tx,metrics: count number of dropped SDUs
  include/srsran/pdcp/pdcp_tx_metrics.h
  lib/pdcp/pdcp_entity_tx.cpp
  lib/pdcp/pdcp_tx_metrics_impl.h
  tests/unittests/pdcp/pdcp_tx_metrics_test.cpp
Due: none

ofh: add 'hal' section to CLI when the application was built with DPDK support
  apps/du/du_appconfig_cli11_schema.cpp
  apps/gnb/gnb_appconfig_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_low/du_low_config_cli11_schema.cpp
  apps/units/flexible_o_du/split_7_2/helpers/ru_ofh_config_cli11_schema.cpp
Due: none

ci,e2e: add more self-retry causes to android hp tests
  tests/e2e/tests/iperf.py
  tests/e2e/tests/ping.py
Due: e2e tests tox

ci,e2e: move resource group for s72 test and add delay
  .gitlab/ci/e2e.yml
Due: none

ci: remove unnecessary quotes
  .gitlab/ci/e2e.yml
Due: none

Revert "cu_cp: fix unit tests after changing HO procedure to request new UL-TEID"
  lib/cu_cp/routines/mobility/mobility_helpers.cpp
  tests/unittests/cu_cp/cu_cp_inter_du_handover_test.cpp
  tests/unittests/cu_cp/cu_cp_intra_du_handover_test.cpp
  tests/unittests/e1ap/common/e1ap_cu_cp_test_messages.h
Due: none

Revert "cu_cp: request new UL TEID during intra CU handover"
  lib/cu_cp/routines/mobility/intra_cu_handover_routine.cpp
  lib/cu_cp/routines/mobility/intra_cu_handover_routine.h
  lib/cu_cp/routines/mobility/mobility_helpers.cpp
  lib/cu_cp/routines/mobility/mobility_helpers.h
Due: none

phy: remove DC removal for PUSCH transform precoding
  lib/phy/upper/channel_processors/pusch/pusch_processor_impl.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

gnb,cu: fix slowness in the processing of the CU-UP control plane
  apps/services/worker_manager/worker_manager.cpp
  apps/services/worker_manager/worker_manager.h
  apps/units/o_cu_up/o_cu_up_builder.cpp
  include/srsran/cu_up/cu_up_executor_mapper.h
Due: none

gnb,cu: rename external data exec to low prio exec
  apps/cu/cu.cpp
  apps/du/du.cpp
  apps/gnb/gnb.cpp
  apps/services/worker_manager/worker_manager.cpp
  apps/services/worker_manager/worker_manager.h
  apps/units/o_cu_up/o_cu_up_builder.cpp
  include/srsran/cu_up/cu_up_executor_mapper.h
  lib/cu_up/cu_up_executor_mapper.cpp
Due: none

du: fix du validation print
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_validator.cpp
Due: none

sched: fix initialization of ring-buffer in scheduler_multi_ue_benchmark
  tests/benchmarks/scheduler/scheduler_multi_ue_benchmark.cpp
Due: none

configs: add default debug config
  configs/debug.yml
Due: none

configs: remove QAM256 config
  configs/qam256.yml
Due: none

config: update Benetel RAN550 default config
  configs/gnb_ru_ran550_tdd_n78_100mhz_4x2.yml
Due: none

configs: add HO trigger to mobility config
  configs/mobility.yml
Due: none

sched: instantiate multi_ue_sched_simulator on heap...
  tests/benchmarks/scheduler/scheduler_multi_ue_benchmark.cpp
Due: none

e2,tests: fix e2 unit test failures that emerged with gcc 15.1.1
  tests/unittests/e2/common/e2_test_helpers.h
  tests/unittests/e2/e2_conn_upd_procedure_test.cpp
  tests/unittests/e2/e2sm_kpm_meas_provider_test.cpp
  tests/unittests/e2/e2sm_kpm_test.cpp
Due: none

ci: update retina
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

ci,build: only save valgrind logs from failed tests
  .gitlab/ci-shared/build.yml
Due: none
