Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, metrics tox, grafana version changed, metrics version changed, metrics version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, metrics-server docker compose, metrics server image, metrics server image latest, grafana server image, grafana server image latest, e2e request and config validation

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  metrics tox: any of: docker/metrics_server/**/*
  grafana version changed: any of: docker/grafana/**/*
  metrics version changed: any of: docker/metrics_server/**/*
  metrics version check in retina: any of: docker/metrics_server/**/*
  gnb docker compose: (any of: docker/scripts/**/*, docker/Dockerfile) or (any of: docker/docker-compose.yml)
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  metrics-server docker compose: any of: docker/.env, docker/metrics_server/**/*, docker/docker-compose.yml
  metrics server image: any of: docker/metrics_server/**/*
  metrics server image latest: any of: docker/metrics_server/**/*
  grafana server image: any of: docker/grafana/**/*
  grafana server image latest: any of: docker/grafana/**/*
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*

ci,e2e: add helper functions to get freq for band
  tests/e2e/tests/ping.py
  tests/e2e/tests/steps/configuration.py
Due: e2e tests tox

ci: increase cppcheck timeout
  .gitlab-ci.yml
Due: none

ci: fix notify job name
  .gitlab/ci/release.yml
Due: none

Refine memory order in FAPI and OFH atomics
  lib/fapi/message_buffering/message_bufferer_slot_gateway_impl.h
  lib/fapi_adaptor/phy/fapi_to_phy_translator.h
  lib/ofh/ethernet/dpdk/dpdk_ethernet_receiver.cpp
  lib/ofh/ethernet/dpdk/dpdk_ethernet_receiver.h
  lib/ofh/ethernet/ethernet_receiver_impl.cpp
  lib/ofh/ethernet/ethernet_receiver_impl.h
  lib/ofh/receiver/ofh_rx_window_checker.cpp
  lib/ofh/timing/realtime_timing_worker.cpp
  lib/ofh/timing/realtime_timing_worker.h
  lib/ofh/transmitter/ofh_tx_window_checker.h
  lib/ofh/transmitter/sequence_identifier_generator.h
Due: none

ofh: fix NEON code compilation
  lib/ofh/compression/packing_utils_neon.h
Due: none

gnb: minor fixes
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_validator.cpp
  apps/units/flexible_o_du/split_helpers/metrics/consumers/o_du_low_metrics_consumers.cpp
Due: none

ci: fix gnb path in ntn e2e test
  .gitlab/ci/e2e/retina_request_zmq_ntn.yml
Due: e2e request and config validation

ci: change amarisoft copy src dir during build
  .gitlab/ci/trx.yml
Due: none

phy: add RU uplink late RG notifier
  apps/examples/phy/lower_phy_error_logger.h
  apps/examples/phy/radio_ssb.cpp
  apps/units/flexible_o_du/split_8/helpers/ru_sdr_factories.cpp
  apps/units/flexible_o_du/split_dynamic/dynamic_o_du_factory.cpp
  include/srsran/phy/upper/uplink_slot_processor.h
  include/srsran/phy/upper/upper_phy_error_handler.h
  include/srsran/phy/upper/upper_phy_error_notifier.h
  include/srsran/ru/dummy/ru_dummy_configuration.h
  include/srsran/ru/generic/ru_generic_configuration.h
  include/srsran/ru/ru_adapters.h
  include/srsran/ru/ru_error_notifier.h
  lib/fapi_adaptor/phy/phy_to_fapi_error_event_translator.cpp
  lib/fapi_adaptor/phy/phy_to_fapi_error_event_translator.h
  lib/phy/upper/uplink_pdu_slot_repository_impl.h
  lib/phy/upper/uplink_processor_impl.cpp
  lib/phy/upper/uplink_processor_impl.h
  lib/phy/upper/upper_phy_error_handler_impl.cpp
  lib/phy/upper/upper_phy_error_handler_impl.h
  lib/phy/upper/upper_phy_impl.cpp
  lib/ru/dummy/ru_dummy_impl.cpp
  lib/ru/dummy/ru_dummy_sector.h
  lib/ru/generic/ru_factory_generic_impl.cpp
  lib/ru/generic/ru_generic_error_adapter.h
  lib/ru/generic/ru_generic_impl.h
  tests/integrationtests/ofh/ofh_integration_test.cpp
  tests/unittests/phy/upper/uplink_processor_test_doubles.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

cu_cp,f1ap: add test helpers for positioning activation
  tests/test_doubles/f1ap/f1ap_test_message_validators.cpp
  tests/test_doubles/f1ap/f1ap_test_message_validators.h
  tests/test_doubles/f1ap/f1ap_test_messages.cpp
  tests/test_doubles/f1ap/f1ap_test_messages.h
Due: none

cu_cp,nrppa,f1ap: add preparations for positioning activation handling
  include/srsran/cu_cp/positioning_messages.h
  include/srsran/f1ap/cu_cp/f1ap_nrppa_msg_handling.h
  include/srsran/nrppa/nrppa.h
  include/srsran/ran/positioning/common.h
  include/srsran/ran/positioning/positioning_activation.h
  include/srsran/ran/positioning/positioning_information_exchange.h
  lib/cu_cp/adapters/nrppa_adapters.h
  lib/f1ap/cu_cp/f1ap_cu_impl.cpp
  lib/f1ap/cu_cp/f1ap_cu_impl.h
  lib/f1ap/cu_cp/ue_context/f1ap_cu_ue_transaction_manager.h
  lib/f1ap/f1ap_asn1_utils.h
Due: none

ran,srs: add own type for pos res id
  include/srsran/ran/srs/srs_configuration.h
Due: none

ci: update retina to fully support alternative cluster master nodes
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

metrics: multiple small fixes
  apps/units/flexible_o_du/split_helpers/metrics/consumers/o_du_low_metrics_consumers.cpp
  lib/scheduler/logging/scheduler_metrics_handler.cpp
Due: none

phy: review RX buffer pool usage
  include/srsran/phy/upper/unique_rx_buffer.h
  lib/phy/upper/rx_buffer_impl.h
  lib/phy/upper/uplink_processor_impl.cpp
  tests/unittests/phy/upper/rx_buffer_test_doubles.h
  tests/unittests/phy/upper/uplink_processor_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

pdcp: enable metrics only for non-zero periods
  lib/pdcp/pdcp_entity_rx.cpp
  lib/pdcp/pdcp_entity_tx.cpp
  lib/pdcp/pdcp_rx_metrics_impl.h
  lib/pdcp/pdcp_tx_metrics_impl.h
Due: none

sched: move logic for slice_ue context update to slice_ue_repository class
  lib/scheduler/slicing/ran_slice_instance.cpp
  lib/scheduler/slicing/slice_ue_repository.cpp
  lib/scheduler/slicing/slice_ue_repository.h
  tests/unittests/scheduler/ue_scheduling/ue_grid_allocator_test.cpp
Due: none

sched: compute pending bytes between checking for UE sched availability
  lib/scheduler/ue_scheduling/intra_slice_scheduler.cpp
Due: none

sched: simplify slice_ue interface
  lib/scheduler/policy/scheduler_time_qos.cpp
  lib/scheduler/slicing/slice_ue_repository.cpp
  lib/scheduler/slicing/slice_ue_repository.h
  lib/scheduler/ue_scheduling/intra_slice_scheduler.cpp
Due: none

sched: move slice UE creation logic to slice_ue_repository
  lib/scheduler/slicing/inter_slice_scheduler.cpp
  lib/scheduler/slicing/inter_slice_scheduler.h
  lib/scheduler/slicing/ran_slice_candidate.h
  lib/scheduler/slicing/ran_slice_instance.cpp
  lib/scheduler/slicing/ran_slice_instance.h
  lib/scheduler/slicing/slice_ue_repository.cpp
  lib/scheduler/slicing/slice_ue_repository.h
  lib/scheduler/ue_context/dl_logical_channel_manager.cpp
  lib/scheduler/ue_context/dl_logical_channel_manager.h
  lib/scheduler/ue_context/ul_logical_channel_manager.cpp
  lib/scheduler/ue_context/ul_logical_channel_manager.h
  tests/unittests/scheduler/ue_scheduling/dl_logical_channel_test.cpp
  tests/unittests/scheduler/ue_scheduling/ue_grid_allocator_test.cpp
Due: none

du_low: unify the log and the json metrics
  apps/units/flexible_o_du/split_helpers/metrics/consumers/o_du_low_metrics_consumers.cpp
Due: none

svc: fix out-of-scope access to pointer on stack that was captured by reference in a lambda
  apps/services/worker_manager/worker_manager.cpp
Due: none

e2: use a single logger with proper id in the entire e2 agent
  include/srsran/e2/e2_agent_dependencies.h
  include/srsran/e2/e2ap_config_translators.h
  include/srsran/e2/gateways/e2_network_client_factory.h
  lib/e2/common/e2_entity.cpp
  lib/e2/common/e2_factory.cpp
  lib/e2/common/e2_impl.cpp
  lib/e2/common/e2_impl.h
  lib/e2/common/e2ap_asn1_helpers.h
  lib/e2/gateways/e2_network_client_factory.cpp
  tests/integrationtests/e2ap/e2ap_integration_test.cpp
  tests/unittests/e2/e2ap_network_adapter_test.cpp
Due: none

test,e2e: adjust viavi campaign name of RLC UM test
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation

test,e2e: add viavi UM test
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation

test,e2e: adjust viavi UM test
  tests/e2e/tests/viavi.py
  tests/e2e/tests/viavi/test_declaration.yml
  tests/e2e/tests/viavi/test_declaration_debug.yml
  tests/e2e/tests/viavi/test_declaration_schema.json
Due: e2e tests tox, e2e request and config validation

ci: add Viavi tests with RLC UM to weekly schedule
  .gitlab/ci/e2e.yml
Due: none

sec: add warning logs for integrity failures
  lib/security/integrity_engine_generic.cpp
  lib/security/integrity_engine_generic.h
  lib/security/integrity_engine_nia2_cmac.cpp
  lib/security/integrity_engine_nia2_cmac.h
  lib/security/security_engine_impl.cpp
  lib/security/security_engine_impl.h
Due: none

sec: add integrity check logs to non_cmac and other engines
  lib/security/integrity_engine_generic.cpp
  lib/security/integrity_engine_nia2_cmac.cpp
  lib/security/integrity_engine_nia2_non_cmac.cpp
  lib/security/integrity_engine_nia2_non_cmac.h
Due: none

sec: add debug log for applying integrity protection
  lib/security/integrity_engine_generic.cpp
  lib/security/integrity_engine_nia2_cmac.cpp
  lib/security/integrity_engine_nia2_non_cmac.cpp
Due: none

sec: add debug logging to ciphering
  lib/security/ciphering_engine_nea1.cpp
  lib/security/ciphering_engine_nea1.h
  lib/security/ciphering_engine_nea2.cpp
  lib/security/ciphering_engine_nea2.h
  lib/security/ciphering_engine_nea3.cpp
  lib/security/ciphering_engine_nea3.h
Due: none

sec: fix log in generic integrity engine
  lib/security/integrity_engine_generic.cpp
Due: none

gnb: review DU low YAML writer
  apps/units/flexible_o_du/o_du_low/du_low_config_yaml_writer.cpp
Due: none

app_unit: added PUSCH RSRP and last PHR fields to scheduler JSON consumer.
  apps/units/flexible_o_du/o_du_high/du_high/metrics/du_high_scheduler_cell_metrics_consumers.cpp
Due: none

cu_cp,rrc: enable ciphering in reestablishment
  lib/rrc/ue/procedures/rrc_reestablishment_procedure.cpp
  lib/rrc/ue/procedures/rrc_reestablishment_procedure.h
Due: none

uhd: fix copy-paste typo
  lib/radio/uhd/radio_uhd_impl.cpp
Due: none

sched: one ue_cell_grid_allocator per cell
  lib/scheduler/ue_scheduling/intra_slice_scheduler.cpp
  lib/scheduler/ue_scheduling/intra_slice_scheduler.h
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.cpp
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.h
  lib/scheduler/ue_scheduling/ue_scheduler_impl.cpp
  lib/scheduler/ue_scheduling/ue_scheduler_impl.h
  tests/unittests/scheduler/policy/scheduler_policy_test.cpp
  tests/unittests/scheduler/ue_scheduling/fallback_scheduler_test.cpp
  tests/unittests/scheduler/ue_scheduling/ue_grid_allocator_test.cpp
Due: none

sched: convert alloc_ul/dl_grant into two separate methods for newtxs and retxs
  lib/scheduler/slicing/slice_ue_repository.h
  lib/scheduler/ue_scheduling/intra_slice_scheduler.cpp
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.cpp
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.h
  tests/unittests/scheduler/ue_scheduling/ue_grid_allocator_test.cpp
Due: none

sched: remove slots_with_no_pdsch_space from ue_cell_grid_allocator
  lib/scheduler/ue_scheduling/intra_slice_scheduler.cpp
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.cpp
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.h
  lib/scheduler/ue_scheduling/ue_pdsch_alloc_param_candidate_searcher.h
  tests/unittests/scheduler/ue_scheduling/ue_grid_allocator_test.cpp
  tests/unittests/scheduler/ue_scheduling/ue_pxsch_alloc_param_candidate_searcher_test.cpp
Due: none

adt: add triple buffer atomic
  include/srsran/adt/triple_buffer_atomic.h
  tests/unittests/adt/CMakeLists.txt
  tests/unittests/adt/triple_buffer_atomic_test.cpp
Due: none
