Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, tox python in builder, metrics tox, grafana version changed, metrics version changed, metrics version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, metrics-server docker compose, metrics server image, metrics server image latest, grafana server image, grafana server image latest, e2e request and config validation

Path conditions:
  trigger builder: any of: .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*, docker/scripts/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv,py,toml}, docker/**/Dockerfile, .gdbinit
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  tox python in builder: any of: .gitlab/ci/builders/**/*.py
  metrics tox: any of: docker/metrics_server/**/*
  grafana version changed: any of: docker/grafana/**/*
  metrics version changed: any of: docker/metrics_server/**/*
  metrics version check in retina: any of: docker/metrics_server/**/*
  gnb docker compose: (any of: docker/scripts/**/*, docker/Dockerfile) or (any of: docker/docker-compose.yml)
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  metrics-server docker compose: any of: docker/.env, docker/metrics_server/**/*, docker/docker-compose.yml
  metrics server image: any of: docker/metrics_server/**/*
  metrics server image latest: any of: docker/metrics_server/**/*
  grafana server image: any of: docker/grafana/**/*
  grafana server image latest: any of: docker/grafana/**/*
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*

phy: always log OCC for PUCCH Format 4
  include/srsran/phy/support/support_formatters.h
  include/srsran/phy/upper/channel_processors/pucch/formatters.h
  lib/phy/upper/channel_processors/pucch/logging_pucch_processor_decorator.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

mac: improvement of logs
  include/srsran/ran/du_types.h
  lib/du/du_high/du_manager/du_ue/du_ue_controller_impl.cpp
  lib/mac/mac_ctrl/mac_ue_removal_procedure.h
  lib/mac/mac_ctrl/ue_reconfiguration_procedure.h
  lib/scheduler/logging/scheduler_event_logger.cpp
Due: none

sched: support HARQ mode B in DL and UL in NTN cells
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config.h
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_translators.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_validator.cpp
  include/srsran/du/du_cell_config.h
  include/srsran/scheduler/config/serving_cell_config.h
  include/srsran/scheduler/scheduler_configurator.h
  lib/du/du_high/du_manager/converters/asn1_rrc_config_helpers.cpp
  lib/du/du_high/du_manager/converters/scheduler_configuration_helpers.cpp
  lib/du/du_high/du_manager/ran_resource_management/ue_capability_manager.cpp
  lib/du/du_high/du_manager/ran_resource_management/ue_capability_manager.h
  lib/scheduler/cell/cell_harq_manager.cpp
  lib/scheduler/cell/cell_harq_manager.h
  lib/scheduler/common_scheduling/ra_scheduler.cpp
  lib/scheduler/config/cell_configuration.cpp
  lib/scheduler/config/cell_configuration.h
  lib/scheduler/ue_scheduling/ue_scheduler_impl.cpp
  tests/unittests/scheduler/cell/cell_harq_manager_test.cpp
Due: none

sched: set nof PxSCH HARQs and DCI sizes according to UE caps
  lib/du/du_high/du_manager/ran_resource_management/ue_capability_manager.cpp
  lib/du/du_high/du_manager/ran_resource_management/ue_capability_manager.h
Due: none

sched: allow to configure up to 32 harqs in pdsch, and expose nof harqs in pusch parameter
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config.h
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_translators.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_validator.cpp
Due: none

sched: create default pusch_serving_cell_config
  lib/scheduler/config/serving_cell_config_factory.cpp
Due: none

ci: update retina version
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

PHY: Fix dl processor crash as it was not clearing the PRS PDU list
  lib/phy/upper/downlink_processor_multi_executor_impl.cpp
  lib/phy/upper/downlink_processor_multi_executor_impl.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

cu_cp,ngap,rrc: await rrc reconfiguration in ho execution target routine
  include/srsran/ngap/ngap.h
  include/srsran/rrc/rrc_cell_context.h
  include/srsran/rrc/rrc_ue.h
  lib/cu_cp/adapters/ngap_adapters.h
  lib/cu_cp/adapters/rrc_ue_adapters.h
  lib/cu_cp/cu_cp_impl.cpp
  lib/cu_cp/routines/mobility/inter_cu_handover_execution_target_routine.cpp
  lib/cu_cp/routines/mobility/inter_cu_handover_execution_target_routine.h
  lib/cu_cp/routines/pdu_session_routine_helpers.cpp
  lib/rrc/ue/rrc_asn1_helpers.cpp
  lib/rrc/ue/rrc_ue_context.h
  lib/rrc/ue/rrc_ue_impl.cpp
  lib/rrc/ue/rrc_ue_impl.h
  lib/rrc/ue/rrc_ue_message_handlers.cpp
  tests/unittests/cu_cp/mobility/handover_reconfiguration_routine_test.cpp
  tests/unittests/rrc/test_helpers.h
Due: none

ci: update plugin reference
  .gitlab/ci/plugin_version.txt
Due: none

du: disable PUCCH Format 4 multiplexing by default
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config.h
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_schema.cpp
  include/srsran/scheduler/config/pucch_builder_params.h
  lib/scheduler/config/pucch_resource_generator.cpp
  tests/unittests/scheduler/config/pucch_resource_generator_test.cpp
  tests/unittests/scheduler/uci_and_pucch/uci_test_utils.cpp
Due: none

radio: fix ZMQ loopback test
  tests/unittests/radio/zmq/radio_zmq_loopback_test.cpp
Due: none

sched: fix metrics free list pop
  lib/mac/mac_ctrl/spsc_metric_report_channel.h
Due: none

mac: fix metrics spsc channel
  lib/mac/mac_ctrl/spsc_metric_report_channel.h
Due: none

cu_cp,ngap: improve handling of inconsistent ue ids
  lib/ngap/ngap_impl.cpp
  lib/ngap/ngap_impl.h
  tests/unittests/ngap/ngap_nas_message_test.cpp
Due: none

apps: derive the sampling rate from the bandwith for Split 6 O-DU low
  apps/units/flexible_o_du/split_6/o_du_low/split6_flexible_o_du_low_session_factory.cpp
Due: none

apps: removed l1_dl CPU bitmask as these executors are handled by the main pool
  apps/du_low/du_low_appconfig_translators.cpp
  apps/services/worker_manager/os_sched_affinity_manager.h
  apps/services/worker_manager/worker_manager.cpp
  apps/services/worker_manager/worker_manager.h
  apps/services/worker_manager/worker_manager_appconfig.h
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config.h
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_translators.cpp
  apps/units/flexible_o_du/o_du_low/du_low_config.h
  apps/units/flexible_o_du/o_du_low/du_low_config_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_low/du_low_config_cli11_schema.h
  apps/units/flexible_o_du/o_du_low/du_low_config_translator.cpp
  apps/units/flexible_o_du/o_du_low/du_low_config_validator.cpp
  apps/units/flexible_o_du/o_du_low/du_low_config_yaml_writer.cpp
  apps/units/flexible_o_du/split_6/o_du_low/split6_o_du_low_unit_cli11_schema.cpp
  apps/units/flexible_o_du/split_7_2/split_7_2_o_du_unit_cli11_schema.cpp
  apps/units/flexible_o_du/split_8/helpers/ru_sdr_config.h
  apps/units/flexible_o_du/split_8/helpers/ru_sdr_config_cli11_schema.cpp
  apps/units/flexible_o_du/split_8/helpers/ru_sdr_config_yaml_writer.cpp
  apps/units/flexible_o_du/split_8/split_8_o_du_unit_cli11_schema.cpp
  apps/units/flexible_o_du/split_dynamic/dynamic_o_du_unit_cli11_schema.cpp
Due: none

metrics: don't report metrics in the backend during shutdown
  lib/support/executors/metrics/executor_metrics_backend.cpp
Due: none

ci: use mold linker in smoke build jobs
  .gitlab/ci/build.yml
Due: none

ci: update retina to fix ric app
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

ci: add mold linker to debian builders
  .gitlab/ci/builders/archlinux/Dockerfile
  .gitlab/ci/builders/debian/Dockerfile
Due: trigger builder

cmake: add mold as a linker option
  CMakeLists.txt
  lib/ofh/CMakeLists.txt
  lib/ofh/transmitter/CMakeLists.txt
  tests/unittests/cu_cp/CMakeLists.txt
Due: none

ran: expose PDSCH antenna mapping tables
  include/srsran/ran/pdsch/pdsch_antenna_ports_mapping.h
  lib/ran/pdsch/pdsch_antenna_port_mapping.cpp
Due: none

ran: fix compilation error, includ nr_band.h
  include/srsran/ran/sib/system_info_config.h
Due: none

du: add unittest for rrm reconf request
  apps/units/flexible_o_du/o_du_high/du_high/commands/du_high_remote_commands.cpp
  include/srsran/du/du_high/du_manager/du_configurator.h
  lib/du/du_high/du_manager/du_cell_manager.cpp
  lib/du/du_high/du_manager/du_cell_manager.h
  lib/du/du_high/du_manager/du_manager_impl.cpp
  lib/du/du_high/du_manager/procedures/du_param_config_procedure.cpp
  lib/du/du_high/du_manager/procedures/du_param_config_procedure.h
  lib/e2/e2sm/e2sm_ccc/e2sm_ccc_control_action_du_executor.cpp
  tests/integrationtests/du_high/du_high_test.cpp
  tests/unittests/du_manager/procedures/du_param_config_procedure_test.cpp
  tests/unittests/scheduler/multi_slice_scheduler_test.cpp
Due: none

du,sched: move validation to procedure file
  lib/du/du_high/du_manager/du_manager_impl.cpp
  lib/du/du_high/du_manager/procedures/du_param_config_procedure.cpp
  lib/du/du_high/du_manager/procedures/du_param_config_procedure.h
  tests/integrationtests/du_high/du_high_test.cpp
Due: none

du: handle rrm policy reconf from O1 iface
  apps/units/flexible_o_du/o_du_high/du_high/commands/du_high_remote_commands.cpp
  include/srsran/du/du_high/du_manager/du_configurator.h
  lib/du/du_high/du_manager/du_cell_manager.cpp
  lib/du/du_high/du_manager/du_cell_manager.h
  lib/du/du_high/du_manager/du_manager_impl.cpp
  lib/e2/e2sm/e2sm_ccc/e2sm_ccc_control_action_du_executor.cpp
Due: none

du, sched: improve tests for RRM config change
  apps/units/flexible_o_du/o_du_high/du_high/commands/du_high_remote_commands.cpp
  lib/du/du_high/du_manager/du_manager_impl.cpp
  lib/du/du_high/du_manager/procedures/du_param_config_procedure.cpp
  tests/integrationtests/du_high/du_high_test.cpp
  tests/unittests/du_manager/procedures/du_param_config_procedure_test.cpp
  tests/unittests/scheduler/multi_slice_scheduler_test.cpp
Due: none

phy: review prach dft scaling
  include/srsran/srsvec/conversion.h
  include/srsran/srsvec/sc_prod.h
  lib/phy/lower/modulation/ofdm_prach_demodulator_impl.cpp
  lib/srsvec/conversion.cpp
  lib/srsvec/sc_prod.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy: align PRACH demodulator normalization
  include/srsran/srsvec/conversion.h
  lib/phy/lower/modulation/ofdm_prach_demodulator_impl.cpp
  lib/srsvec/conversion.cpp
  tests/unittests/phy/lower/modulation/ofdm_prach_demodulator_test_data.h
  tests/unittests/phy/lower/modulation/ofdm_prach_demodulator_test_data.tar.gz
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

docker: change grafana dashboard path
  docker/.env
  docker/grafana/Dockerfile
  docker/grafana/provisioning/dashboards/dashboardReference.yml
  docker/grafana/version.yml
Due: trigger docker, grafana version changed, grafana docker compose, influxdb docker compose, metrics-server docker compose, grafana server image, grafana server image latest

tests: update tiny_optional pretty printer
  .gdbinit
Due: trigger docker

tests: more pretty printer tests
  tests/utils/gdb/pretty_printers/CMakeLists.txt
  tests/utils/gdb/pretty_printers/pretty_printer_bounded_bitset_test.cpp
  tests/utils/gdb/pretty_printers/pretty_printer_slotted_array_test.cpp
  tests/utils/gdb/pretty_printers/pretty_printer_slotted_vector_test.cpp
Due: none

tests: improve looks of gdb pretty printers
  .gdbinit
  tests/utils/gdb/pretty_printers/CMakeLists.txt
Due: trigger docker

tests: testing tiny_optional pretty printer
  tests/utils/gdb/pretty_printers/CMakeLists.txt
  tests/utils/gdb/pretty_printers/pretty_printer_tiny_optional_test.cpp
Due: none

tests: testing some gdb pretty printers
  CMakeLists.txt
  tests/utils/gdb/pretty_printers/CMakeLists.txt
  tests/utils/gdb/pretty_printers/pretty_printer_bf16_test.cpp
  tests/utils/gdb/pretty_printers/pretty_printer_cbf16_test.cpp
  tests/utils/gdb/pretty_printers/pretty_printer_gdb_commands.txt
  tests/utils/gdb/pretty_printers/pretty_printer_static_vector_test.cpp
Due: none

sched: remove default copy assignment from resource grid
  lib/scheduler/cell/resource_grid.h
Due: none

sched: avoid extra indirection in access to resource grid slot
  include/srsran/adt/circular_vector.h
  lib/scheduler/cell/resource_grid.cpp
  lib/scheduler/cell/resource_grid.h
Due: none

sched: use circular_vector in cell resource grid
  include/srsran/adt/circular_vector.h
  include/srsran/scheduler/resource_grid_util.h
  lib/scheduler/cell/resource_grid.cpp
  lib/scheduler/cell/resource_grid.h
Due: none

du: overwrite def pucch cfg for 5mhz bw
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config.h
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_translators.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_validator.cpp
  configs/cell_cfg_pucch_5_mhz_bw.yml
Due: none
