Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, metrics tox, grafana version changed, metrics version changed, metrics version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, metrics-server docker compose, metrics server image, metrics server image latest, grafana server image, grafana server image latest, e2e request and config validation

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  metrics tox: any of: docker/metrics_server/**/*
  grafana version changed: any of: docker/grafana/**/*
  metrics version changed: any of: docker/metrics_server/**/*
  metrics version check in retina: any of: docker/metrics_server/**/*
  gnb docker compose: (any of: docker/scripts/**/*, docker/Dockerfile) or (any of: docker/docker-compose.yml)
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  metrics-server docker compose: any of: docker/.env, docker/metrics_server/**/*, docker/docker-compose.yml
  metrics server image: any of: docker/metrics_server/**/*
  metrics server image latest: any of: docker/metrics_server/**/*
  grafana server image: any of: docker/grafana/**/*
  grafana server image latest: any of: docker/grafana/**/*
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*

removing codes
  include/srsran/gateways/sctp_network_client.h
  include/srsran/ngap/gateways/n2_connection_client.h
  lib/e1ap/gateways/e1_network_client_factory.cpp
  lib/e1ap/gateways/e1_network_server_factory.cpp
  lib/e2/gateways/e2_network_client_factory.cpp
  lib/f1ap/gateways/f1c_network_client_factory.cpp
  lib/f1ap/gateways/f1c_network_server_factory.cpp
  lib/gateways/sctp_network_client_impl.cpp
  lib/gateways/sctp_network_server_impl.cpp
  lib/ngap/gateways/n2_connection_client_factory.cpp
  lib/ngap/ngap_asn1_packer.cpp
  tests/unittests/e2/dummy_ric.cpp
  tests/unittests/gateways/sctp_network_client_test.cpp
  tests/unittests/gateways/sctp_network_link_test.cpp
  tests/unittests/gateways/sctp_network_server_test.cpp
Due: none

user thread
  apps/gnb/gnb.cpp
Due: none

added logger
  apps/gnb/gnb.cpp
Due: none

fixing compile error
  apps/gnb/gnb.cpp
Due: none

pdcch: change DCI payload representation
  include/srsran/ran/pdcch/dci_packing.h
Due: none

ci: select test file in some zmq e2e jobs
  .gitlab/ci-shared/e2e.yml
  .gitlab/ci/e2e.yml
  .gitlab/run_custom_pipeline.py
  .gitlab/run_viavi_pipeline.py
  tests/e2e/pyproject.toml
  tests/e2e/tests/iperf.py
Due: e2e tests tox

du: fix ul_ri metric in json file
  apps/units/flexible_o_du/o_du_high/du_high/metrics/du_high_scheduler_cell_metrics_consumers.cpp
Due: none

ci: update retina version
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

du: remove error report in dummy O-DU high metrics notifier
  lib/du/du_high/o_du_high_metrics_notifier_proxy.cpp
Due: none

cu_up,f1u: add configuration options to f1u queue and batch size
  apps/units/o_cu_up/cu_up/cu_up_unit_config.h
  apps/units/o_cu_up/cu_up/cu_up_unit_config_cli11_schema.cpp
  apps/units/o_cu_up/cu_up/cu_up_unit_config_translators.cpp
  include/srsran/cu_up/cu_up_configuration_helpers.h
  include/srsran/f1u/cu_up/f1u_bearer.h
  include/srsran/f1u/cu_up/f1u_config.h
  lib/f1u/cu_up/f1u_bearer_impl.cpp
  lib/f1u/cu_up/f1u_bearer_impl.h
  lib/f1u/local_connector/f1u_local_connector.cpp
  tests/unittests/f1u/cu_up/f1u_cu_up_bearer_test.cpp
Due: none

ci: add HO test with amarisoft UEsim in split 7.2x
  .gitlab/ci/e2e.yml
  .gitlab/ci/e2e/.env
  .gitlab/ci/e2e/s72_uesim.yml
  .gitlab/ci/e2e/zmq_ntn.yml
  tests/e2e/tests/handover.py
Due: e2e tests tox, e2e request and config validation

added server
  apps/gnb/gnb.cpp
Due: none

fixed the port
  apps/gnb/gnb.cpp
Due: none

docker: improve dashboard with more metrics
  docker/grafana/dashboards/home.json
  docker/grafana/version.yml
Due: trigger docker, grafana version changed, grafana docker compose, grafana server image, grafana server image latest

ci: fix needs in s72 job
  .gitlab/ci/build.yml
  .gitlab/ci/e2e.yml
Due: none

cmake: add warning message when DPDK is requested but it is not found.
  CMakeLists.txt
Due: none

sched: fix uci sched reconf when csi not enabled
  lib/scheduler/uci_scheduling/uci_scheduler_impl.cpp
  tests/unittests/scheduler/uci_and_pucch/uci_scheduling_test.cpp
  tests/unittests/scheduler/uci_and_pucch/uci_test_utils.cpp
  tests/unittests/scheduler/uci_and_pucch/uci_test_utils.h
Due: none

du,e1ap: fix missing header
  include/srsran/du/du_high/du_manager/cbs/cbs_encoder.h
  include/srsran/e1ap/gateways/e1_connection_server.h
Due: none

sctp: improve readability
  lib/support/network/sctp_socket.cpp
Due: none

sctp: improve funtion names
  lib/gateways/sctp_network_client_impl.cpp
  lib/gateways/sctp_network_client_impl.h
Due: none

cu_cp: make sctp heartbeat interval and max nof retransmissions configurable
  apps/units/o_cu_cp/cu_cp/cu_cp_config_translators.cpp
  apps/units/o_cu_cp/cu_cp/cu_cp_unit_config.h
  apps/units/o_cu_cp/cu_cp/cu_cp_unit_config_cli11_schema.cpp
  apps/units/o_cu_cp/cu_cp/cu_cp_unit_config_yaml_writer.cpp
  include/srsran/gateways/sctp_network_gateway.h
  include/srsran/ngap/gateways/n2_connection_client_factory.h
  include/srsran/support/io/sctp_socket.h
  lib/gateways/sctp_network_gateway_common_impl.cpp
  lib/ngap/gateways/n2_connection_client_factory.cpp
  lib/support/network/sctp_socket.cpp
Due: none

sctp: improve handling of communication loss
  lib/gateways/sctp_network_client_impl.cpp
  lib/gateways/sctp_network_client_impl.h
Due: none

cu_cp,sctp: use chrono types for sctp timeout/interval values
  apps/units/o_cu_cp/cu_cp/cu_cp_config_translators.cpp
  apps/units/o_cu_cp/cu_cp/cu_cp_unit_config.h
  apps/units/o_cu_cp/cu_cp/cu_cp_unit_config_cli11_schema.cpp
  apps/units/o_cu_cp/cu_cp/cu_cp_unit_config_yaml_writer.cpp
  include/srsran/gateways/sctp_network_gateway.h
  include/srsran/ngap/gateways/n2_connection_client_factory.h
  include/srsran/support/io/sctp_socket.h
  lib/support/network/sctp_socket.cpp
  tests/unittests/gateways/sctp_network_gateway_test.cpp
Due: none

sctp: add unit tests for sctp heartbeat interval and max nof retransmissions
  tests/unittests/gateways/sctp_network_gateway_test.cpp
Due: none

phy: fix validator and assertions
  lib/phy/support/resource_grid_reader_impl.cpp
  lib/phy/support/resource_grid_writer_impl.cpp
  lib/phy/upper/signal_processors/srs/srs_validator_generic_impl.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ci: update plugin reference
  .gitlab/ci/plugin_version.txt
Due: none

asn1: fix asn1 utils test
  tests/unittests/asn1/asn1_utils_test.cpp
Due: none

tracing: support both splitting and non-splitting mode of the traces
  include/srsran/support/tracing/event_tracing.h
  lib/support/tracing/event_tracing.cpp
  tests/unittests/support/tracing/event_tracer_test.cpp
Due: none

tracing: automatically break tracing into subfiles
  lib/support/tracing/event_tracing.cpp
Due: none

sched: move the formatting of all sched debug log to logging backend
  lib/scheduler/logging/scheduler_result_logger.cpp
Due: none

sched: move formatting of part of the scheduler result debug logging to log backend
  lib/scheduler/logging/scheduler_result_logger.cpp
Due: none

sched: faster info result logs
  lib/scheduler/logging/scheduler_result_logger.cpp
Due: none

du: add validator for the TDD nof symbols and slots
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_validator.cpp
Due: none

sched: fix PUSCH scheduling when transport precoding is enabled
  include/srsran/ran/transform_precoding/transform_precoding_helpers.h
  lib/ran/pdsch/pdsch_mcs.cpp
  lib/scheduler/policy/scheduler_time_qos.cpp
  lib/scheduler/support/mcs_calculator.cpp
  lib/scheduler/support/mcs_calculator.h
  lib/scheduler/ue_context/ue_cell.h
  lib/scheduler/ue_context/ue_link_adaptation_controller.cpp
  lib/scheduler/ue_context/ue_link_adaptation_controller.h
  lib/scheduler/ue_scheduling/grant_params_selector.cpp
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.cpp
  lib/scheduler/ue_scheduling/ue_fallback_scheduler.cpp
  tests/test_doubles/scheduler/scheduler_test_message_validators.cpp
  tests/unittests/fapi_adaptor/mac/messages/ul_pusch_pdu_test.cpp
  tests/unittests/scheduler/multiple_ue_sched_test.cpp
  tests/unittests/scheduler/support/mcs_calculator_test.cpp
  tests/unittests/scheduler/ue_scheduling/fallback_scheduler_test.cpp
Due: none

sched: review fix PUSCH scheduling with TP
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_validator.cpp
  include/srsran/phy/generic_functions/transform_precoding/transform_precoder.h
  include/srsran/ran/resource_block.h
  include/srsran/ran/transform_precoding/transform_precoding_helpers.h
  lib/phy/generic_functions/transform_precoding/transform_precoder_dft_impl.cpp
  lib/phy/generic_functions/transform_precoding/transform_precoder_dft_impl.h
  lib/phy/generic_functions/transform_precoding/transform_precoding_factories.cpp
  lib/phy/upper/channel_processors/pusch/pusch_processor_validator_impl.cpp
  lib/scheduler/support/mcs_calculator.cpp
  lib/scheduler/ue_scheduling/grant_params_selector.cpp
  lib/scheduler/ue_scheduling/ue_fallback_scheduler.cpp
  tests/test_doubles/scheduler/scheduler_test_message_validators.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ran: use of tag type for differentiation between vrb_bitmap, crb_bitmap and prb_bitmap
  include/srsran/adt/bounded_bitset.h
  include/srsran/phy/support/re_pattern.h
  include/srsran/phy/upper/channel_processors/pusch/pusch_demodulator.h
  include/srsran/phy/upper/rb_allocation.h
  include/srsran/phy/upper/signal_processors/dmrs_pusch_estimator.h
  include/srsran/phy/upper/signal_processors/port_channel_estimator.h
  include/srsran/phy/upper/signal_processors/ptrs/ptrs_pdsch_generator.h
  include/srsran/ran/ptrs/ptrs_pattern.h
  include/srsran/ran/resource_allocation/rb_bitmap.h
  lib/phy/support/re_pattern.cpp
  lib/phy/upper/channel_processors/pdsch/pdsch_modulator_impl.cpp
  lib/phy/upper/channel_processors/pdsch/pdsch_processor_flexible_impl.cpp
  lib/phy/upper/channel_processors/pdsch/pdsch_processor_helpers.h
  lib/phy/upper/channel_processors/pusch/pusch_processor_impl.cpp
  lib/phy/upper/signal_processors/dmrs_helper.h
  lib/phy/upper/signal_processors/port_channel_estimator_average_impl.cpp
  lib/phy/upper/signal_processors/port_channel_estimator_helpers.cpp
  lib/scheduler/cell/resource_grid.cpp
  lib/scheduler/support/rb_helper.cpp
  lib/scheduler/ue_scheduling/intra_slice_scheduler.cpp
  tests/unittests/phy/support/resource_grid_mapper_test.cpp
  tests/unittests/phy/upper/channel_processors/pdcch/pdcch_processor_unittest.cpp
  tests/unittests/phy/upper/channel_processors/pdsch/pdsch_modulator_test.cpp
  tests/unittests/phy/upper/channel_processors/pdsch/pdsch_processor_unittest.cpp
  tests/unittests/phy/upper/channel_processors/pusch/pusch_processor_unittest.cpp
  tests/unittests/scheduler/ue_scheduling/ue_grid_allocator_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ran,du: multiple transform precoding related fixes
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_translators.cpp
  lib/du/du_high/du_manager/converters/asn1_rrc_config_helpers.cpp
  lib/scheduler/support/mcs_tbs_calculator.cpp
  lib/scheduler/support/mcs_tbs_calculator.h
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.cpp
  lib/scheduler/ue_scheduling/ue_fallback_scheduler.cpp
  tests/unittests/scheduler/support/mcs_tbs_calculator_test.cpp
Due: none

ci: update default params of viavi tests
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation
