Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, metrics tox, grafana version changed, metrics version changed, metrics version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, metrics-server docker compose, metrics server image, metrics server image latest, grafana server image, grafana server image latest, e2e request and config validation

trigger builder:
  stage: ci
  trigger:
    include: .gitlab/ci/builders.yml
    strategy: depend

trigger docker:
  stage: ci
  trigger:
    include: .gitlab/ci/docker.yml
    strategy: depend
  variables:
    PY_DIR: docker/metrics_server

e2e tests tox:
  stage: static
  variables:
    PY_DIR: tests/e2e
  before_script:
  - apk add build-base

smoke avx512 cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm neon cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke avx512 clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm neon clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

metrics tox:
  stage: static
  variables:
    GIT_LFS_SKIP_SMUDGE: 1

grafana version changed:
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
  stage: static
  script:
  - NEW_VERSION=$(cat docker/grafana/version.yml | grep SRS_GRAFANA_VERSION | cut -d'"' -f2)
  - export NEW_VERSION
  - "git checkout $CI_MERGE_REQUEST_DIFF_BASE_SHA\nif [ ! -e \"docker/grafana/version.yml\" ]; then\n    exit 0\nfi\n"
  ...

metrics version changed:
  stage: static
  variables:
    GIT_LFS_SKIP_SMUDGE: 1

metrics version check in retina:
  stage: static
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
  script:
  - 'VERSION_IN_PYPROJECT=$(cat docker/metrics_server/pyproject.toml | grep ''^version'' | cut -d''"'' -f2)
  
    VERSION_IN_RETINA=$(cat .gitlab/ci/e2e/.env | grep METRICS_SERVER_VERSION | cut -d''='' -f2)
  
  ...

gnb docker compose:
  stage: compose
  image: docker:24.0.7-dind
  tags:
  - amd64-avx2
  timeout: 2h
  retry: 2
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
    KUBERNETES_CPU_REQUEST: ${SRS_CPU_LIMIT}
    KUBERNETES_CPU_LIMIT: ${SRS_CPU_LIMIT}
    KUBERNETES_MEMORY_REQUEST: ${SRS_MEMORY_LIMIT}
    KUBERNETES_MEMORY_LIMIT: ${SRS_MEMORY_LIMIT}
  ...

metrics server image:
  stage: publish
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
    REGISTRY_URI: $GITLAB_REGISTRY_URI
    NAME: metrics_server
    CONTEXT: ${CI_PROJECT_DIR}/docker/metrics_server
    MODE: publish
  before_script:
  - 'export VERSION=$(cat ${CONTEXT}/pyproject.toml | grep ''^version'' | cut -d''"'' -f2)
  
    '

sched: increase short BSR max value
  lib/mac/mac_ul/ul_bsr.cpp
Due: none

phy: review scoped time execution functions
  lib/phy/upper/channel_processors/channel_processor_factories.cpp
  lib/phy/upper/channel_processors/pucch/factories.cpp
  lib/phy/upper/channel_processors/ssb/logging_ssb_processor_decorator.h
  lib/phy/upper/signal_processors/signal_processor_factories.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

pdcp: stop assert on discard_pdu when F1-U is disconnected
  lib/cu_up/adapters/pdcp_adapters.h
  lib/pdcp/pdcp_entity_rx.cpp
  lib/pdcp/pdcp_entity_tx.cpp
Due: none

phy: move PSS sequence generator
  include/srsran/phy/upper/sequence_generators/pss_sequence_generator.h
  lib/phy/upper/signal_processors/pss_processor_impl.cpp
  lib/phy/upper/signal_processors/pss_processor_impl.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

cu_up: added echo request/response integration test
  tests/unittests/cu_up/cu_up_test.cpp
Due: none

gtpu: fix dangling dispatch queue
  include/srsran/gtpu/gtpu_demux.h
  lib/cu_up/cu_up_impl.cpp
  lib/cu_up/cu_up_impl.h
Due: none

adt: check stopped for nullptr in batched dispatch queue
  include/srsran/adt/batched_dispatch_queue.h
Due: none

pdcp: lower log level of failing to stop discard timer
  lib/pdcp/pdcp_entity_tx.cpp
Due: none

logger added
  lib/.DS_Store
  lib/ngap/.DS_Store
  lib/ngap/gateways/n2_connection_client_factory.cpp
  lib/ngap/ngap_asn1_packer.cpp
  lib/ngap/ngap_connection_handler.cpp
Due: none

log added
  lib/ngap/ngap_impl.cpp
Due: none

cmake,phy: adjust error message of missing DFT library
  lib/phy/generic_functions/CMakeLists.txt
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

app_units: added subfolders in split 6 for DU high and DU low
  apps/units/flexible_o_du/split_6/CMakeLists.txt
  apps/units/flexible_o_du/split_6/o_du_high/CMakeLists.txt
  apps/units/flexible_o_du/split_6/o_du_high/split6_o_du_application_unit_impl.cpp
  apps/units/flexible_o_du/split_6/o_du_high/split6_o_du_application_unit_impl.h
  apps/units/flexible_o_du/split_6/o_du_high/split6_o_du_factory.cpp
  apps/units/flexible_o_du/split_6/o_du_high/split6_o_du_factory.h
  apps/units/flexible_o_du/split_6/o_du_high/split6_o_du_impl.cpp
  apps/units/flexible_o_du/split_6/o_du_high/split6_o_du_impl.h
  apps/units/flexible_o_du/split_6/o_du_high/split6_o_du_unit_cli11_schema.cpp
  apps/units/flexible_o_du/split_6/o_du_high/split6_o_du_unit_cli11_schema.h
  apps/units/flexible_o_du/split_6/o_du_high/split6_o_du_unit_config.h
  apps/units/flexible_o_du/split_6/o_du_high/split6_o_du_unit_config_validator.cpp
  apps/units/flexible_o_du/split_6/o_du_high/split6_o_du_unit_config_validator.h
  apps/units/flexible_o_du/split_6/o_du_high/split6_o_du_unit_logger_registrator.h
  apps/units/flexible_o_du/split_6/o_du_high/split6_plugin.h
  apps/units/flexible_o_du/split_6/o_du_high/split6_plugin_dummy.cpp
  apps/units/flexible_o_du/split_6/o_du_high/split6_plugin_dummy.h
Due: none

sched: remove CRB limits from intra slice scheduler
  lib/scheduler/support/rb_helper.h
  lib/scheduler/ue_scheduling/grant_params_selector.cpp
  lib/scheduler/ue_scheduling/grant_params_selector.h
  lib/scheduler/ue_scheduling/intra_slice_scheduler.cpp
  lib/scheduler/ue_scheduling/intra_slice_scheduler.h
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.cpp
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.h
  tests/unittests/scheduler/ue_scheduling/ue_grid_allocator_test.cpp
Due: none

ci: update plugin reference
  .gitlab/ci/plugin_version.txt
Due: none

ci: move all variable logic to build template job
  .gitlab/ci-shared/build.yml
  .gitlab/ci/build.yml
Due: none

ci: trigger dynamic plugin nightlies
  .gitlab-ci.yml
Due: none

ci,release: use plugin array in srsran image jobs
  .gitlab/ci/release.yml
Due: none

ci: improve plugins reusable code
  .gitlab/ci-shared/Readme.md
  .gitlab/ci-shared/plugin.yml
  .gitlab/ci-shared/template.yml
Due: none

phy: use new pucch f1 detector
  include/srsran/phy/upper/channel_processors/pucch/pucch_detector.h
  lib/phy/upper/channel_processors/pucch/pucch_detector_format1.cpp
  lib/phy/upper/channel_processors/pucch/pucch_detector_format1.h
  lib/phy/upper/channel_processors/pucch/pucch_detector_impl.h
  lib/phy/upper/channel_processors/pucch/pucch_processor_impl.cpp
  tests/unittests/phy/upper/channel_processors/pucch/pucch_detector_test_doubles.h
  tests/unittests/phy/upper/channel_processors/pucch/pucch_processor_format1_test_data.h
  tests/unittests/phy/upper/channel_processors/pucch/pucch_processor_format1_test_data.tar.gz
  tests/unittests/phy/upper/channel_processors/pucch/pucch_processor_format1_unittest.cpp
  tests/unittests/phy/upper/channel_processors/pucch/pucch_processor_format1_vectortest.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ci,viavi: check warning in long udp tests
  .gitlab/ci/build.yml
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation

phy: review SSS sequence generator
  include/srsran/phy/upper/sequence_generators/pss_sequence_generator.h
  include/srsran/phy/upper/sequence_generators/sss_sequence_generator.h
  lib/phy/upper/signal_processors/sss_processor_impl.cpp
  lib/phy/upper/signal_processors/sss_processor_impl.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

du-high: add parameter to collect executor metrics from the DU-high
  apps/services/worker_manager/worker_manager.cpp
  apps/services/worker_manager/worker_manager_config.h
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config.h
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_translators.cpp
  include/srsran/du/du_high/du_high_executor_mapper.h
  include/srsran/support/executors/metrics_executor.h
  lib/du/du_high/du_high_executor_mapper.cpp
  tests/unittests/support/executors/metrics_executor_test.cpp
Due: none

du-high: fix tsan race condition in optional access
  lib/du/du_high/du_high_executor_mapper.cpp
Due: none

du-high: extend executor metrics to other non-RT executors of the DU-high
  apps/services/worker_manager/worker_manager.cpp
  apps/services/worker_manager/worker_manager_config.h
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_translators.cpp
  include/srsran/du/du_high/du_high_executor_mapper.h
  lib/du/du_high/du_high_executor_mapper.cpp
Due: none

implementation of executor decorator that collects periodic metrics
  include/srsran/support/executors/metrics_executor.h
  include/srsran/support/tracing/resource_usage.h
  tests/unittests/support/executors/CMakeLists.txt
  tests/unittests/support/executors/metrics_executor_test.cpp
Due: none

app: change configuration flags for executor metrics
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config.h
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_translators.cpp
  include/srsran/support/executors/metrics_executor.h
Due: none

sched: add unittets for SBSR with index 31 update
  tests/unittests/scheduler/ue_scheduling/ul_logical_channel_test.cpp
Due: none

timers: relax memory ordering
  lib/support/timers.cpp
Due: none

sched: review multi UE test with DCI 1_0 in SS#2
  tests/test_doubles/scheduler/scheduler_test_message_validators.cpp
  tests/test_doubles/scheduler/scheduler_test_message_validators.h
  tests/unittests/scheduler/multiple_ue_sched_test.cpp
Due: none

sched: add multi UE test with DCI 1_0 in SS#2
  tests/test_doubles/scheduler/scheduler_test_message_validators.cpp
  tests/unittests/scheduler/multiple_ue_sched_test.cpp
  tests/unittests/scheduler/ue_scheduling/ue_grid_allocator_test.cpp
Due: none

sched: extend PDSCH test suite
  tests/test_doubles/scheduler/scheduler_test_message_validators.cpp
  tests/test_doubles/scheduler/scheduler_test_message_validators.h
  tests/unittests/scheduler/test_utils/scheduler_test_suite.cpp
Due: none

RU: use explicit store method for atomic store
  lib/ru/dummy/ru_dummy_sector.h
Due: none

RU: relax some atomic ops
  lib/ru/dummy/ru_dummy_impl.cpp
  lib/ru/dummy/ru_dummy_sector.h
Due: none

ran: review PBCH/MIB packing
  include/srsran/ran/ssb/pbch_mib_message.h
  include/srsran/ran/ssb/pbch_mib_pack.h
  lib/fapi_adaptor/phy/messages/ssb.cpp
  lib/ran/ssb/pbch_mib_pack.cpp
Due: none

ran: review SSB related
  include/srsran/ran/ssb/pbch_mib_message.h
  include/srsran/ran/ssb/pbch_mib_pack.h
  lib/fapi_adaptor/phy/messages/ssb.cpp
  lib/phy/upper/channel_processors/ssb/pbch_encoder_impl.cpp
  lib/ran/ssb/pbch_mib_pack.cpp
  tests/unittests/fapi_adaptor/phy/messages/dl_ssb_pdu_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ci: reformat ram_reporter to comply pylint
  .gitlab/ci/builders/ram_reporter.py
Due: trigger builder

ci,e2e: revert gnb dl ko threshold
  tests/e2e/tests/viavi.py
Due: e2e tests tox

ran: review vrb_to_prb
  include/srsran/ran/resource_allocation/vrb_to_prb.h
  lib/ran/resource_allocation/vrb_to_prb.cpp
Due: none

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  metrics tox: any of: docker/metrics_server/**/*
  grafana version changed: any of: docker/grafana/**/*
  metrics version changed: any of: docker/metrics_server/**/*
  metrics version check in retina: any of: docker/metrics_server/**/*
  gnb docker compose: (any of: docker/scripts/**/*, docker/Dockerfile) or (any of: docker/docker-compose.yml)
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  metrics-server docker compose: any of: docker/.env, docker/metrics_server/**/*, docker/docker-compose.yml
  metrics server image: any of: docker/metrics_server/**/*
  metrics server image latest: any of: docker/metrics_server/**/*
  grafana server image: any of: docker/grafana/**/*
  grafana server image latest: any of: docker/grafana/**/*
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*
