Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, metrics tox, grafana version changed, metrics version changed, metrics version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, metrics-server docker compose, metrics server image, metrics server image latest, grafana server image, grafana server image latest, e2e request and config validation

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  metrics tox: any of: docker/metrics_server/**/*
  grafana version changed: any of: docker/grafana/**/*
  metrics version changed: any of: docker/metrics_server/**/*
  metrics version check in retina: any of: docker/metrics_server/**/*
  gnb docker compose: (any of: docker/scripts/**/*, docker/Dockerfile) or (any of: docker/docker-compose.yml)
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  metrics-server docker compose: any of: docker/.env, docker/metrics_server/**/*, docker/docker-compose.yml
  metrics server image: any of: docker/metrics_server/**/*
  metrics server image latest: any of: docker/metrics_server/**/*
  grafana server image: any of: docker/grafana/**/*
  grafana server image latest: any of: docker/grafana/**/*
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*

cu_up: add test mode routines to start/stop test mode
  include/srsran/cu_up/cu_up_manager.h
  lib/cu_up/CMakeLists.txt
  lib/cu_up/cu_up_manager_impl.cpp
  lib/cu_up/cu_up_manager_impl.h
  lib/cu_up/routines/cu_up_test_mode_routines.cpp
  lib/cu_up/routines/cu_up_test_mode_routines.h
Due: none

du: fix derivation of max number of RBs for PUCCH F2/F3
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_translators.cpp
Due: none

app: move prach executor to the DL phy worker pool
  apps/services/worker_manager/worker_manager.cpp
Due: none

phy: add upper PHY maximum PRACH concurrency parameter
  apps/units/flexible_o_du/o_du_low/du_low_config_translator.cpp
  include/srsran/phy/upper/upper_phy_factories.h
  lib/phy/upper/upper_phy_factories.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ofh: extend metrics with message transmitter stats
  apps/units/flexible_o_du/split_helpers/metrics/consumers/ru_metrics_consumers.cpp
  include/srsran/ofh/transmitter/ofh_transmitter_metrics.h
  lib/ofh/transmitter/ofh_message_transmitter_impl.cpp
  lib/ofh/transmitter/ofh_message_transmitter_impl.h
  lib/ofh/transmitter/ofh_message_transmitter_metrics_collector.h
  lib/ofh/transmitter/ofh_transmitter_impl.cpp
  lib/ofh/transmitter/ofh_transmitter_metrics_collector_impl.h
Due: none

phy: extend receive buffer expiration
  lib/phy/upper/rx_buffer_impl.h
  lib/phy/upper/rx_buffer_pool_impl.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ci,e2e: update retina to include error_indication fix
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

ofh: replace assert with a warning when PRACH with multiple time-domain occasions is configured
  lib/ofh/support/prach_context_repository.h
  lib/ofh/transmitter/ofh_uplink_request_handler_impl.cpp
Due: none

ofh: fix nan value in performance metrics
  apps/units/flexible_o_du/split_helpers/metrics/consumers/ru_metrics_consumers.cpp
Due: none

cu_cp,ngap: add nullptr check
  lib/ngap/ngap_impl.cpp
  lib/ngap/ngap_impl.h
Due: none

cu_cp,ngap: add destructor for tx pdu notifier
  lib/ngap/ngap_impl.h
Due: none

cu_cp,ngap: improve logging and documentation
  lib/ngap/ngap_asn1_packer.cpp
  lib/ngap/ngap_error_indication_helper.h
  lib/ngap/ngap_impl.cpp
  lib/ngap/procedures/ng_reset_procedure.cpp
  lib/ngap/procedures/ng_setup_procedure.cpp
  lib/ngap/procedures/ngap_handover_preparation_procedure.cpp
  lib/ngap/procedures/ngap_handover_resource_allocation_procedure.cpp
  lib/ngap/procedures/ngap_initial_context_setup_procedure.cpp
  lib/ngap/procedures/ngap_pdu_session_resource_modify_procedure.cpp
  lib/ngap/procedures/ngap_pdu_session_resource_modify_procedure.h
  lib/ngap/procedures/ngap_pdu_session_resource_release_procedure.cpp
  lib/ngap/procedures/ngap_pdu_session_resource_setup_procedure.cpp
  lib/ngap/procedures/ngap_ue_context_release_procedure.cpp
  tests/integrationtests/ngap/ngap_integration_test.cpp
  tests/unittests/ngap/ngap_asn1_packer_test.cpp
Due: none

cu_cp,ngap: refactor tx pdu notifier
  include/srsran/ngap/gateways/n2_connection_client.h
  include/srsran/ngap/ngap.h
  lib/ngap/gateways/n2_connection_client_factory.cpp
  lib/ngap/ngap_connection_handler.cpp
  lib/ngap/ngap_error_indication_helper.h
  lib/ngap/ngap_impl.cpp
  lib/ngap/ngap_impl.h
  lib/ngap/procedures/ng_reset_procedure.cpp
  lib/ngap/procedures/ng_setup_procedure.cpp
  lib/ngap/procedures/ngap_initial_context_setup_procedure.cpp
  lib/ngap/procedures/ngap_pdu_session_resource_modify_procedure.cpp
  lib/ngap/procedures/ngap_pdu_session_resource_modify_procedure.h
  lib/ngap/procedures/ngap_pdu_session_resource_release_procedure.cpp
  lib/ngap/procedures/ngap_pdu_session_resource_release_procedure.h
  lib/ngap/procedures/ngap_pdu_session_resource_setup_procedure.cpp
  lib/ngap/procedures/ngap_pdu_session_resource_setup_procedure.h
  lib/ngap/procedures/ngap_ue_context_release_procedure.cpp
  lib/ngap/procedures/ngap_ue_context_release_procedure.h
  tests/integrationtests/ngap/ngap_integration_test.cpp
  tests/unittests/cu_cp/test_doubles/mock_amf.cpp
  tests/unittests/ngap/ngap_asn1_packer_test.cpp
  tests/unittests/ngap/ngap_test_helpers.cpp
  tests/unittests/ngap/ngap_test_helpers.h
  tests/unittests/ngap/test_helpers.h
Due: none

cu_cp,ngap: reduce log level
  lib/ngap/procedures/ng_reset_procedure.cpp
Due: none

ci: update plugin reference
  .gitlab/ci/plugin_version.txt
Due: none

cu_cp,ngap: add missing check to avoid segfault
  lib/ngap/procedures/ng_setup_procedure.cpp
Due: none

FAPI: Filter empty downlink requests
  include/srsran/fapi/message_builders.h
  include/srsran/fapi/messages/dl_tti_request.h
  lib/fapi/loggers/message_loggers.cpp
  lib/fapi_adaptor/phy/fapi_to_phy_translator.cpp
  lib/ofh/transmitter/ofh_downlink_handler_impl.cpp
  lib/ofh/transmitter/ofh_uplink_request_handler_impl.cpp
  tests/unittests/fapi/message_buffering/message_bufferer_slot_gateway_impl_test.cpp
  tests/unittests/fapi/message_builder_helpers.cpp
  tests/unittests/fapi_adaptor/phy/fapi_to_phy_translator_test.cpp
  tests/unittests/ofh/transmitter/ofh_downlink_handler_impl_test.cpp
Due: none

ofh: pass the logger to the dispatchers instead of fetching it
  lib/ofh/receiver/ofh_message_receiver_task_dispatcher.h
  lib/ofh/receiver/ofh_receiver_impl.cpp
  lib/ofh/transmitter/ofh_data_flow_cplane_scheduling_commands_task_dispatcher.h
  lib/ofh/transmitter/ofh_data_flow_uplane_downlink_task_dispatcher.h
  lib/ofh/transmitter/ofh_transmitter_factories.cpp
  lib/ofh/transmitter/ofh_transmitter_impl.cpp
  lib/ofh/transmitter/ofh_transmitter_ota_symbol_task_dispatcher.h
  lib/ofh/transmitter/ofh_uplink_request_handler_task_dispatcher.cpp
  lib/ofh/transmitter/ofh_uplink_request_handler_task_dispatcher.h
Due: none

rlc: initialize timer queue on RLC benchmarks
  tests/benchmarks/rlc/CMakeLists.txt
  tests/benchmarks/rlc/rlc_am_rx_benchmark.cpp
  tests/benchmarks/rlc/rlc_handle_status_report.cpp
Due: none

phy: improve DM-RS helpers
  include/srsran/phy/upper/signal_processors/dmrs_pdsch_processor.h
  include/srsran/phy/upper/signal_processors/ptrs/ptrs_pdsch_generator.h
  lib/phy/upper/signal_processors/CMakeLists.txt
  lib/phy/upper/signal_processors/dmrs_helper.cpp
  lib/phy/upper/signal_processors/dmrs_helper.h
  lib/phy/upper/signal_processors/dmrs_pdsch_processor_impl.cpp
  lib/phy/upper/signal_processors/dmrs_pdsch_processor_impl.h
  lib/phy/upper/signal_processors/dmrs_pusch_estimator_impl.cpp
  lib/phy/upper/signal_processors/dmrs_pusch_estimator_impl.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

sched: make sched benchmarks RTSAN nonblocking
  lib/scheduler/scheduler_impl.cpp
  lib/scheduler/scheduler_impl.h
  tests/benchmarks/scheduler/CMakeLists.txt
Due: none

du-high: make du_high_benchmark RTSAN free
  lib/mac/mac_ctrl/mac_metrics_aggregator.cpp
  tests/benchmarks/du_high/CMakeLists.txt
Due: none

phy: fix potential dangling reference
  lib/phy/upper/signal_processors/dmrs_helper.cpp
  lib/phy/upper/signal_processors/dmrs_helper.h
  lib/phy/upper/signal_processors/dmrs_pdsch_processor_impl.cpp
  lib/phy/upper/signal_processors/dmrs_pusch_estimator_impl.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

adt: fix flat map test
  tests/unittests/adt/flat_map_test.cpp
Due: none

cu_cp: fix unit tests after changing HO procedure to request new UL-TEID
  lib/cu_cp/routines/mobility/mobility_helpers.cpp
  tests/unittests/cu_cp/cu_cp_inter_du_handover_test.cpp
  tests/unittests/cu_cp/cu_cp_intra_du_handover_test.cpp
  tests/unittests/e1ap/common/e1ap_cu_cp_test_messages.h
Due: none

cu_cp: request new UL TEID during intra CU handover
  lib/cu_cp/routines/mobility/intra_cu_handover_routine.cpp
  lib/cu_cp/routines/mobility/intra_cu_handover_routine.h
  lib/cu_cp/routines/mobility/mobility_helpers.cpp
  lib/cu_cp/routines/mobility/mobility_helpers.h
Due: none

du,ntn: fix handling harq for NTN with disabled harq, max data rate in DL and UL
  lib/scheduler/cell/cell_harq_manager.cpp
  lib/scheduler/common_scheduling/ra_scheduler.cpp
  lib/scheduler/slicing/inter_slice_scheduler.cpp
  lib/scheduler/slicing/ran_slice_instance.cpp
  lib/scheduler/ue_scheduling/grant_params_selector.cpp
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.cpp
  lib/scheduler/ue_scheduling/ue_fallback_scheduler.cpp
Due: none

du,harq: rename function args k1 -> ack_delay
  lib/scheduler/cell/cell_harq_manager.cpp
  lib/scheduler/cell/cell_harq_manager.h
Due: none

du,ra_sched: msg3 harq manager fetches ul harq process from alloc_history in ntn mode
  lib/scheduler/cell/cell_harq_manager.cpp
  lib/scheduler/cell/cell_harq_manager.h
  lib/scheduler/common_scheduling/ra_scheduler.cpp
Due: none

du,ntn: unify check for ntn mode in the cell harq manager
  lib/scheduler/cell/cell_harq_manager.cpp
Due: none

du,ntn,tests: fix cell harq tests for NTN with disabled HARQ
  tests/unittests/scheduler/cell/cell_harq_manager_test.cpp
Due: none

du,harq: save ntn_cs_koffset in cell_harq_manager
  lib/scheduler/cell/cell_harq_manager.cpp
  lib/scheduler/cell/cell_harq_manager.h
Due: none

ci,build: valgrind changed tests, allow to fail
  .gitlab/ci/build.yml
Due: none

du,ra_sched: make msg3 harq manager aware of the NTN cell specific koffset
  lib/scheduler/common_scheduling/ra_scheduler.cpp
Due: none

ci,e2e: update retina to change default si_period
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

ci,e2e: remove old allow failures
  .gitlab/ci/e2e.yml
Due: none

ofh: reduce number of frames for the Control-Plane pools
  lib/ofh/transmitter/ofh_transmitter_factories.cpp
Due: none

ofh: added a frame pool per data flow
  lib/ofh/transmitter/ofh_downlink_handler_impl.cpp
  lib/ofh/transmitter/ofh_downlink_handler_impl.h
  lib/ofh/transmitter/ofh_message_transmitter_impl.cpp
  lib/ofh/transmitter/ofh_message_transmitter_impl.h
  lib/ofh/transmitter/ofh_transmitter_factories.cpp
  lib/ofh/transmitter/ofh_transmitter_impl.cpp
  lib/ofh/transmitter/ofh_transmitter_impl.h
  tests/unittests/ofh/transmitter/ofh_downlink_handler_impl_test.cpp
Due: none

tests,e2e,ntn: change link delay offset
  tests/e2e/tests/ping.py
Due: e2e tests tox

tests,e2e: extend iperf test to support ntn
  tests/e2e/tests/iperf.py
  tests/e2e/tests/steps/stub.py
Due: e2e tests tox
