Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke pretty printers cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, smoke pretty printers clean, tox python in builder, grafana version changed, telegraf version changed, telegraf version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb and telegraf docker compose, telegraf image, telegraf image latest, grafana image, grafana image latest, e2e request and config validation

Path conditions:
  trigger builder: any of: .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*, docker/scripts/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv,py,toml}, docker/**/Dockerfile, .gdbinit
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke pretty printers cached: any of: include/srsran/adt/**/*, tests/utils/gdb/pretty_printers/*, .gdbinit
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke pretty printers clean: any of: include/srsran/adt/**/*, tests/utils/gdb/pretty_printers/*, .gdbinit
  tox python in builder: any of: .gitlab/ci/builders/**/*.py
  grafana version changed: any of: docker/grafana/**/*
  telegraf version changed: any of: docker/telegraf/**/*
  telegraf version check in retina: any of: docker/telegraf/**/*
  gnb docker compose: (any of: docker/scripts/**/*, docker/Dockerfile) or (any of: docker/docker-compose.yml)
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.ui.yml
  influxdb and telegraf docker compose: any of: docker/.env, docker/telegraf/**/*, docker/docker-compose.ui.yml
  telegraf image: any of: docker/telegraf/**/*
  telegraf image latest: any of: docker/telegraf/**/*
  grafana image: any of: docker/grafana/**/*
  grafana image latest: any of: docker/grafana/**/*
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*

srsvec: add missing scalar product function and upgrade test
  include/srsran/srsvec/sc_prod.h
  lib/srsvec/sc_prod.cpp
  tests/unittests/srsvec/CMakeLists.txt
  tests/unittests/srsvec/srsvec_sc_prod_test.cpp
Due: none

sched: remove conflicting csi report config parameter
  lib/scheduler/config/csi_helper.cpp
Due: none

UHD: Improve and simplify stopping logic
  lib/radio/uhd/radio_config_uhd_validator.cpp
  lib/radio/uhd/radio_uhd_device.h
  lib/radio/uhd/radio_uhd_device_type.h
  lib/radio/uhd/radio_uhd_exception_handler.h
  lib/radio/uhd/radio_uhd_impl.cpp
  lib/radio/uhd/radio_uhd_impl.h
  lib/radio/uhd/radio_uhd_rx_stream.cpp
  lib/radio/uhd/radio_uhd_rx_stream.h
  lib/radio/uhd/radio_uhd_tx_stream.cpp
  lib/radio/uhd/radio_uhd_tx_stream.h
  lib/radio/uhd/radio_uhd_tx_stream_fsm.h
Due: none

sched: use flat_map in dl_logical_channel_system
  include/srsran/adt/flat_map.h
  include/srsran/adt/static_flat_map.h
  include/srsran/adt/static_vector.h
  lib/scheduler/ue_context/dl_logical_channel_system.cpp
  lib/scheduler/ue_context/dl_logical_channel_system.h
  tests/unittests/adt/static_vector_test.cpp
Due: smoke pretty printers cached, smoke pretty printers clean

sched: fix management of pending (slice,ue) bitsets in dl_logical_channel_system
  lib/scheduler/ue_context/dl_logical_channel_system.cpp
  tests/unittests/scheduler/ue_context/dl_logical_channel_system_test.cpp
Due: none

sched: use additional bitset logical_channel_system to determine which UEs are configured
  include/srsran/adt/flat_map.h
  lib/scheduler/ue_context/dl_logical_channel_system.cpp
  lib/scheduler/ue_context/dl_logical_channel_system.h
  tests/unittests/scheduler/ue_context/dl_logical_channel_system_test.cpp
Due: smoke pretty printers cached, smoke pretty printers clean

adt: added comment to bounded_bitset
  include/srsran/adt/bounded_bitset.h
  lib/scheduler/ue_context/ue_repository.cpp
Due: smoke pretty printers cached, smoke pretty printers clean

sched: use bitset to quickly probe which UEs have pending data for a given slice
  lib/scheduler/ue_context/dl_logical_channel_system.cpp
  lib/scheduler/ue_context/dl_logical_channel_system.h
  lib/scheduler/ue_context/ue_repository.cpp
  lib/scheduler/ue_context/ue_repository.h
  lib/scheduler/ue_scheduling/intra_slice_scheduler.cpp
  lib/scheduler/ue_scheduling/intra_slice_scheduler.h
  tests/unittests/scheduler/ue_context/dl_logical_channel_system_test.cpp
Due: none

sched: add ue_index in logical channel system
  lib/scheduler/ue_context/dl_logical_channel_system.cpp
  lib/scheduler/ue_context/dl_logical_channel_system.h
  lib/scheduler/ue_context/ue_repository.cpp
  tests/unittests/scheduler/ue_context/dl_logical_channel_system_test.cpp
  tests/unittests/scheduler/ue_scheduling/ta_manager_test.cpp
Due: none

sched: update slice ue repository interface to fetch logical system-wide methods
  lib/scheduler/slicing/inter_slice_scheduler.cpp
  lib/scheduler/slicing/inter_slice_scheduler.h
  lib/scheduler/slicing/ran_slice_instance.cpp
  lib/scheduler/slicing/ran_slice_instance.h
  lib/scheduler/slicing/slice_ue_repository.cpp
  lib/scheduler/slicing/slice_ue_repository.h
  lib/scheduler/ue_context/ue_repository.cpp
  lib/scheduler/ue_context/ue_repository.h
  lib/scheduler/ue_scheduling/intra_slice_scheduler.cpp
  lib/scheduler/ue_scheduling/intra_slice_scheduler.h
  tests/unittests/scheduler/slicing/slice_ue_repository_test.cpp
  tests/unittests/scheduler/ue_scheduling/ue_grid_allocator_test.cpp
Due: none

sched: add test to ensure scheduler does not allocate grants that are too small to fit RLC header
  tests/unittests/scheduler/ue_context/dl_logical_channel_system_test.cpp
Due: none

sched: handle bitmaps representing (slice,UE) with pending data
  include/srsran/adt/bounded_bitset.h
  lib/scheduler/ue_context/dl_logical_channel_system.cpp
  lib/scheduler/ue_context/dl_logical_channel_system.h
Due: smoke pretty printers cached, smoke pretty printers clean

instrumentation: automatically set the TRACY_ENABLE flag if TRACY usage is requested and use it for including the tracy header and enabling tracy macros
  CMakeLists.txt
  external/CMakeLists.txt
  include/srsran/instrumentation/traces/tracy_profiler.h
  lib/instrumentation/CMakeLists.txt
  lib/support/CMakeLists.txt
Due: none

apps: add initial support to optionally use the tracy profiler
  CMakeLists.txt
  external/CMakeLists.txt
  include/srsran/support/tracing/tracy_profiler.h
  lib/pdcp/pdcp_entity_tx.cpp
  lib/support/CMakeLists.txt
Due: none

instrumentation: move tracy_profiler.h to instrumentation folder
  CMakeLists.txt
  include/srsran/instrumentation/traces/tracy_profiler.h
  lib/instrumentation/CMakeLists.txt
  lib/pdcp/pdcp_entity_tx.cpp
  lib/support/CMakeLists.txt
Due: none

instrumentation: only change the include dirs if tracy is enabled
  external/CMakeLists.txt
  lib/instrumentation/CMakeLists.txt
Due: none

sched: add PRACH scheduler vector test
  lib/scheduler/common_scheduling/prach_scheduler.cpp
  lib/scheduler/common_scheduling/prach_scheduler.h
  tests/unittests/scheduler/common_scheduling/CMakeLists.txt
  tests/unittests/scheduler/common_scheduling/prach_scheduler_test_data.h
  tests/unittests/scheduler/common_scheduling/prach_scheduler_vectortest.cpp
Due: none

Add missing depencency to UHD library
  lib/radio/uhd/CMakeLists.txt
Due: none

ntn, validator: make si_window_position required for sibtype >= 15
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_validator.cpp
  apps/units/flexible_o_du/split_helpers/flexible_o_du_factory.cpp
  include/srsran/ntn/ntn_configuration_manager_config.h
Due: none

sched: rename dl_logical_channel_system to logical_channel_system and rename associated methods
  lib/scheduler/slicing/slice_ue_repository.cpp
  lib/scheduler/slicing/slice_ue_repository.h
  lib/scheduler/ue_context/CMakeLists.txt
  lib/scheduler/ue_context/logical_channel_system.cpp
  lib/scheduler/ue_context/logical_channel_system.h
  lib/scheduler/ue_context/ta_manager.cpp
  lib/scheduler/ue_context/ta_manager.h
  lib/scheduler/ue_context/ue.cpp
  lib/scheduler/ue_context/ue.h
  lib/scheduler/ue_context/ue_repository.cpp
  lib/scheduler/ue_context/ue_repository.h
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.cpp
  lib/scheduler/ue_scheduling/ue_fallback_scheduler.cpp
  tests/unittests/scheduler/ue_context/dl_logical_channel_system_test.cpp
  tests/unittests/scheduler/ue_scheduling/fallback_scheduler_test.cpp
  tests/unittests/scheduler/ue_scheduling/ta_manager_test.cpp
  tests/unittests/scheduler/ue_scheduling/ue_configuration_test.cpp
Due: none

sched: update comments and other small improvements in the logical_channel_system
  lib/scheduler/ue_context/logical_channel_system.cpp
  lib/scheduler/ue_context/logical_channel_system.h
  lib/scheduler/ue_context/ue.cpp
  tests/unittests/scheduler/ue_context/logical_channel_system_test.cpp
  tests/unittests/scheduler/ue_scheduling/ta_manager_test.cpp
Due: none

sched: replace ul_logical_channel_manager by logical_channel_system
  lib/scheduler/slicing/slice_ue_repository.cpp
  lib/scheduler/slicing/slice_ue_repository.h
  lib/scheduler/ue_context/CMakeLists.txt
  lib/scheduler/ue_context/logical_channel_system.cpp
  lib/scheduler/ue_context/logical_channel_system.h
  lib/scheduler/ue_context/ue.cpp
  lib/scheduler/ue_context/ue.h
  lib/scheduler/ue_context/ue_drx_controller.cpp
  lib/scheduler/ue_context/ue_drx_controller.h
  lib/scheduler/ue_context/ue_repository.cpp
  lib/scheduler/ue_context/ue_repository.h
  lib/scheduler/ue_context/ul_logical_channel_manager.cpp
  lib/scheduler/ue_context/ul_logical_channel_manager.h
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.cpp
  lib/scheduler/ue_scheduling/ue_fallback_scheduler.cpp
  tests/unittests/scheduler/ue_context/ue_drx_controller_test.cpp
  tests/unittests/scheduler/ue_scheduling/fallback_scheduler_test.cpp
  tests/unittests/scheduler/ue_scheduling/ta_manager_test.cpp
  tests/unittests/scheduler/ue_scheduling/ue_cell_test.cpp
  tests/unittests/scheduler/ue_scheduling/ue_configuration_test.cpp
Due: none

sched: unit tests for UL side of logical_channel_system
  lib/scheduler/ue_context/logical_channel_system.cpp
  lib/scheduler/ue_context/logical_channel_system.h
  tests/unittests/scheduler/ue_context/CMakeLists.txt
  tests/unittests/scheduler/ue_context/logical_channel_system_test.cpp
  tests/unittests/scheduler/ue_scheduling/CMakeLists.txt
  tests/unittests/scheduler/ue_scheduling/ul_logical_channel_test.cpp
Due: none

sched: extend logical_channel_system to handle UL logical channel groups
  lib/scheduler/ue_context/logical_channel_system.cpp
  lib/scheduler/ue_context/logical_channel_system.h
Due: none

du, config: correct logic for checking ascening order of si-WindowPosition
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_validator.cpp
Due: none

cu_cp,rrc: add unit test for ue release on rrc setup failure
  tests/unittests/cu_cp/cu_cp_ue_context_release_test.cpp
Due: none

cu_cp,rrc: fix ue release on rrc setup failure
  lib/cu_cp/cu_cp_impl.cpp
  lib/cu_cp/routines/ue_amf_context_release_request_routine.cpp
  lib/cu_cp/routines/ue_amf_context_release_request_routine.h
  lib/cu_cp/routines/ue_transaction_info_release_routine.cpp
Due: none

e2e: increases parallel iperf tests for 64 ue test
  tests/e2e/tests/iperf.py
Due: e2e tests tox

ci: only save test logs in smoke valgrind jobs
  .gitlab/ci/build.yml
Due: none

radio: event notifier interface renaming and type simplification
  apps/examples/radio/radio_notifier_sample.h
  include/srsran/radio/radio_event_notifier.h
  include/srsran/radio/radio_factory.h
  include/srsran/radio/radio_notification_handler.h
  include/srsran/radio/radio_session.h
  lib/radio/plugin_radio_factory.cpp
  lib/radio/uhd/radio_uhd_baseband_gateway.h
  lib/radio/uhd/radio_uhd_device.h
  lib/radio/uhd/radio_uhd_impl.cpp
  lib/radio/uhd/radio_uhd_impl.h
  lib/radio/uhd/radio_uhd_rx_stream.cpp
  lib/radio/uhd/radio_uhd_rx_stream.h
  lib/radio/uhd/radio_uhd_tx_stream.cpp
  lib/radio/uhd/radio_uhd_tx_stream.h
  lib/radio/zmq/radio_factory_zmq_impl.cpp
  lib/radio/zmq/radio_factory_zmq_impl.h
  lib/radio/zmq/radio_session_zmq_impl.cpp
  lib/radio/zmq/radio_session_zmq_impl.h
  lib/radio/zmq/radio_zmq_baseband_gateway.h
  lib/radio/zmq/radio_zmq_rx_channel.cpp
  lib/radio/zmq/radio_zmq_rx_channel.h
  lib/radio/zmq/radio_zmq_rx_stream.cpp
  lib/radio/zmq/radio_zmq_rx_stream.h
  lib/radio/zmq/radio_zmq_tx_channel.cpp
  lib/radio/zmq/radio_zmq_tx_channel.h
  lib/radio/zmq/radio_zmq_tx_stream.cpp
  lib/radio/zmq/radio_zmq_tx_stream.h
  lib/ru/sdr/ru_factory_sdr_impl.cpp
  lib/ru/sdr/ru_radio_event_handler.h
  lib/ru/sdr/ru_radio_metrics_collector.cpp
  lib/ru/sdr/ru_radio_metrics_collector.h
  lib/ru/sdr/ru_sdr_impl.h
  tests/unittests/radio/zmq/radio_zmq_loopback_test.cpp
  tests/unittests/radio/zmq/radio_zmq_validator_test.cpp
  utils/trx_srsran/trx_srsran.cpp
  utils/trx_srsran/trx_srsran_test.cpp
Due: none

ofh: fix rx window metrics
  lib/ofh/receiver/ofh_rx_window_checker.cpp
Due: none

metrics: fix alignment of stdout metrics header
  apps/units/flexible_o_du/o_du_high/du_high/metrics/consumers/scheduler_metrics_consumers.cpp
Due: none

phy: fix prach iq dump
  lib/phy/upper/upper_phy_rx_symbol_handler_printer_decorator.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

examples: add zero-hardware 5G SA beginner config
  examples/5g_sa_beginner_config.toml
  examples/README.md
Due: none

docs: add 3MHz bandwidth & 1024QAM beginner guide (#1428)
  docs/3mhz-bandwidth-1024qam-beginner-guide.md
Due: none

cmake: also search ROHC library in custom install path ROHC_DIR
  CMakeLists.txt
  cmake/modules/FindROHC.cmake
Due: none

docker: add ROHC library to builder (ubuntu/debian)
  .gitlab/ci/builders/version.yml
  docker/Dockerfile
  docker/scripts/build_rohc.sh
  docker/scripts/builder.sh
  docker/scripts/install_rohc_dependencies.sh
Due: trigger builder, trigger docker, gnb docker compose

ci: extend debian/ubuntu dockerfiles to use rohc
  .gitlab/ci/builders/debian-rtsan/Dockerfile
  .gitlab/ci/builders/debian/Dockerfile
Due: trigger builder

ci: add ROHC builder job and dependency
  .gitlab/ci/builders.yml
Due: trigger builder

ci: print exported ROHC_DIR and add to LD_LIBRARY_PATH
  .gitlab/ci-shared/build.yml
  docker/scripts/builder.sh
Due: trigger builder, trigger docker, gnb docker compose
