Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, e2e request and config validation

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  gnb docker compose: any of: .gitlab/ci/builders/install_dependencies.sh, .gitlab/ci/builders/builder.sh, docker/Dockerfile, docker/docker-compose.yml
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*

sched: add check to avoid remaining 1-4 RBs to be left free during UL grant allocation
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.cpp
Due: none

sched: fix assertion due to access to invalid ue_index
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.cpp
Due: none

sched: add function to postprocess scheduling slot decisions
  lib/scheduler/ue_context/ue_cell.h
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.cpp
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.h
  lib/scheduler/ue_scheduling/ue_scheduler_impl.cpp
  tests/unittests/scheduler/ue_scheduling/ue_grid_allocator_test.cpp
Due: none

changelog: add entry for new version
  CHANGELOG
Due: none

ci,e2e: fix ru dummy not crash criteria
  tests/e2e/tests/test_mode.py
Due: e2e tests tox

sched: fix UL QoS in the scheduler
  lib/scheduler/policy/scheduler_time_pf.cpp
  lib/scheduler/policy/scheduler_time_pf.h
  tests/unittests/scheduler/scheduler_qos_test.cpp
Due: none

sched: extend sched QoS unit test to UL
  include/srsran/scheduler/result/pusch_info.h
  lib/scheduler/logging/scheduler_result_logger.cpp
  lib/scheduler/support/sch_pdu_builder.cpp
  tests/unittests/fapi_adaptor/mac/messages/helpers.cpp
  tests/unittests/scheduler/scheduler_qos_test.cpp
  tests/unittests/scheduler/test_utils/indication_generators.cpp
  tests/unittests/scheduler/test_utils/indication_generators.h
Due: none

sched: fix DL GBR QoS handling
  lib/scheduler/policy/scheduler_time_pf.cpp
  lib/scheduler/policy/scheduler_time_pf.h
  tests/unittests/scheduler/CMakeLists.txt
  tests/unittests/scheduler/scheduler_qos_test.cpp
  tests/unittests/scheduler/test_utils/indication_generators.cpp
Due: none

sched: code format
  tests/unittests/scheduler/test_utils/indication_generators.h
Due: none

phy: refactor downlink processor
  include/srsran/gateways/baseband/baseband_gateway_base.h
  include/srsran/ofh/ethernet/dpdk/dpdk_ethernet_rx_buffer.h
  include/srsran/phy/upper/downlink_processor.h
  include/srsran/phy/upper/unique_rx_buffer.h
  include/srsran/phy/upper/upper_phy_factories.h
  include/srsran/radio/radio_base.h
  include/srsran/ran/precoding/precoding_weight_matrix.h
  lib/fapi_adaptor/phy/fapi_to_phy_translator.cpp
  lib/fapi_adaptor/phy/fapi_to_phy_translator.h
  lib/phy/upper/downlink_processor_pool_impl.cpp
  lib/phy/upper/downlink_processor_pool_impl.h
  lib/phy/upper/downlink_processor_single_executor_impl.cpp
  lib/phy/upper/downlink_processor_single_executor_impl.h
  lib/phy/upper/upper_phy_factories.cpp
  tests/unittests/fapi_adaptor/phy/fapi_to_phy_translator_test.cpp
  tests/unittests/phy/upper/downlink_processor_pool_test.cpp
  tests/unittests/phy/upper/downlink_processor_test.cpp
  tests/unittests/phy/upper/downlink_processor_test_doubles.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy: fix downlink processor for multicell
  include/srsran/phy/upper/downlink_processor.h
  include/srsran/phy/upper/upper_phy_factories.h
  lib/fapi_adaptor/phy/fapi_to_phy_translator.cpp
  lib/phy/upper/downlink_processor_pool_impl.cpp
  lib/phy/upper/downlink_processor_pool_impl.h
  lib/phy/upper/upper_phy_factories.cpp
  tests/unittests/fapi_adaptor/phy/fapi_to_phy_translator_test.cpp
  tests/unittests/phy/upper/CMakeLists.txt
  tests/unittests/phy/upper/downlink_processor_pool_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

cu_cp,ngap: add gbr qos flow info conversion
  lib/ngap/ngap_asn1_converters.h
  lib/ngap/ngap_asn1_helpers.h
Due: none

phy, ch estimator: minor refactor
  lib/phy/upper/signal_processors/port_channel_estimator_average_impl.cpp
  lib/phy/upper/signal_processors/port_channel_estimator_average_impl.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy, ch estimator: minor refactor
  lib/phy/upper/signal_processors/port_channel_estimator_average_impl.cpp
  lib/phy/upper/signal_processors/port_channel_estimator_helpers.cpp
  lib/phy/upper/signal_processors/port_channel_estimator_helpers.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

pusch: update capabilities to four layers
  lib/phy/upper/channel_processors/pusch/pusch_processor_impl.h
  tests/benchmarks/phy/upper/channel_processors/pusch/pusch_processor_benchmark.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy: simplify channel estimates
  include/srsran/phy/upper/channel_estimation.h
  include/srsran/phy/upper/pucch_formats3_4_helpers.h
  lib/phy/upper/channel_processors/pucch/pucch_demodulator_format2.cpp
  lib/phy/upper/channel_processors/pusch/pusch_demodulator_impl.cpp
  lib/phy/upper/signal_processors/port_channel_estimator_average_impl.cpp
  tests/unittests/phy/upper/channel_processors/pusch/pusch_demodulator_vectortest.cpp
  tests/unittests/phy/upper/signal_processors/dmrs_pusch_estimator_test.cpp
  tests/unittests/phy/upper/signal_processors/port_channel_estimator_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

tests, ch estimator: new set of test vectors
  tests/unittests/phy/upper/signal_processors/dmrs_pusch_estimator_test_data.h
  tests/unittests/phy/upper/signal_processors/dmrs_pusch_estimator_test_data.tar.gz
  tests/unittests/phy/upper/signal_processors/port_channel_estimator_test.cpp
  tests/unittests/phy/upper/signal_processors/port_channel_estimator_test_data.h
  tests/unittests/phy/upper/signal_processors/port_channel_estimator_test_data.tar.gz
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

asn1: fix for byte buffer to uint64_t helper
  lib/asn1/asn1_utils.cpp
Due: none

simd: new *= operator
  include/srsran/srsvec/simd.h
Due: none

phy, equalizer: simplify 1xn case
  lib/phy/upper/equalization/channel_equalizer_generic_impl.cpp
  lib/phy/upper/equalization/equalize_mmse_1xn.h
  tests/unittests/phy/upper/equalization/channel_equalizer_test_data.h
  tests/unittests/phy/upper/equalization/channel_equalizer_test_data.tar.gz
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

tests, phy: update pdcch test vectors
  tests/unittests/phy/upper/channel_processors/pdcch/pdcch_processor_test_data.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

Revert last UL grant extension feature
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.cpp
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.h
Due: none

mac: test pucch allocation with f1 and f3
  tests/unittests/scheduler/uci_and_pucch/CMakeLists.txt
  tests/unittests/scheduler/uci_and_pucch/pucch_alloc_base_tester.h
  tests/unittests/scheduler/uci_and_pucch/pucch_alloc_ded_resources_test.cpp
  tests/unittests/scheduler/uci_and_pucch/pucch_alloc_format_3_test.cpp
  tests/unittests/scheduler/uci_and_pucch/uci_test_utils.cpp
  tests/unittests/scheduler/uci_and_pucch/uci_test_utils.h
Due: none

mac: add comment for NOF_RBS
  tests/unittests/scheduler/uci_and_pucch/pucch_alloc_base_tester.h
Due: none

mac: remove harq f1 allocation test cases from pucch_alloc_format_3_test.cpp
  tests/unittests/scheduler/uci_and_pucch/pucch_alloc_format_3_test.cpp
Due: none

mac: prepare pucch test_bench for testing formats 3 and 4
  tests/unittests/scheduler/uci_and_pucch/pucch_alloc_common_harq_test.cpp
  tests/unittests/scheduler/uci_and_pucch/pucch_alloc_harq_sr_csi_test.cpp
  tests/unittests/scheduler/uci_and_pucch/uci_test_utils.cpp
  tests/unittests/scheduler/uci_and_pucch/uci_test_utils.h
Due: none

mac: fix memcheck for pucch_alloc_format_3_test
  tests/unittests/scheduler/uci_and_pucch/pucch_alloc_format_3_test.cpp
Due: none

mac: improve pucch_alloc_format_3_test comments and modify test cases
  tests/unittests/scheduler/uci_and_pucch/pucch_alloc_format_3_test.cpp
Due: none

mac: review test pucch allocation with f1 and f3
  tests/unittests/scheduler/uci_and_pucch/pucch_alloc_common_harq_test.cpp
  tests/unittests/scheduler/uci_and_pucch/uci_test_utils.cpp
Due: none

phy: fix concurrency handling to support older GCC versions
  lib/phy/upper/channel_processors/pusch/logging_pusch_processor_decorator.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

cu_cp,e1ap: fix documentation
  include/srsran/e1ap/common/e1ap_types.h
  lib/cu_cp/routines/pdu_session_routine_helpers.cpp
  lib/e1ap/common/e1ap_asn1_converters.h
  lib/e1ap/cu_cp/e1ap_cu_cp_asn1_helpers.h
Due: none

cu_cp,e1ap: add gbr qos flow info to converter
  include/srsran/e1ap/common/e1ap_types.h
  lib/cu_cp/routines/pdu_session_routine_helpers.cpp
  lib/e1ap/common/e1ap_asn1_converters.h
  lib/e1ap/cu_cp/e1ap_cu_cp_asn1_helpers.h
Due: none

ci,infra: disable metrics server in viavi tests
  .gitlab/ci/e2e/retina_request_viavi.yml
  tests/e2e/tests/viavi.py
Due: e2e tests tox, e2e request and config validation

ci: increase expire time
  .gitlab/ci/build.yml
Due: none

ci: update retina with du stubs
  .gitlab/ci/e2e/.env
  tests/e2e/tests/steps/stub.py
Due: e2e tests tox, e2e request and config validation

ci,viavi: update max pdschs and puschs per slot
  tests/e2e/tests/viavi/test_declaration.yml
  tests/e2e/tests/viavi/test_declaration_debug.yml
Due: e2e tests tox, e2e request and config validation

docker: support clang compiler
  docker/Dockerfile
Due: trigger docker, gnb docker compose

Update fmt library to v11.1.2
  external/fmt/include/fmt/args.h
  external/fmt/include/fmt/base.h
  external/fmt/include/fmt/chrono.h
  external/fmt/include/fmt/color.h
  external/fmt/include/fmt/compile.h
  external/fmt/include/fmt/format-inl.h
  external/fmt/include/fmt/format.h
  external/fmt/include/fmt/os.h
  external/fmt/include/fmt/ostream.h
  external/fmt/include/fmt/printf.h
  external/fmt/include/fmt/ranges.h
  external/fmt/include/fmt/std.h
  external/fmt/include/fmt/xchar.h
  external/fmt/src/format.cc
  external/fmt/src/os.cc
  include/srsran/srslog/detail/log_backend.h
Due: none

flexible_odu: pass the DU cell config to the split6 plugin
  apps/units/flexible_o_du/split_6/split6_o_du_application_unit_impl.cpp
  apps/units/flexible_o_du/split_6/split6_plugin.h
Due: none
