Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, metrics tox, grafana version changed, metrics version changed, metrics version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, metrics-server docker compose, metrics server image, metrics server image latest, grafana server image, grafana server image latest, e2e request and config validation

trigger builder:
  stage: ci
  trigger:
    include: .gitlab/ci/builders.yml
    strategy: depend

trigger docker:
  stage: ci
  trigger:
    include: .gitlab/ci/docker.yml
    strategy: depend
  variables:
    PY_DIR: docker/metrics_server

e2e tests tox:
  stage: static
  variables:
    PY_DIR: tests/e2e
  before_script:
  - apk add build-base

smoke avx512 cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm neon cached:
  stage: manual
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke avx512 clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

smoke arm neon clean:
  stage: build and unit tests
  needs:
  - job: builder version
    optional: false
    artifacts: true
  - job: trigger builder
    optional: true
    artifacts: false
  script:
  ...

metrics tox:
  stage: static
  variables:
    GIT_LFS_SKIP_SMUDGE: 1

grafana version changed:
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
  stage: static
  script:
  - NEW_VERSION=$(cat docker/grafana/version.yml | grep SRS_GRAFANA_VERSION | cut -d'"' -f2)
  - export NEW_VERSION
  - "git checkout $CI_MERGE_REQUEST_DIFF_BASE_SHA\nif [ ! -e \"docker/grafana/version.yml\" ]; then\n    exit 0\nfi\n"
  ...

metrics version changed:
  stage: static
  variables:
    GIT_LFS_SKIP_SMUDGE: 1

metrics version check in retina:
  stage: static
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
  script:
  - 'VERSION_IN_PYPROJECT=$(cat docker/metrics_server/pyproject.toml | grep ''^version'' | cut -d''"'' -f2)
  
    VERSION_IN_RETINA=$(cat .gitlab/ci/e2e/.env | grep METRICS_SERVER_VERSION | cut -d''='' -f2)
  
  ...

gnb docker compose:
  stage: compose
  image: docker:24.0.7-dind
  tags:
  - amd64-avx2
  timeout: 2h
  retry: 2
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
    KUBERNETES_CPU_REQUEST: ${SRS_CPU_LIMIT}
    KUBERNETES_CPU_LIMIT: ${SRS_CPU_LIMIT}
    KUBERNETES_MEMORY_REQUEST: ${SRS_MEMORY_LIMIT}
    KUBERNETES_MEMORY_LIMIT: ${SRS_MEMORY_LIMIT}
  ...

metrics server image:
  stage: publish
  variables:
    GIT_LFS_SKIP_SMUDGE: 1
    REGISTRY_URI: $GITLAB_REGISTRY_URI
    NAME: metrics_server
    CONTEXT: ${CI_PROJECT_DIR}/docker/metrics_server
    MODE: publish
  before_script:
  - 'export VERSION=$(cat ${CONTEXT}/pyproject.toml | grep ''^version'' | cut -d''"'' -f2)
  
    '

du-low: limit max batch size of DU-low task fork limiters
  include/srsran/support/executors/strand_executor.h
  lib/du/du_low/du_low_executor_mapper.cpp
Due: none

du-low: increase PDSCH encoding task priority
  apps/services/worker_manager/worker_manager.cpp
Due: none

e2e: apply the same grant limits to all VIAVI tests
  .gitlab/ci/e2e/.env
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation

phy: review lower PHY number of PRACH processing instances
  apps/examples/phy/radio_ssb.cpp
  apps/units/flexible_o_du/split_8/helpers/ru_sdr_config_translator.cpp
  include/srsran/phy/lower/lower_phy_configuration.h
  include/srsran/ru/generic/ru_generic_configuration.h
  lib/ru/generic/lower_phy/lower_phy_factory.cpp
  lib/ru/generic/lower_phy/lower_phy_factory.h
  lib/ru/generic/ru_factory_generic_impl.cpp
  tests/unittests/phy/lower/lower_phy_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ci: allow KOs in HO noise test
  tests/e2e/tests/handover.py
  tests/e2e/tests/steps/configuration.py
Due: e2e tests tox

worker_manager: changed split 6 executor
  apps/services/worker_manager/worker_manager.cpp
Due: none

mac: fix forward declaration
  lib/mac/mac_dl/paging_pdu_assembler.h
Due: none

mac: fix malloc in paging PDU assembler!
  include/srsran/asn1/asn1_utils.h
  lib/mac/mac_dl/paging_pdu_assembler.cpp
  lib/mac/mac_dl/paging_pdu_assembler.h
Due: none

Exclude assertions and error handling from RTSAN
  include/srsran/support/error_handling.h
  include/srsran/support/srsran_assert.h
Due: none

srsvec: improve documentation
  include/srsran/srsvec/accumulate.h
  include/srsran/srsvec/add.h
  include/srsran/srsvec/circ_shift.h
  include/srsran/srsvec/copy.h
  include/srsran/srsvec/prod.h
  include/srsran/srsvec/sc_prod.h
  include/srsran/srsvec/subtract.h
Due: none

srsvec: refactor conversion functions
  include/srsran/srsvec/conversion.h
  lib/ofh/compression/quantizer.h
  lib/srsvec/conversion.cpp
  tests/unittests/srsvec/srsvec_convert_test.cpp
Due: none

srsvec: refactor binary functions
  include/srsran/srsvec/binary.h
  lib/phy/upper/channel_processors/pdcch/pdcch_encoder_impl.cpp
  tests/unittests/srsvec/srsvec_binary_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ci: update arch container
  .gitlab/ci/builders/archlinux/Dockerfile
Due: trigger builder

ci: update lib version
  .gitlab/ci/builders.yml
Due: trigger builder

mac: fix mac_metrics_aggregator::pop_report when all cells have been deactivated
  lib/mac/mac_ctrl/mac_metrics_aggregator.cpp
Due: none

app_helpers: export valdiate_fp_value to metrics helpers
  apps/helpers/metrics/helpers.h
  apps/helpers/metrics/json_generators/CMakeLists.txt
  apps/helpers/metrics/json_generators/cu_up/CMakeLists.txt
  apps/helpers/metrics/json_generators/cu_up/pdcp.cpp
  apps/helpers/metrics/json_generators/du_high/CMakeLists.txt
  apps/helpers/metrics/json_generators/du_high/mac.cpp
  apps/helpers/metrics/json_generators/du_high/rlc.cpp
  apps/helpers/metrics/json_generators/du_high/scheduler.cpp
  apps/helpers/metrics/json_generators/generator_helpers.h
  apps/helpers/metrics/json_generators/helpers.h
  apps/helpers/metrics/json_generators/o_du_low.cpp
  apps/helpers/metrics/json_generators/ru/CMakeLists.txt
  apps/helpers/metrics/json_generators/ru/ofh.cpp
  apps/units/flexible_o_du/split_6/o_du_low/metrics/split6_flexible_o_du_low_metrics_builder.cpp
  apps/units/flexible_o_du/split_6/o_du_low/metrics/split6_flexible_o_du_low_metrics_builder.h
  apps/units/flexible_o_du/split_6/o_du_low/metrics/split6_flexible_o_du_low_metrics_consumers.h
  apps/units/flexible_o_du/split_helpers/metrics/consumers/o_du_low_metrics_consumers.cpp
  apps/units/flexible_o_du/split_helpers/metrics/consumers/ru_metrics_consumers.cpp
  apps/units/flexible_o_du/split_helpers/metrics/consumers/ru_metrics_consumers.h
  apps/units/flexible_o_du/split_helpers/metrics/flexible_o_du_metrics_builder.cpp
  apps/units/flexible_o_du/split_helpers/metrics/flexible_o_du_metrics_builder.h
  apps/units/flexible_o_du/split_helpers/metrics/flexible_o_du_metrics_consumers.h
  docker/telegraf/telegraf.conf
  include/srsran/ofh/receiver/ofh_receiver_metrics.h
  include/srsran/phy/support/support_formatters.h
  lib/ofh/ofh_metrics_collector_impl.cpp
  lib/ofh/receiver/CMakeLists.txt
  lib/ofh/receiver/ofh_rx_window_checker.cpp
  lib/ofh/receiver/ofh_rx_window_checker.h
  lib/ofh/receiver/ofh_uplane_prach_symbol_data_flow_writer.cpp
  lib/ofh/timing/ofh_timing_metrics_collector_impl.cpp
  lib/ofh/timing/ofh_timing_metrics_collector_impl.h
  lib/ru/ofh/ru_ofh_metrics_collector_impl.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ofh: added metrics for the timing worker and the closed reception window handler
  apps/units/flexible_o_du/split_helpers/metrics/consumers/ru_metrics_consumers.cpp
  include/srsran/ofh/ofh_metrics.h
  include/srsran/ofh/receiver/ofh_receiver_metrics.h
  include/srsran/ofh/timing/ofh_timing_manager.h
  include/srsran/ofh/timing/ofh_timing_metrics.h
  include/srsran/ofh/timing/ofh_timing_metrics_collector.h
  lib/ofh/receiver/ofh_closed_rx_window_handler.cpp
  lib/ofh/receiver/ofh_closed_rx_window_handler.h
  lib/ofh/receiver/ofh_receiver_impl.cpp
  lib/ofh/receiver/ofh_receiver_metrics_collector_impl.h
  lib/ofh/timing/CMakeLists.txt
  lib/ofh/timing/ofh_timing_manager_impl.cpp
  lib/ofh/timing/ofh_timing_manager_impl.h
  lib/ofh/timing/ofh_timing_metrics_collector_impl.cpp
  lib/ofh/timing/ofh_timing_metrics_collector_impl.h
  lib/ofh/timing/realtime_timing_worker.cpp
  lib/ofh/timing/realtime_timing_worker.h
  lib/ru/ofh/ru_ofh_impl.cpp
  lib/ru/ofh/ru_ofh_metrics_collector_impl.cpp
  lib/ru/ofh/ru_ofh_metrics_collector_impl.h
Due: none

ofh: added metrics for the OFH messages that were created after the tx window closed
  apps/helpers/metrics/json_generators/ru/ofh.cpp
  apps/units/flexible_o_du/split_6/o_du_low/metrics/split6_flexible_o_du_low_metrics_builder.cpp
  apps/units/flexible_o_du/split_6/o_du_low/metrics/split6_flexible_o_du_low_metrics_builder.h
  apps/units/flexible_o_du/split_6/o_du_low/metrics/split6_flexible_o_du_low_metrics_consumers.h
  apps/units/flexible_o_du/split_6/o_du_low/split6_o_du_low_application_unit_impl.cpp
  apps/units/flexible_o_du/split_helpers/flexible_o_du_factory.cpp
  apps/units/flexible_o_du/split_helpers/metrics/consumers/ru_metrics_consumers.cpp
  apps/units/flexible_o_du/split_helpers/metrics/consumers/ru_metrics_consumers.h
  apps/units/flexible_o_du/split_helpers/metrics/flexible_o_du_metrics_builder.cpp
  apps/units/flexible_o_du/split_helpers/metrics/flexible_o_du_metrics_builder.h
  apps/units/flexible_o_du/split_helpers/metrics/flexible_o_du_metrics_consumers.h
  include/srsran/ofh/ethernet/ethernet_frame_pool.h
  include/srsran/ofh/receiver/ofh_receiver_metrics.h
  include/srsran/ofh/transmitter/ofh_transmitter_metrics.h
  lib/ofh/receiver/ofh_data_flow_uplane_uplink_data.h
  lib/ofh/receiver/ofh_data_flow_uplane_uplink_prach.h
  lib/ofh/receiver/ofh_rx_window_checker.cpp
  lib/ofh/receiver/ofh_rx_window_checker.h
  lib/ofh/timing/ofh_timing_metrics_collector_impl.cpp
  lib/ofh/transmitter/ofh_downlink_handler_impl.cpp
  lib/ofh/transmitter/ofh_downlink_handler_metrics_collector.h
  lib/ofh/transmitter/ofh_uplink_request_handler_impl.cpp
  lib/ofh/transmitter/ofh_uplink_request_handler_metrics_collector.h
Due: none

ofh: added metrics for eCPRI skipped and dropped messages and for the dropped messages in the data flows decoders. Dropped warning to info in the logs for these metrics
  apps/units/flexible_o_du/split_helpers/metrics/consumers/ru_metrics_consumers.cpp
  include/srsran/ofh/receiver/ofh_receiver_data_flow_metrics.h
  include/srsran/ofh/receiver/ofh_receiver_metrics.h
  lib/ofh/receiver/ofh_closed_rx_window_handler.cpp
  lib/ofh/receiver/ofh_data_flow_uplane_decoding_metrics_collector.h
  lib/ofh/receiver/ofh_data_flow_uplane_uplink_data.h
  lib/ofh/receiver/ofh_data_flow_uplane_uplink_data_impl.cpp
  lib/ofh/receiver/ofh_data_flow_uplane_uplink_data_impl.h
  lib/ofh/receiver/ofh_data_flow_uplane_uplink_prach.h
  lib/ofh/receiver/ofh_data_flow_uplane_uplink_prach_impl.cpp
  lib/ofh/receiver/ofh_data_flow_uplane_uplink_prach_impl.h
  lib/ofh/receiver/ofh_message_receiver_impl.cpp
  lib/ofh/receiver/ofh_message_receiver_metrics_collector.h
  lib/ofh/receiver/ofh_receiver_factories.cpp
  lib/ofh/receiver/ofh_uplane_prach_symbol_data_flow_writer.cpp
  lib/ofh/receiver/ofh_uplane_prach_symbol_data_flow_writer.h
  lib/ofh/receiver/ofh_uplane_rx_symbol_data_flow_writer.cpp
  lib/ofh/receiver/ofh_uplane_rx_symbol_data_flow_writer.h
  lib/ofh/transmitter/ofh_downlink_handler_impl.cpp
  lib/ofh/transmitter/ofh_uplink_request_handler_impl.cpp
  tests/unittests/ofh/receiver/ofh_message_receiver_test.cpp
Due: none

phy: fix data race in PDSCH and PUSCH processors
  lib/phy/metrics/phy_metrics_pdsch_processor_decorator.h
  lib/phy/metrics/phy_metrics_pusch_processor_decorator.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

fapi: update FAPI config request to specify frequency reference for the frequencies. app_units: remove band from DU low configuration
  apps/units/flexible_o_du/split_6/o_du_low/split6_constants.h
  apps/units/flexible_o_du/split_6/o_du_low/split6_flexible_o_du_low_session_factory.cpp
  apps/units/flexible_o_du/split_8/helpers/ru_sdr_config_translator.cpp
  apps/units/flexible_o_du/split_dynamic/dynamic_o_du_translators.cpp
  apps/units/flexible_o_du/split_helpers/flexible_o_du_configs.h
  apps/units/flexible_o_du/split_helpers/flexible_o_du_factory.cpp
  include/srsran/fapi/messages/config_request_tlvs.h
  include/srsran/ran/band_helper.h
  lib/ran/band_helper.cpp
Due: none

WS: Disconnect remote sink from server on shutdown
  apps/services/remote_control/remote_server.cpp
Due: none

ru: set the initial SFN to zero if a start time is given
  apps/examples/phy/radio_ssb.cpp
  include/srsran/phy/lower/lower_phy_controller.h
  lib/phy/lower/lower_phy_baseband_processor.cpp
  lib/phy/lower/lower_phy_baseband_processor.h
  lib/phy/lower/lower_phy_impl.h
  lib/radio/uhd/radio_uhd_impl.cpp
  lib/ru/generic/ru_controller_generic_impl.cpp
  tests/unittests/phy/lower/lower_phy_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ci: allow more warnings in handover test with noise
  tests/e2e/tests/handover.py
Due: e2e tests tox

e2e: change from "MARKERS" to "KEYWORDS"y
  .gitlab/ci/e2e.yml
Due: none

ci: test action attest
  .github/workflows/docker.yml
Due: none

phy: fix transform precoder factory
  lib/phy/generic_functions/transform_precoding/transform_precoding_factories.cpp
  tests/unittests/phy/generic_functions/transform_precoding/transform_precoder_vectortest.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

tmp
  .github/workflows/docker.yml
Due: none

fapi_adaptor: remove downlink processor dummy
  lib/fapi_adaptor/phy/fapi_to_phy_translator.cpp
  lib/fapi_adaptor/phy/fapi_to_phy_translator.h
Due: none

keyless
  .github/workflows/docker.yml
Due: none

ci: update dpdk versions
  .gitlab/ci/build.yml
  .gitlab/ci/builders.yml
  .gitlab/ci/builders/archlinux/Dockerfile
  .gitlab/ci/e2e/.env
  .gitlab/run_viavi_pipeline.py
Due: trigger builder, e2e request and config validation

ci: update retina
  .gitlab/ci/e2e/.env
  docker/telegraf/version.yml
Due: trigger docker, e2e request and config validation

ci: attest github images
  .github/workflows/docker.yml
Due: none

ci: attest srsran images
  .gitlab-ci.yml
  .gitlab/ci-shared/template.yml
  .gitlab/ci/builders.yml
  .gitlab/ci/docker.yml
  .gitlab/ci/e2e.yml
  .gitlab/ci/release.yml
  .gitlab/ci/trx.yml
Due: trigger builder, trigger docker

mac: separate metrics for RLC-lower execution and MAC cell execution
  include/srsran/du/du_high/du_high_executor_mapper.h
  lib/du/du_high/du_high_executor_mapper.cpp
  lib/du/du_high/du_manager/converters/rlc_config_helpers.cpp
  lib/mac/mac_dl/mac_dl_processor.cpp
  tests/unittests/du_manager/du_manager_test_helpers.h
  tests/unittests/mac/mac_ctrl_test_dummies.h
Due: none

gnb: increase main pool thread priority
  apps/services/worker_manager/worker_manager.cpp
Due: none

rtsan nonblocking implies noexcept
  include/srsran/support/executors/concurrent_metrics_executor.h
  include/srsran/support/executors/sequential_metrics_executor.h
  lib/fapi/message_buffering/message_bufferer_slot_gateway_task_dispatcher.cpp
  lib/ofh/timing/realtime_timing_worker.cpp
  lib/ofh/timing/realtime_timing_worker.h
  lib/ofh/transmitter/ofh_data_flow_cplane_scheduling_commands_task_dispatcher.h
  lib/ofh/transmitter/ofh_data_flow_uplane_downlink_task_dispatcher.h
  lib/ofh/transmitter/ofh_transmitter_ota_symbol_task_dispatcher.h
  lib/ofh/transmitter/ofh_uplink_request_handler_task_dispatcher.cpp
  lib/phy/support/resource_grid_pool_impl.cpp
  lib/phy/upper/channel_processors/pdsch/pdsch_processor_flexible_impl.cpp
  lib/phy/upper/downlink_processor_multi_executor_impl.cpp
  lib/phy/upper/uplink_processor_impl.cpp
  tests/benchmarks/phy/upper/channel_processors/pdsch_processor_benchmark.cpp
  tests/benchmarks/phy/upper/channel_processors/pusch/pusch_processor_benchmark.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

gnb: log main worker pool instantiation
  apps/services/worker_manager/worker_manager.cpp
  include/srsran/support/executors/task_execution_manager.h
Due: none

gnb: use bitmask to limit nof workers of the main pool
  apps/gnb/gnb_appconfig_yaml_writer.cpp
  apps/services/worker_manager/worker_manager.cpp
Due: none

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  metrics tox: any of: docker/metrics_server/**/*
  grafana version changed: any of: docker/grafana/**/*
  metrics version changed: any of: docker/metrics_server/**/*
  metrics version check in retina: any of: docker/metrics_server/**/*
  gnb docker compose: (any of: docker/scripts/**/*, docker/Dockerfile) or (any of: docker/docker-compose.yml)
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  metrics-server docker compose: any of: docker/.env, docker/metrics_server/**/*, docker/docker-compose.yml
  metrics server image: any of: docker/metrics_server/**/*
  metrics server image latest: any of: docker/metrics_server/**/*
  grafana server image: any of: docker/grafana/**/*
  grafana server image latest: any of: docker/grafana/**/*
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*
