Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, metrics tox, grafana version changed, metrics version changed, metrics version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, metrics-server docker compose, metrics server image, metrics server image latest, grafana server image, grafana server image latest, e2e request and config validation

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  metrics tox: any of: docker/metrics_server/**/*
  grafana version changed: any of: docker/grafana/**/*
  metrics version changed: any of: docker/metrics_server/**/*
  metrics version check in retina: any of: docker/metrics_server/**/*
  gnb docker compose: (any of: docker/scripts/**/*, docker/Dockerfile) or (any of: docker/docker-compose.yml)
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  metrics-server docker compose: any of: docker/.env, docker/metrics_server/**/*, docker/docker-compose.yml
  metrics server image: any of: docker/metrics_server/**/*
  metrics server image latest: any of: docker/metrics_server/**/*
  grafana server image: any of: docker/grafana/**/*
  grafana server image latest: any of: docker/grafana/**/*
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*

sched: two stages for intra slice DL scheduling
  lib/scheduler/ue_context/ue_cell.h
  lib/scheduler/ue_context/ue_link_adaptation_controller.cpp
  lib/scheduler/ue_scheduling/grant_params_selector.cpp
  lib/scheduler/ue_scheduling/grant_params_selector.h
  lib/scheduler/ue_scheduling/intra_slice_scheduler.cpp
  lib/scheduler/ue_scheduling/intra_slice_scheduler.h
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.cpp
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.h
  tests/unittests/scheduler/policy/scheduler_policy_test.cpp
  tests/unittests/scheduler/ue_scheduling/ue_grid_allocator_test.cpp
Due: none

sched: fix check that the limit of RBs is valid for HARQ retx
  lib/scheduler/ue_scheduling/grant_params_selector.cpp
Due: none

ofh: removed broadcast workaround
  .gitlab/ci/e2e/.env
  apps/units/flexible_o_du/split_7_2/helpers/ru_ofh_config.h
  apps/units/flexible_o_du/split_7_2/helpers/ru_ofh_config_cli11_schema.cpp
  apps/units/flexible_o_du/split_7_2/helpers/ru_ofh_config_translator.cpp
  apps/units/flexible_o_du/split_7_2/helpers/ru_ofh_config_validator.cpp
  apps/units/flexible_o_du/split_7_2/helpers/ru_ofh_config_yaml_writer.cpp
  configs/gnb_ru_ran550_tdd_n78_20mhz.yml
  include/srsran/ofh/ofh_sector_config.h
  include/srsran/ofh/transmitter/ofh_transmitter_configuration.h
  lib/ofh/ofh_factories.cpp
  lib/ofh/transmitter/CMakeLists.txt
  lib/ofh/transmitter/ofh_downlink_handler_broadcast_impl.cpp
  lib/ofh/transmitter/ofh_downlink_handler_broadcast_impl.h
  lib/ofh/transmitter/ofh_downlink_manager.h
  lib/ofh/transmitter/ofh_downlink_manager_broadcast_impl.cpp
  lib/ofh/transmitter/ofh_downlink_manager_broadcast_impl.h
  lib/ofh/transmitter/ofh_downlink_manager_impl.cpp
  lib/ofh/transmitter/ofh_downlink_manager_impl.h
  lib/ofh/transmitter/ofh_transmitter_factories.cpp
  lib/ofh/transmitter/ofh_transmitter_impl.cpp
  lib/ofh/transmitter/ofh_transmitter_impl.h
  lib/ru/ofh/ru_ofh_config_validator.cpp
  lib/ru/ofh/ru_ofh_factory.cpp
  tests/integrationtests/ofh/ofh_integration_test.cpp
Due: e2e request and config validation

ci: fix load release variables
  .gitlab/ci/release.yml
Due: none

ci,e2e: increase report period in long test
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation

phy: aggregate PUCCH F1 receptions
  include/srsran/phy/upper/channel_processors/pucch/formatters.h
  include/srsran/phy/upper/channel_processors/pucch/pucch_format1_map.h
  include/srsran/phy/upper/channel_processors/pucch/pucch_processor.h
  include/srsran/ran/pucch/pucch_constants.h
  lib/phy/upper/channel_processors/pucch/factories.cpp
  lib/phy/upper/channel_processors/pucch/logging_pucch_processor_decorator.h
  lib/phy/upper/channel_processors/pucch/pucch_processor_impl.cpp
  lib/phy/upper/channel_processors/pucch/pucch_processor_impl.h
  lib/phy/upper/channel_processors/pucch/pucch_processor_pool.h
  lib/phy/upper/uplink_pdu_slot_repository_impl.h
  lib/phy/upper/uplink_processor_impl.cpp
  lib/phy/upper/uplink_processor_impl.h
  tests/benchmarks/phy/upper/channel_processors/pucch/pucch_processor_benchmark.cpp
  tests/unittests/phy/upper/channel_processors/pucch/pucch_processor_format1_unittest.cpp
  tests/unittests/phy/upper/channel_processors/pucch/pucch_processor_format1_vectortest.cpp
  tests/unittests/phy/upper/channel_processors/pucch/pucch_processor_test_doubles.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy: fix PUCCH Format 1 batch processing
  lib/phy/upper/channel_processors/pucch/logging_pucch_processor_decorator.h
  lib/phy/upper/uplink_pdu_slot_repository_impl.h
  lib/phy/upper/uplink_processor_impl.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy: remove mallocs and blocking calls in PDSCH and PUSCH processors
  include/srsran/support/memory_pool/concurrent_thread_local_object_pool.h
  lib/phy/upper/channel_processors/pdsch/pdsch_block_processor_impl.cpp
  lib/phy/upper/channel_processors/pdsch/pdsch_block_processor_impl.h
  lib/phy/upper/channel_processors/pdsch/pdsch_processor_flexible_impl.h
  lib/phy/upper/channel_processors/pusch/pusch_decoder_impl.cpp
  lib/phy/upper/channel_processors/pusch/pusch_decoder_impl.h
  lib/phy/upper/channel_processors/pusch/pusch_processor_pool.h
  tests/benchmarks/phy/upper/channel_processors/pdsch_processor_benchmark.cpp
  tests/benchmarks/phy/upper/channel_processors/pusch/pusch_processor_benchmark.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

pdcp: fix tx/rx benchmark logging
  tests/benchmarks/pdcp/pdcp_rx_benchmark.cpp
  tests/benchmarks/pdcp/pdcp_tx_benchmark.cpp
Due: none

ci: fix valgrind changed tests with new plugin ci
  .gitlab/ci/build.yml
Due: none

phy: fix uplink processor tear-down issues
  lib/phy/upper/uplink_pdu_slot_repository_impl.h
  lib/phy/upper/uplink_processor_impl.cpp
  tests/unittests/phy/upper/uplink_processor_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy: review doc
  lib/phy/upper/uplink_pdu_slot_repository_impl.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

cu_cp,f1ap: add unit test helpers for positioning measurement
  tests/test_doubles/f1ap/f1ap_test_message_validators.cpp
  tests/test_doubles/f1ap/f1ap_test_message_validators.h
  tests/test_doubles/f1ap/f1ap_test_messages.cpp
  tests/test_doubles/f1ap/f1ap_test_messages.h
Due: none

cu_cp,nrppa,f1ap: add preparations for positioning measurement handling
  include/srsran/cu_cp/positioning_messages.h
  include/srsran/f1ap/cu_cp/f1ap_nrppa_msg_handling.h
  include/srsran/ran/positioning/common.h
  include/srsran/ran/positioning/measurement_information.h
  include/srsran/ran/positioning/positioning_information_exchange.h
  include/srsran/ran/positioning/trp_information_exchange.h
  lib/cu_cp/adapters/nrppa_adapters.h
  lib/f1ap/cu_cp/f1ap_cu_impl.cpp
  lib/f1ap/cu_cp/f1ap_cu_impl.h
  lib/f1ap/cu_cp/procedures/f1ap_cu_event_manager.h
  lib/f1ap/f1ap_asn1_utils.h
Due: none

cu_cp,nrppa,f1ap: use existing type in positioning message
  include/srsran/ran/positioning/common.h
Due: none

ci: update plugin reference
  .gitlab/ci/plugin_version.txt
Due: none

ofh: remove set_error_interface from the interfaces
  include/srsran/ofh/ofh_sector.h
  include/srsran/ofh/ofh_sector_config.h
  include/srsran/ofh/transmitter/ofh_downlink_handler.h
  include/srsran/ofh/transmitter/ofh_transmitter.h
  include/srsran/ofh/transmitter/ofh_transmitter_configuration.h
  include/srsran/ofh/transmitter/ofh_uplink_request_handler.h
  lib/ofh/ofh_factories.cpp
  lib/ofh/ofh_sector_impl.cpp
  lib/ofh/ofh_sector_impl.h
  lib/ofh/transmitter/ofh_downlink_handler_impl.cpp
  lib/ofh/transmitter/ofh_downlink_handler_impl.h
  lib/ofh/transmitter/ofh_transmitter_factories.cpp
  lib/ofh/transmitter/ofh_transmitter_factories.h
  lib/ofh/transmitter/ofh_transmitter_impl.cpp
  lib/ofh/transmitter/ofh_transmitter_impl.h
  lib/ofh/transmitter/ofh_uplink_request_handler_impl.cpp
  lib/ofh/transmitter/ofh_uplink_request_handler_impl.h
  lib/ru/ofh/ru_ofh_controller_impl.cpp
  lib/ru/ofh/ru_ofh_controller_impl.h
  lib/ru/ofh/ru_ofh_downlink_plane_handler_proxy.h
  lib/ru/ofh/ru_ofh_factory.cpp
  lib/ru/ofh/ru_ofh_impl.cpp
  lib/ru/ofh/ru_ofh_impl.h
  lib/ru/ofh/ru_ofh_metrics_collector_impl.h
  lib/ru/ofh/ru_ofh_uplink_plane_handler_proxy.h
  tests/unittests/ofh/transmitter/ofh_downlink_handler_impl_test.cpp
  tests/unittests/ofh/transmitter/ofh_uplink_request_handler_impl_test.cpp
Due: none

ci: fix get plugin dependency
  .gitlab-ci.yml
  .gitlab/ci/build.yml
Due: none

mac: minor log and metric fixes
  apps/units/flexible_o_du/o_du_high/du_high/metrics/du_high_scheduler_cell_metrics_consumers.cpp
  lib/mac/mac_dl/mac_cell_processor.cpp
  lib/scheduler/logging/scheduler_result_logger.cpp
Due: none

e2e: first draft for 64 UEs test
  .gitlab/ci/e2e.yml
  tests/e2e/pyproject.toml
  tests/e2e/tests/iperf.py
Due: e2e tests tox

e2e: split iperf.py in 2 files
  tests/e2e/tests/iperf.py
  tests/e2e/tests/steps/iperf_steps.py
Due: e2e tests tox

e2e: allow amariue 64 ues test to fail
  .gitlab/ci/e2e.yml
  tests/e2e/tests/iperf.py
  tests/e2e/tests/steps/iperf_helpers.py
  tests/e2e/tests/steps/iperf_steps.py
Due: e2e tests tox

ci: add ubuntu 25.04 support
  .gitlab/ci/build.yml
  .gitlab/ci/builders.yml
  .gitlab/ci/builders/debian/Dockerfile
Due: trigger builder

ci: support new dpdk and uhd versions
  .gitlab/ci/build.yml
  .gitlab/ci/builders.yml
Due: trigger builder

phy,sched: review short block detector and guarantee systematic detection for the highest rates
  include/srsran/ran/uci/uci_info.h
  lib/phy/upper/channel_coding/short/short_block_encoder_impl.cpp
  lib/scheduler/support/mcs_tbs_calculator.cpp
  lib/scheduler/support/mcs_tbs_calculator.h
  tests/unittests/phy/upper/channel_coding/short/CMakeLists.txt
  tests/unittests/phy/upper/channel_coding/short/short_block_chain_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

sched: review MCS TBS calculator
  lib/scheduler/support/mcs_tbs_calculator.cpp
  lib/scheduler/support/mcs_tbs_calculator.h
Due: none

ci,e2e: put 1h manual and refactor jobs
  .gitlab/ci/e2e.yml
Due: none

adt: fix naming to snake case
  include/srsran/adt/triple_buffer_atomic.h
Due: none

adt: rename triple_buffer_atomic -> lockfree_triple_buffer
  include/srsran/adt/lockfree_triple_buffer.h
  tests/unittests/adt/CMakeLists.txt
  tests/unittests/adt/lockfree_triple_buffer_test.cpp
Due: none

sched: avoid overflows in unit tests when DL buffer state is too high
  lib/scheduler/ue_context/dl_logical_channel_manager.h
Due: none

phy: fix uplink processor stop while accepting PDUs
  lib/phy/upper/uplink_pdu_slot_repository_impl.h
  tests/unittests/phy/upper/uplink_processor_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy: add TB size in log
  lib/phy/upper/uplink_processor_impl.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

f1ap-du: procedure for cell activation via f1ap gnb-cu context update
  include/srsran/du/du_high/du_manager/du_manager.h
  include/srsran/f1ap/common/interface_management.h
  include/srsran/f1ap/du/f1ap_du.h
  include/srsran/f1ap/du/f1ap_du_connection_manager.h
  lib/du/du_high/adapters/f1ap_adapters.h
  lib/du/du_high/du_manager/du_manager_impl.cpp
  lib/du/du_high/du_manager/du_manager_impl.h
  lib/du/du_high/du_manager/procedures/CMakeLists.txt
  lib/du/du_high/du_manager/procedures/cu_context_update_procedure.cpp
  lib/du/du_high/du_manager/procedures/cu_context_update_procedure.h
  lib/f1ap/du/f1ap_du_impl.cpp
  lib/f1ap/du/procedures/gnb_cu_configuration_update_procedure.cpp
  lib/f1ap/du/procedures/gnb_cu_configuration_update_procedure.h
  tests/unittests/f1ap/du/f1ap_du_test_helpers.h
Due: none

f1ap-du: unit test for f1ap gnb-cu config update
  tests/test_doubles/f1ap/f1ap_test_message_validators.cpp
  tests/test_doubles/f1ap/f1ap_test_message_validators.h
  tests/test_doubles/f1ap/f1ap_test_messages.cpp
  tests/test_doubles/f1ap/f1ap_test_messages.h
  tests/unittests/f1ap/du/CMakeLists.txt
  tests/unittests/f1ap/du/f1ap_du_gnbcu_config_update_test.cpp
  tests/unittests/f1ap/du/f1ap_du_test_helpers.h
Due: none

f1ap-du: extend unit test for f1ap gnb-cu config update
  include/srsran/du/du_high/du_manager/du_manager.h
  include/srsran/f1ap/du/f1ap_du_connection_manager.h
  include/srsran/support/async/async_no_op_task.h
  lib/du/du_high/adapters/f1ap_adapters.h
  lib/du/du_high/du_manager/du_cell_manager.cpp
  lib/du/du_high/du_manager/du_cell_manager.h
  lib/du/du_high/du_manager/du_manager_impl.cpp
  lib/du/du_high/du_manager/du_manager_impl.h
  lib/du/du_high/du_manager/procedures/cu_context_update_procedure.cpp
  lib/du/du_high/du_manager/procedures/cu_context_update_procedure.h
  lib/f1ap/du/procedures/gnb_cu_configuration_update_procedure.cpp
  lib/f1ap/du/procedures/gnb_cu_configuration_update_procedure.h
  tests/test_doubles/f1ap/f1ap_test_message_validators.cpp
  tests/test_doubles/f1ap/f1ap_test_message_validators.h
  tests/unittests/f1ap/du/f1ap_du_gnbcu_config_update_test.cpp
  tests/unittests/f1ap/du/f1ap_du_test_helpers.h
Due: none

sched: add al_cqi_offset parameter
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config.h
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_translators.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_yaml_writer.cpp
  include/srsran/scheduler/config/scheduler_expert_config.h
  lib/scheduler/ue_context/ue_cell.cpp
Due: none

sched: remove get_min_modulation_scheme_per_aggr_lvl
  lib/scheduler/support/pdcch_aggregation_level_calculator.cpp
Due: none

sched: improve AL calculator documentation
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config.h
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_schema.cpp
  include/srsran/ran/pdcch/pdcch_constants.h
  lib/scheduler/support/pdcch_aggregation_level_calculator.cpp
  lib/scheduler/support/pdcch_aggregation_level_calculator.h
  lib/scheduler/ue_context/ue_cell.cpp
Due: none
