Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, metrics tox, grafana version changed, metrics version changed, metrics version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, metrics-server docker compose, metrics server image, metrics server image latest, grafana server image, grafana server image latest, e2e request and config validation

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  metrics tox: any of: docker/metrics_server/**/*
  grafana version changed: any of: docker/grafana/**/*
  metrics version changed: any of: docker/metrics_server/**/*
  metrics version check in retina: any of: docker/metrics_server/**/*
  gnb docker compose: (any of: docker/scripts/**/*, docker/Dockerfile) or (any of: docker/docker-compose.yml)
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  metrics-server docker compose: any of: docker/.env, docker/metrics_server/**/*, docker/docker-compose.yml
  metrics server image: any of: docker/metrics_server/**/*
  metrics server image latest: any of: docker/metrics_server/**/*
  grafana server image: any of: docker/grafana/**/*
  grafana server image latest: any of: docker/grafana/**/*
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*

sched: use fair PDSCH distribution across slots heuristic only during newTxs
  lib/scheduler/ue_scheduling/intra_slice_scheduler.cpp
  lib/scheduler/ue_scheduling/intra_slice_scheduler.h
Due: none

app_unit: actually start metrics log based on the configured parameter
  apps/services/cmdline/stdout_metrics_command.cpp
Due: none

phy: fix uplink processor receive symbol in wrong order
  lib/phy/upper/uplink_pdu_slot_repository_impl.h
  lib/phy/upper/uplink_processor_impl.cpp
  tests/unittests/phy/upper/uplink_processor_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

du-high: add integration test for cell restart
  lib/du/du_high/du_manager/procedures/cu_configuration_procedure.cpp
  tests/integrationtests/du_high/du_high_many_cells_test.cpp
Due: none

du-high: add unit test for deactivation of cells
  tests/integrationtests/du_high/du_high_many_cells_test.cpp
  tests/test_doubles/f1ap/f1ap_test_messages.cpp
  tests/test_doubles/f1ap/f1ap_test_messages.h
Due: none

sched: remove cell from cell list in sched adapter
  lib/mac/mac_sched/srsran_scheduler_adapter.cpp
Due: none

sched: implementation of scheduler cell start/stop interface
  include/srsran/scheduler/scheduler_configurator.h
  lib/mac/mac_dl/mac_cell_processor.cpp
  lib/mac/mac_dl/mac_scheduler_cell_info_handler.h
  lib/mac/mac_sched/srsran_scheduler_adapter.h
  lib/scheduler/cell_scheduler.cpp
  lib/scheduler/cell_scheduler.h
  lib/scheduler/config/du_cell_group_config_pool.cpp
  lib/scheduler/config/du_cell_group_config_pool.h
  lib/scheduler/scheduler_impl.cpp
  lib/scheduler/scheduler_impl.h
  tests/unittests/mac/mac_test_helpers.h
Due: none

sched: implementation of scheduler cell removal interface
  include/srsran/scheduler/scheduler_configurator.h
  lib/mac/mac_ctrl/mac_scheduler_configurator.h
  lib/mac/mac_sched/srsran_scheduler_adapter.cpp
  lib/mac/mac_sched/srsran_scheduler_adapter.h
  lib/scheduler/config/sched_config_manager.cpp
  lib/scheduler/config/sched_config_manager.h
  lib/scheduler/scheduler_impl.cpp
  lib/scheduler/scheduler_impl.h
  tests/benchmarks/scheduler/scheduler_test_doubles.h
  tests/unittests/mac/mac_ctrl_test_dummies.h
  tests/unittests/mac/mac_test_helpers.h
  tests/unittests/scheduler/test_utils/config_generators.cpp
  tests/unittests/scheduler/test_utils/dummy_test_components.h
Due: none

mac: rename methods for cell activation/deactivation
  include/srsran/scheduler/scheduler_configurator.h
  lib/mac/mac_sched/srsran_scheduler_adapter.cpp
  lib/mac/mac_sched/srsran_scheduler_adapter.h
  lib/scheduler/config/sched_config_manager.cpp
  lib/scheduler/scheduler_impl.cpp
  lib/scheduler/scheduler_impl.h
  tests/benchmarks/scheduler/scheduler_test_doubles.h
  tests/unittests/mac/mac_cell_processor_test.cpp
  tests/unittests/mac/mac_ctrl_test_dummies.h
  tests/unittests/mac/mac_test_helpers.h
  tests/unittests/scheduler/test_utils/config_generators.cpp
  tests/unittests/scheduler/test_utils/dummy_test_components.h
Due: none

sched: fix mac cell processor test
  tests/unittests/mac/mac_cell_processor_test.cpp
  tests/unittests/mac/mac_test_helpers.h
Due: none

sched: make scheduler cell removal not an awaitable
  include/srsran/scheduler/scheduler_configurator.h
  lib/mac/mac_ctrl/mac_scheduler_configurator.h
  lib/mac/mac_sched/srsran_scheduler_adapter.cpp
  lib/mac/mac_sched/srsran_scheduler_adapter.h
  lib/scheduler/cell_scheduler.h
  lib/scheduler/config/sched_config_manager.cpp
  lib/scheduler/config/sched_config_manager.h
  lib/scheduler/logging/scheduler_metrics_handler.cpp
  lib/scheduler/logging/scheduler_metrics_handler.h
  lib/scheduler/scheduler_impl.cpp
  lib/scheduler/scheduler_impl.h
  lib/scheduler/ue_scheduling/ue_event_manager.cpp
  lib/scheduler/ue_scheduling/ue_event_manager.h
  lib/scheduler/ue_scheduling/ue_scheduler.h
  lib/scheduler/ue_scheduling/ue_scheduler_impl.cpp
  lib/scheduler/ue_scheduling/ue_scheduler_impl.h
  tests/benchmarks/scheduler/scheduler_test_doubles.h
  tests/unittests/mac/mac_ctrl_test_dummies.h
  tests/unittests/scheduler/test_utils/config_generators.cpp
  tests/unittests/scheduler/test_utils/dummy_test_components.h
Due: none

du-high: implementation of cell deactivation via gnb-cu configuration update
  include/srsran/f1ap/du/f1ap_du_connection_manager.h
  include/srsran/f1ap/du/f1ap_du_ue_context_update.h
  lib/du/du_high/du_manager/du_manager_impl.cpp
  lib/du/du_high/du_manager/du_ue/du_ue.h
  lib/du/du_high/du_manager/du_ue/du_ue_controller_impl.cpp
  lib/du/du_high/du_manager/procedures/CMakeLists.txt
  lib/du/du_high/du_manager/procedures/cu_configuration_procedure.cpp
  lib/du/du_high/du_manager/procedures/cu_configuration_procedure.h
  lib/du/du_high/du_manager/procedures/cu_context_update_procedure.cpp
  lib/f1ap/du/f1ap_du_impl.cpp
  lib/f1ap/du/procedures/gnb_cu_configuration_update_procedure.cpp
  tests/integrationtests/du_high/du_high_many_cells_test.cpp
  tests/integrationtests/du_high/test_utils/du_high_env_simulator.cpp
  tests/test_doubles/f1ap/f1ap_test_message_validators.cpp
  tests/test_doubles/f1ap/f1ap_test_message_validators.h
  tests/unittests/du_manager/du_ue/ue_manager_test.cpp
Due: none

ci: delay weekly viavi jobs except longest one
  .gitlab/ci/e2e.yml
Due: none

ci: skip retina cleanup on weekend
  .gitlab/ci/e2e.yml
Due: none

ci,e2e: ignore post stop warning
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation

ci: save logs on weekly sanitizers
  .gitlab/ci/build.yml
Due: none

ci: reschedule weekend pipelines
  .gitlab/ci/schedules.yml
Due: none

ofh: clear slot repo context on stop
  lib/ofh/ofh_sector_controller.cpp
  lib/ofh/ofh_sector_controller.h
  lib/ofh/ofh_sector_impl.h
  lib/ofh/support/uplink_context_repository.h
Due: none

ci: fix test_ru_16cell_50ue config
  tests/e2e/tests/test_mode/config_ru_16cell_50ue.yml
Due: e2e tests tox

phy: improve pucch_format1_map
  include/srsran/phy/upper/channel_processors/pucch/pucch_format1_map.h
  include/srsran/phy/upper/channel_processors/pucch/pucch_processor.h
  lib/phy/upper/channel_processors/pucch/logging_pucch_processor_decorator.h
  lib/phy/upper/channel_processors/pucch/pucch_processor_impl.cpp
  lib/phy/upper/uplink_pdu_slot_repository_impl.h
  lib/phy/upper/uplink_processor_impl.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy: new pucch f1 detector
  include/srsran/phy/upper/channel_processors/pucch/factories.h
  include/srsran/phy/upper/channel_processors/pucch/pucch_detector.h
  lib/phy/upper/channel_processors/pucch/factories.cpp
  lib/phy/upper/channel_processors/pucch/pucch_detector_format1.cpp
  lib/phy/upper/channel_processors/pucch/pucch_detector_format1.h
  lib/phy/upper/channel_processors/pucch/pucch_detector_impl.h
  lib/phy/upper/upper_phy_factories.cpp
  tests/benchmarks/phy/upper/channel_processors/pucch/pucch_processor_benchmark.cpp
  tests/unittests/phy/upper/channel_processors/pucch/pucch_detector_test.cpp
  tests/unittests/phy/upper/channel_processors/pucch/pucch_detector_test_doubles.h
  tests/unittests/phy/upper/channel_processors/pucch/pucch_processor_test_fixture.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

du: review default beta offsets
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config.h
Due: none

phy: review short block detector
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config.h
  lib/phy/upper/channel_coding/short/short_block_detector_impl.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

sched: fix UL retx RBs derivation
  lib/scheduler/ue_scheduling/grant_params_selector.cpp
Due: none

sched: ensure TBS is valid for PUSCH reTxs
  lib/scheduler/support/mcs_tbs_calculator.cpp
  lib/scheduler/support/mcs_tbs_calculator.h
  lib/scheduler/ue_scheduling/grant_params_selector.cpp
Due: none

sched: extend scheduler test suite to verify correctness of computed TBS
  include/srsran/scheduler/result/pusch_info.h
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.cpp
  tests/test_doubles/scheduler/scheduler_test_message_validators.cpp
Due: none

add consts
  lib/scheduler/support/mcs_tbs_calculator.cpp
Due: none

ci,e2e: reduce logs in rtsan job
  .gitlab/ci/e2e.yml
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation

ci,e2e: reduce traffic in attach-detach test
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation

sched: fix wrong computation of pendign HARQ-ACK bits and DAI in UL retx grants
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.cpp
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.h
Due: none

sched: fix failing unit test
  tests/unittests/scheduler/policy/scheduler_policy_test.cpp
Due: none

sched: change time round-robin priority computation
  lib/scheduler/policy/scheduler_time_rr.cpp
  lib/scheduler/policy/scheduler_time_rr.h
Due: none

cpu_resource_service: changed build interface to pass the logger instead of fetching it
  apps/cu/cu.cpp
  apps/du/du.cpp
  apps/gnb/gnb.cpp
  apps/services/app_resource_usage/app_resource_usage.cpp
  apps/services/app_resource_usage/app_resource_usage.h
Due: none

ci,e2e: skip testmode 16cell with sanitizers
  .gitlab/ci/e2e.yml
Due: none

ci: update retina
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

ofh,compression: verify all required CPU features are supported
  lib/ofh/compression/compression_factory.cpp
Due: none

OFH: Apply missing branch prediction hints
  lib/ofh/ecpri/ecpri_packet_decoder_impl.cpp
  lib/ofh/receiver/ofh_closed_rx_window_handler.cpp
  lib/ofh/receiver/ofh_message_receiver.cpp
  lib/ofh/receiver/ofh_uplane_prach_data_flow_notifier.cpp
  lib/ofh/receiver/ofh_uplane_prach_symbol_data_flow_writer.cpp
  lib/ofh/receiver/ofh_uplane_rx_symbol_data_flow_notifier.cpp
  lib/ofh/receiver/ofh_uplane_rx_symbol_data_flow_writer.cpp
  lib/ofh/serdes/ofh_uplane_message_decoder_impl.cpp
  lib/ofh/transmitter/ofh_message_transmitter_impl.cpp
  lib/ofh/transmitter/ofh_uplink_request_handler_impl.cpp
Due: none

OFH: address review comments
  lib/ofh/ethernet/ethernet_rx_buffer_pool.h
Due: none

OFH: Use make_optional instead of explicitly using the inplace constructor overload
  lib/ofh/ethernet/ethernet_rx_buffer_pool.h
Due: none

OFH: Change the key type to uint8 of the static circular maps to reduce map size
  apps/examples/ofh/ru_emulator.cpp
  lib/ofh/receiver/ofh_sequence_id_checker_impl.h
  tests/integrationtests/ofh/ofh_integration_test.cpp
Due: none
