Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, e2e request and config validation

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  gnb docker compose: any of: .gitlab/ci/builders/install_dependencies.sh, .gitlab/ci/builders/builder.sh, docker/Dockerfile, docker/docker-compose.yml
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*

sched: add bwp dl config pool to avoid duplicating BWP configs for different UEs
  include/srsran/adt/slotted_vector.h
  lib/scheduler/config/du_cell_group_config_pool.cpp
  lib/scheduler/config/du_cell_group_config_pool.h
  lib/scheduler/config/sched_config_manager.cpp
  lib/scheduler/config/sched_config_params.h
  lib/scheduler/config/ue_configuration.cpp
Due: none

sched: move bwp ul/dl common/dedicated configs to pools
  include/srsran/scheduler/config/serving_cell_config.h
  lib/scheduler/config/du_cell_group_config_pool.cpp
  lib/scheduler/config/du_cell_group_config_pool.h
  lib/scheduler/config/sched_config_params.h
  lib/scheduler/config/ue_configuration.cpp
  lib/scheduler/config/ue_configuration.h
  lib/scheduler/pdcch_scheduling/pdcch_resource_allocator_impl.cpp
  lib/scheduler/policy/scheduler_time_rr.cpp
  lib/scheduler/pucch_scheduling/pucch_allocator_impl.cpp
  lib/scheduler/pucch_scheduling/pucch_resource_manager.cpp
  lib/scheduler/srs/srs_scheduler_impl.cpp
  lib/scheduler/support/dci_builder.cpp
  lib/scheduler/support/mcs_tbs_calculator.cpp
  lib/scheduler/support/pucch_power_controller.cpp
  lib/scheduler/support/pusch_power_controller.cpp
  lib/scheduler/support/sch_pdu_builder.cpp
  lib/scheduler/uci_scheduling/uci_allocator_impl.cpp
  lib/scheduler/uci_scheduling/uci_scheduler_impl.cpp
  lib/scheduler/ue_context/ue_cell.cpp
  lib/scheduler/ue_scheduling/grant_params_selector.cpp
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.cpp
  lib/scheduler/ue_scheduling/ue_event_manager.cpp
  tests/unittests/scheduler/policy/scheduler_policy_test.cpp
  tests/unittests/scheduler/srs_scheduling/srs_scheduler_test.cpp
  tests/unittests/scheduler/uci_and_pucch/pucch_alloc_format_0_test.cpp
  tests/unittests/scheduler/uci_and_pucch/pucch_res_manager_test.cpp
  tests/unittests/scheduler/uci_and_pucch/uci_scheduling_test.cpp
  tests/unittests/scheduler/ue_scheduling/fallback_scheduler_test.cpp
  tests/unittests/scheduler/ue_scheduling/ue_cell_test.cpp
  tests/unittests/scheduler/ue_scheduling/ue_configuration_test.cpp
  tests/unittests/scheduler/ue_scheduling/ue_harq_link_adaptation_test.cpp
Due: none

ofh: change queue type of ru_timing worker
  apps/services/worker_manager/worker_manager.cpp
Due: none

du,sched: option to enable BW adaptation to PHR
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config.h
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_translators.cpp
  include/srsran/scheduler/config/scheduler_expert_config.h
  lib/scheduler/support/pusch_power_controller.cpp
  lib/scheduler/support/pusch_power_controller.h
Due: none

ofh: added metrics collectors to the sector and receiver. Implemented these collectors to report OFH receiver metrics
  apps/units/flexible_o_du/split_7_2/helpers/ru_ofh_config.h
  apps/units/flexible_o_du/split_7_2/helpers/ru_ofh_config_cli11_schema.cpp
  apps/units/flexible_o_du/split_7_2/helpers/ru_ofh_config_translator.cpp
  apps/units/flexible_o_du/split_helpers/metrics/flexible_o_du_metrics_consumers.cpp
  include/srsran/ofh/ofh_metrics.h
  include/srsran/ofh/ofh_sector.h
  include/srsran/ofh/ofh_sector_config.h
  include/srsran/ofh/ofh_sector_metrics_collector.h
  include/srsran/ofh/receiver/ofh_receiver.h
  include/srsran/ofh/receiver/ofh_receiver_configuration.h
  include/srsran/ofh/receiver/ofh_receiver_metrics.h
  include/srsran/ofh/receiver/ofh_receiver_metrics_collector.h
  include/srsran/ru/ru_metrics.h
  lib/ofh/CMakeLists.txt
  lib/ofh/ofh_factories.cpp
  lib/ofh/ofh_metrics_collector_impl.cpp
  lib/ofh/ofh_metrics_collector_impl.h
  lib/ofh/ofh_sector_impl.cpp
  lib/ofh/ofh_sector_impl.h
  lib/ofh/receiver/ofh_receiver_impl.cpp
  lib/ofh/receiver/ofh_receiver_impl.h
  lib/ofh/receiver/ofh_rx_window_checker.cpp
  lib/ofh/receiver/ofh_rx_window_checker.h
  lib/ru/ofh/CMakeLists.txt
  lib/ru/ofh/ru_ofh_impl.cpp
  lib/ru/ofh/ru_ofh_impl.h
  lib/ru/ofh/ru_ofh_metrics_collector_impl.cpp
  lib/ru/ofh/ru_ofh_metrics_collector_impl.h
  tests/unittests/ofh/receiver/ofh_message_receiver_test.cpp
  tests/unittests/ofh/receiver/ofh_rx_window_checker_test.cpp
Due: none

ci,e2e: skip artifact download in some zmq tests
  tests/e2e/tests/attach_detach.py
Due: e2e tests tox

sched: remove res_grid_view class
  lib/scheduler/policy/scheduler_policy.h
  lib/scheduler/ue_scheduling/ue_scheduler_impl.cpp
  lib/scheduler/ue_scheduling/ue_scheduler_impl.h
  tests/unittests/scheduler/policy/scheduler_policy_test.cpp
Due: none

sched: minor refactors
  lib/scheduler/policy/scheduler_time_qos.cpp
  lib/scheduler/slicing/inter_slice_scheduler.cpp
Due: none

sched: refactor policy interface
  include/srsran/adt/intrusive_list.h
  include/srsran/adt/ranges/filter_view.h
  include/srsran/adt/ranges/transform.h
  lib/scheduler/cell/cell_harq_manager.h
  lib/scheduler/policy/scheduler_policy.h
  lib/scheduler/policy/scheduler_time_qos.cpp
  lib/scheduler/policy/scheduler_time_qos.h
  lib/scheduler/policy/scheduler_time_rr.cpp
  lib/scheduler/policy/scheduler_time_rr.h
  lib/scheduler/policy/slice_allocator.h
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.cpp
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.h
  lib/scheduler/ue_scheduling/ue_scheduler_impl.cpp
  tests/unittests/scheduler/policy/scheduler_policy_test.cpp
  tests/unittests/scheduler/ue_scheduling/ue_grid_allocator_test.cpp
Due: none

sched: simplify ue scheduler logic and updated comments
  lib/scheduler/slicing/ran_slice_instance.cpp
  lib/scheduler/slicing/ran_slice_instance.h
  lib/scheduler/slicing/slice_scheduler.cpp
  lib/scheduler/slicing/slice_scheduler.h
  lib/scheduler/ue_scheduling/ue_scheduler_impl.cpp
  lib/scheduler/ue_scheduling/ue_scheduler_impl.h
  tests/unittests/scheduler/slicing/slice_scheduler_test.cpp
Due: none

sched: rename slice_scheduler to inter_slice_scheduler
  lib/scheduler/CMakeLists.txt
  lib/scheduler/slicing/inter_slice_scheduler.cpp
  lib/scheduler/slicing/inter_slice_scheduler.h
  lib/scheduler/ue_scheduling/ue_event_manager.h
  lib/scheduler/ue_scheduling/ue_scheduler_impl.h
  tests/unittests/scheduler/policy/scheduler_policy_test.cpp
  tests/unittests/scheduler/slicing/slice_scheduler_test.cpp
Due: none

sched: break the alloc_ul_grant into two methods
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.cpp
  lib/scheduler/ue_scheduling/ue_cell_grid_allocator.h
  lib/scheduler/ue_scheduling/ue_pusch_alloc_param_candidate_searcher.h
  tests/unittests/scheduler/ue_scheduling/ue_pxsch_alloc_param_candidate_searcher_test.cpp
Due: none

ci: updated CI files to enable log metrics with the new config parameter
  .gitlab/ci/e2e/.env
  .gitlab/run_viavi_pipeline.py
  tests/e2e/tests/viavi/test_declaration.yml
  tests/e2e/tests/viavi/test_declaration_debug.yml
Due: e2e tests tox, e2e request and config validation

app_unit: PDCP and RLC default report periods changed to 1 second. Report periord automatically set to 0 if no consumer is enabled for these metrics in the autoderivation functions
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config.h
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_schema.h
  apps/units/flexible_o_du/o_du_high/o_du_high_unit_config_cli11_schema.h
  apps/units/o_cu_cp/cu_cp/cu_cp_unit_config.h
  apps/units/o_cu_up/cu_up/cu_up_unit_config.h
  apps/units/o_cu_up/cu_up/cu_up_unit_config_cli11_schema.cpp
  apps/units/o_cu_up/cu_up/cu_up_unit_config_cli11_schema.h
  apps/units/o_cu_up/o_cu_up_application_unit_impl.cpp
Due: none

sched: fix UL traffic in test mode
  lib/du/du_high/test_mode/mac_test_mode_helpers.cpp
Due: none

hal: refine configuration of external harq buffer
  apps/units/flexible_o_du/o_du_low/du_low_config.h
  apps/units/flexible_o_du/o_du_low/du_low_config_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_low/du_low_config_yaml_writer.cpp
  apps/units/flexible_o_du/o_du_low/du_low_hal_factory.cpp
  include/srsran/hal/phy/upper/channel_processors/pusch/ext_harq_buffer_context_repository.h
  include/srsran/hal/phy/upper/channel_processors/pusch/hw_accelerator_factories.h
  include/srsran/hal/phy/upper/channel_processors/pusch/hw_accelerator_pusch_dec.h
  lib/phy/upper/channel_processors/pusch/pusch_decoder_hw_impl.cpp
  tests/benchmarks/phy/upper/channel_processors/pusch/pusch_decoder_hwacc_benchmark.cpp
  tests/benchmarks/phy/upper/channel_processors/pusch/pusch_processor_benchmark.cpp
  tests/integrationtests/phy/upper/channel_processors/pxsch_bler_test_factories.cpp
  tests/unittests/phy/upper/channel_processors/pusch/pusch_decoder_vectortest.cpp
  tests/unittests/phy/upper/channel_processors/pusch/pusch_processor_vectortest.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy: expose PUSCH channel estimator FD smoothing strategy and CFO compensation
  apps/units/flexible_o_du/o_du_low/du_low_config.h
  apps/units/flexible_o_du/o_du_low/du_low_config_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_low/du_low_config_translator.cpp
  include/srsran/phy/upper/signal_processors/signal_processor_factories.h
  include/srsran/phy/upper/upper_phy_factories.h
  lib/phy/upper/signal_processors/signal_processor_factories.cpp
  lib/phy/upper/upper_phy_factories.cpp
  tests/benchmarks/phy/upper/channel_processors/pusch/pusch_processor_benchmark.cpp
  tests/integrationtests/phy/upper/channel_processors/pxsch_bler_test_factories.cpp
  tests/unittests/phy/upper/channel_processors/pusch/pusch_processor_validator_test.cpp
  tests/unittests/phy/upper/channel_processors/pusch/pusch_processor_vectortest.cpp
  tests/unittests/phy/upper/signal_processors/dmrs_pusch_estimator_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

docker: add performance metrics dashboard
  .gitlab/ci/e2e/.env
  docker/grafana/dashboards/performance.json
  docker/grafana/version.yml
  docker/metrics_server/pyproject.toml
  docker/metrics_server/src/metrics_server/__main__.py
Due: trigger docker, grafana docker compose, e2e request and config validation

ci: add E2E PUCCH tests
  tests/e2e/pyproject.toml
  tests/e2e/tests/pucch.py
  tests/e2e/tests/steps/configuration.py
Due: e2e tests tox

ci: use iperf in pucch tests
  tests/e2e/tests/pucch.py
Due: e2e tests tox

ci: fix pucch test mark
  tests/e2e/pyproject.toml
Due: e2e tests tox

sched: fix common+dedicated HARQ allocation for PUCCH Format 0
  lib/scheduler/pucch_scheduling/pucch_allocator_impl.cpp
Due: none

ci: fix pylint warnings for PUCCH tests
  tests/e2e/tests/pucch.py
Due: e2e tests tox

ci: update retina version and PUCCH tests
  .gitlab/ci/e2e/.env
  tests/e2e/pyproject.toml
  tests/e2e/tests/pucch.py
Due: e2e tests tox, e2e request and config validation

ci: UL and bidirectional iperf in PUCCH tests
  tests/e2e/tests/pucch.py
Due: e2e tests tox

e2e: lower expected_ul_bitrate in 32UE viavi tests...
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation

ci,docker: push srsran image on release
  .gitlab/ci/build.yml
  .gitlab/ci/docker.yml
  .gitlab/ci/release.yml
Due: trigger docker

ci,e2e: update acc config and criteria
  .gitlab/ci/e2e.yml
  tests/e2e/tests/test_mode.py
  tests/e2e/tests/test_mode/config_ru_acc100.yml
Due: e2e tests tox

ci,e2e: add viavi rtsan job
  .gitlab/ci/build.yml
  .gitlab/ci/e2e.yml
  .gitlab/ci/e2e/.env
  .gitlab/ci/e2e/retina_request_viavi.yml
  .gitlab/ci/e2e/retina_request_zmq.yml
Due: e2e request and config validation

ci: user new retina version
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

srslog: ban calling set_context concurrently. This doesnt happen in real code, as such add note and remove mutex.
  include/srsran/srslog/logger.h
Due: none

pdcp: check if the pdcp entity is stopped before re-arming the metrics timer
  lib/pdcp/pdcp_entity_rx.cpp
  lib/pdcp/pdcp_entity_tx.cpp
Due: none

gnb: move du_cell thread to phy thread pool
  apps/du/du.cpp
  apps/services/worker_manager/os_sched_affinity_manager.h
  apps/services/worker_manager/worker_manager.cpp
  apps/services/worker_manager/worker_manager.h
  apps/units/flexible_o_du/split_6/split6_o_du_factory.cpp
  apps/units/flexible_o_du/split_helpers/flexible_o_du_factory.cpp
  include/srsran/du/du_high/du_high_executor_mapper.h
  lib/du/du_high/du_high_executor_mapper.cpp
  tests/integrationtests/du_high/test_utils/du_high_worker_manager.cpp
  tests/test_doubles/du/test_du_high_worker_manager.cpp
Due: none

app_unit: disable CU-UP metrics when PDCP report period is configured to 0
  apps/units/o_cu_up/cu_up/cu_up_unit_config_cli11_schema.cpp
Due: none

ofh: handle prach start symbol in c-plane repo for long format
  apps/units/flexible_o_du/split_7_2/helpers/ru_ofh_config.h
  apps/units/flexible_o_du/split_7_2/helpers/ru_ofh_config_cli11_schema.cpp
  apps/units/flexible_o_du/split_7_2/helpers/ru_ofh_config_translator.cpp
  apps/units/flexible_o_du/split_7_2/helpers/ru_ofh_config_yaml_writer.cpp
  include/srsran/ofh/ofh_sector_config.h
  lib/ofh/ofh_factories.cpp
  lib/ofh/support/uplink_cplane_context_repository.h
Due: none

all: fix copyright years
  include/srsran/phy/upper/channel_processors/pdsch/pdsch_block_processor.h
  lib/phy/upper/channel_processors/pdsch/pdsch_block_processor_hw_impl.cpp
  lib/phy/upper/channel_processors/pdsch/pdsch_block_processor_hw_impl.h
  lib/phy/upper/channel_processors/pdsch/pdsch_block_processor_impl.cpp
  lib/phy/upper/channel_processors/pdsch/pdsch_block_processor_impl.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

Revert "gnb: move du_cell thread to phy thread pool"
  apps/du/du.cpp
  apps/services/worker_manager/os_sched_affinity_manager.h
  apps/services/worker_manager/worker_manager.cpp
  apps/services/worker_manager/worker_manager.h
  apps/units/flexible_o_du/split_6/split6_o_du_factory.cpp
  apps/units/flexible_o_du/split_helpers/flexible_o_du_factory.cpp
  include/srsran/du/du_high/du_high_executor_mapper.h
  lib/du/du_high/du_high_executor_mapper.cpp
  tests/integrationtests/du_high/test_utils/du_high_worker_manager.cpp
  tests/test_doubles/du/test_du_high_worker_manager.cpp
Due: none

ci,e2e: set enable_log_metrics in some smoke tests
  tests/e2e/tests/iperf.py
Due: e2e tests tox
