Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, metrics tox, grafana version changed, metrics version changed, metrics version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, metrics-server docker compose, metrics server image, metrics server image latest, grafana server image, grafana server image latest, e2e request and config validation

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  metrics tox: any of: docker/metrics_server/**/*
  grafana version changed: any of: docker/grafana/**/*
  metrics version changed: any of: docker/metrics_server/**/*
  metrics version check in retina: any of: docker/metrics_server/**/*
  gnb docker compose: (any of: docker/scripts/**/*, docker/Dockerfile) or (any of: docker/docker-compose.yml)
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  metrics-server docker compose: any of: docker/.env, docker/metrics_server/**/*, docker/docker-compose.yml
  metrics server image: any of: docker/metrics_server/**/*
  metrics server image latest: any of: docker/metrics_server/**/*
  grafana server image: any of: docker/grafana/**/*
  grafana server image latest: any of: docker/grafana/**/*
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*

sched: add fallback scheduler unittest
  tests/unittests/scheduler/ue_scheduling/fallback_scheduler_test.cpp
Due: none

sched: fix fallback scheduler
  lib/scheduler/ue_scheduling/ue_fallback_scheduler.cpp
Due: none

phy: review PDSCH threads
  apps/units/flexible_o_du/o_du_low/du_low_config.h
  apps/units/flexible_o_du/o_du_low/du_low_config_cli11_schema.cpp
  lib/phy/upper/channel_processors/pdsch/factories.cpp
  lib/phy/upper/channel_processors/pdsch/pdsch_processor_flexible_impl.cpp
  lib/phy/upper/channel_processors/pdsch/pdsch_processor_flexible_impl.h
  tests/benchmarks/phy/upper/channel_processors/pdsch_processor_benchmark.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy: expose parameter for forcing the LDPC decoder to decode
  apps/units/flexible_o_du/o_du_low/du_low_config.h
  apps/units/flexible_o_du/o_du_low/du_low_config_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_low/du_low_config_translator.cpp
  apps/units/flexible_o_du/o_du_low/du_low_config_yaml_writer.cpp
  include/srsran/phy/upper/channel_coding/ldpc/ldpc_decoder.h
  include/srsran/phy/upper/channel_processors/pusch/factories.h
  include/srsran/phy/upper/channel_processors/pusch/pusch_decoder.h
  include/srsran/phy/upper/upper_phy_factories.h
  lib/phy/upper/channel_coding/ldpc/ldpc_decoder_impl.cpp
  lib/phy/upper/channel_processors/pusch/factories.cpp
  lib/phy/upper/channel_processors/pusch/pusch_codeblock_decoder.cpp
  lib/phy/upper/channel_processors/pusch/pusch_codeblock_decoder.h
  lib/phy/upper/channel_processors/pusch/pusch_decoder_impl.cpp
  lib/phy/upper/channel_processors/pusch/pusch_processor_impl.cpp
  lib/phy/upper/channel_processors/pusch/pusch_processor_impl.h
  lib/phy/upper/upper_phy_factories.cpp
  tests/benchmarks/phy/upper/channel_coding/ldpc/ldpc_decoder_benchmark.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

support: use dedicated consumers in task workers and task worker pools
  lib/support/executors/priority_task_worker.cpp
  lib/support/executors/task_worker.cpp
  lib/support/executors/task_worker_pool.cpp
Due: none

Update retina version
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

Implement metrics transmission over WebSockets
  apps/cu/cu.cpp
  apps/cu_cp/cu_cp.cpp
  apps/cu_up/cu_up.cpp
  apps/du/du.cpp
  apps/du_low/du_low.cpp
  apps/gnb/gnb.cpp
  apps/helpers/metrics/metrics_config.h
  apps/helpers/metrics/metrics_config_cli11_schema.cpp
  apps/helpers/metrics/metrics_config_yaml_writer.cpp
  apps/helpers/metrics/metrics_helpers.cpp
  apps/services/app_resource_usage/app_resource_usage.cpp
  apps/services/remote_control/remote_control_appconfig.h
  apps/services/remote_control/remote_control_appconfig_cli11_schema.cpp
  apps/services/remote_control/remote_server.cpp
  apps/services/remote_control/remote_server.h
  apps/units/flexible_o_du/o_du_high/o_du_high_unit_factory.cpp
  apps/units/flexible_o_du/split_6/o_du_low/metrics/split6_flexible_o_du_low_metrics_builder.cpp
  apps/units/flexible_o_du/split_helpers/metrics/consumers/consumer_helpers.h
  apps/units/flexible_o_du/split_helpers/metrics/flexible_o_du_metrics_builder.cpp
  apps/units/o_cu_cp/o_cu_cp_builder.cpp
  apps/units/o_cu_up/o_cu_up_builder.cpp
Due: none

ci: update dpdk version in release images
  .github/workflows/docker.yml
  .gitlab/ci/docker.yml
  .gitlab/ci/release.yml
  docker/Dockerfile
Due: trigger docker, gnb docker compose

cu_up: fix N3 ext_bind_addr config
  apps/units/o_cu_up/o_cu_up_builder.cpp
Due: none

e2e: update retina version
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

test: remove deprecated param from test declaration
  tests/e2e/tests/viavi/test_declaration.yml
  tests/e2e/tests/viavi/test_declaration_debug.yml
Due: e2e tests tox, e2e request and config validation

fapi: added method stop to slot adaptor
  apps/units/flexible_o_du/split_6/o_du_low/split6_flexible_o_du_low_session.cpp
  apps/units/flexible_o_du/split_6/o_du_low/split6_o_du_low_plugin_dummy.cpp
  include/srsran/fapi_adaptor/fapi_slot_messages_adaptor.h
Due: none

app_unit: remove dependency of the band for the split 6 O-DU low creation
  apps/units/flexible_o_du/split_6/o_du_low/split6_flexible_o_du_low_session_factory.cpp
Due: none

ci: enable tests
  .gitlab/ci/e2e.yml
Due: none

Change metrics timestamp format
  apps/helpers/metrics/json_generators/helpers.h
Due: none

docker: change metric timestamp format
  docker/telegraf/telegraf.conf
Due: none

WS: Add a timestamp field for responses
  apps/helpers/metrics/helpers.h
  apps/helpers/metrics/json_generators/cu_up/pdcp.cpp
  apps/helpers/metrics/json_generators/du_high/rlc.cpp
  apps/helpers/metrics/json_generators/du_high/scheduler.cpp
  apps/helpers/metrics/json_generators/helpers.h
  apps/helpers/metrics/json_generators/o_du_high.cpp
  apps/helpers/metrics/json_generators/o_du_low.cpp
  apps/helpers/metrics/json_generators/resource_usage.cpp
  apps/helpers/metrics/json_generators/ru/ofh.cpp
  apps/services/remote_control/remote_server.cpp
Due: none

ci: use retina version with new metric timestamp format
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

ru: add starting time configuration parameter
  apps/units/flexible_o_du/split_8/helpers/ru_sdr_config.h
  apps/units/flexible_o_du/split_8/helpers/ru_sdr_config_cli11_schema.cpp
  apps/units/flexible_o_du/split_8/helpers/ru_sdr_config_translator.cpp
  include/srsran/ru/generic/ru_generic_configuration.h
  lib/ru/generic/ru_controller_generic_impl.cpp
  lib/ru/generic/ru_controller_generic_impl.h
  lib/ru/generic/ru_factory_generic_impl.cpp
  lib/ru/generic/ru_generic_impl.cpp
  lib/ru/generic/ru_generic_impl.h
Due: none

cu_up: fix notifier name
  tests/unittests/cu_up/cu_up_test.cpp
Due: none

cu_up: fix unit tests
  tests/unittests/cu_up/cu_up_test.cpp
Due: none

cu_up,e1ap: add cu-up initialized e1 release procedure
  include/srsran/e1ap/cu_up/e1ap_cu_up.h
  lib/cu_up/cu_up_impl.cpp
  lib/e1ap/common/CMakeLists.txt
  lib/e1ap/common/e1ap_asn1_utils.h
  lib/e1ap/common/e1ap_common_messages.cpp
  lib/e1ap/common/e1ap_common_messages.h
  lib/e1ap/cu_up/CMakeLists.txt
  lib/e1ap/cu_up/e1ap_cu_up_impl.cpp
  lib/e1ap/cu_up/e1ap_cu_up_impl.h
  lib/e1ap/cu_up/procedures/e1ap_cu_up_release_procedure.cpp
  lib/e1ap/cu_up/procedures/e1ap_cu_up_release_procedure.h
  tests/unittests/cu_up/cu_up_test.cpp
Due: none

ci: improve logging
  tests/e2e/tests/steps/stub.py
Due: e2e tests tox

ci: add e2e handover test with noise
  tests/e2e/tests/handover.py
Due: e2e tests tox

docker: support metrics via ws in telegraf solution
  .gitlab/ci/e2e/.env
  docker/.env
  docker/docker-compose.yml
  docker/telegraf/Dockerfile
  docker/telegraf/entrypoint.sh
  docker/telegraf/telegraf.conf
  docker/telegraf/version.yml
  docker/telegraf/ws_adapter.py
  tests/e2e/tests/steps/configuration.py
  tests/e2e/tests/viavi.py
Due: trigger docker, e2e tests tox, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, metrics-server docker compose, e2e request and config validation

ci: add viavi 32UE UDP test using TDD pattern DSUUUUDSUU
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation

ci: update retina version
  .gitlab/ci/e2e/.env
Due: e2e request and config validation

ofh: adjusted reorderer to store a bitmask of the received symbols validity.
  lib/ofh/receiver/ofh_closed_rx_window_handler.cpp
  lib/ofh/receiver/ofh_rx_symbol_reorderer.cpp
  lib/ofh/support/uplink_notified_grid_symbol_repository.h
  tests/unittests/ofh/support/uplink_notified_grid_symbol_repository_test.cpp
Due: none

WS: Fix crash when WS server is disabled but metrics are enabled
  apps/cu/cu.cpp
  apps/cu_cp/cu_cp.cpp
  apps/cu_up/cu_up.cpp
  apps/du/du.cpp
  apps/du_low/du_low.cpp
  apps/gnb/gnb.cpp
  apps/services/remote_control/remote_server.cpp
Due: none

phy: fix asynchronous PDSCH pool
  apps/units/flexible_o_du/o_du_low/o_du_low_unit_factory.cpp
  include/srsran/phy/upper/channel_processors/pdsch/factories.h
  lib/phy/upper/channel_processors/pdsch/factories.cpp
  lib/phy/upper/channel_processors/pdsch/pdsch_processor_asynchronous_pool.h
  lib/phy/upper/channel_processors/pdsch/pdsch_processor_pool.h
  lib/phy/upper/upper_phy_factories.cpp
  tests/benchmarks/phy/upper/channel_processors/pdsch_processor_benchmark.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

cu_cp: add unit test for du connection loss
  tests/unittests/cu_cp/cu_cp_connectivity_test.cpp
Due: none

cu_cp,ngap: add ng reset to du connection loss handling
  lib/cu_cp/cu_cp_impl.cpp
  lib/cu_cp/routines/ue_transaction_info_release_routine.cpp
  lib/cu_cp/routines/ue_transaction_info_release_routine.h
  lib/ngap/ngap_impl.cpp
  tests/test_doubles/ngap/ngap_test_message_validators.cpp
  tests/test_doubles/ngap/ngap_test_message_validators.h
  tests/unittests/cu_cp/test_doubles/mock_amf.cpp
  tests/unittests/ngap/ngap_test_messages.cpp
  tests/unittests/ngap/ngap_test_messages.h
Due: none

phy: use task executor defer()
  lib/phy/lower/lower_phy_baseband_processor.cpp
  lib/phy/lower/processors/uplink/prach/prach_processor_worker.cpp
  lib/phy/upper/channel_processors/pdsch/pdsch_processor_flexible_impl.cpp
  lib/phy/upper/downlink_processor_multi_executor_impl.cpp
  lib/phy/upper/downlink_processor_multi_executor_impl.h
  lib/phy/upper/uplink_processor_impl.cpp
  lib/phy/upper/uplink_processor_impl.h
  tests/integrationtests/phy/upper/channel_processors/pxsch_bler_test.cpp
  tests/unittests/phy/upper/downlink_processor_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy: remove assertion in shared resource grid an print the count of alive grids in warning message
  include/srsran/phy/support/shared_resource_grid.h
  lib/phy/support/resource_grid_pool_impl.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

gnb: use moodycamel for dl workers
  apps/services/worker_manager/worker_manager.cpp
Due: none

gnb: change parameters to set main thread pool size
  apps/cu/cu.cpp
  apps/cu_cp/cu_cp.cpp
  apps/cu_up/cu_up.cpp
  apps/du/du.cpp
  apps/du/du_appconfig_translators.cpp
  apps/du/du_appconfig_yaml_writer.cpp
  apps/du_low/du_low.cpp
  apps/du_low/du_low_appconfig_translators.cpp
  apps/du_low/du_low_appconfig_yaml_writer.cpp
  apps/gnb/gnb.cpp
  apps/gnb/gnb_appconfig_translators.cpp
  apps/gnb/gnb_appconfig_yaml_writer.cpp
  apps/services/worker_manager/os_sched_affinity_manager.h
  apps/services/worker_manager/worker_manager.cpp
  apps/services/worker_manager/worker_manager_appconfig.h
  apps/services/worker_manager/worker_manager_appconfig_validator.cpp
  apps/services/worker_manager/worker_manager_cli11_schema.cpp
  apps/services/worker_manager/worker_manager_config.h
  tests/e2e/tests/iperf.py
  tests/e2e/tests/viavi/test_declaration.yml
Due: e2e tests tox, e2e request and config validation

gnb: add sleep backoff parameter to main pool
  apps/cu/cu.cpp
  apps/cu_cp/cu_cp.cpp
  apps/du/du_appconfig_translators.cpp
  apps/du_low/du_low_appconfig_translators.cpp
  apps/gnb/gnb_appconfig_translators.cpp
  apps/gnb/gnb_appconfig_yaml_writer.cpp
  apps/services/worker_manager/worker_manager.cpp
  apps/services/worker_manager/worker_manager_appconfig.h
  apps/services/worker_manager/worker_manager_cli11_schema.cpp
  apps/services/worker_manager/worker_manager_config.h
Due: none

gnb: estimate the needed number of threads for the main thread pool based on the number of cells and ports
  apps/services/worker_manager/worker_manager.cpp
  apps/services/worker_manager/worker_manager_config.h
  apps/units/flexible_o_du/o_du_low/du_low_config_translator.cpp
  apps/units/flexible_o_du/o_du_low/du_low_config_translator.h
  apps/units/flexible_o_du/split_6/o_du_low/split6_o_du_low_application_unit_impl.cpp
  apps/units/flexible_o_du/split_7_2/split_7_2_o_du_application_unit_impl.cpp
  apps/units/flexible_o_du/split_8/split_8_o_du_application_unit_impl.cpp
  apps/units/flexible_o_du/split_dynamic/dynamic_o_du_translators.cpp
Due: none

gnb: merge dl and non-rt thread pools
  apps/services/worker_manager/worker_manager.cpp
  apps/services/worker_manager/worker_manager.h
Due: none

gnb: use one single worker pool for the DL
  apps/services/worker_manager/worker_manager.cpp
Due: none
