Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean, metrics tox, grafana version changed, metrics version changed, metrics version check in retina, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose, metrics-server docker compose, metrics server image, metrics server image latest, grafana server image, grafana server image latest, e2e request and config validation

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  smoke avx512 cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon cached: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke avx512 clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  smoke arm neon clean: any of: include/srsran/phy/**/*, lib/phy/**/*, tests/unittests/phy/**/*
  metrics tox: any of: docker/metrics_server/**/*
  grafana version changed: any of: docker/grafana/**/*
  metrics version changed: any of: docker/metrics_server/**/*
  metrics version check in retina: any of: docker/metrics_server/**/*
  gnb docker compose: (any of: docker/scripts/**/*, docker/Dockerfile) or (any of: docker/docker-compose.yml)
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
  metrics-server docker compose: any of: docker/.env, docker/metrics_server/**/*, docker/docker-compose.yml
  metrics server image: any of: docker/metrics_server/**/*
  metrics server image latest: any of: docker/metrics_server/**/*
  grafana server image: any of: docker/grafana/**/*
  grafana server image latest: any of: docker/grafana/**/*
  e2e request and config validation: any of: .gitlab/ci/e2e/**/*, tests/e2e/tests/viavi/*

sched: add unittest for PUCCH allocations on RRCReconf retx after RRCReest
  lib/scheduler/ue_scheduling/ue_fallback_scheduler.cpp
  tests/unittests/scheduler/uci_and_pucch/uci_scheduling_test.cpp
  tests/unittests/scheduler/ue_scheduling/fallback_scheduler_test.cpp
Due: none

sched: fix wrong PUCCH allocation on fallback scheduler
  include/srsran/mac/mac_ue_configurator.h
  include/srsran/scheduler/scheduler_configurator.h
  lib/du/du_high/du_manager/procedures/ue_configuration_procedure.cpp
  lib/mac/mac_sched/srsran_scheduler_adapter.cpp
  lib/scheduler/config/sched_config_manager.cpp
  lib/scheduler/config/sched_config_manager.h
  lib/scheduler/config/ue_configuration.cpp
  lib/scheduler/ue_context/ue.cpp
  lib/scheduler/ue_context/ue.h
  lib/scheduler/ue_scheduling/ue_event_manager.cpp
  lib/scheduler/ue_scheduling/ue_fallback_scheduler.cpp
  tests/unittests/scheduler/ue_scheduling/fallback_scheduler_test.cpp
  tests/unittests/scheduler/ue_scheduling/ue_configuration_test.cpp
  tests/unittests/scheduler/ue_scheduling/ue_grid_allocator_test.cpp
Due: none

support: small refactors in the bounded_object_pool
  include/srsran/support/memory_pool/bounded_object_pool.h
  lib/support/tracing/event_tracing.cpp
  tests/unittests/support/bounded_object_pool_test.cpp
Due: none

support: use cpu-id instead of thread-id for object pool hashing
  include/srsran/support/memory_pool/bounded_object_pool.h
Due: none

support: fix bounded_object_ptr_pool
  include/srsran/support/memory_pool/bounded_object_pool.h
  tests/unittests/support/bounded_object_pool_test.cpp
Due: none

support: fix size_approx of bounded object pool
  include/srsran/support/memory_pool/bounded_bitmap_object_pool.h
  tests/unittests/support/bounded_bitmap_object_pool_test.cpp
Due: none

support: use different bitmap shifts for different cpuids
  include/srsran/support/memory_pool/bounded_object_pool.h
  tests/unittests/support/bounded_object_pool_test.cpp
Due: none

support: scatter offsets of bounded_object_pool based on the number of segments and cores
  include/srsran/support/memory_pool/bounded_object_pool.h
Due: none

support: implementation of an object pool based on a bitmap
  include/srsran/support/memory_pool/bounded_bitmap_object_pool.h
  tests/unittests/support/CMakeLists.txt
  tests/unittests/support/bounded_bitmap_object_pool_test.cpp
Due: none

support: allow non-power of 2 capacities for both bounded object pools
  include/srsran/support/memory_pool/bounded_object_pool.h
  tests/unittests/support/bounded_object_pool_test.cpp
Due: none

support: renamed bounded object pools
  include/srsran/support/memory_pool/bounded_bitmap_object_pool.h
  include/srsran/support/memory_pool/bounded_object_pool.h
  include/srsran/support/memory_pool/bounded_queue_object_pool.h
  lib/phy/upper/channel_processors/pdcch/pdcch_processor_pool.h
  lib/phy/upper/channel_processors/pdsch/pdsch_processor_flexible_impl.h
  lib/phy/upper/channel_processors/pdsch/pdsch_processor_pool.h
  lib/phy/upper/channel_processors/prach_detector_pool.h
  lib/phy/upper/channel_processors/pucch/pucch_processor_pool.h
  lib/phy/upper/channel_processors/pusch/pusch_decoder_hw_impl.h
  lib/phy/upper/channel_processors/pusch/pusch_decoder_impl.h
  lib/phy/upper/channel_processors/pusch/pusch_processor_impl.h
  lib/phy/upper/channel_processors/pusch/pusch_processor_pool.h
  lib/phy/upper/channel_processors/ssb/ssb_processor_pool.h
  lib/phy/upper/signal_processors/nzp_csi_rs_generator_pool.h
  lib/phy/upper/signal_processors/prs/prs_generator_pool.h
  lib/phy/upper/signal_processors/srs/srs_estimator_pool.h
  tests/unittests/support/CMakeLists.txt
  tests/unittests/support/bounded_object_pool_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

support: collect metrics of bounded_object_pool
  include/srsran/support/memory_pool/bounded_object_pool.h
  tests/unittests/support/bounded_object_pool_test.cpp
Due: none

srsvec: refactor add functions
  include/srsran/srsvec/add.h
  lib/phy/upper/channel_processors/prach_detector_generic_impl.cpp
  lib/phy/upper/channel_processors/pucch/pucch_detector_format1.cpp
  lib/srsvec/add.cpp
  tests/unittests/srsvec/srsvec_add_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

srsvec: refactor prod functions
  include/srsran/phy/upper/sequence_generators/sss_sequence_generator.h
  include/srsran/srsvec/prod.h
  lib/phy/upper/channel_processors/prach_detector_generic_impl.cpp
  lib/phy/upper/channel_processors/pucch/pucch_detector_format1.cpp
  lib/phy/upper/signal_processors/port_channel_estimator_average_impl.cpp
  lib/phy/upper/signal_processors/srs/srs_estimator_generic_impl.cpp
  lib/srsvec/prod.cpp
  tests/unittests/srsvec/srsvec_prod_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

srsvec: review documentation
  include/srsran/srsvec/add.h
  include/srsran/srsvec/prod.h
  include/srsran/srsvec/sc_prod.h
  include/srsran/srsvec/subtract.h
Due: none

srsvec: refactor sc_prod functions
  include/srsran/phy/upper/sequence_generators/pss_sequence_generator.h
  include/srsran/phy/upper/sequence_generators/sss_sequence_generator.h
  include/srsran/ran/precoding/precoding_weight_matrix.h
  include/srsran/ran/srs/srs_channel_matrix.h
  include/srsran/srsvec/sc_prod.h
  lib/phy/generic_functions/transform_precoding/transform_precoder_dft_impl.cpp
  lib/phy/lower/amplitude_controller/amplitude_controller_clipping_impl.cpp
  lib/phy/lower/amplitude_controller/amplitude_controller_scaling_impl.cpp
  lib/phy/lower/modulation/ofdm_demodulator_impl.cpp
  lib/phy/lower/modulation/ofdm_modulator_impl.cpp
  lib/phy/upper/channel_modulation/modulation_mapper_lut_impl.cpp
  lib/phy/upper/channel_processors/pdcch/pdcch_modulator_impl.cpp
  lib/phy/upper/channel_processors/prach_detector_generic_impl.cpp
  lib/phy/upper/channel_processors/pucch/pucch_demodulator_format4.cpp
  lib/phy/upper/channel_processors/pucch/pucch_detector_format1.cpp
  lib/phy/upper/signal_processors/dmrs_pdsch_processor_impl.cpp
  lib/phy/upper/signal_processors/dmrs_pusch_estimator_impl.cpp
  lib/phy/upper/signal_processors/port_channel_estimator_average_impl.cpp
  lib/phy/upper/signal_processors/port_channel_estimator_helpers.cpp
  lib/phy/upper/signal_processors/srs/srs_estimator_generic_impl.cpp
  lib/srsvec/sc_prod.cpp
  tests/integrationtests/phy/upper/channel_processors/pxsch_bler_test_channel_emulator.cpp
  tests/unittests/phy/lower/modulation/ofdm_modulator_unittest.cpp
  tests/unittests/srsvec/srsvec_sc_prod_test.cpp
  tests/unittests/srsvec/srsvec_unwrap_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

ci: update plugin reference
  .gitlab/ci/plugin_version.txt
Due: none

ran: Split PBCH payload packing into 2 steps and provide a new function that merges both
  include/srsran/ran/ssb/pbch_mib_pack.h
  lib/ran/ssb/pbch_mib_pack.cpp
Due: none

cu_cp,f1ap: improve test message
  tests/test_doubles/f1ap/f1ap_test_messages.cpp
  tests/test_doubles/f1ap/f1ap_test_messages.h
Due: none

e2e: change PUCCH tests to band 41 to reduce number of PDDCH phantoms
  tests/e2e/tests/pucch.py
Due: e2e tests tox

sched: print available PRBs for PUSCH on startup
  lib/scheduler/pucch_scheduling/pucch_guardbands_scheduler.cpp
Due: none

sched: fix other issues
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_translators.cpp
  lib/scheduler/slicing/ran_slice_candidate.h
  lib/scheduler/ue_scheduling/intra_slice_scheduler.cpp
Due: none

phy: fix PDCCH CCE to REG mapping log
  include/srsran/phy/upper/channel_processors/pdcch/formatters.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

sched: print max number of UEs based on SR, CSI and SRS resources
  lib/du/du_high/du_manager/ran_resource_management/du_pucch_resource_manager.h
  lib/du/du_high/du_manager/ran_resource_management/du_ran_resource_manager_impl.cpp
  lib/du/du_high/du_manager/ran_resource_management/du_srs_resource_manager.h
Due: none

support: adjust bitmap shift distance according to cpu-id in bounded_object_pool
  include/srsran/support/memory_pool/bounded_object_pool.h
  tests/unittests/support/bounded_object_pool_test.cpp
Due: none

phy: change concurrent instances memory pool type
  lib/phy/upper/channel_processors/pdcch/pdcch_processor_pool.h
  lib/phy/upper/channel_processors/pdsch/pdsch_processor_flexible_impl.h
  lib/phy/upper/channel_processors/pdsch/pdsch_processor_pool.h
  lib/phy/upper/channel_processors/prach_detector_pool.h
  lib/phy/upper/channel_processors/pucch/pucch_processor_pool.h
  lib/phy/upper/channel_processors/pusch/pusch_decoder_hw_impl.h
  lib/phy/upper/channel_processors/pusch/pusch_decoder_impl.h
  lib/phy/upper/channel_processors/pusch/pusch_processor_impl.h
  lib/phy/upper/channel_processors/pusch/pusch_processor_pool.h
  lib/phy/upper/channel_processors/ssb/ssb_processor_pool.h
  lib/phy/upper/signal_processors/nzp_csi_rs_generator_pool.h
  lib/phy/upper/signal_processors/prs/prs_generator_pool.h
  lib/phy/upper/signal_processors/srs/srs_estimator_pool.h
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

phy: split DL executors per physical channel
  apps/units/flexible_o_du/o_du_low/o_du_low_unit_factory.cpp
  include/srsran/du/du_low/du_low_executor_mapper.h
  include/srsran/phy/upper/upper_phy_factories.h
  lib/du/du_low/du_low_executor_mapper.cpp
  lib/phy/upper/CMakeLists.txt
  lib/phy/upper/downlink_processor_multi_executor_impl.cpp
  lib/phy/upper/downlink_processor_multi_executor_impl.h
  lib/phy/upper/downlink_processor_multi_executor_state.h
  lib/phy/upper/upper_phy_factories.cpp
  lib/phy/upper/upper_phy_pdu_validators.h
  tests/unittests/phy/upper/downlink_processor_test.cpp
Due: smoke avx512 cached, smoke arm cached, smoke arm neon cached, smoke avx512 clean, smoke arm clean, smoke arm neon clean

fapi_adaptor: use the last message in slot notifier to release the slot controller
  include/srsran/fapi/message_builders.h
  include/srsran/fapi/messages/dl_tti_request.h
  include/srsran/fapi/messages/ul_dci_request.h
  lib/fapi/loggers/message_loggers.cpp
  lib/fapi_adaptor/mac/mac_to_fapi_translator.cpp
  lib/fapi_adaptor/mac/mac_to_fapi_translator.h
  lib/fapi_adaptor/phy/fapi_to_phy_translator.cpp
  lib/fapi_adaptor/phy/fapi_to_phy_translator.h
  lib/fapi_adaptor/phy/phy_fapi_sector_adaptor_impl.cpp
  tests/unittests/fapi/message_buffering/message_bufferer_slot_gateway_impl_test.cpp
  tests/unittests/fapi/message_builder_helpers.cpp
  tests/unittests/fapi_adaptor/phy/fapi_to_phy_translator_test.cpp
Due: none

sched: use bounded_object_pool to allocate PDUs
  lib/du/du_high/du_manager/du_metrics_aggregator_impl.cpp
  lib/scheduler/ue_scheduling/ue_event_manager.cpp
  lib/scheduler/ue_scheduling/ue_event_manager.h
Due: none

ntn: update NTN config parameters
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_translators.cpp
  include/srsran/ran/ntn.h
  include/srsran/ran/sib/system_info_config.h
  lib/du/du_high/du_manager/converters/asn1_sys_info_packer.cpp
Due: none

ntn: refactor sib19 message generation
  lib/du/du_high/du_manager/converters/CMakeLists.txt
  lib/du/du_high/du_manager/converters/asn1_ntn_config_helpers.cpp
  lib/du/du_high/du_manager/converters/asn1_ntn_config_helpers.h
  lib/du/du_high/du_manager/converters/asn1_sys_info_packer.cpp
Due: none

ntn: move encoding to asn1 packer
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_translators.cpp
  lib/du/du_high/du_manager/converters/asn1_sys_info_packer.cpp
  lib/du/du_high/du_manager/converters/asn1_sys_info_packer.h
  tests/unittests/du_manager/sib_test.cpp
Due: none

ntn: make ntn parameters configurable per-cell
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config.h
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_ntn_schema.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_ntn_schema.h
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_translators.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_validator.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_yaml_writer.cpp
  apps/units/flexible_o_du/split_helpers/flexible_o_du_factory.cpp
Due: none

ntn: refactor input config parsing
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_schema.cpp
Due: none

ntn: check if sib19 scheduling infor is provided if NTN-config is present
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_validator.cpp
Due: none

ntn: move NTN config parsing to a separate file, remove parsing of unused NTN config parameters
  apps/units/flexible_o_du/o_du_high/du_high/CMakeLists.txt
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_ntn_schema.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_ntn_schema.h
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_cli11_schema.cpp
  apps/units/flexible_o_du/o_du_high/du_high/du_high_config_validator.cpp
Due: none

asn1: update E1AP ASN.1 to rel18
  include/srsran/asn1/e1ap/common.h
  include/srsran/asn1/e1ap/e1ap.h
  include/srsran/asn1/e1ap/e1ap_ies.h
  include/srsran/asn1/e1ap/e1ap_pdu_contents.h
  lib/asn1/e1ap/e1ap.cpp
  lib/asn1/e1ap/e1ap_ies.cpp
  lib/asn1/e1ap/e1ap_pdu_contents.cpp
  lib/e1ap/common/e1ap_asn1_converters.h
  lib/e1ap/cu_cp/e1ap_cu_cp_asn1_helpers.h
  tests/unittests/asn1/asn1_e1ap_test.cpp
Due: none

fapi: remove is last message in slot debug from UL_DCI.request message logger
  lib/fapi/loggers/message_loggers.cpp
Due: none

ci, metrics: Make sure influxdb command succeeds even when exceeding rate limit
  .gitlab-ci.yml
  .gitlab/ci-shared/e2e.yml
Due: none
