Repository srsran/srsRAN_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger builder, trigger docker, full-code-format, e2e tests tox, gnb docker compose, 5gc docker compose, grafana docker compose, influxdb docker compose

trigger builder:
  stage: ci
  trigger:
    include: .gitlab/ci/builders.yml
    strategy: depend

trigger docker:
  stage: ci
  trigger:
    include: .gitlab/ci/docker.yml
    strategy: depend
  variables:
    PY_DIR: docker/metrics_server

e2e tests tox:
  stage: static
  variables:
    PY_DIR: tests/e2e
  before_script:
  - apk add build-base

gnb docker compose:
  stage: compose
  image: docker:24.0.7
  tags:
  - docker
  timeout: 2h
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  services:
  - name: docker:24.0.7-dind
    alias: docker
    entrypoint:
    - env
    - -u
    - DOCKER_HOST
    command:
    - dockerd-entrypoint.sh
  ...

5gc docker compose:
  stage: compose
  image: docker:24.0.7
  tags:
  - docker
  timeout: 2h
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  services:
  - name: docker:24.0.7-dind
    alias: docker
    entrypoint:
    - env
    - -u
    - DOCKER_HOST
    command:
    - dockerd-entrypoint.sh
  ...

grafana docker compose:
  stage: compose
  image: docker:24.0.7
  tags:
  - docker
  timeout: 2h
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  services:
  - name: docker:24.0.7-dind
    alias: docker
    entrypoint:
    - env
    - -u
    - DOCKER_HOST
    command:
    - dockerd-entrypoint.sh
  ...

influxdb docker compose:
  stage: compose
  image: docker:24.0.7
  tags:
  - docker
  timeout: 2h
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  services:
  - name: docker:24.0.7-dind
    alias: docker
    entrypoint:
    - env
    - -u
    - DOCKER_HOST
    command:
    - dockerd-entrypoint.sh
  ...

du: refactor du_ra_res_mng_test class in unittest
  tests/unittests/du_manager/du_ran_resource_manager_test.cpp
Due: none

du: add unittest for pucch grants cnt in du mng
  lib/du_manager/ran_resource_management/du_pucch_resource_manager.cpp
  lib/du_manager/ran_resource_management/du_pucch_resource_manager.h
  tests/unittests/du_manager/du_ran_resource_manager_test.cpp
Due: none

cu_cp: Fix duplicate rrc ue context retrieval that was leading to wrong pdcp sn
  lib/cu_cp/du_processor/du_processor_impl.cpp
Due: none

cu_cp,rrc: Refactor creation of rrc ue release context to handle rrc reject and rrc release
  include/srsran/rrc/rrc_ue.h
  lib/cu_cp/routines/ue_context_release_routine.cpp
  lib/cu_cp/routines/ue_context_release_routine.h
  lib/rrc/ue/rrc_ue_impl.cpp
  lib/rrc/ue/rrc_ue_impl.h
  lib/rrc/ue/rrc_ue_message_handlers.cpp
  lib/rrc/ue/rrc_ue_message_senders.cpp
Due: none

cu_cp,ngap,rrc: Improve documentation
  include/srsran/ngap/ngap.h
  lib/rrc/ue/rrc_ue_impl.cpp
Due: none

cu_cp,rrc: Add handling of release request return
  lib/rrc/ue/procedures/rrc_reconfiguration_procedure.cpp
  lib/rrc/ue/procedures/rrc_reconfiguration_procedure.h
  lib/rrc/ue/rrc_ue_message_handlers.cpp
Due: none

cu_cp,ngap: Remove duplicate structs and functions
  include/srsran/cu_cp/cu_cp_types.h
  include/srsran/cu_cp/du_processor.h
  include/srsran/ngap/ngap.h
  lib/cu_cp/adapters/ngap_adapters.h
  lib/cu_cp/du_processor/du_processor_impl.cpp
  lib/cu_cp/du_processor/du_processor_impl.h
  lib/ngap/ngap_asn1_helpers.h
  lib/ngap/ngap_impl.cpp
  lib/ngap/procedures/ngap_initial_context_setup_procedure.h
  lib/ngap/procedures/ngap_ue_context_release_procedure.cpp
  lib/ngap/procedures/ngap_ue_context_release_procedure.h
  lib/rrc/ue/rrc_ue_impl.cpp
  tests/unittests/ngap/test_helpers.h
  tests/unittests/rrc/test_helpers.h
Due: none

cu_cp,rrc: Add unittest for reception of malformed rrc setup request
  tests/unittests/rrc/rrc_ue_setup_proc_test.cpp
  tests/unittests/rrc/rrc_ue_test_helpers.h
Due: none

cu_cp,rrc: Send rrc reject container in ue context release command
  include/srsran/rrc/rrc_ue.h
  lib/rrc/ue/rrc_ue_impl.cpp
  lib/rrc/ue/rrc_ue_impl.h
  lib/rrc/ue/rrc_ue_message_handlers.cpp
  lib/rrc/ue/rrc_ue_message_senders.cpp
  tests/unittests/rrc/rrc_ue_setup_proc_test.cpp
  tests/unittests/rrc/rrc_ue_test_helpers.h
  tests/unittests/rrc/test_helpers.h
Due: none

cu_cp,rrc: Request ue release when invalid ul ccch pdu is received
  lib/rrc/ue/rrc_ue_impl.cpp
  lib/rrc/ue/rrc_ue_message_handlers.cpp
Due: none

cu_cp,rrc,f1ap: Reject ues that the du failed to allocate
  lib/cu_cp/du_processor/du_processor_impl.cpp
  lib/f1ap/cu_cp/f1ap_cu_impl.cpp
  lib/rrc/rrc_du_impl.cpp
  lib/rrc/ue/rrc_ue_message_handlers.cpp
  tests/unittests/cu_cp/cu_cp_test.cpp
  tests/unittests/f1ap/common/f1ap_cu_test_messages.cpp
  tests/unittests/f1ap/common/f1ap_cu_test_messages.h
  tests/unittests/f1ap/cu_cp/f1ap_cu_test.cpp
Due: none

cu_cp,rrc: Remove unused includes
  lib/cu_cp/du_processor/du_processor_impl.cpp
  lib/rrc/ue/procedures/rrc_reconfiguration_procedure.cpp
  lib/rrc/ue/procedures/rrc_reconfiguration_procedure.h
Due: none

ci,e2e: test mode
  .gitlab/ci/e2e.yml
  tests/e2e/pyproject.toml
  tests/e2e/tests/test_mode.py
  tests/e2e/tests/test_mode/config.yml
Due: e2e tests tox

support: use report_fatal_error instead of assert if queue fails to be allocated
  include/srsran/adt/concurrent_queue.h
Due: none

support: use posix_memalign for lockfree concurrent_queues
  include/srsran/adt/concurrent_queue.h
Due: none

ci,e2e: zmq reduced stop timeout
  .gitlab/ci/e2e/.env
  tests/e2e/tests/iperf.py
  tests/e2e/tests/ping.py
Due: e2e tests tox

ci: add release build
  .gitlab/ci/build.yml
  .gitlab/ci/e2e.yml
Due: none

ru: review dummy implementation
  apps/gnb/gnb_appconfig.h
  apps/gnb/gnb_appconfig_cli11_schema.cpp
  apps/gnb/gnb_appconfig_translators.cpp
  include/srsran/ru/ru_dummy_factory.h
  include/srsran/ru/ru_generic_factory.h
  lib/ru/dummy/ru_dummy_sector.h
Due: none

ru: initial dummy RU
  apps/gnb/CMakeLists.txt
  apps/gnb/gnb.cpp
  apps/gnb/gnb_appconfig.h
  apps/gnb/gnb_appconfig_cli11_schema.cpp
  apps/gnb/gnb_appconfig_translators.cpp
  apps/gnb/gnb_worker_manager.cpp
  include/srsran/ru/ru_configuration.h
  include/srsran/ru/ru_dummy_configuration.h
  include/srsran/ru/ru_dummy_factory.h
  lib/ru/dummy/CMakeLists.txt
  lib/ru/dummy/ru_dummy_factory.cpp
  lib/ru/dummy/ru_dummy_impl.cpp
  lib/ru/dummy/ru_dummy_impl.h
  lib/ru/dummy/ru_dummy_rx_prach_buffer.h
  lib/ru/dummy/ru_dummy_rx_resource_grid.h
  lib/ru/dummy/ru_dummy_sector.h
Due: none

ci: improvement for viavi tests
  .gitlab/ci/build.yml
  .gitlab/ci/e2e.yml
  .gitlab/ci/e2e/.env
  .gitlab/ci/e2e/retina_request_viavi.yml
  .gitlab/run_viavi_pipeline.py
  tests/e2e/tests/ping.py
Due: e2e tests tox

phy: initial NEON precoder
  lib/phy/generic_functions/precoding/CMakeLists.txt
  lib/phy/generic_functions/precoding/channel_precoder_neon.cpp
  lib/phy/generic_functions/precoding/channel_precoder_neon.h
  lib/phy/generic_functions/precoding/precoding_factories.cpp
  tests/unittests/phy/generic_functions/precoding/channel_precoder_test.cpp
Due: none

phy: review precoder in NEON
  lib/phy/generic_functions/precoding/channel_precoder_neon.cpp
Due: none

ci: update retina version
  .gitlab/ci/e2e/.env
Due: none

support: fix data race in pcap writer
  include/srsran/support/executors/sync_task_executor.h
  lib/pcap/backend_pcap_writer.cpp
  lib/pcap/backend_pcap_writer.h
Due: none

ci: update retina
  .gitlab/ci/e2e/.env
Due: none

app,du: add option to provide number of ues to create in test mode
  apps/gnb/gnb_appconfig.h
  apps/gnb/gnb_appconfig_cli11_schema.cpp
  apps/gnb/gnb_du_factory.cpp
  include/srsran/du/du_test_config.h
  tests/integrationtests/du_high/mac_test_mode_adapter_test.cpp
Due: none

du_high: add support for multiple UEs in test mode
  lib/du_high/adapters/mac_test_mode_adapter.cpp
  lib/du_high/adapters/mac_test_mode_adapter.h
  lib/du_high/du_high_impl.cpp
Due: none

phy: adds support to hardware-acceleration in the PDSCH processor vectortest and benchmark.
  tests/benchmarks/phy/upper/channel_processors/CMakeLists.txt
  tests/benchmarks/phy/upper/channel_processors/pdsch_processor_benchmark.cpp
  tests/benchmarks/phy/upper/channel_processors/pusch/pusch_processor_benchmark.cpp
  tests/unittests/phy/upper/channel_processors/CMakeLists.txt
  tests/unittests/phy/upper/channel_processors/pdsch_processor_vectortest.cpp
  tests/unittests/phy/upper/channel_processors/pusch/pusch_processor_vectortest.cpp
Due: none

cu_cp: Increase the number of maximum supported dus to 10
  include/srsran/cu_cp/cu_cp_types.h
Due: none

format: add header in test and metrics_server
  .gitlab/ci/e2e/.env
  docker/metrics_server/pyproject.toml
  tests/e2e/tests/steps/configuration.py
  tests/e2e/tests/steps/stub.py
Due: trigger docker, e2e tests tox

format: remove headers for ci files
  .gitlab/ci/build.yml
  .gitlab/ci/e2e.yml
  .gitlab/ci/e2e/retina_request_android_b200.yml
  .gitlab/ci/e2e/retina_request_android_n300.yml
  .gitlab/ci/e2e/retina_request_android_x300.yml
  .gitlab/ci/e2e/retina_request_rf_b200.yml
  .gitlab/ci/e2e/retina_request_viavi.yml
  .gitlab/ci/e2e/retina_request_zmq.yml
  .gitlab/ci/e2e/retina_request_zmq_4x4_mimo.yml
  .gitlab/ci/e2e/retina_request_zmq_single_ue.yml
  .gitlab/ci/e2e/retina_request_zmq_srsue.yml
  .gitlab/ci/release.yml
  .gitlab/ci/release/auto_merge.sh
  .gitlab/ci/release/update_headers.sh
  .gitlab/ci/schedules.yml
  .gitlab/ci/trx.yml
  docker/open5gs/Dockerfile
Due: trigger docker, 5gc docker compose

ci: apply header change in test and script files
  .github/codeql/codeql-config.yml
  .github/workflows/ccpp.yml
  .github/workflows/codeql.yml
  .gitlab-ci.yml
  .gitlab/ci/build.yml
  .gitlab/ci/builders.yml
  .gitlab/ci/builders/archlinux/Dockerfile
  .gitlab/ci/builders/builder.sh
  .gitlab/ci/builders/changed_tests.py
  .gitlab/ci/builders/codechecker/Dockerfile
  .gitlab/ci/builders/debian/Dockerfile
  .gitlab/ci/builders/install_dependencies.sh
  .gitlab/ci/builders/ram_reporter.py
  .gitlab/ci/builders/rhel/Dockerfile
  .gitlab/ci/builders/version.yml
  .gitlab/ci/docker.yml
  .gitlab/ci/e2e.yml
  .gitlab/ci/e2e/retina_request_android_b200.yml
  .gitlab/ci/e2e/retina_request_android_n300.yml
  .gitlab/ci/e2e/retina_request_android_x300.yml
  .gitlab/ci/e2e/retina_request_rf_b200.yml
  .gitlab/ci/e2e/retina_request_viavi.yml
  .gitlab/ci/e2e/retina_request_zmq.yml
  .gitlab/ci/e2e/retina_request_zmq_4x4_mimo.yml
  .gitlab/ci/e2e/retina_request_zmq_single_ue.yml
  .gitlab/ci/e2e/retina_request_zmq_srsue.yml
  .gitlab/ci/release.yml
  .gitlab/ci/release/auto_merge.sh
  .gitlab/ci/release/update_headers.sh
  .gitlab/ci/schedules.yml
  .gitlab/ci/src_cache.yml
  .gitlab/ci/trx.yml
  docker/grafana/provisioning/dashboards/dashboardReference.yml
  docker/grafana/provisioning/datasources/InfluxDB.yml
  docker/open5gs/Dockerfile
  docker/open5gs/open5gs-5gc.yml
  lib/phy/upper/channel_coding/short/CMakeLists.txt
Due: trigger builder, trigger docker, gnb docker compose, 5gc docker compose, grafana docker compose

ofh: remove the integration test from weekly memcheck jobs
  tests/integrationtests/ofh/CMakeLists.txt
Due: none

support: fix compilation error with queue destruction
  include/srsran/adt/concurrent_queue.h
Due: none

NTN: adding support for NTN bands
  include/srsran/ran/nr_band.h
  lib/ran/band_helper.cpp
Due: none

ntn: adding support for orbital coordinate parameters & ta common
  apps/gnb/gnb_appconfig_cli11_schema.cpp
  apps/gnb/gnb_appconfig_translators.cpp
  configs/geo_ntn.yml
  include/srsran/ran/ntn.h
  include/srsran/ran/sib/system_info_config.h
  lib/du_manager/converters/f1ap_configuration_helpers.cpp
  tests/unittests/du_manager/sib_test.cpp
Due: none

ci,e2e: 2 UEs in testmode tests
  tests/e2e/tests/test_mode/config.yml
Due: e2e tests tox

ci,e2e: amari ue stop timeout
  .gitlab/ci/e2e/.env
  tests/e2e/tests/iperf.py
  tests/e2e/tests/ping.py
Due: e2e tests tox

ci: ignore NO_MEMCHECK tests in valgrind
  .gitlab/ci/build.yml
Due: none

ci,e2e: viavi allow warnings
  .gitlab/run_viavi_pipeline.py
  tests/e2e/tests/viavi.py
Due: e2e tests tox

Path conditions:
  trigger builder: any of: .gitlab/ci/src_cache.yml, .gitlab/ci/builders.yml, .gitlab/ci/builders/**/*
  trigger docker: any of: .gitlab/ci/docker.yml, docker/**/*.{yml,env,json,toml,py,sh,csv}, docker/**/Dockerfile
  full-code-format: any of: .clang-format
  e2e tests tox: any of: tests/e2e/**/*
  gnb docker compose: any of: .gitlab/ci/builders/install_dependencies.sh, .gitlab/ci/builders/builder.sh, docker/Dockerfile, docker/docker-compose.yml
  5gc docker compose: any of: docker/open5gs/**/*, docker/docker-compose.yml
  grafana docker compose: any of: docker/.env, docker/grafana/**/*, docker/docker-compose.yml
  influxdb docker compose: any of: docker/.env, docker/docker-compose.yml
